In [660]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
import import_ipynb
from shared_functions import DataframeLoader, Shared
from libraries.DataframesUtils import CalculoDataframes
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
sub_direct = 'archivos-fuente-138'
folder_bbraun_source = os.path.join(base_dir, 'source', sub_direct)

In [661]:
dataframe_loader = DataframeLoader(
    base_dir=base_dir,
    sub_direct=sub_direct
)
shared = Shared()
print(dataframe_loader.cargar_dataframes)

<bound method DataframeLoader.cargar_dataframes of <shared_functions.DataframeLoader object at 0x0000016834F59B80>>

In [662]:
(
        df_resultado_detallado_previo,
        df_resultado_liquidaciones_previo,
        df_empleados,
        df_empleados_inactivos,
        df_tipos_empleados,
        df_clusters_empleado,
        df_zonas_empleado,
        df_salarios_variables,
        df_parrillas,
        df_venta_recaudo_real,
        df_venta_recaudo_presupuesto,
        df_venta_por_zona,
        df_recaudo_por_zona,
        df_rentabilidad,
        df_venta_otras_companias,
        df_recaudo_otras_companias,
        df_venta_recaudo_kams,
        df_rentabilidad_kam,
        df_venta_servicios_mtto,
        df_objetivos_cualitativos,
        df_incentivos_por_empleado,
        df_area_calculo_sba,
        df_factores_liquidacion,
        df_cluster_plan_real_recaudo,
        df_zona_plan_real_venta_ch,
        df_rentabilidad_zona,
        df_resultados_variables_cualitativas,
        df_zonas_clusters_empleado,
        df_centros_costos,
        df_empleados_centros_costos,
        df_centros_costos_grupos_productos_divisiones,
        df_parrillas_tipos_calculos,
        df_area_calculo_sba_centros_costos,
        df_renal_ambulatorio,
        codigos_ve_vc,
        _dataframes_entrada,
        fecha_liquidacion,
        meses_incentivos,
        OUTPUT_FOLDER
    ) = dataframe_loader.cargar_dataframes(base_dir, folder_bbraun_source)

In [663]:
fecha_liquidacion

'2024-05-01'

In [664]:
# maestra_resultados.to_excel('maestra_resultados_.xlsx')

In [665]:
maestra_resultados = pd.read_excel(
        io=os.path.join('maestra_resultados_.xlsx'),
        dtype={
            'Contexto': str,
            'Fecha': 'datetime64[ns]',
            'PorcentajeCumplimiento':float ,
            'Variable': str,
            'Real': float,
            'Presupuesto': float
        }
    )
maestra_resultados

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN
...,...,...,...,...,...,...,...
9138,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54
9139,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08
9140,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71
9141,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34
9142,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06

In [666]:
# maestra_resultados_centro_costo.to_excel('maestra_resultados_centro_costo.xlsx')

In [667]:
maestra_resultados_centro_costo = pd.read_excel(
        io=os.path.join('maestra_resultados_centro_costo_.xlsx'),
        dtype={
            'Fecha': 'datetime64[ns]',
            'GrupoProducto': str,
            'Division': str,
            'CodigoCentroCosto': str,
            'Real': float,
            'Presupuesto': float ,
            'Variable': str,
            'AreaCalculo': str,
            'Consecutivo': str,            
            'TipoEmpleado': str
        }
    )

maestra_resultados_centro_costo

,Unnamed: 0,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
0,0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,NaN,NaN,NaN,0.970089
1,1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,NaN,NaN,NaN,0.903778
2,2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,NaN,NaN,NaN,1.118642
3,3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,NaN,NaN,NaN,0.000000
4,4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,NaN,NaN,NaN,1.173298
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,15,5004293_3,2024-01-01,620,HC,323015090,7.666924e+08,1.011063e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.758303
10891,16,5004293_3,2024-02-01,620,HC,323015090,2.062303e+09,2.148509e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.959876
10892,17,5004293_3,2024-03-01,620,HC,323015090,3.146574e+09,3.412338e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.922117
10893,18,5004293_3,2024-04-01,620,HC,323015090,4.339242e+09,4.454997e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.974017
10894,19,5004293_3,2024-05-01,620,HC,323015090,5.404667e+09,5.813613e+09,VentaFacturadaGrupoClientesKAMSSub,NaN,NaN,NaN,0.929657

In [668]:
maestra_resultados_centro_costo['AreaCalculo'].fillna(0, inplace=True)
maestra_resultados_centro_costo['AreaCalculo'] = maestra_resultados_centro_costo['AreaCalculo'].astype(int)
maestra_resultados_centro_costo

,Unnamed: 0,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
0,0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0,NaN,NaN,0.970089
1,1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0,NaN,NaN,0.903778
2,2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,0,NaN,NaN,1.118642
3,3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0,NaN,NaN,0.000000
4,4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,0,NaN,NaN,1.173298
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10890,15,5004293_3,2024-01-01,620,HC,323015090,7.666924e+08,1.011063e+09,VentaFacturadaGrupoClientesKAMSSub,0,NaN,NaN,0.758303
10891,16,5004293_3,2024-02-01,620,HC,323015090,2.062303e+09,2.148509e+09,VentaFacturadaGrupoClientesKAMSSub,0,NaN,NaN,0.959876
10892,17,5004293_3,2024-03-01,620,HC,323015090,3.146574e+09,3.412338e+09,VentaFacturadaGrupoClientesKAMSSub,0,NaN,NaN,0.922117
10893,18,5004293_3,2024-04-01,620,HC,323015090,4.339242e+09,4.454997e+09,VentaFacturadaGrupoClientesKAMSSub,0,NaN,NaN,0.974017
10894,19,5004293_3,2024-05-01,620,HC,323015090,5.404667e+09,5.813613e+09,VentaFacturadaGrupoClientesKAMSSub,0,NaN,NaN,0.929657

In [669]:
maestra_resultados_centro_costo[maestra_resultados_centro_costo['Variable'] == 'RentabilidadUnidadNegocioCM2COGSSUB']

,Unnamed: 0,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento
9738,0,1013583607_1,2024-03-01,805,AE,323007280,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.015087
9739,1,1013583607_1,2024-03-01,805,AE,323007290,172273.580838,169713.102995,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.015087
9740,2,1013583607_1,2024-04-01,805,AE,323007280,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.034998
9741,3,1013583607_1,2024-04-01,805,AE,323007290,415179.066504,401140.061624,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.034998
9742,4,1013583607_1,2024-05-01,805,AE,323007280,716717.704506,694280.875887,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.032317
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9835,97,94460154_2,2024-05-01,A33,BA,323007337,23399.712828,20723.216486,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,1.129154
9836,98,94460154_2,2024-05-01,A34,BA,323007337,470369.985379,677503.485037,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,0.694269
9837,99,94460154_3,2024-03-01,A35,BA,323007337,64788.652349,110600.891998,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,0.585788
9838,100,94460154_3,2024-04-01,A35,BA,323007337,153573.270718,276453.474670,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,0.555512
9839,101,94460154_3,2024-05-01,A35,BA,323007337,260747.159038,497557.748016,RentabilidadUnidadNegocioCM2COGSSUB,0,NaN,NaN,0.524054

## Euros

In [670]:
def convertir_a_euros(main):
    # Definir las tasas de cambio
    trm_marzo_2024 = 4253.92
    trm_abril_2024 = 4226.47
    trm_promedio_2024 = 4652.35

    # Crear una copia del DataFrame para evitar el SettingWithCopyWarning
    main = main.copy()

    # Convertir los valores de 'Real' y 'Presupuesto' a euros
    main['RealEuros'] = main['Real'] / trm_abril_2024
    main['PresupuestoEuros'] = main['Presupuesto'] / trm_promedio_2024
    main['PorcentajeCumplimientoEuros'] = (main['RealEuros']/main['PresupuestoEuros']).apply(lambda x: round(x, 2))

    # Renombrar las columnas originales 'Real' y 'Presupuesto'
    main = main.rename(columns={
        'Real': 'RealCOP', 'Presupuesto': 'PresupuestoCOP', 
        'PorcentajeCumplimiento': 'PorcentajeCumplimientoCOP',
        'PorcentajeCumplimientoEuros': 'PorcentajeCumplimiento'
    })

    # Renombrar las nuevas columnas para reflejar que están en euros
    main = main.rename(columns={'RealEuros': 'Real', 'PresupuestoEuros': 'Presupuesto'})
    return main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento', 'RealCOP', 'PresupuestoCOP', 'PorcentajeCumplimientoCOP']]

In [671]:
def unir_dataframes_por_columnas_comunes(df1, df2, how='inner'):
    """
    Une dos DataFrames basándose en sus columnas comunes con un tipo de unión especificado.
    
    Parámetros:
    - df1: Primer DataFrame.
    - df2: Segundo DataFrame.
    - how: Tipo de unión ('left', 'right', 'outer', 'inner'). Por defecto es 'inner'.
    
    Retorna:
    - DataFrame resultante de la unión.
    """
    # Encuentra las columnas comunes entre ambos DataFrames
    columnas_comunes = df1.columns.intersection(df2.columns)
    print(columnas_comunes)
    # Une los DataFrames basándose en las columnas comunes y el tipo de unión especificado
    df_unido = pd.merge(df1, df2, on=columnas_comunes.tolist(), how=how)
    
    return df_unido

In [672]:
# variables_convertir_euros = ['VentaFacturadaBraunPais', 'VentaFacturadaZonaPaisSub', 'VentaFacturadaDivisionSub', 'VentaFacturadaUnidadNegocioSub', 'VentaFacturadaGrupoClientesKAMSSub']
# variables_convertir_euros

In [673]:
# maestra_resultados_aplicar_euros = maestra_resultados[maestra_resultados['Variable'].isin(variables_convertir_euros)]
# maestra_resultados_aplicar_euros

In [674]:
# maestra_resultados[maestra_resultados['Variable'] == 'VentaFacturadaBraunPais']

In [675]:
# maestra_resultados_convertido_euros = maestra_resultados.copy()

# maestra_resultados_convertido_euros['RealCOP'] = 0
# maestra_resultados_convertido_euros['PresupuestoCOP'] = 0
# maestra_resultados_convertido_euros['PorcentajeCumplimientoCOP'] = 0

# maestra_resultados_convertido_euros.update(convertir_a_euros(maestra_resultados_aplicar_euros))
# maestra_resultados_convertido_euros

In [676]:
# maestra_resultados_convertido_euros[maestra_resultados_convertido_euros['Variable'] == 'VentaFacturadaBraunPais']

In [677]:
# # Renombrar las nuevas columnas para reflejar que están en euros
# main = main.rename(columns={'RealEuros': 'Real', 'PresupuestoEuros': 'Presupuesto'})

In [678]:
# # Renombrar las columnas originales 'Real' y 'Presupuesto'
# main = main.rename(columns={
#     'Real': 'RealCOP', 'Presupuesto': 'PresupuestoCOP', 
#     'PorcentajeCumplimiento': 'PorcentajeCumplimientoCOP',
#     'PorcentajeCumplimientoEuros': 'PorcentajeCumplimiento'
# })

In [679]:
# maestra_resultados_convertidos = maestra_resultados.drop(columns=['Unnamed: 0']).merge(
#     maestra_resultados_convertido_euros,
#     on = ['Contexto', 'Variable', 'Fecha'],
#     how='left'
# )
# maestra_resultados_convertidos

In [680]:
# maestra_resultados_convertidos[maestra_resultados_convertidos['Variable'] == 'VentaFacturadaBraunPais']

In [681]:
# maestra_resultados = maestra_resultados_convertido_euros.copy()
# maestra_resultados

## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [682]:
df_parrillas[df_parrillas['Variable'] == 'VentaCobradaBraunPais']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
9,1144160710,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
17,1111128,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
39,5004589,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
45,5032450,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
...,...,...,...,...,...,...,...
1305,5041369,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
1319,5005917,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
1324,5041312,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
1332,1111118,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN
1340,5036653,VentaCobradaBraunPais,Pais,0.3,0,Venta cobrada país,NaN

In [683]:
calculo_dataframe = CalculoDataframes()

variables_convertir_euros = ['VentaFacturadaBraunPais', 'VentaFacturadaZonaPaisSub', 'VentaFacturadaDivisionSub', 'VentaFacturadaUnidadNegocioSub', 'VentaFacturadaGrupoClientesKAMSSub']
# Convertir las variables a euros en 'maestra_resultados'
maestra_resultados = calculo_dataframe.convertir_valores_a_euros(maestra_resultados, variables_convertir_euros)

# Convertir las variables a euros en 'maestra_resultados_centro_costo'
maestra_resultados_centro_costo = calculo_dataframe.convertir_valores_a_euros(maestra_resultados_centro_costo, variables_convertir_euros)

# ## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [684]:
def recalcular_porcentajes_cumplimiento(row):
    response = row['PorcentajeCumplimiento']
    if not pd.isnull(row['Real']) and not pd.isnull(row['Presupuesto']):
        if row['Presupuesto'] == 0:
            response = 0
        elif row['Real'] - row['Presupuesto'] < 0:
            response = 1 + ((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
        elif row['Real'] - row['Presupuesto'] > 0:
            response = 1 + abs((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
    return round(response, 2)

maestra_resultados['PorcentajeCumplimiento'] = maestra_resultados.apply(recalcular_porcentajes_cumplimiento, axis=1)
maestra_resultados

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
9138,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0
9139,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0
9140,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0
9141,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0
9142,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0

### Se calculan los porcentajes de cumplimiento para Maestra de Centro de Costos

In [685]:
# maestra_resultados_centro_costo['PorcentajeCumplimiento'] = 0
maestra_resultados_centro_costo['PorcentajeCumplimiento'] = maestra_resultados_centro_costo.apply(recalcular_porcentajes_cumplimiento, axis=1)
# maestra_resultados_centro_costo.drop(columns={'AreaCalculo', 'Consecutivo', 'TipoEmpleado'})

## Se une la maestra de resultados con la parrilla

In [686]:
maestra_resultados[
     (maestra_resultados['Fecha']=='2024-05-01') &
    (maestra_resultados['Contexto']=='1111117')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP
514,514,1111117,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0
724,24,1111117,2024-05-01,0.88,VentaFacturadaZonaCargoIndividual,3.179236e+08,3.617851e+08,0.0,0.0,0.0
2054,24,1111117,2024-05-01,0.79,VentasCobradaZonaCargoIndividual,3.044938e+08,3.835532e+08,0.0,0.0,0.0
4350,29,1111117,2024-05-01,0.86,VentaCobradaBraunCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0
5443,24,1111117,2024-05-01,0.88,VentaFacturadaPortafolioCluster,3.179236e+08,3.617851e+08,0.0,0.0,0.0
6797,39,1111117,2024-05-01,0.94,VentaFacturadaZonaPais,5.855320e+10,6.258874e+10,0.0,0.0,0.0
7117,4,1111117,2024-05-01,3.37,VentaFacturadaPortafolioRenal,1.814526e+09,5.383562e+08,0.0,0.0,0.0
7676,24,1111117,2024-05-01,0.86,VentaCobradaPortafolioCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0
9127,4,1111117,2024-05-01,1.04,VentaCobradaPortafolioRenal,8.571691e+08,8.276971e+08,0.0,0.0,0.0

In [687]:
# df_parrillas[df_parrillas['Variable'] == 'RentabilidadDivisionCM2COGsSub']

In [688]:
df_parrillas_tipos_calculos.head()

,TipoEmpleado,AreaCalculo,CodigoRubro,NombreRubro,TipoCalculo
0,AD,1,2,EBITCOGSPaisSUB,F
1,AD,1,3,ObjetivosCualitativos,F
2,AD,1,1,VentaFacturadaBraunPaisSUB,F
3,AD,2,2,EBITCOGSPaisSUB,F
4,AD,2,3,ObjetivosCualitativos,F

In [689]:
df_parrillas[df_parrillas['CodigoEmpleado'] == '5004523']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,VentaCobradaBraunPais,Pais,0.30,0,Venta cobrada país,NaN
1,5004523,ObjetivosCualitativos,5004523,0.15,0,Objetivos cualitativos,NaN
2,5004523,VentaFacturadaPortafolioClusterSub,5004523_1,0.06,1,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Neuro)
3,5004523,VentaFacturadaPortafolioClusterSub,5004523_2,0.06,2,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Ortho)
4,5004523,VentaFacturadaPortafolioClusterSub,5004523_3,0.06,3,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Surgical Assets)
5,5004523,VentaFacturadaPortafolioClusterSub,5004523_4,0.06,4,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Operating Room Soluti...
6,5004523,VentaFacturadaPortafolioClusterSub,5004523_5,0.03,5,VentaFacturadaPortafolioClusterSub,Patient Care (Desinfeccion)
7,5004523,VentaFacturadaPortafolioClusterSub,5004523_6,0.03,6,VentaFacturadaPortafolioClusterSub,Patient Care (Heridas+Ostomia)
8,5004523,VentaCobradaBraunCluster,5004523,0.25,0,Venta Cobrada presupuesto asignado total B. Br...,NaN

In [690]:
maestra_resultados[maestra_resultados['Variable'] == 'VentaCobradaBraunPais']

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP
3400,0,Pais,2024-01-01,0.95,VentaCobradaBraunPais,1.670438e+10,1.749805e+10,0.0,0.0,0.0
3401,1,Pais,2024-02-01,0.88,VentaCobradaBraunPais,3.221882e+10,3.663783e+10,0.0,0.0,0.0
3402,2,Pais,2024-03-01,0.86,VentaCobradaBraunPais,4.803727e+10,5.604000e+10,0.0,0.0,0.0
3403,3,Pais,2024-04-01,0.87,VentaCobradaBraunPais,6.413254e+10,7.395302e+10,0.0,0.0,0.0
3404,4,Pais,2024-05-01,0.91,VentaCobradaBraunPais,8.319083e+10,9.187600e+10,0.0,0.0,0.0

In [691]:
maestra_resultados_centro_costo[maestra_resultados_centro_costo['Variable'] == 'VentaFacturadaPortafolioClusterSub']

,Unnamed: 0,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP
4372,0,1111111_1,2024-01-01,805,AE,323007332,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,6.05,0.0,0.0,0.0
4373,1,1111111_1,2024-01-01,805,AE,323007333,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,6.05,0.0,0.0,0.0
4374,2,1111111_1,2024-01-01,805,AE,323010170,7.798772e+07,1.288839e+07,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,6.05,0.0,0.0,0.0
4375,3,1111111_1,2024-01-01,M06,AE,323007332,2.362315e+06,1.075307e+07,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.22,0.0,0.0,0.0
4376,4,1111111_1,2024-01-01,M06,AE,323007333,2.362315e+06,1.075307e+07,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.22,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8573,4201,53069050_3,2024-05-01,610,HC,323015095,1.341899e+08,1.850790e+08,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.73,0.0,0.0,0.0
8574,4202,79625102_1,2024-02-01,A35,BA,323007330,2.341397e+08,2.680889e+08,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.87,0.0,0.0,0.0
8575,4203,79625102_1,2024-03-01,A35,BA,323007330,3.244427e+08,5.808592e+08,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.56,0.0,0.0,0.0
8576,4204,79625102_1,2024-04-01,A35,BA,323007330,4.592916e+08,9.383110e+08,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.49,0.0,0.0,0.0
8577,4205,79625102_1,2024-05-01,A35,BA,323007330,5.609398e+08,1.295763e+09,VentaFacturadaPortafolioClusterSub,0,NaN,NaN,0.43,0.0,0.0,0.0

In [692]:
df_parrillas[
     (df_parrillas['Variable'] == 'RentabilidadUnidadNegocioCM2COGSSUB') 
#     (df_parrillas['CodigoEmpleado'] == '5036358')
]

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
36,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_1,0.04,1,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 640 Enteral Diets
37,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_2,0.10,2,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 680 Parenteral Nutrition
38,53069050,RentabilidadUnidadNegocioCM2COGSSUB,53069050_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 610 IV Drugs & LVP
254,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_1,0.10,1,RentabilidadUnidadNegocioCM2COGSSUB,ORS (003)
255,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_2,0.09,2,RentabilidadUnidadNegocioCM2COGSSUB,MIS (801)
256,5004297,RentabilidadUnidadNegocioCM2COGSSUB,5004297_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,iVT 006
302,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
303,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
304,91285756,RentabilidadUnidadNegocioCM2COGSSUB,91285756_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
360,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_1,0.10,1,RentabilidadUnidadNegocioCM2COGSSUB,ORS (003)
361,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_2,0.09,2,RentabilidadUnidadNegocioCM2COGSSUB,MIS (801)
362,5004306,RentabilidadUnidadNegocioCM2COGSSUB,5004306_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,iVT 006
386,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
387,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
388,94460154,RentabilidadUnidadNegocioCM2COGSSUB,94460154_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
458,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_1,0.04,1,RentabilidadUnidadNegocioCM2COGSSUB,13 Peripheral Access & Injection
459,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_2,0.04,2,RentabilidadUnidadNegocioCM2COGSSUB,16 Central Venous Access
460,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_3,0.04,3,RentabilidadUnidadNegocioCM2COGSSUB,36 Interventional Therapies (Ports)
461,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_4,0.07,4,RentabilidadUnidadNegocioCM2COGSSUB,15 Regional Anesthesia & Elastomerics
462,29116947,RentabilidadUnidadNegocioCM2COGSSUB,29116947_5,0.01,5,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
618,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
619,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
620,80220240,RentabilidadUnidadNegocioCM2COGSSUB,80220240_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
759,52900453,RentabilidadUnidadNegocioCM2COGSSUB,52900453_1,0.20,1,RentabilidadUnidadNegocioCM2COGSSUB,Grupo Local 001 (inc instacount)
830,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_1,0.06,1,RentabilidadUnidadNegocioCM2COGSSUB,8 IV Systems & Drainage
831,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_2,0.13,2,RentabilidadUnidadNegocioCM2COGSSUB,12 Automated Infusion Systems & Disposablesm+ ...
832,5005071,RentabilidadUnidadNegocioCM2COGSSUB,5005071_3,0.01,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA02 Drugs
849,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
850,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
851,1113621770,RentabilidadUnidadNegocioCM2COGSSUB,1113621770_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
858,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_1,0.07,1,RentabilidadUnidadNegocioCM2COGSSUB,Desinfección
859,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_2,0.07,2,RentabilidadUnidadNegocioCM2COGSSUB,Heridas + Osto
860,5003954,RentabilidadUnidadNegocioCM2COGSSUB,5003954_3,0.06,3,RentabilidadUnidadNegocioCM2COGSSUB,Uro
985,1013583607,RentabilidadUnidadNegocioCM2COGSSUB,1013583607_1,0.08,1,RentabilidadUnidadNegocioCM2COGSSUB,Motores 805
986,1013583607,RentabilidadUnidadNegocioCM2COGSSUB,1013583607_2,0.12,2,RentabilidadUnidadNegocioCM2COGSSUB,NE M06
1200,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_1,0.03,1,RentabilidadUnidadNegocioCM2COGSSUB,SBA08
1201,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_2,0.05,2,RentabilidadUnidadNegocioCM2COGSSUB,SBA12
1202,5004293,RentabilidadUnidadNegocioCM2COGSSUB,5004293_3,0.02,3,RentabilidadUnidadNegocioCM2COGSSUB,SBA36
1284,5004302,RentabilidadUnidadNegocioCM2COGSSUB,5004302_1,0.08,1,RentabilidadUnidadNegocioCM2COGSSUB,OSS M07 implants
1285,5004302,RentabilidadUnidadNegocioCM2COGSSUB,5004302_2,0.12,2,RentabilidadUnidadNegocioCM2COGSSUB,OSS M05-M08 /implants

In [693]:
maestra_resultados[maestra_resultados['Contexto'] == '5002711_1'].merge(
    df_parrillas[df_parrillas['Contexto'] == '5002711_1'],
    on=['Variable', 'Contexto'],
    how='left'
)

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,0,5002711_1,2024-01-01,0.99,VentaCobradaZonaPaisSub,3.784505e+09,3.817880e+09,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN
1,1,5002711_1,2024-02-01,0.99,VentaCobradaZonaPaisSub,7.780378e+09,7.846545e+09,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN
2,2,5002711_1,2024-03-01,0.94,VentaCobradaZonaPaisSub,1.117600e+10,1.187179e+10,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN
3,3,5002711_1,2024-04-01,0.96,VentaCobradaZonaPaisSub,1.488131e+10,1.546509e+10,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN
4,4,5002711_1,2024-05-01,0.99,VentaCobradaZonaPaisSub,1.878196e+10,1.905839e+10,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN
5,0,5002711_1,2024-01-01,1.37,VentaFacturadaZonaPaisSub,7.803963e+05,5.712712e+05,3.298322e+09,2.657754e+09,1.24,5002711,0.26,1.0,VentaFacturadaZonaPaisSub,Hospital Care
6,9,5002711_1,2024-02-01,1.09,VentaFacturadaZonaPaisSub,1.370481e+06,1.254635e+06,5.792297e+09,5.837001e+09,0.99,5002711,0.26,1.0,VentaFacturadaZonaPaisSub,Hospital Care
7,18,5002711_1,2024-03-01,1.11,VentaFacturadaZonaPaisSub,2.336360e+06,2.103221e+06,9.874553e+09,9.784922e+09,1.01,5002711,0.26,1.0,VentaFacturadaZonaPaisSub,Hospital Care
8,27,5002711_1,2024-04-01,1.18,VentaFacturadaZonaPaisSub,3.266975e+06,2.761944e+06,1.380777e+10,1.284953e+10,1.07,5002711,0.26,1.0,VentaFacturadaZonaPaisSub,Hospital Care
9,36,5002711_1,2024-05-01,1.17,VentaFacturadaZonaPaisSub,4.218864e+06,3.612253e+06,1.783090e+10,1.680546e+10,1.06,5002711,0.26,1.0,VentaFacturadaZonaPaisSub,Hospital Care

### Maestra de Resultados por Empleado

In [694]:
maestra_resultados_por_empleado = maestra_resultados.merge(
    df_parrillas,
    how='left',
    indicator=True
)
maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,5004523,0.15,0.0,Objetivos cualitativos,NaN,both
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,5004523,0.15,0.0,Objetivos cualitativos,NaN,both
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,5004523,0.15,0.0,Objetivos cualitativos,NaN,both
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,5004523,0.15,0.0,Objetivos cualitativos,NaN,both
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,5004523,0.15,0.0,Objetivos cualitativos,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10497,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,1010166177,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both
10498,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,1010166177,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both
10499,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,1010166177,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both
10500,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,1010166177,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both
10501,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,1010166177,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both

In [695]:
maestra_resultados_por_empleado[
     (maestra_resultados_por_empleado['Fecha']=='2024-05-01') &
    (maestra_resultados_por_empleado['Contexto']=='1111117')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge
514,514,1111117,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,1111117,0.15,0.0,Objetivos cualitativos,NaN,both
724,24,1111117,2024-05-01,0.88,VentaFacturadaZonaCargoIndividual,3.179236e+08,3.617851e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
2054,24,1111117,2024-05-01,0.79,VentasCobradaZonaCargoIndividual,3.044938e+08,3.835532e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
5415,29,1111117,2024-05-01,0.86,VentaCobradaBraunCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
6508,24,1111117,2024-05-01,0.88,VentaFacturadaPortafolioCluster,3.179236e+08,3.617851e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
7972,39,1111117,2024-05-01,0.94,VentaFacturadaZonaPais,5.855320e+10,6.258874e+10,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
8292,4,1111117,2024-05-01,3.37,VentaFacturadaPortafolioRenal,1.814526e+09,5.383562e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
8851,24,1111117,2024-05-01,0.86,VentaCobradaPortafolioCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,left_only
10486,4,1111117,2024-05-01,1.04,VentaCobradaPortafolioRenal,8.571691e+08,8.276971e+08,0.0,0.0,0.0,1111117,0.25,0.0,VentaCobradaPortafolioRenal,NaN,both

In [696]:
df_empleados[df_empleados['CodigoEmpleado'] == '1111117']

,TipoEmpleado,CodigoEmpleado,Identificacion,CorreoElectronico,Nombre,Apellidos,SalarioVariable,FechaIngreso,FechaRetiro,AreaCalculo
102,VC,1111117,1014226605,julieth.pedraza@bbraun.com,Julieth,Pedraza,2500000.0,2023-01-01,NaT,5

In [697]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'VentaFacturadaGrupoClientesKAMSSub']

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge
8788,0,kam_2_1,2024-01-01,1.04,VentaFacturadaGrupoClientesKAMSSub,1.579665e+05,1.517270e+05,6.676407e+08,7.058871e+08,0.95,5004293,0.06,1.0,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both
8789,1,kam_2_1,2024-02-01,0.91,VentaFacturadaGrupoClientesKAMSSub,3.274076e+05,3.583340e+05,1.383778e+09,1.667095e+09,0.83,5004293,0.06,1.0,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both
8790,2,kam_2_1,2024-03-01,0.88,VentaFacturadaGrupoClientesKAMSSub,5.873638e+05,6.650162e+05,2.482475e+09,3.093888e+09,0.80,5004293,0.06,1.0,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both
8791,3,kam_2_1,2024-04-01,0.93,VentaFacturadaGrupoClientesKAMSSub,8.059016e+05,8.651667e+05,3.406119e+09,4.025058e+09,0.85,5004293,0.06,1.0,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both
8792,4,kam_2_1,2024-05-01,0.91,VentaFacturadaGrupoClientesKAMSSub,1.036601e+06,1.136338e+06,4.381161e+09,5.286644e+09,0.83,5004293,0.06,1.0,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both
8793,5,kam_2_2,2024-01-01,1.49,VentaFacturadaGrupoClientesKAMSSub,5.477026e+05,3.682217e+05,2.314848e+09,1.713096e+09,1.35,5004293,0.10,2.0,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both
8794,6,kam_2_2,2024-02-01,1.30,VentaFacturadaGrupoClientesKAMSSub,1.130694e+06,8.696299e+05,4.778845e+09,4.045823e+09,1.18,5004293,0.10,2.0,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both
8795,7,kam_2_2,2024-03-01,1.16,VentaFacturadaGrupoClientesKAMSSub,1.873040e+06,1.613908e+06,7.916346e+09,7.508463e+09,1.05,5004293,0.10,2.0,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both
8796,8,kam_2_2,2024-04-01,1.22,VentaFacturadaGrupoClientesKAMSSub,2.569475e+06,2.099647e+06,1.085981e+10,9.768292e+09,1.11,5004293,0.10,2.0,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both
8797,9,kam_2_2,2024-05-01,1.21,VentaFacturadaGrupoClientesKAMSSub,3.337287e+06,2.757745e+06,1.410494e+10,1.283000e+10,1.10,5004293,0.10,2.0,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both
8798,10,kam_2_3,2024-01-01,0.83,VentaFacturadaGrupoClientesKAMSSub,1.814026e+05,2.173231e+05,7.666924e+08,1.011063e+09,0.76,5004293,0.04,3.0,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both
8799,11,kam_2_3,2024-02-01,1.06,VentaFacturadaGrupoClientesKAMSSub,4.879493e+05,4.618116e+05,2.062303e+09,2.148509e+09,0.96,5004293,0.04,3.0,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both
8800,12,kam_2_3,2024-03-01,1.02,VentaFacturadaGrupoClientesKAMSSub,7.444922e+05,7.334655e+05,3.146574e+09,3.412338e+09,0.92,5004293,0.04,3.0,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both
8801,13,kam_2_3,2024-04-01,1.07,VentaFacturadaGrupoClientesKAMSSub,1.026682e+06,9.575799e+05,4.339242e+09,4.454997e+09,0.97,5004293,0.04,3.0,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both
8802,14,kam_2_3,2024-05-01,1.02,VentaFacturadaGrupoClientesKAMSSub,1.278766e+06,1.249608e+06,5.404667e+09,5.813613e+09,0.93,5004293,0.04,3.0,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both
8803,15,kam_3_1,2024-01-01,1.10,VentaFacturadaGrupoClientesKAMSSub,5.528836e+05,5.042755e+05,2.336746e+09,2.346066e+09,1.00,42897142,0.16,1.0,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both
8804,16,kam_3_1,2024-02-01,1.12,VentaFacturadaGrupoClientesKAMSSub,1.242262e+06,1.105391e+06,5.250382e+09,5.142668e+09,1.02,42897142,0.16,1.0,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both
8805,17,kam_3_1,2024-03-01,0.98,VentaFacturadaGrupoClientesKAMSSub,1.800386e+06,1.845593e+06,7.609276e+09,8.586344e+09,0.89,42897142,0.16,1.0,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both
8806,18,kam_3_1,2024-04-01,1.15,VentaFacturadaGrupoClientesKAMSSub,2.800257e+06,2.430285e+06,1.183520e+10,1.130654e+10,1.05,42897142,0.16,1.0,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both
8807,19,kam_3_1,2024-05-01,1.11,VentaFacturadaGrupoClientesKAMSSub,3.522726e+06,3.179182e+06,1.488870e+10,1.479067e+10,1.01,42897142,0.16,1.0,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both
8808,20,kam_3_2,2024-01-01,0.62,VentaFacturadaGrupoClientesKAMSSub,1.169467e+05,1.894337e+05,4.942717e+08,8.813119e+08,0.56,42897142,0.16,2.0,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both
8809,21,kam_3_2,2024-02-01,0.92,VentaFacturadaGrupoClientesKAMSSub,3.943533e+05,4.290196e+05,1.666722e+09,1.995949e+09,0.84,42897142,0.16,2.0,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both
8810,22,kam_3_2,2024-03-01,0.92,VentaFacturadaGrupoClientesKAMSSub,6.498015e+05,7.058902e+05,2.746367e+09,3.284048e+09,0.84,42897142,0.16,2.0,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both
8811,23,kam_3_2,2024-04-01,0.83,VentaFacturadaGrupoClientesKAMSSub,8.201040e+05,9.886802e+05,3.466145e+09,4.599686e+09,0.75,42897142,0.16,2.0,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both
8812,24,kam_3_2,2024-05-01,0.81,VentaFacturadaGrupoClientesKAMSSub,1.044468e+06,1.291702e+06,4.414412e+09,6.009451e+09,0.73,42897142,0.16,2.0,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both
8813,25,kam_3_3,2024-01-01,0.52,VentaFacturadaGrupoClientesKAMSSub,2.467570e+04,4.740089e+04,1.042911e+08,2.205255e+08,0.47,42897142,0.08,3.0,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both
8814,26,kam_3_3,2024-02-01,0.74,VentaFacturadaGrupoClientesKAMSSub,8.570855e+04,1.155594e+05,3.622446e+08,5.376230e+08,0.67,42897142,0.08,3.0,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both
8815,27,kam_3_3,2024-03-01,0.62,VentaFacturadaGrupoClientesKAMSSub,1.249924e+05,2.011400e+05,5.282767e+08,9.357736e+08,0.56,42897142,0.08,3.0,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both
8816,28,kam_3_3,2024-04-01,0.63,VentaFacturadaGrupoClientesKAMSSub,1.785315e+05,2.853358e+05,7.545582e+08,1.327482e+09,0.57,42897142,0.08,3.0,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both
8817,29,kam_3_3,2024-05-01,0.57,VentaFacturadaGrupoClientesKAMSSub,2.129818e+05,3.735256e+05,9.001613e+08,1.737772e+09,0.52,42897142,0.08,3.0,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both

In [698]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10497,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10498,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10499,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10500,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10501,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01

In [699]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Variable'] == 'ObjetivosCualitativos') &
    (maestra_resultados_por_empleado['Contexto'] == '5004293')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
625,625,5004293,2024-01-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.3,0.0,Objetivos cualitativos,NaN,both,KAM,2.0,SERNA CASTRILLON,ANGELA MARIA,2013-06-17
626,626,5004293,2024-02-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.3,0.0,Objetivos cualitativos,NaN,both,KAM,2.0,SERNA CASTRILLON,ANGELA MARIA,2013-06-17
627,627,5004293,2024-03-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.3,0.0,Objetivos cualitativos,NaN,both,KAM,2.0,SERNA CASTRILLON,ANGELA MARIA,2013-06-17
628,628,5004293,2024-04-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.3,0.0,Objetivos cualitativos,NaN,both,KAM,2.0,SERNA CASTRILLON,ANGELA MARIA,2013-06-17
629,629,5004293,2024-05-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.3,0.0,Objetivos cualitativos,NaN,both,KAM,2.0,SERNA CASTRILLON,ANGELA MARIA,2013-06-17

In [700]:
# Se añaden líneas para filtrar registros vacíos ('Fecha' y 'CodigoEmpleado')
maestra_resultados_por_empleado.dropna(subset=[
        'Fecha'
    ], inplace=True)
maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)
maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.15,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10497,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10498,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10499,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10500,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01
10501,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,...,0.15,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01

In [701]:
df_salarios_variables[df_salarios_variables['CodigoEmpleado'] == '16659046']

    CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
536       16659046 2024-01-01        1712000.0                1712000.0
537       16659046 2024-02-01        1712000.0                1712000.0
538       16659046 2024-03-01        1712000.0                1712000.0
539       16659046 2024-04-01        3149000.0                2071250.0
540       16659046 2024-05-01        3149000.0                2286800.0

In [702]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['CodigoEmpleado'] == '16659046']

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
550,550,16659046,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.2,0.0,Objetivos cualitativos,NaN,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
551,551,16659046,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.2,0.0,Objetivos cualitativos,NaN,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
552,552,16659046,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.2,0.0,Objetivos cualitativos,NaN,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
553,553,16659046,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.2,0.0,Objetivos cualitativos,NaN,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
554,554,16659046,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.2,0.0,Objetivos cualitativos,NaN,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10149,60,16659046_1,2024-03-01,1.05,VentaFacturadaBraunPaisSUB,1.120332e+07,1.062285e+07,0.0,0.0,0.0,...,0.4,1.0,VentaFacturadaBraunPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10150,61,16659046_1,2024-04-01,1.09,VentaFacturadaBraunPaisSUB,1.547450e+07,1.420999e+07,0.0,0.0,0.0,...,0.4,1.0,VentaFacturadaBraunPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10151,62,16659046_1,2024-05-01,1.06,VentaFacturadaBraunPaisSUB,1.964573e+07,1.858577e+07,0.0,0.0,0.0,...,0.4,1.0,VentaFacturadaBraunPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10416,18,16659046_1,2024-03-01,1.18,EBITCOGSPaisSUB,2.980374e+06,2.534506e+06,0.0,0.0,0.0,...,0.4,1.0,EBITCOGSPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10417,19,16659046_1,2024-04-01,1.12,EBITCOGSPaisSUB,3.789609e+06,3.390361e+06,0.0,0.0,0.0,...,0.4,1.0,EBITCOGSPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17
10418,20,16659046_1,2024-05-01,1.23,EBITCOGSPaisSUB,5.433606e+06,4.434378e+06,0.0,0.0,0.0,...,0.4,1.0,EBITCOGSPaisSUB,BBMCO,both,AD,3.0,REYES MONROY,ADOLFO MARIO,1994-05-17

In [703]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,SalarioVariable
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,3.0,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,...,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01,2500000.0
10472,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,...,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01,2500000.0
10473,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,...,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01,2500000.0
10474,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,...,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01,2500000.0
10475,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,...,2.0,VentaFacturadaPortafolioZonaClusterSub,Ambulatorio (Cluster 20-21),both,VE,9.0,Castiblanco Martinez,William Andres,2023-12-01,2500000.0

In [704]:
maestra_resultados_por_empleado[
     (maestra_resultados_por_empleado['Fecha']=='2024-05-01') &
    (maestra_resultados_por_empleado['Contexto']=='1111117')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,SalarioVariable
514,514,1111117,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,5.0,Pedraza,Julieth,2023-01-01,2500000.0
724,24,1111117,2024-05-01,0.88,VentaFacturadaZonaCargoIndividual,3.179236e+08,3.617851e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
2054,24,1111117,2024-05-01,0.79,VentasCobradaZonaCargoIndividual,3.044938e+08,3.835532e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
5389,29,1111117,2024-05-01,0.86,VentaCobradaBraunCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
6482,24,1111117,2024-05-01,0.88,VentaFacturadaPortafolioCluster,3.179236e+08,3.617851e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
7946,39,1111117,2024-05-01,0.94,VentaFacturadaZonaPais,5.855320e+10,6.258874e+10,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
8266,4,1111117,2024-05-01,3.37,VentaFacturadaPortafolioRenal,1.814526e+09,5.383562e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
8825,24,1111117,2024-05-01,0.86,VentaCobradaPortafolioCluster,3.632880e+08,4.212271e+08,0.0,0.0,0.0,...,NaN,NaN,NaN,left_only,NaN,NaN,NaN,NaN,NaT,NaN
10460,4,1111117,2024-05-01,1.04,VentaCobradaPortafolioRenal,8.571691e+08,8.276971e+08,0.0,0.0,0.0,...,0.0,VentaCobradaPortafolioRenal,NaN,both,VC,5.0,Pedraza,Julieth,2023-01-01,2500000.0

### Maestra de Resultados por Empleado y Centro de Costos

In [705]:
maestra_resultados_centro_costo.head()

,Unnamed: 0,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,AreaCalculo,Consecutivo,TipoEmpleado,PorcentajeCumplimiento,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP
0,0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0,NaN,NaN,0.97,0.0,0.0,0.0
1,1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0,NaN,NaN,0.90,0.0,0.0,0.0
2,2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,0,NaN,NaN,1.12,0.0,0.0,0.0
3,3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0,NaN,NaN,0.00,0.0,0.0,0.0
4,4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,0,NaN,NaN,1.17,0.0,0.0,0.0

In [706]:
df_parrillas

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,VentaCobradaBraunPais,Pais,0.300,0,Venta cobrada país,NaN
1,5004523,ObjetivosCualitativos,5004523,0.150,0,Objetivos cualitativos,NaN
2,5004523,VentaFacturadaPortafolioClusterSub,5004523_1,0.060,1,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Neuro)
3,5004523,VentaFacturadaPortafolioClusterSub,5004523_2,0.060,2,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Ortho)
4,5004523,VentaFacturadaPortafolioClusterSub,5004523_3,0.060,3,VentaFacturadaPortafolioClusterSub,Surgery & Interventions (Surgical Assets)
...,...,...,...,...,...,...,...
1342,5036653,VentaFacturadaPortafolioClusterSub,5036653_2,0.045,2,VentaFacturadaPortafolioClusterSub,Heridas.Ostomia y desinfeccion (ambulatorio)
1343,5036653,VentaFacturadaPortafolioClusterSub,5036653_3,0.075,3,VentaFacturadaPortafolioClusterSub,"Hospital Ambulatorio: Nutricion (640-680), Sis..."
1344,5036653,VentaFacturadaPortafolioClusterSub,5036653_4,0.030,4,VentaFacturadaPortafolioClusterSub,Aesculap (ambulatorio)
1345,5036653,VentaFacturadaPortafolioRenalSub,5036653_1,0.150,1,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...
1346,5036653,VentaCobradaPortafolioRenal,5036653,0.250,0,VentaCobradaPortafolioRenal,NaN

In [707]:
maestra_resultados_por_empleado_centro_costo = maestra_resultados_centro_costo.drop(columns={'AreaCalculo', 'Consecutivo', 'TipoEmpleado', 'Unnamed: 0'})

In [708]:
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [709]:
maestra_resultados_por_empleado_centro_costo[
    (maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '5002899')
]

Empty DataFrame
Columns: [Contexto, Fecha, GrupoProducto, Division, CodigoCentroCosto, Real, Presupuesto, Variable, PorcentajeCumplimiento, RealCOP, PresupuestoCOP, PorcentajeCumplimientoCOP, CodigoEmpleado, Porcentaje, Consecutivo, Nombre variable, Nombre consecutivo]
Index: []

In [710]:
maestra_resultados_por_empleado_centro_costo[
    (maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '1032450706') &
    (maestra_resultados_por_empleado_centro_costo['Fecha'] == '2023-01-01')
]

Empty DataFrame
Columns: [Contexto, Fecha, GrupoProducto, Division, CodigoCentroCosto, Real, Presupuesto, Variable, PorcentajeCumplimiento, RealCOP, PresupuestoCOP, PorcentajeCumplimientoCOP, CodigoEmpleado, Porcentaje, Consecutivo, Nombre variable, Nombre consecutivo]
Index: []

In [711]:
# maestra_resultados_por_empleado_centro_costo = maestra_resultados_centro_costo.drop(columns=['Unnamed: 0' , 'Consecutivo']).merge(
#     df_parrillas_tipos_calculos,
#     on=['TipoEmpleado', 'AreaCalculo'],
#     how='left'
# )
# maestra_resultados_por_empleado_centro_costo.head()

In [712]:
# maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
#     df_empleados_centros_costos.rename(columns={'PorcentajeAsignacion': 'Porcentaje'})
# )

In [713]:
# maestra_resultados_por_empleado_centro_costo[maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '1032450706']

In [714]:
df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso', 'FechaRetiro']][df_empleados['CodigoEmpleado'] == '5005463']

Empty DataFrame
Columns: [CodigoEmpleado, TipoEmpleado, AreaCalculo, Apellidos, Nombre, FechaIngreso, FechaRetiro]
Index: []

In [715]:
df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso', 'FechaRetiro']][df_empleados['CodigoEmpleado'] == '1098612757']

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,FechaRetiro
126,1098612757,AD1,3,Serrano,Andres,2023-06-01,NaT

In [716]:
df_empleados_inactivos[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso', 'FechaRetiro']][df_empleados_inactivos['CodigoEmpleado'] == '1032450706']

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,FechaRetiro
81,1032450706,MK,9,RODRIGUEZ CASTELLANOS,LAURA CAMILA,2022-07-01,NaT

In [717]:
df_empleados_inactivos[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso', 'FechaRetiro']][df_empleados_inactivos['CodigoEmpleado'] == '5005463']

,CodigoEmpleado,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,FechaRetiro
19,5005463,GU,6,CHAVES,DIANA,2016-07-01,NaT

In [718]:
df_empleados_totales = pd.concat([df_empleados, df_empleados_inactivos])

In [719]:
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_empleados_totales[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [720]:
# Se añaden líneas para filtrar registros vacíos ('Fecha' y 'CodigoEmpleado')
maestra_resultados_por_empleado_centro_costo.dropna(subset=[
        'Fecha'
    ], inplace=True)
maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] = maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'].astype(str)
maestra_resultados_por_empleado_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,...,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [721]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado_centro_costo = maestra_resultados_por_empleado_centro_costo.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado_centro_costo.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,SalarioVariable
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [722]:
maestra_resultados_por_empleado[
     (maestra_resultados_por_empleado['Fecha']=='2024-05-01') &
    (maestra_resultados_por_empleado['Contexto']=='1111117') &
    (maestra_resultados_por_empleado['Variable']=='ObjetivosCualitativos')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Consecutivo,Nombre variable,Nombre consecutivo,_merge,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,SalarioVariable
514,514,1111117,2024-05-01,0.8,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,0.0,Objetivos cualitativos,NaN,both,VC,5.0,Pedraza,Julieth,2023-01-01,2500000.0

In [723]:
maestra_resultados_por_empleado_centro_costo[maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '1032450706']

Empty DataFrame
Columns: [Contexto, Fecha, GrupoProducto, Division, CodigoCentroCosto, Real, Presupuesto, Variable, PorcentajeCumplimiento, RealCOP, PresupuestoCOP, PorcentajeCumplimientoCOP, CodigoEmpleado, Porcentaje, Consecutivo, Nombre variable, Nombre consecutivo, TipoEmpleado, AreaCalculo, Apellidos, Nombre, FechaIngreso, SalarioVariable]
Index: []

[0 rows x 23 columns]

### Calculo sobre maestra resultados por empleado

In [724]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_factores_liquidacion,
    on=['TipoEmpleado', 'PorcentajeCumplimiento'],
    how='left'
)

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] == 0)),
    0.25,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] > 0)),
    0.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)

##
_excepciones_porcentaje_cumplimiento = [
    # {
    #     'TipoEmpleado': 'VC',
    #     'AreaCalculo': 7,
    #     'Variable': 'VentaFacturadaZonaCargoIndividualSub',
    #     'Consecutivo': 4,
    #     'FechaInicial': '2021-02-01',
    #     'FechaFinal': '2021-06-01',
    #     'PorcentajeCumplimiento': 1,
    #     'FactorIncentivo': 1,
    #     'Codigos': ['5003527']
    # }
]

for excepcion in _excepciones_porcentaje_cumplimiento:
    maestra_resultados_por_empleado['PorcentajeCumplimiento'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['PorcentajeCumplimiento'],
        maestra_resultados_por_empleado['PorcentajeCumplimiento']
    )
    maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['FactorIncentivo'],
        maestra_resultados_por_empleado['FactorIncentivo']
    )
##

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']<0.9) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    0,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']>1.06) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    2.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['Fecha'].notnull()]
maestra_resultados_por_empleado['FactorMes'] = pd.DatetimeIndex(maestra_resultados_por_empleado['Fecha']).month
maestra_resultados_por_empleado['FactorMes'] = maestra_resultados_por_empleado['FactorMes'].astype('int')
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['SalarioVariable']*maestra_resultados_por_empleado['Porcentaje']
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['FactorIncentivo']

try:
    maestra_resultados_por_empleado['DifMonths'] = ((maestra_resultados_por_empleado.Fecha - maestra_resultados_por_empleado.FechaIngreso)/np.timedelta64(1, 'M'))
except:
    maestra_resultados_por_empleado['DifMonths'] = 0
maestra_resultados_por_empleado['DifMonths'].fillna(0, inplace=True)
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].apply(lambda x: round(x, 0))
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].astype('int')

maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado.groupby(['CodigoEmpleado'])['DifMonths'].transform(min)
maestra_resultados_por_empleado['DifMonths'] = np.where(
    maestra_resultados_por_empleado['DifMonths']>0, 0, maestra_resultados_por_empleado['DifMonths']
)
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['FactorMes'] + maestra_resultados_por_empleado['DifMonths']
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['NuevoFactor'].apply(lambda x: 0 if x<0 else x)

###
_excepciones_factor_mes = [
    # Garantizados para VEs y VCs
    {
        'TipoEmpleado': ['VC', 'VE'],
        'FechaInicial': '2022-03-01',
        'FechaFinal': '2022-12-01',
        'SumFactorMes': -2
    }
]
for excepcion in _excepciones_factor_mes:
    maestra_resultados_por_empleado['NuevoFactor'] = np.where(
        (
            (maestra_resultados_por_empleado['TipoEmpleado'].isin(excepcion['TipoEmpleado'])) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        maestra_resultados_por_empleado['NuevoFactor'] + excepcion['SumFactorMes'],
        maestra_resultados_por_empleado['NuevoFactor']
    )

maestra_resultados_por_empleado['NuevoFactor'] = np.where(
    maestra_resultados_por_empleado['NuevoFactor'] < 1,
    1,
    maestra_resultados_por_empleado['NuevoFactor']
)
maestra_resultados_por_empleado['NuevoFactorBK'] = maestra_resultados_por_empleado['NuevoFactor']
###

maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['NuevoFactor']

maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['CodigoEmpleado'].notnull()]

In [725]:
maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0,0.5,1,187500.0,0,1,1
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0,0.5,2,375000.0,0,2,2
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0,0.5,3,562500.0,0,3,3
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0,0.5,4,750000.0,0,4,4
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,NaN,NaN,0.0,0.0,0.0,...,ACOSTA PORTILLO,SOBEYDA DEL SOCORRO,2023-10-01,2500000.0,0.5,5,937500.0,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,...,Castiblanco Martinez,William Andres,2023-12-01,2500000.0,2.5,1,937500.0,0,1,1
10472,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,...,Castiblanco Martinez,William Andres,2023-12-01,2500000.0,2.5,2,1875000.0,0,2,2
10473,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,...,Castiblanco Martinez,William Andres,2023-12-01,2500000.0,2.5,3,2812500.0,0,3,3
10474,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,...,Castiblanco Martinez,William Andres,2023-12-01,2500000.0,2.5,4,3750000.0,0,4,4
10475,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,...,Castiblanco Martinez,William Andres,2023-12-01,2500000.0,2.5,5,4687500.0,0,5,5

In [726]:
maestra_resultados_por_empleado[
     (maestra_resultados_por_empleado['Fecha']=='2024-05-01') &
    (maestra_resultados_por_empleado['Contexto']=='291169471')
]['Liquidado']

249    600000.0
Name: Liquidado, dtype: float64

### Calculo sobre maestra resultados por empleado centro costo

In [727]:
maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo.merge(
    df_factores_liquidacion,
    on=['TipoEmpleado', 'PorcentajeCumplimiento'],
    how='left'
)

maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado_centro_costo_final['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado_centro_costo_final['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado_centro_costo_final['Real'] == 0)),
    0.25,
    maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']
)
maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado_centro_costo_final['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado_centro_costo_final['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado_centro_costo_final['Real'] > 0)),
    0.5,
    maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']
)

##
_excepciones_porcentaje_cumplimiento = [
    # {
    #     'TipoEmpleado': 'VC',
    #     'AreaCalculo': 7,
    #     'Variable': 'VentaFacturadaZonaCargoIndividualSub',
    #     'Consecutivo': 4,
    #     'FechaInicial': '2021-02-01',
    #     'FechaFinal': '2021-06-01',
    #     'PorcentajeCumplimiento': 1,
    #     'FactorIncentivo': 1,
    #     'Codigos': ['5003527']
    # }
]

for excepcion in _excepciones_porcentaje_cumplimiento:
    maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento'] = np.where(
        (
            (maestra_resultados_por_empleado_centro_costo_final['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado_centro_costo_final['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado_centro_costo_final['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['PorcentajeCumplimiento'],
        maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento']
    )
    maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'] = np.where(
        (
            (maestra_resultados_por_empleado_centro_costo_final['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado_centro_costo_final['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado_centro_costo_final['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['FactorIncentivo'],
        maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']
    )
##

maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento']<0.9) & (maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'].isnull()),
    0,
    maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']
)
maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimiento']>1.06) & (maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo'].isnull()),
    2.5,
    maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']
)
maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final[maestra_resultados_por_empleado_centro_costo_final['Fecha'].notnull()]
maestra_resultados_por_empleado_centro_costo_final['FactorMes'] = pd.DatetimeIndex(maestra_resultados_por_empleado_centro_costo_final['Fecha']).month
maestra_resultados_por_empleado_centro_costo_final['FactorMes'] = maestra_resultados_por_empleado_centro_costo_final['FactorMes'].astype('int')
maestra_resultados_por_empleado_centro_costo_final['Liquidado'] = maestra_resultados_por_empleado_centro_costo_final['SalarioVariable']*maestra_resultados_por_empleado_centro_costo_final['Porcentaje']
maestra_resultados_por_empleado_centro_costo_final['Liquidado'] = maestra_resultados_por_empleado_centro_costo_final['Liquidado']*maestra_resultados_por_empleado_centro_costo_final['FactorIncentivo']

try:
    maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = ((maestra_resultados_por_empleado_centro_costo_final.Fecha - maestra_resultados_por_empleado_centro_costo_final.FechaIngreso)/np.timedelta64(1, 'M'))
except:
    maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = 0
maestra_resultados_por_empleado_centro_costo_final['DifMonths'].fillna(0, inplace=True)
maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = maestra_resultados_por_empleado_centro_costo_final['DifMonths'].apply(lambda x: round(x, 0))
maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = maestra_resultados_por_empleado_centro_costo_final['DifMonths'].astype('int')

maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = maestra_resultados_por_empleado_centro_costo_final.groupby(['CodigoEmpleado'])['DifMonths'].transform(min)
maestra_resultados_por_empleado_centro_costo_final['DifMonths'] = np.where(
    maestra_resultados_por_empleado_centro_costo_final['DifMonths']>0, 0, maestra_resultados_por_empleado_centro_costo_final['DifMonths']
)
maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] = maestra_resultados_por_empleado_centro_costo_final['FactorMes'] + maestra_resultados_por_empleado_centro_costo_final['DifMonths']
maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] = maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'].apply(lambda x: 0 if x<0 else x)

###
_excepciones_factor_mes = [
    # Garantizados para VEs y VCs
    {
        'TipoEmpleado': ['VC', 'VE'],
        'FechaInicial': '2022-03-01',
        'FechaFinal': '2022-12-01',
        'SumFactorMes': -2
    }
]
for excepcion in _excepciones_factor_mes:
    maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] = np.where(
        (
            (maestra_resultados_por_empleado_centro_costo_final['TipoEmpleado'].isin(excepcion['TipoEmpleado'])) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado_centro_costo_final['Fecha'] <= excepcion['FechaFinal'])
        ),
        maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] + excepcion['SumFactorMes'],
        maestra_resultados_por_empleado_centro_costo_final['NuevoFactor']
    )

maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] = np.where(
    maestra_resultados_por_empleado_centro_costo_final['NuevoFactor'] < 1,
    1,
    maestra_resultados_por_empleado_centro_costo_final['NuevoFactor']
)
maestra_resultados_por_empleado_centro_costo_final['NuevoFactorBK'] = maestra_resultados_por_empleado_centro_costo_final['NuevoFactor']
###

maestra_resultados_por_empleado_centro_costo_final['Liquidado'] = maestra_resultados_por_empleado_centro_costo_final['Liquidado']*maestra_resultados_por_empleado_centro_costo_final['NuevoFactor']

maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final[maestra_resultados_por_empleado_centro_costo_final['CodigoEmpleado'].notnull()]

In [728]:
maestra_resultados_por_empleado_centro_costo_final.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,...,NaN,NaN,NaT,NaN,NaN,1,NaN,0,1,1
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,...,NaN,NaN,NaT,NaN,NaN,1,NaN,0,1,1
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,...,NaN,NaN,NaT,NaN,2.5,1,NaN,0,1,1
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,...,NaN,NaN,NaT,NaN,0.0,1,NaN,0,1,1
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,...,NaN,NaN,NaT,NaN,2.5,1,NaN,0,1,1

In [729]:
maestra_resultados_por_empleado_centro_costo_final[maestra_resultados_por_empleado_centro_costo_final['CodigoEmpleado'] == '1098612757']

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
11212,1098612757_1,2024-03-01,BBMCO,BBMCO,323004021,1.120332e+07,1.062285e+07,VentaFacturadaBraunPaisSUB,1.05,0.0,...,Serrano,Andres,2023-06-01,600000.0,2.25,3,1620000.0,0,3,3
11213,1098612757_1,2024-04-01,BBMCO,BBMCO,323004021,2.667782e+07,2.483285e+07,VentaFacturadaBraunPaisSUB,1.07,0.0,...,Serrano,Andres,2023-06-01,600000.0,2.50,4,2400000.0,0,4,4
11214,1098612757_1,2024-05-01,BBMCO,BBMCO,323004021,4.632354e+07,4.341862e+07,VentaFacturadaBraunPaisSUB,1.07,0.0,...,Serrano,Andres,2023-06-01,600000.0,2.50,5,3000000.0,0,5,5

## Se calculan los resultados por mes

In [730]:
lista_variables_rentabilidad_acumuladas = [
    'RentabilidadBbraunPaisAntesDeImpuestos',
    'RentabilidadDivisionGrupoClientesCM3',
    'RentabilidadDivisionGrupoClientesCM3Sub',
    'RentabilidadUnidadNegocioCM2',
    'RentabilidadUnidadNegocioCM2Sub',
    'RentabilidadUnidadNegocioCM3',
    'RentabilidadUnidadNegocioCM3Sub',
    'TotalRentabilidadBraunAntesDeImpuestosCM5',
    'VentaFacturadaPrevioNotasCreditoTP',
    # 2022
    'RentabilidadCompaniaCM3',
    'RentabilidadZonaHospitalarioCM2',
    # 2024
    'RentabilidadUnidadNegocioCM2COGSSUB',
    'RentabilidadDivisionCM2COGsSub',
    'EBITCOGSPais',
    'EBITCOGSPaisSUB'
]

def calcular_resultado_mes(group):
    valor_previo_real = 0
    valor_previo_presupuesto = 0
    for index, item in group.iterrows():
        if item['Variable'] in lista_variables_rentabilidad_acumuladas:
            resultado_real_mes = item['Real']
            resultado_presupuesto_mes = item['Presupuesto']
        else:
            resultado_real_mes = item['Real'] - valor_previo_real
            resultado_presupuesto_mes = item['Presupuesto'] - valor_previo_presupuesto
        
        group.at[index, 'ResultadoRealMes'] = resultado_real_mes
        group.at[index, 'ResultadoPresupuesto'] = resultado_presupuesto_mes

        porcentaje_cumplimiento_mes = 0
        if resultado_presupuesto_mes == 0:
            porcentaje_cumplimiento_mes = 0
        elif resultado_real_mes - resultado_presupuesto_mes < 0:
            porcentaje_cumplimiento_mes = 1 + ((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        elif resultado_real_mes - resultado_presupuesto_mes > 0:
            porcentaje_cumplimiento_mes = 1 + abs((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        else:
            porcentaje_cumplimiento_mes = resultado_real_mes / resultado_presupuesto_mes

        group.at[index, 'PorcentajeCumplimientoMes'] = round(porcentaje_cumplimiento_mes, 2)
        
        valor_previo_real = item['Real']
        valor_previo_presupuesto = item['Presupuesto']
    return group

### Maestra Resultados por Empleado vs Resultado Detallado Histórico

In [731]:
maestra_resultados_por_empleado['Real'].fillna(0,inplace=True)
maestra_resultados_por_empleado['Presupuesto'].fillna(0,inplace=True)
maestra_resultados_por_empleado['ResultadoPresupuesto'] = 0
maestra_resultados_por_empleado['ResultadoRealMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = maestra_resultados_por_empleado['PorcentajeCumplimientoMes'].astype('float')
maestra_resultados_por_empleado = maestra_resultados_por_empleado.groupby(['CodigoEmpleado', 'Variable', 'Contexto'], group_keys=False).apply(calcular_resultado_mes)

maestra_resultados_por_empleado

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
0,0,5004523,2024-01-01,0.80,ObjetivosCualitativos,0.000000e+00,0.00,0.0,0.0,0.0,...,2500000.0,0.5,1,187500.0,0,1,1,0.00,0.000000e+00,0.00
1,1,5004523,2024-02-01,0.80,ObjetivosCualitativos,0.000000e+00,0.00,0.0,0.0,0.0,...,2500000.0,0.5,2,375000.0,0,2,2,0.00,0.000000e+00,0.00
2,2,5004523,2024-03-01,0.80,ObjetivosCualitativos,0.000000e+00,0.00,0.0,0.0,0.0,...,2500000.0,0.5,3,562500.0,0,3,3,0.00,0.000000e+00,0.00
3,3,5004523,2024-04-01,0.80,ObjetivosCualitativos,0.000000e+00,0.00,0.0,0.0,0.0,...,2500000.0,0.5,4,750000.0,0,4,4,0.00,0.000000e+00,0.00
4,4,5004523,2024-05-01,0.80,ObjetivosCualitativos,0.000000e+00,0.00,0.0,0.0,0.0,...,2500000.0,0.5,5,937500.0,0,5,5,0.00,0.000000e+00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10471,5,1010166177_2,2024-01-01,2.33,VentaFacturadaPortafolioZonaClusterSub,3.777647e+07,16190154.54,0.0,0.0,0.0,...,2500000.0,2.5,1,937500.0,0,1,1,16190154.54,3.777647e+07,2.33
10472,6,1010166177_2,2024-02-01,7.98,VentaFacturadaPortafolioZonaClusterSub,2.583843e+08,32380309.08,0.0,0.0,0.0,...,2500000.0,2.5,2,1875000.0,0,2,2,16190154.54,2.206078e+08,13.63
10473,7,1010166177_2,2024-03-01,30.12,VentaFacturadaPortafolioZonaClusterSub,1.544331e+09,51268822.71,0.0,0.0,0.0,...,2500000.0,2.5,3,2812500.0,0,3,3,18888513.63,1.285947e+09,68.08
10474,8,1010166177_2,2024-04-01,23.10,VentaFacturadaPortafolioZonaClusterSub,1.620885e+09,70157336.34,0.0,0.0,0.0,...,2500000.0,2.5,4,3750000.0,0,4,4,18888513.63,7.655384e+07,4.05
10475,9,1010166177_2,2024-05-01,17.95,VentaFacturadaPortafolioZonaClusterSub,1.646862e+09,91744209.06,0.0,0.0,0.0,...,2500000.0,2.5,5,4687500.0,0,5,5,21586872.72,2.597685e+07,1.20

In [732]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Contexto']=='52875549')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
525,525,52875549,2024-01-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,1000000.0,0.5,1,100000.0,0,1,1,0.0,0.0,0.0
526,526,52875549,2024-02-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,1000000.0,0.5,2,200000.0,0,2,2,0.0,0.0,0.0
527,527,52875549,2024-03-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,1000000.0,0.5,3,300000.0,0,3,3,0.0,0.0,0.0
528,528,52875549,2024-04-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,1000000.0,0.5,4,400000.0,0,4,4,0.0,0.0,0.0
529,529,52875549,2024-05-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,1000000.0,0.5,5,500000.0,0,5,5,0.0,0.0,0.0

In [733]:
df_resultado_detallado_previo[df_resultado_detallado_previo['CodigoEmpleado'] == '52875549.0']

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,Nombre,FechaIngreso,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
798,52875549,2024-01-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,52875549.0,0.2,0,AD,...,Libia Yaneth,2022-06-01,0.850,1,170000.0,0,1,0.000000e+00,0.000000e+00,0.00
1361,52875549,2024-02-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,52875549.0,0.2,0,AD,...,LIBIA YANETH,2022-06-01,0.850,2,340000.0,0,2,0.000000e+00,0.000000e+00,0.00
1362,BBMCO,2024-02-01,VentaFacturadaBraunPais,0.99,2.892989e+10,2.934280e+10,52875549.0,0.4,0,AD,...,LIBIA YANETH,2022-06-01,0.975,2,780000.0,0,2,1.611585e+10,1.592667e+10,0.99
2133,52875549,2024-03-01,ObjetivosCualitativos,0.80,0.000000e+00,0.000000e+00,52875549.0,0.2,0,AD,...,Libia Yaneth,2022-06-01,0.500,3,300000.0,0,3,0.000000e+00,0.000000e+00,0.00
2134,52875549_1,2024-03-01,VentaFacturadaBraunPaisSUB,1.05,1.120332e+07,1.062285e+07,52875549.0,0.4,1,AD,...,Libia Yaneth,2022-06-01,2.250,3,2700000.0,0,3,1.062285e+07,1.120332e+07,1.05
2135,52875549_1,2024-03-01,EBITCOGSPaisSUB,1.18,2.980374e+06,2.534506e+06,52875549.0,0.4,1,AD,...,Libia Yaneth,2022-06-01,2.500,3,3000000.0,0,3,2.534506e+06,2.980374e+06,1.18
2964,52875549,2024-04-01,ObjetivosCualitativos,0.80,0.000000e+00,0.000000e+00,52875549.0,0.2,0,AD,...,Libia Yaneth,2022-06-01,0.500,4,400000.0,0,4,0.000000e+00,0.000000e+00,0.00
2965,52875549_1,2024-04-01,VentaFacturadaBraunPaisSUB,1.09,1.547450e+07,1.420999e+07,52875549.0,0.4,1,AD,...,Libia Yaneth,2022-06-01,2.500,4,4000000.0,0,4,3.587141e+06,4.271173e+06,1.19
2966,52875549_1,2024-04-01,EBITCOGSPaisSUB,1.12,3.789609e+06,3.390361e+06,52875549.0,0.4,1,AD,...,Libia Yaneth,2022-06-01,2.500,4,4000000.0,0,4,8.558557e+05,8.092343e+05,0.95

In [734]:
df_resultado_detallado_previo[
    (df_resultado_detallado_previo['Contexto']=='1111117') &
    (df_resultado_detallado_previo['Variable']=='ObjetivosCualitativos')
]

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,Nombre,FechaIngreso,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
412,1111117,2024-01-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117.0,0.15,0,VC,...,Julieth,2023-01-01,0.85,1,318750.0,0,1,0.0,0.0,0.0
1027,1111117,2024-02-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117.0,0.15,0,VC,...,JULIETH,2023-01-01,0.85,2,637500.0,0,2,0.0,0.0,0.0
1634,1111117,2024-03-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117.0,0.15,0,VC,...,Julieth,2023-01-01,0.50,3,562500.0,0,3,0.0,0.0,0.0
2470,1111117,2024-04-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117.0,0.15,0,VC,...,Julieth,2023-01-01,0.50,4,750000.0,0,4,0.0,0.0,0.0

In [735]:
# Se une el resultadio histórico con el actual, de tal forma que al histórico se le agregan únicamenet 
# los resultados correspondientes al mes que se está liquidando
resultado_detallado_historico = df_resultado_detallado_previo.copy()
# Filtrar el DataFrame para encontrar las filas donde 'CodigoEmpleado' termina con '.0'
resultado_detallado_historico[resultado_detallado_historico['CodigoEmpleado'].astype(str).str.endswith('.0')].head()
resultado_detallado_historico['CodigoEmpleado'] = resultado_detallado_historico['CodigoEmpleado'].astype(str).str.replace(r'(\d+)\.0$', r'\1', regex=True)
resultado_detallado_historico

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,Nombre,FechaIngreso,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
0,Pais,2024-02-01,VentaCobradaBraunPais,0.88,3.221882e+10,3.663783e+10,1010166177,0.300,0,VE,...,William Andres,2023-12-01,0.70,2,1050000.0,0,2,1.913977e+10,1.551444e+10,0.81
1,1010166177_1,2024-02-01,VentaFacturadaPortafolioZonaClusterSub,1.66,3.157478e+08,1.900081e+08,1010166177,0.150,1,VE,...,William Andres,2023-12-01,2.50,2,1875000.0,0,2,9.500404e+07,2.604769e+08,2.74
2,1010166177,2024-02-01,VentaCobradaPortafolioZonaCluster,2.89,3.886020e+08,1.345891e+08,1010166177,0.250,0,VE,...,William Andres,2023-12-01,2.50,2,3125000.0,0,2,6.729453e+07,2.759412e+08,4.10
3,Pais,2024-03-01,VentaCobradaBraunPais,0.86,4.803727e+10,5.604000e+10,1010166177,0.300,0,VE,...,William Andres,2023-12-01,0.65,3,1462500.0,0,3,1.940218e+10,1.581845e+10,0.82
4,Pais,2024-02-01,VentaCobradaBraunPais,0.88,3.221882e+10,3.663783e+10,1014204375,0.300,0,VE,...,Caterin Julieth,2024-01-01,0.70,2,1050000.0,0,2,1.913977e+10,1.551444e+10,0.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3114,9990011_1,2024-04-01,VentaFacturadaPortafolioClusterSub,0.79,7.307934e+08,9.299402e+08,9990011,0.090,1,VC,...,Vacante,2023-01-01,0.00,4,0.0,0,4,2.151354e+08,1.774642e+08,0.82
3115,9990011_2,2024-04-01,VentaFacturadaPortafolioClusterSub,0.82,7.517909e+08,9.120785e+08,9990011,0.090,2,VC,...,Vacante,2023-01-01,0.55,4,0.0,0,4,2.134652e+08,2.782575e+08,1.30
3116,9990011_3,2024-04-01,VentaFacturadaPortafolioClusterSub,0.43,9.897435e+07,2.319853e+08,9990011,0.060,3,VC,...,Vacante,2023-01-01,0.00,4,0.0,0,4,6.909818e+07,3.372984e+07,0.49
3117,9990011_4,2024-04-01,VentaFacturadaPortafolioClusterSub,1.07,5.362554e+07,5.019802e+07,9990011,0.045,4,VC,...,Vacante,2023-01-01,1.70,4,0.0,0,4,1.287129e+07,1.321235e+07,1.03
3118,9990011_5,2024-04-01,VentaFacturadaPortafolioClusterSub,0.00,0.000000e+00,1.523043e+07,9990011,0.015,5,VC,...,Vacante,2023-01-01,0.00,4,0.0,0,4,4.100499e+06,0.000000e+00,0.00

In [736]:
# resultado_detallado_historico.info()
# resultado_detallado_historico.to_excel('resultado_detallado_historico.xlsx')

In [737]:
fecha_liquidacion

'2024-05-01'

In [738]:
last_date_historico = resultado_detallado_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico
last_date_historico

Timestamp('2024-04-01 00:00:00')

In [739]:
# maestra_resultados_por_empleado[
#     maestra_resultados_por_empleado['Fecha']>last_date_historico
# ]

In [740]:
resultado_detallado_historico[
    (resultado_detallado_historico['Contexto']=='1111117') &
    (resultado_detallado_historico['Variable']=='ObjetivosCualitativos')
]

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,Nombre,FechaIngreso,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
412,1111117,2024-01-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117,0.15,0,VC,...,Julieth,2023-01-01,0.85,1,318750.0,0,1,0.0,0.0,0.0
1027,1111117,2024-02-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117,0.15,0,VC,...,JULIETH,2023-01-01,0.85,2,637500.0,0,2,0.0,0.0,0.0
1634,1111117,2024-03-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117,0.15,0,VC,...,Julieth,2023-01-01,0.50,3,562500.0,0,3,0.0,0.0,0.0
2470,1111117,2024-04-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117,0.15,0,VC,...,Julieth,2023-01-01,0.50,4,750000.0,0,4,0.0,0.0,0.0

In [741]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Contexto']=='1111117') &
    (maestra_resultados_por_empleado['Variable']=='ObjetivosCualitativos')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
510,510,1111117,2024-01-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,1,187500.0,0,1,1,0.0,0.0,0.0
511,511,1111117,2024-02-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,2,375000.0,0,2,2,0.0,0.0,0.0
512,512,1111117,2024-03-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,3,562500.0,0,3,3,0.0,0.0,0.0
513,513,1111117,2024-04-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,4,750000.0,0,4,4,0.0,0.0,0.0
514,514,1111117,2024-05-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,5,937500.0,0,5,5,0.0,0.0,0.0

In [742]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Fecha']<=fecha_liquidacion)
]

maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Contexto']=='1111117') &
    (maestra_resultados_por_empleado['Variable']=='ObjetivosCualitativos')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
510,510,1111117,2024-01-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,1,187500.0,0,1,1,0.0,0.0,0.0
511,511,1111117,2024-02-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,2,375000.0,0,2,2,0.0,0.0,0.0
512,512,1111117,2024-03-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,3,562500.0,0,3,3,0.0,0.0,0.0
513,513,1111117,2024-04-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,4,750000.0,0,4,4,0.0,0.0,0.0
514,514,1111117,2024-05-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,5,937500.0,0,5,5,0.0,0.0,0.0

In [743]:
if last_date_historico:
    maestra_resultados_por_empleado = maestra_resultados_por_empleado[
        maestra_resultados_por_empleado['Fecha']>last_date_historico
    ]

In [744]:
# last_date_historico = resultado_detallado_historico['Fecha'].max()
# last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    maestra_resultados_por_empleado = maestra_resultados_por_empleado[
        (maestra_resultados_por_empleado['Fecha']<=fecha_liquidacion)
    ]
    if last_date_historico:
        maestra_resultados_por_empleado = maestra_resultados_por_empleado[
            maestra_resultados_por_empleado['Fecha']>last_date_historico
        ]
except:
    raise

In [745]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Contexto']=='1111117') &
    (maestra_resultados_por_empleado['Variable']=='ObjetivosCualitativos')
]

,Unnamed: 0,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
514,514,1111117,2024-05-01,0.8,ObjetivosCualitativos,0.0,0.0,0.0,0.0,0.0,...,2500000.0,0.5,5,937500.0,0,5,5,0.0,0.0,0.0

In [746]:
maestra_resultados_por_empleado = pd.concat([resultado_detallado_historico, maestra_resultados_por_empleado])
maestra_resultados_por_empleado = maestra_resultados_por_empleado.sort_values(by=['CodigoEmpleado', 'Fecha'])
maestra_resultados_por_empleado

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,ResultadoRealMes,PorcentajeCumplimientoMes,Unnamed: 0,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,_merge,NuevoFactorBK
269,1000972927,2024-01-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,1000972927,0.20,0.0,MK,...,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,mk_12_1,2024-01-01,VentaFacturadaUnidadNegocioSub,1.07,9.692130e+09,9.072987e+09,1000972927,0.24,1.0,MK,...,9.692130e+09,1.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,mk_12_2,2024-01-01,VentaFacturadaUnidadNegocioSub,0.86,2.906090e+09,3.364754e+09,1000972927,0.14,2.0,MK,...,2.906090e+09,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,mk_12_3,2024-01-01,VentaFacturadaUnidadNegocioSub,0.58,5.527091e+07,9.500404e+07,1000972927,0.02,3.0,MK,...,5.527091e+07,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
898,1000972927,2024-02-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,1000972927,0.20,0.0,MK,...,0.000000e+00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8948,5041308,2024-05-01,VentaCobradaPortafolioCluster,0.95,4.959825e+09,5.214068e+09,nan,NaN,NaN,NaN,...,1.765378e+09,1.79,147.0,0.0,0.0,0.0,NaN,NaN,left_only,5.0
8953,5041384,2024-05-01,VentaCobradaPortafolioCluster,0.96,2.597681e+09,2.704102e+09,nan,NaN,NaN,NaN,...,4.728069e+08,0.92,152.0,0.0,0.0,0.0,NaN,NaN,left_only,5.0
8958,5041387,2024-05-01,VentaCobradaPortafolioCluster,0.87,2.757288e+09,3.180014e+09,nan,NaN,NaN,NaN,...,7.310749e+08,1.22,157.0,0.0,0.0,0.0,NaN,NaN,left_only,5.0
8963,5043868,2024-05-01,VentaCobradaPortafolioCluster,1.02,4.090969e+09,4.014532e+09,nan,NaN,NaN,NaN,...,1.510337e+09,1.99,162.0,0.0,0.0,0.0,NaN,NaN,left_only,5.0
8968,5043875,2024-05-01,VentaCobradaPortafolioCluster,0.46,7.890719e+08,1.716316e+09,nan,NaN,NaN,NaN,...,1.977482e+08,0.59,167.0,0.0,0.0,0.0,NaN,NaN,left_only,5.0

In [747]:
# maestra_resultados_por_empleado['Variable'].drop_duplicates()

In [748]:
maestra_resultados_por_empleado[
     (maestra_resultados_por_empleado['Fecha']=='2024-05-01') &
    (maestra_resultados_por_empleado['Contexto']=='291169471')
]

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,ResultadoRealMes,PorcentajeCumplimientoMes,Unnamed: 0,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,_merge,NuevoFactorBK
249,291169471,2024-05-01,ObjetivosCualitativos,0.8,0.0,0.0,291169471,0.2,0.0,GD,...,0.0,0.0,249.0,0.0,0.0,0.0,Objetivos cualitativos,NaN,both,1.0

### Maestra Resultados por Empleado Centro Costo vs Resultado Detallado Histórico

In [749]:
maestra_resultados_por_empleado_centro_costo_final['Real'].fillna(0,inplace=True)
maestra_resultados_por_empleado_centro_costo_final['Presupuesto'].fillna(0,inplace=True)
maestra_resultados_por_empleado_centro_costo_final['ResultadoPresupuesto'] = 0
maestra_resultados_por_empleado_centro_costo_final['ResultadoRealMes'] = 0
maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimientoMes'] = 0
maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimientoMes'] = maestra_resultados_por_empleado_centro_costo_final['PorcentajeCumplimientoMes'].astype('float')
maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final.groupby(['CodigoEmpleado', 'Variable', 'Contexto'], group_keys=False).apply(calcular_resultado_mes)

maestra_resultados_por_empleado_centro_costo_final.head()

,Contexto,Fecha,GrupoProducto,Division,CodigoCentroCosto,Real,Presupuesto,Variable,PorcentajeCumplimiento,RealCOP,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
0,5002711_1,2024-01-01,610,HC,323015040,2.838878e+08,2.926409e+08,VentaCobradaZonaPaisSub,0.97,0.0,...,NaN,NaN,1,NaN,0,1,1,2.926409e+08,2.838878e+08,0.97
1,5002711_1,2024-01-01,620,HC,323015045,1.906658e+09,2.109654e+09,VentaCobradaZonaPaisSub,0.90,0.0,...,NaN,NaN,1,NaN,0,1,1,1.817013e+09,1.622770e+09,0.89
2,5002711_1,2024-01-01,630,HC,323015050,1.321169e+09,1.181046e+09,VentaCobradaZonaPaisSub,1.12,0.0,...,NaN,2.5,1,NaN,0,1,1,-9.286073e+08,-5.854891e+08,1.37
3,5002711_1,2024-01-01,640,HC,323015055,0.000000e+00,2.040000e+06,VentaCobradaZonaPaisSub,0.00,0.0,...,NaN,0.0,1,NaN,0,1,1,-1.179006e+09,-1.321169e+09,0.88
4,5002711_1,2024-01-01,680,HC,323015055,2.727908e+08,2.324993e+08,VentaCobradaZonaPaisSub,1.17,0.0,...,NaN,2.5,1,NaN,0,1,1,2.304593e+08,2.727908e+08,1.18

In [750]:
df_resultado_detallado_previo.copy().merge(
    df_area_calculo_sba_centros_costos.rename(columns={'ConsecutivoParrilla':'Consecutivo'}),
    on=['AreaCalculo', 'Consecutivo','TipoEmpleado'],
    how='left'    
)

# Se une el resultadio histórico con el actual, de tal forma que al histórico se le agregan únicamenet 
# los resultados correspondientes al mes que se está liquidando
resultado_detallado_historico = df_resultado_detallado_previo.copy()
last_date_historico = resultado_detallado_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final[
        (maestra_resultados_por_empleado_centro_costo_final['Fecha']<=fecha_liquidacion)
    ]
    if last_date_historico:
        maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final[
            maestra_resultados_por_empleado_centro_costo_final['Fecha']>last_date_historico
        ]
except:
    raise

maestra_resultados_por_empleado_centro_costo_final = pd.concat([resultado_detallado_historico, maestra_resultados_por_empleado_centro_costo_final])
maestra_resultados_por_empleado_centro_costo_final = maestra_resultados_por_empleado_centro_costo_final.sort_values(by=['CodigoEmpleado', 'Fecha'])
maestra_resultados_por_empleado_centro_costo_final

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,PorcentajeCumplimientoMes,GrupoProducto,Division,CodigoCentroCosto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,NuevoFactorBK
2642,mk_12_1,2024-05-01,VentaFacturadaUnidadNegocioSub,1.32,1.286746e+06,9.751253e+05,1000972927,0.24,1.0,MK,...,1.69,610,HC,323015040,5.438393e+09,4.536624e+09,1.198775,Venta Facturada Portafolio a cargo,Medical Care,5.0
2656,mk_12_1,2024-05-01,VentaFacturadaUnidadNegocioSub,1.12,7.548071e+06,6.749920e+06,1000972927,0.24,1.0,MK,...,1.08,620,HC,323015045,3.190170e+10,3.140299e+10,1.015881,Venta Facturada Portafolio a cargo,Medical Care,5.0
2670,mk_12_1,2024-05-01,VentaFacturadaUnidadNegocioSub,1.12,4.401670e+06,3.913573e+06,1000972927,0.24,1.0,MK,...,0.89,630,HC,323015050,1.860353e+10,1.820731e+10,1.021761,Venta Facturada Portafolio a cargo,Medical Care,5.0
2684,mk_12_1,2024-05-01,VentaFacturadaUnidadNegocioSub,0.33,5.150514e+03,1.565703e+04,1000972927,0.24,1.0,MK,...,0.87,640,HC,323015055,2.176849e+07,7.284197e+07,0.298845,Venta Facturada Portafolio a cargo,Medical Care,5.0
2698,mk_12_1,2024-05-01,VentaFacturadaUnidadNegocioSub,1.07,7.942036e+05,7.432677e+05,1000972927,0.24,1.0,MK,...,1.08,680,HC,323015055,3.356678e+09,3.457941e+09,0.970716,Venta Facturada Portafolio a cargo,Medical Care,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11190,79625102_1,2024-05-01,VentaFacturadaPortafolioClusterSub,0.43,5.609398e+08,1.295763e+09,nan,NaN,NaN,NaN,...,0.28,A35,BA,323007330,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,5.0
13567,5004293_1,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,0.91,1.036601e+06,1.136338e+06,nan,NaN,NaN,NaN,...,0.85,630,HC,323015090,4.381161e+09,5.286644e+09,0.828723,NaN,NaN,5.0
13576,5004293_2,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.21,3.337287e+06,2.757745e+06,nan,NaN,NaN,NaN,...,1.17,630,HC,323015090,1.410494e+10,1.283000e+10,1.099372,NaN,NaN,5.0
13577,5004293_2,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.21,3.337287e+06,2.757745e+06,nan,NaN,NaN,NaN,...,0.00,CDK,HC,323015090,1.410494e+10,1.283000e+10,1.099372,NaN,NaN,5.0
13582,5004293_3,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.02,1.278766e+06,1.249608e+06,nan,NaN,NaN,NaN,...,0.86,620,HC,323015090,5.404667e+09,5.813613e+09,0.929657,NaN,NaN,5.0

In [751]:
maestra_resultados_por_empleado_centro_costo_final[maestra_resultados_por_empleado_centro_costo_final['CodigoEmpleado'] == '1098612757']

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,PorcentajeCumplimientoMes,GrupoProducto,Division,CodigoCentroCosto,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,NuevoFactorBK
11214,1098612757_1,2024-05-01,VentaFacturadaBraunPaisSUB,1.07,4.632354e+07,4.341862e+07,1098612757,0.4,1.0,AD1,...,1.06,BBMCO,BBMCO,323004021,0.0,0.0,0.0,VentaFacturadaBraunPaisSUB,BBMCO,5.0

In [752]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'VentaFacturadaGrupoClientesKAMSSub']

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,ResultadoRealMes,PorcentajeCumplimientoMes,Unnamed: 0,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,_merge,NuevoFactorBK
247,kam_3_1,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,1.00,2.336746e+09,2.346066e+09,42897142,0.16,1.0,KAM,...,2.336746e+09,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,kam_3_2,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,0.56,4.942717e+08,8.813119e+08,42897142,0.16,2.0,KAM,...,4.942717e+08,0.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,kam_3_3,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,0.47,1.042911e+08,2.205255e+08,42897142,0.08,3.0,KAM,...,1.042911e+08,0.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1800,kam_3_1,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,0.97,1.788768e+06,1.845593e+06,42897142,0.16,1.0,KAM,...,5.545224e+05,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1801,kam_3_2,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,0.91,6.456084e+05,7.058902e+05,42897142,0.16,2.0,KAM,...,2.537998e+05,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1802,kam_3_3,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,0.62,1.241859e+05,2.011400e+05,42897142,0.08,3.0,KAM,...,3.903037e+04,0.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2628,kam_3_1,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,1.15,2.800257e+06,2.430285e+06,42897142,0.16,1.0,KAM,...,9.998713e+05,1.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2629,kam_3_2,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,0.83,8.201040e+05,9.886802e+05,42897142,0.16,2.0,KAM,...,1.703025e+05,0.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2630,kam_3_3,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,0.63,1.785315e+05,2.853358e+05,42897142,0.08,3.0,KAM,...,5.353912e+04,0.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,kam_3_1,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.11,3.522726e+06,3.179182e+06,42897142,0.16,1.0,KAM,...,7.224695e+05,0.96,19.0,1.488870e+10,1.479067e+10,1.01,VentaFacturadaGrupoClientesKAMSSub,Medical Care,both,5.0
8786,kam_3_2,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,0.81,1.044468e+06,1.291702e+06,42897142,0.16,2.0,KAM,...,2.243638e+05,0.74,24.0,4.414412e+09,6.009451e+09,0.73,VentaFacturadaGrupoClientesKAMSSub,Surgery & Interventions,both,5.0
8791,kam_3_3,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,0.57,2.129818e+05,3.735256e+05,42897142,0.08,3.0,KAM,...,3.445030e+04,0.39,29.0,9.001613e+08,1.737772e+09,0.52,VentaFacturadaGrupoClientesKAMSSub,Patient Care,both,5.0
610,kam_2_1,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,0.95,6.676407e+08,7.058871e+08,5004293,0.06,1.0,KAM,...,6.676407e+08,0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
611,kam_2_2,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,1.35,2.314848e+09,1.713096e+09,5004293,0.10,2.0,KAM,...,2.314848e+09,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,kam_2_3,2024-01-01,VentaFacturadaGrupoClientesKAMSSub,0.76,7.666924e+08,1.011063e+09,5004293,0.04,3.0,KAM,...,7.666924e+08,0.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1910,kam_2_1,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,0.88,5.835736e+05,6.650162e+05,5004293,0.06,1.0,KAM,...,2.582788e+05,0.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911,kam_2_2,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,1.15,1.860953e+06,1.613908e+06,5004293,0.10,2.0,KAM,...,7.375552e+05,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1912,kam_2_3,2024-03-01,VentaFacturadaGrupoClientesKAMSSub,1.01,7.396881e+05,7.334655e+05,5004293,0.04,3.0,KAM,...,2.548875e+05,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2741,kam_2_1,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,0.93,8.059016e+05,8.651667e+05,5004293,0.06,1.0,KAM,...,2.185379e+05,1.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2742,kam_2_2,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,1.22,2.569475e+06,2.099647e+06,5004293,0.10,2.0,KAM,...,6.964350e+05,1.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2743,kam_2_3,2024-04-01,VentaFacturadaGrupoClientesKAMSSub,1.07,1.026682e+06,9.575799e+05,5004293,0.04,3.0,KAM,...,2.821902e+05,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8766,kam_2_1,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,0.91,1.036601e+06,1.136338e+06,5004293,0.06,1.0,KAM,...,2.306990e+05,0.85,4.0,4.381161e+09,5.286644e+09,0.83,VentaFacturadaGrupoClientesKAMSSub,SBA 08 IV Systems & Drainage,both,5.0
8771,kam_2_2,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.21,3.337287e+06,2.757745e+06,5004293,0.10,2.0,KAM,...,7.678121e+05,1.17,9.0,1.410494e+10,1.283000e+10,1.10,VentaFacturadaGrupoClientesKAMSSub,SBA 12 Automated Infusion Systems & Disposables,both,5.0
8776,kam_2_3,2024-05-01,VentaFacturadaGrupoClientesKAMSSub,1.02,1.278766e+06,1.249608e+06,5004293,0.04,3.0,KAM,...,2.520837e+05,0.86,14.0,5.404667e+09,5.813613e+09,0.93,VentaFacturadaGrupoClientesKAMSSub,SBA 36 Ports,both,5.0

In [753]:
maestra_resultados_por_empleado.to_excel('resultados_detallados.xlsx')

In [754]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['CodigoEmpleado'] == '1111117') &
     (maestra_resultados_por_empleado['Variable'] == 'ObjetivosCualitativos')
]

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,ResultadoRealMes,PorcentajeCumplimientoMes,Unnamed: 0,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,_merge,NuevoFactorBK
412,1111117,2024-01-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117,0.15,0.0,VC,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,1111117,2024-02-01,ObjetivosCualitativos,0.94,0.0,0.0,1111117,0.15,0.0,VC,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1634,1111117,2024-03-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117,0.15,0.0,VC,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2470,1111117,2024-04-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117,0.15,0.0,VC,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
514,1111117,2024-05-01,ObjetivosCualitativos,0.80,0.0,0.0,1111117,0.15,0.0,VC,...,0.0,0.0,514.0,0.0,0.0,0.0,Objetivos cualitativos,NaN,both,5.0

In [755]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['TipoEmpleado'] == 'VC') |
    (maestra_resultados_por_empleado['TipoEmpleado'] == 'VE')
]['Variable'].drop_duplicates()

273                      ObjetivosCualitativos
274                      VentaCobradaBraunPais
275     VentaFacturadaPortafolioZonaClusterSub
276          VentaCobradaPortafolioZonaCluster
903                 VentaCobradaPortafolioPais
27               VentaCobradaPortafolioCluster
378                   VentaCobradaBraunCluster
380         VentaFacturadaPortafolioClusterSub
417           VentaFacturadaPortafolioRenalSub
1640               VentaCobradaPortafolioRenal
Name: Variable, dtype: object

In [756]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'RentabilidadUnidadNegocioCM2COGS']

Empty DataFrame
Columns: [Contexto, Fecha, Variable, PorcentajeCumplimiento, Real, Presupuesto, CodigoEmpleado, Porcentaje, Consecutivo, TipoEmpleado, SalarioVariable, AreaCalculo, Apellidos, Nombre, FechaIngreso, FactorIncentivo, FactorMes, Liquidado, DifMonths, NuevoFactor, ResultadoPresupuesto, ResultadoRealMes, PorcentajeCumplimientoMes, Unnamed: 0, RealCOP, PresupuestoCOP, PorcentajeCumplimientoCOP, Nombre variable, Nombre consecutivo, _merge, NuevoFactorBK]
Index: []

[0 rows x 31 columns]

In [757]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['Variable'] == 'VentaFacturadaPortafolioRenalSub')
]

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,ResultadoRealMes,PorcentajeCumplimientoMes,Unnamed: 0,RealCOP,PresupuestoCOP,PorcentajeCumplimientoCOP,Nombre variable,Nombre consecutivo,_merge,NuevoFactorBK
417,1111117_1,2024-01-01,VentaFacturadaPortafolioRenalSub,0.58,5.527091e+07,9.500404e+07,1111117,0.15,1.0,VC,...,5.527091e+07,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639,1111117_1,2024-03-01,VentaFacturadaPortafolioRenalSub,5.42,1.629182e+09,3.008461e+08,1111117,0.15,1.0,VC,...,1.313434e+09,11.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2475,1111117_1,2024-04-01,VentaFacturadaPortafolioRenalSub,4.24,1.746318e+09,4.116842e+08,1111117,0.15,1.0,VC,...,1.171361e+08,1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8276,1111117_1,2024-05-01,VentaFacturadaPortafolioRenalSub,3.37,1.814526e+09,5.383562e+08,1111117,0.15,1.0,VC,...,6.820843e+07,0.54,4.0,0.0,0.0,0.0,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...,both,5.0
718,5032456_1,2024-01-01,VentaFacturadaPortafolioRenalSub,0.58,5.527091e+07,9.500404e+07,5032456,0.15,1.0,VC,...,5.527091e+07,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2034,5032456_1,2024-03-01,VentaFacturadaPortafolioRenalSub,5.42,1.629182e+09,3.008461e+08,5032456,0.15,1.0,VC,...,1.313434e+09,11.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2863,5032456_1,2024-04-01,VentaFacturadaPortafolioRenalSub,4.24,1.746318e+09,4.116842e+08,5032456,0.15,1.0,VC,...,1.171361e+08,1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8281,5032456_1,2024-05-01,VentaFacturadaPortafolioRenalSub,3.37,1.814526e+09,5.383562e+08,5032456,0.15,1.0,VC,...,6.820843e+07,0.54,9.0,0.0,0.0,0.0,VentaFacturadaPortafolioRenalSub,Renal Total Nacional (hospitalio + ambulatorio...,both,5.0

## Se obtienen las liquidaciones

### Creación de resultado_liquidaciones por maestra_resultados_por_empleado

In [758]:
excepciones_pagos_acumulados = {}

excepciones_diferencias = {}

In [759]:
maestra_resultados_por_empleado[
    (maestra_resultados_por_empleado['CodigoEmpleado'] == '52875549') &
    (maestra_resultados_por_empleado['Contexto'] == '52875549') 
#     (maestra_resultados_por_empleado['Fecha'] == '2024-04-01')
][['Contexto', 'CodigoEmpleado', 'SalarioVariable', 'Fecha', 'NuevoFactorBK', 'Liquidado']]

,Contexto,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactorBK,Liquidado
798,52875549,52875549,1000000.0,2024-01-01,NaN,170000.0
1361,52875549,52875549,1000000.0,2024-02-01,NaN,340000.0
2133,52875549,52875549,1000000.0,2024-03-01,NaN,300000.0
2964,52875549,52875549,1000000.0,2024-04-01,NaN,400000.0
529,52875549,52875549,1000000.0,2024-05-01,5.0,500000.0

In [760]:
df_incentivos_por_empleado[df_incentivos_por_empleado['CodigoEmpleado'] == '16659046']

    CodigoEmpleado      Fecha      Valor
260       16659046 2024-01-01   856000.0
261       16659046 2024-02-01   856000.0
262       16659046 2024-03-01  8560000.0
263       16659046 2024-04-01  8838500.0
264       16659046 2024-05-01        0.0

In [761]:
df_incentivos_por_empleado[df_incentivos_por_empleado['CodigoEmpleado'] == '52875549']

    CodigoEmpleado      Fecha      Valor
540       52875549 2024-01-01   500000.0
541       52875549 2024-02-01   500000.0
542       52875549 2024-03-01  5000000.0
543       52875549 2024-04-01  3400000.0
544       52875549 2024-05-01        0.0

In [762]:
df_incentivos_por_empleado[df_incentivos_por_empleado['CodigoEmpleado'] == '1111135']

    CodigoEmpleado      Fecha      Valor
235        1111135 2024-01-01        0.0
236        1111135 2024-02-01  1250000.0
237        1111135 2024-03-01  4361250.0
238        1111135 2024-04-01  3292500.0
239        1111135 2024-05-01        0.0

In [766]:
resultado_liquidaciones = maestra_resultados_por_empleado.groupby(
    ['CodigoEmpleado', 'SalarioVariable', 'Fecha', 'NuevoFactorBK'],
    as_index=False
).Liquidado.agg({'Liquidado': 'sum'})
resultado_liquidaciones.rename(columns={'NuevoFactorBK': 'NuevoFactor'}, inplace=True)
resultado_liquidaciones.head()
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_incentivos_por_empleado.rename(columns={'Valor': 'PagoReal'}),
    on = ['CodigoEmpleado', 'Fecha'],
    how = 'right'
)
resultado_liquidaciones.head()

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal
0,1000972927,NaN,2024-01-01,NaN,NaN,150000.0
1,1000972927,NaN,2024-02-01,NaN,NaN,150000.0
2,1000972927,NaN,2024-03-01,NaN,NaN,1218750.0
3,1000972927,NaN,2024-04-01,NaN,NaN,1259860.0
4,1000972927,388000.0,2024-05-01,5.0,3498790.0,0.0

In [765]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '79539822']

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal
595,79539822,NaN,2024-01-01,NaN,NaN,1.500000e+06
596,79539822,NaN,2024-02-01,NaN,NaN,1.500000e+06
597,79539822,NaN,2024-03-01,NaN,NaN,6.485986e+06
598,79539822,NaN,2024-04-01,NaN,NaN,1.454642e+07
599,79539822,3114000.0,2024-05-01,5.0,1.650418e+07,0.000000e+00

In [606]:
resultado_liquidaciones[
    (resultado_liquidaciones['CodigoEmpleado'] == '16659046')
]

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal
260,16659046,NaN,2024-01-01,NaN,NaN,856000.0
261,16659046,NaN,2024-02-01,NaN,NaN,856000.0
262,16659046,NaN,2024-03-01,NaN,NaN,8560000.0
263,16659046,NaN,2024-04-01,NaN,NaN,8838500.0
264,16659046,2286800.0,2024-05-01,5.0,24011400.0,0.0

In [607]:
resultado_liquidaciones[
    (resultado_liquidaciones['CodigoEmpleado'] == '1111135')
]

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal
235,1111135,NaN,2024-01-01,NaN,NaN,0.0
236,1111135,NaN,2024-02-01,NaN,NaN,1250000.0
237,1111135,NaN,2024-03-01,NaN,NaN,4361250.0
238,1111135,NaN,2024-04-01,NaN,NaN,3292500.0
239,1111135,2500000.0,2024-05-01,4.0,11450000.0,0.0

In [608]:
resultado_liquidaciones = pd.merge(
    left=resultado_liquidaciones,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']].drop_duplicates(['CodigoEmpleado']),
    how='left',
    on=['CodigoEmpleado']
)
resultado_liquidaciones = resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= resultado_liquidaciones['FechaIngreso']]
resultado_liquidaciones.drop(columns=['FechaIngreso'], inplace=True)
resultado_liquidaciones.head()

# Cálculo de garantizado (100%) para VEs y VCs, Anticipos (85%) para el resto de empleados
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado']],
    on='CodigoEmpleado',
    how='left'
)

# def calcular_liquidacion_mes(g):
#     pago_acumulado = 0
#     for i, row in g.iterrows():
#         print("mes actual:", row['Fecha'].month)
#         if row['Fecha'].month in meses_incentivos:
#             print("Pago Real", g.at[i, 'PagoReal'])
#             if g.at[i, 'PagoReal'] == 0:
#                 print("Pago Real es 0", g.at[i, 'PagoReal'])
#                 if i == 0:
#                     print("i es igual a 0")
#                     g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
#                 else:
#                     print("i no es igual a 0")
#                     g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
#                 print("Pago Real actualizado", g.at[i, 'PagoReal'])
#             if g.at[i, 'PagoReal'] < 0:
#                 g.at[i, 'PagoReal'] = 0.0
#         print("pago_acumuladol_antes:", pago_acumulado)
#         pago_acumulado += g.at[i, 'PagoReal']
#         print("pago_acumuladol_después:", pago_acumulado)
        
#         excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
#         if excepcion and row['Fecha'] == excepcion['Fecha']:
#             pago_acumulado = excepcion['ValorPagoAcumulado']
        
#         excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
#         if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
#             pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        
#     return g
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])
resultado_liquidaciones.reset_index(inplace=True, drop=True)
resultado_liquidaciones['PagoReal'].fillna(0.0, inplace=True)
resultado_liquidaciones['Liquidado'].fillna(0.0, inplace=True)
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal,TipoEmpleado
0,1000972927,NaN,2024-01-01,NaN,0.00,150000.000,MK
1,1000972927,NaN,2024-02-01,NaN,0.00,150000.000,MK
2,1000972927,NaN,2024-03-01,NaN,0.00,1218750.000,MK
3,1000972927,NaN,2024-04-01,NaN,0.00,1259860.000,MK
4,1000972927,388000.0,2024-05-01,5.0,3498790.00,0.000,MK
...,...,...,...,...,...,...,...
651,94487610,NaN,2024-01-01,NaN,0.00,1000000.000,VE
652,94487610,NaN,2024-02-01,NaN,0.00,1000000.000,VE
653,94487610,NaN,2024-03-01,NaN,0.00,2878000.000,VE
654,94487610,NaN,2024-04-01,NaN,0.00,5369695.625,VE
655,94487610,2154000.0,2024-05-01,5.0,9793968.75,0.000,VE

In [609]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal,TipoEmpleado
251,16659046,NaN,2024-01-01,NaN,0.0,856000.0,AD
252,16659046,NaN,2024-02-01,NaN,0.0,856000.0,AD
253,16659046,NaN,2024-03-01,NaN,0.0,8560000.0,AD
254,16659046,NaN,2024-04-01,NaN,0.0,8838500.0,AD
255,16659046,2286800.0,2024-05-01,5.0,24011400.0,0.0,AD

In [610]:
resultado_liquidaciones[
    (resultado_liquidaciones['CodigoEmpleado'] == '291169471')
]

,CodigoEmpleado,SalarioVariable,Fecha,NuevoFactor,Liquidado,PagoReal,TipoEmpleado
261,291169471,6000000.0,2024-05-01,1.0,10170000.0,0.0,GD

In [611]:
# resultado_liquidaciones_copy = resultado_liquidaciones[
#     (resultado_liquidaciones['CodigoEmpleado'] == '16659046')
# ].groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
# resultado_liquidaciones_copy[resultado_liquidaciones_copy['CodigoEmpleado'] == '16659046']

In [612]:
# resultado_liquidaciones_copy = resultado_liquidaciones[
#     (resultado_liquidaciones['CodigoEmpleado'] == '1111135') &  (resultado_liquidaciones['PagoGarantizado'] == 'NO')
# ].groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
# resultado_liquidaciones_copy[resultado_liquidaciones_copy['CodigoEmpleado'] == '1111135']

In [613]:
# resultado_liquidaciones = resultado_liquidaciones.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
resultado_liquidaciones.rename(columns={'NuevoFactor': 'FactorMes'}, inplace=True)
resultado_liquidaciones['PagoGarantizado'] = 'NO'

resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['VE', 'VC']))
    ),
    resultado_liquidaciones['SalarioVariable'],
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['AD', 'AD1', 'AD2', 'AD3', 'AD4', 'AD5', 'GC', 'GD', 'GU', 'KAM', 'MK']))
    ),
    resultado_liquidaciones['SalarioVariable'] * 0.85,
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones.drop(columns=['TipoEmpleado'], inplace=True)

resultado_liquidaciones.head(12)

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
0,1000972927,NaN,2024-01-01,NaN,0.0,150000.0,NO
1,1000972927,NaN,2024-02-01,NaN,0.0,150000.0,NO
2,1000972927,NaN,2024-03-01,NaN,0.0,1218750.0,NO
3,1000972927,NaN,2024-04-01,NaN,0.0,1259860.0,NO
4,1000972927,388000.0,2024-05-01,5.0,3498790.0,0.0,NO
5,1010166177,NaN,2024-01-01,NaN,0.0,1250000.0,NO
6,1010166177,NaN,2024-02-01,NaN,0.0,1250000.0,NO
7,1010166177,NaN,2024-03-01,NaN,0.0,11187500.0,NO
8,1010166177,NaN,2024-04-01,NaN,0.0,1587500.0,NO
9,1010166177,2500000.0,2024-05-01,5.0,16343750.0,0.0,NO
10,1010227511,NaN,2024-01-01,NaN,0.0,150000.0,NO
11,1010227511,NaN,2024-02-01,NaN,0.0,150000.0,NO

In [614]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
251,16659046,NaN,2024-01-01,NaN,0.0,856000.0,NO
252,16659046,NaN,2024-02-01,NaN,0.0,856000.0,NO
253,16659046,NaN,2024-03-01,NaN,0.0,8560000.0,NO
254,16659046,NaN,2024-04-01,NaN,0.0,8838500.0,NO
255,16659046,2286800.0,2024-05-01,5.0,24011400.0,0.0,NO

In [615]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '1111135']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
227,1111135,NaN,2024-02-01,NaN,0.0,1250000.0,NO
228,1111135,NaN,2024-03-01,NaN,0.0,4361250.0,NO
229,1111135,NaN,2024-04-01,NaN,0.0,3292500.0,NO
230,1111135,2500000.0,2024-05-01,4.0,11450000.0,0.0,NO

### Creación de resultado_liquidaciones por maestra_resultados_por_empleado_centro_costo

In [616]:
# resultado_liquidaciones_centro_costo = maestra_resultados_por_empleado_centro_costo_final.groupby(
#     ['CodigoEmpleado', 'CodigoCentroCosto','SalarioVariable', 'Fecha', 'NuevoFactorBK'],
#     as_index=False
# ).Liquidado.agg({'Liquidado': 'sum'})
# resultado_liquidaciones_centro_costo.rename(columns={'NuevoFactorBK': 'NuevoFactor'}, inplace=True)
# resultado_liquidaciones_centro_costo.head()
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo.merge(
#     df_incentivos_por_empleado.rename(columns={'Valor': 'PagoReal'}),
#     on = ['CodigoEmpleado', 'Fecha'],
#     how = 'right'
# )

# resultado_liquidaciones_centro_costo = pd.merge(
#     left=resultado_liquidaciones_centro_costo,
#     right=df_empleados[['CodigoEmpleado', 'FechaIngreso']].drop_duplicates(['CodigoEmpleado']),
#     how='left',
#     on=['CodigoEmpleado']
# )

# resultado_liquidaciones_centro_costo.head()

In [617]:
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo[resultado_liquidaciones_centro_costo['Fecha'] >= resultado_liquidaciones_centro_costo['FechaIngreso']]
# resultado_liquidaciones_centro_costo.drop(columns=['FechaIngreso'], inplace=True)
# resultado_liquidaciones_centro_costo.head()

# # Cálculo de garantizado (100%) para VEs y VCs, Anticipos (85%) para el resto de empleados
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo.merge(
#     df_empleados[['CodigoEmpleado', 'TipoEmpleado']],
#     on='CodigoEmpleado',
#     how='left'
# )

# def calcular_liquidacion_mes(g):
#     pago_acumulado = 0
#     for i, row in g.iterrows():
#         if row['Fecha'].month in meses_incentivos:
#             if g.at[i, 'PagoReal'] == 0:
#                 if i == 0:
#                     g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
#                 else:
#                     g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
            
#             if g.at[i, 'PagoReal'] < 0:
#                 g.at[i, 'PagoReal'] = 0.0
#         pago_acumulado += g.at[i, 'PagoReal']
        
#         excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
#         if excepcion and row['Fecha'] == excepcion['Fecha']:
#             pago_acumulado = excepcion['ValorPagoAcumulado']
        
#         excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
#         if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
#             pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        
#     return g
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo.sort_values(by=['CodigoEmpleado', 'Fecha'])
# resultado_liquidaciones_centro_costo.reset_index(inplace=True, drop=True)
# resultado_liquidaciones_centro_costo[a'PagoReal'].fillna(0.0, inplace=True)
# resultado_liquidaciones_centro_costo['Liquidado'].fillna(0.0, inplace=True)
# resultado_liquidaciones_centro_costo['PagoGarantizado'] = 'NO'
# resultado_liquidaciones_centro_costo

In [618]:
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
# resultado_liquidaciones_centro_costo.rename(columns={'NuevoFactor': 'FactorMes'}, inplace=True)
# resultado_liquidaciones_centro_costo['PagoGarantizado'] = 'NO'

# resultado_liquidaciones_centro_costo['PagoReal'] = np.where(
#     (
#         (resultado_liquidaciones_centro_costo['Fecha'] >= '2022-01-01') &
#         (resultado_liquidaciones_centro_costo['Fecha'] <= '2022-02-01') &
#         (resultado_liquidaciones_centro_costo['TipoEmpleado'].isin(['VE', 'VC']))
#     ),
#     resultado_liquidaciones_centro_costo['SalarioVariable'],
#     resultado_liquidaciones_centro_costo['PagoReal']
# )
# resultado_liquidaciones_centro_costo['PagoReal'] = np.where(
#     (
#         (resultado_liquidaciones_centro_costo['Fecha'] >= '2022-01-01') &
#         (resultado_liquidaciones_centro_costo['Fecha'] <= '2022-02-01') &
#         (resultado_liquidaciones_centro_costo['TipoEmpleado'].isin(['AD', 'AD1', 'AD2', 'AD3', 'AD4', 'AD5', 'GC', 'GD', 'GU', 'KAM', 'MK']))
#     ),
#     resultado_liquidaciones_centro_costo['SalarioVariable'] * 0.85,
#     resultado_liquidaciones_centro_costo['PagoReal']
# )
# resultado_liquidaciones_centro_costo.drop(columns=['TipoEmpleado'], inplace=True)

# resultado_liquidaciones_centro_costo.head(12)

## Se obtienen los garantizados

### Sin centro de costo

In [619]:
empleados_garantizado = df_empleados[df_empleados['FechaIngreso'] > fecha_liquidacion][['CodigoEmpleado', 'SalarioVariable', 'FechaIngreso']]
fechas_resultado_liquidaciones = resultado_liquidaciones[['Fecha']].drop_duplicates()

empleados_garantizado['Key'] = 1
fechas_resultado_liquidaciones['Key'] = 1

liquidaciones_garantizados = pd.merge(
    left=fechas_resultado_liquidaciones.sort_values(['Fecha']),
    right=empleados_garantizado,
    how='outer',
    on=['Key']
).drop(columns=['Key'])

liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'].notnull()]

liquidaciones_garantizados['DifMonths'] = ((liquidaciones_garantizados.FechaIngreso - liquidaciones_garantizados.Fecha)/np.timedelta64(1, 'M'))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].apply(lambda x: round(x, 0))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].astype('int')
liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['DifMonths'] <= 4]

liquidaciones_garantizados['FactorMes'] = 0
liquidaciones_garantizados['Liquidado'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoReal'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoGarantizado'] = 'SI'

liquidaciones_garantizados.drop(columns=['DifMonths', 'FechaIngreso'], inplace=True)

liquidaciones_garantizados.head()

,Fecha,CodigoEmpleado,SalarioVariable,FactorMes,Liquidado,PagoReal,PagoGarantizado
4,2024-02-01,1015432392,500000.0,0,500000.0,500000.0,SI
5,2024-02-01,797582501,2000000.0,0,2000000.0,2000000.0,SI
8,2024-03-01,1015432392,500000.0,0,500000.0,500000.0,SI
9,2024-03-01,797582501,2000000.0,0,2000000.0,2000000.0,SI
10,2024-03-01,80037193,600000.0,0,600000.0,600000.0,SI

In [620]:
liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'] == '16659046']

Empty DataFrame
Columns: [Fecha, CodigoEmpleado, SalarioVariable, FactorMes, Liquidado, PagoReal, PagoGarantizado]
Index: []

In [621]:
liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'] == '1111135']

Empty DataFrame
Columns: [Fecha, CodigoEmpleado, SalarioVariable, FactorMes, Liquidado, PagoReal, PagoGarantizado]
Index: []

### Con centro de costo

In [622]:
# empleados_garantizado = df_empleados[df_empleados['FechaIngreso'] > fecha_liquidacion][['CodigoEmpleado', 'SalarioVariable', 'FechaIngreso']]
# fechas_resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo[['Fecha']].drop_duplicates()

# empleados_garantizado['Key'] = 1
# fechas_resultado_liquidaciones_centro_costo['Key'] = 1

# liquidaciones_garantizados_centro_costo = pd.merge(
#     left=fechas_resultado_liquidaciones_centro_costo.sort_values(['Fecha']),
#     right=empleados_garantizado,
#     how='outer',
#     on=['Key']
# ).drop(columns=['Key'])

# liquidaciones_garantizados_centro_costo = liquidaciones_garantizados_centro_costo[liquidaciones_garantizados_centro_costo['CodigoEmpleado'].notnull()]

# liquidaciones_garantizados_centro_costo['DifMonths'] = ((liquidaciones_garantizados_centro_costo.FechaIngreso - liquidaciones_garantizados_centro_costo.Fecha)/np.timedelta64(1, 'M'))
# liquidaciones_garantizados_centro_costo['DifMonths'] = liquidaciones_garantizados_centro_costo['DifMonths'].apply(lambda x: round(x, 0))
# liquidaciones_garantizados_centro_costo['DifMonths'] = liquidaciones_garantizados_centro_costo['DifMonths'].astype('int')
# liquidaciones_garantizados_centro_costo = liquidaciones_garantizados_centro_costo[liquidaciones_garantizados_centro_costo['DifMonths'] <= 4]

# liquidaciones_garantizados_centro_costo['FactorMes'] = 0
# liquidaciones_garantizados_centro_costo['Liquidado'] = liquidaciones_garantizados_centro_costo['SalarioVariable']
# liquidaciones_garantizados_centro_costo['PagoReal'] = liquidaciones_garantizados_centro_costo['SalarioVariable']
# liquidaciones_garantizados_centro_costo['PagoGarantizado'] = 'SI'

# liquidaciones_garantizados_centro_costo.drop(columns=['DifMonths', 'FechaIngreso'], inplace=True)

# liquidaciones_garantizados_centro_costo.head()

## Se unen las liquidaciones de garantizados con las demás

### Sin centro de costo

In [623]:
resultado_liquidaciones = pd.concat([resultado_liquidaciones, liquidaciones_garantizados])
resultado_liquidaciones.reset_index(drop=True, inplace=True)
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
0,1000972927,NaN,2024-01-01,NaN,0.0,150000.0,NO
1,1000972927,NaN,2024-02-01,NaN,0.0,150000.0,NO
2,1000972927,NaN,2024-03-01,NaN,0.0,1218750.0,NO
3,1000972927,NaN,2024-04-01,NaN,0.0,1259860.0,NO
4,1000972927,388000.0,2024-05-01,5.0,3498790.0,0.0,NO
...,...,...,...,...,...,...,...
665,1019140853,1000000.0,2024-04-01,0.0,1000000.0,1000000.0,SI
666,1015432392,500000.0,2024-05-01,0.0,500000.0,500000.0,SI
667,797582501,2000000.0,2024-05-01,0.0,2000000.0,2000000.0,SI
668,80037193,600000.0,2024-05-01,0.0,600000.0,600000.0,SI
669,1019140853,1000000.0,2024-05-01,0.0,1000000.0,1000000.0,SI

In [624]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '1111135']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
227,1111135,NaN,2024-02-01,NaN,0.0,1250000.0,NO
228,1111135,NaN,2024-03-01,NaN,0.0,4361250.0,NO
229,1111135,NaN,2024-04-01,NaN,0.0,3292500.0,NO
230,1111135,2500000.0,2024-05-01,4.0,11450000.0,0.0,NO

In [625]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
251,16659046,NaN,2024-01-01,NaN,0.0,856000.0,NO
252,16659046,NaN,2024-02-01,NaN,0.0,856000.0,NO
253,16659046,NaN,2024-03-01,NaN,0.0,8560000.0,NO
254,16659046,NaN,2024-04-01,NaN,0.0,8838500.0,NO
255,16659046,2286800.0,2024-05-01,5.0,24011400.0,0.0,NO

### Con centro de costo

In [626]:
# resultado_liquidaciones_centro_costo = pd.concat([resultado_liquidaciones_centro_costo, liquidaciones_garantizados_centro_costo])
# resultado_liquidaciones_centro_costo.reset_index(drop=True, inplace=True)
# resultado_liquidaciones_centro_costo

## Se conserva la información del histórico y se le añade la nueva información hasta la fecha de liquidación

### Sin centro de costo

In [627]:
df_resultado_liquidaciones_previo[df_resultado_liquidaciones_previo['CodigoEmpleado'] == '1111135']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal
81,1111135,2500000.0,2024-01-01,0,SI,2500000.0,2500000.0
362,1111135,2500000.0,2024-03-01,2,NO,5611250.0,4361250.0
501,1111135,2500000.0,2024-04-01,3,NO,7653750.0,3292500.0

In [628]:
df_resultado_liquidaciones_previo[df_resultado_liquidaciones_previo['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal
5,16659046,1712000.0,2024-01-01,1,NO,291040.0,856000.0
138,16659046,1712000.0,2024-02-01,2,NO,1712000.0,856000.0
281,16659046,1712000.0,2024-03-01,3,NO,10272000.0,8560000.0
422,16659046,1712000.0,2024-04-01,4,NO,17398500.0,7126500.0

In [629]:
meses_incentivos

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [630]:
def calcular_liquidacion_mes(g):
    pago_acumulado = 0
    suma_anticipos = 0
    for i, row in g.iterrows():
#         print(row)
#         print(f"Liquidado: {row['Liquidado']} PagoReal: {row['PagoReal']} PagadoFecha:{row['PagadoFecha']}")
#         print("mes actual:", row['Fecha'].month)
        if row['Fecha'].month in meses_incentivos:
#             print("Pago Real", g.at[i, 'PagoReal'])
            if g.at[i, 'PagoReal'] == 0:
#                 print("Pago Real es 0", g.at[i, 'PagoReal'])
                if i == 0:
#                     print("i es igual a 0")
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
#                     print(f"Pago Real {g.at[i, 'PagoReal']} igual a liquidado = {g.at[i, 'Liquidado']}")
                else:
#                     print("i no es igual a 0")
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
#                     print(f"Pago Real {g.at[i, 'PagoReal']} igual a liquidado = {g.at[i, 'Liquidado']} - pago acumulado {pago_acumulado}")
#                 print("Pago Real actualizado", g.at[i, 'PagoReal'])
            if g.at[i, 'PagoReal'] < 0:
                g.at[i, 'PagoReal'] = 0.0
                
#         print(row['Fecha'].month, type(row['Fecha'].month), g.at[i, 'PagoReal'])
        if row['Fecha'].month not in meses_incentivos:
            if g.at[i, 'PagoGarantizado'] == "NO":
#                 print("Pago Real", g.at[i, 'PagoReal'])
                suma_anticipos += g.at[i, 'PagoReal']
        
        if row['Fecha'].month == 4:
#             print("Abril", suma_anticipos)
            g.at[i, 'PagoReal'] = suma_anticipos + g.at[i, 'PagoReal']
        
#         print("pago_acumuladol_antes:", pago_acumulado)
        pago_acumulado += g.at[i, 'PagoReal']
#         print("pago_acumuladol_después:", pago_acumulado)
        
        g.at[i, 'PagadoFecha'] = pago_acumulado
        
        excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
        if excepcion and row['Fecha'] == excepcion['Fecha']:
            pago_acumulado = excepcion['ValorPagoAcumulado']
        
        excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
        if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
            pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
#         print("----+++++++++++++++++++++++++++++-----")
    return g

In [631]:
def calcular_liquidacion_mes_corregido(g):
    pago_acumulado = 0
    suma_anticipos = 0
    cont = 0
    for i, row in g.iterrows():
#         print(row)
#         print("mes actual:", row['Fecha'].month)
#         print("Garantizado:", g.at[i, 'PagoGarantizado'])
        if row['Fecha'].month in meses_incentivos:
#             print("Pago Real", g.at[i, 'PagoReal'])
            if g.at[i, 'PagoReal'] == 0:
#                 print("Pago Real es 0", g.at[i, 'PagoReal'])
#                 print("i es igual a ", i)
                if i == 0:
#                     print("i es igual a 0", i)
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
                else:
#                     print("i no es igual a 0")
#                     print(f"Pago Real {g.at[i, 'PagoReal']} igual a liquidado = {g.at[i, 'Liquidado']} - pago acumulado {pago_acumulado}")
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
#                 print("Pago Real actualizado", g.at[i, 'PagoReal'])
            if g.at[i, 'PagoReal'] < 0:
                g.at[i, 'PagoReal'] = 0.0
                    
        if row['Fecha'].month not in meses_incentivos:
            if g.at[i, 'PagoGarantizado'] == "NO":
#                 print("Pago Real", g.at[i, 'PagoReal'])
                suma_anticipos += g.at[i, 'PagoReal']

        if row['Fecha'].month == 4:
#             print("Abril", suma_anticipos)
            g.at[i, 'PagoReal'] = suma_anticipos + g.at[i, 'PagoReal']
            
#         print("pago_acumuladol_antes:", pago_acumulado)
        
        if g.at[i, 'PagoGarantizado'] == "NO":
            pago_acumulado += g.at[i, 'PagoReal']
            
#         print("pago_acumuladol_después:", pago_acumulado)
        
        g.at[i, 'PagadoFecha'] = pago_acumulado
        excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
        if excepcion and row['Fecha'] == excepcion['Fecha']:
            pago_acumulado = excepcion['ValorPagoAcumulado']
        
        excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
        if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
            pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        cont += 1
#         print("----+++++++++++++++++++++++++++++-----")
    return g

In [632]:
resultado_liquidaciones_copy = resultado_liquidaciones.copy()
resultado_liquidaciones = resultado_liquidaciones_copy
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
0,1000972927,NaN,2024-01-01,NaN,0.0,150000.0,NO
1,1000972927,NaN,2024-02-01,NaN,0.0,150000.0,NO
2,1000972927,NaN,2024-03-01,NaN,0.0,1218750.0,NO
3,1000972927,NaN,2024-04-01,NaN,0.0,1259860.0,NO
4,1000972927,388000.0,2024-05-01,5.0,3498790.0,0.0,NO
...,...,...,...,...,...,...,...
665,1019140853,1000000.0,2024-04-01,0.0,1000000.0,1000000.0,SI
666,1015432392,500000.0,2024-05-01,0.0,500000.0,500000.0,SI
667,797582501,2000000.0,2024-05-01,0.0,2000000.0,2000000.0,SI
668,80037193,600000.0,2024-05-01,0.0,600000.0,600000.0,SI
669,1019140853,1000000.0,2024-05-01,0.0,1000000.0,1000000.0,SI

In [633]:
resultado_liquidaciones_historico = df_resultado_liquidaciones_previo.copy()
resultado_liquidaciones_historico['PagoGarantizado'] = resultado_liquidaciones_historico['PagoGarantizado'].fillna('NO')
last_date_historico = resultado_liquidaciones_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    resultado_liquidaciones = resultado_liquidaciones[
        resultado_liquidaciones['Fecha']<=fecha_liquidacion
    ]
    if last_date_historico:
        resultado_liquidaciones = resultado_liquidaciones[
            resultado_liquidaciones['Fecha']>last_date_historico
        ]
except:
    pass

resultado_liquidaciones = pd.concat([resultado_liquidaciones_historico, resultado_liquidaciones])
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])

for codigo_empleado_excepcion in excepciones_pagos_acumulados:
    excepcion = excepciones_pagos_acumulados[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] <= excepcion['Fecha'])
        ),
        excepcion['ValorPagoAcumulado'],
        resultado_liquidaciones['PagoReal']
    )

for codigo_empleado_excepcion in excepciones_diferencias:
    excepcion = excepciones_diferencias[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] == excepcion['Fecha'])
        ),
        resultado_liquidaciones['PagoReal'] + excepcion['ValorDiferencia'],
        resultado_liquidaciones['PagoReal']
    )
    
resultado_liquidaciones['PagadoFecha'] = 0

resultado_liquidaciones = resultado_liquidaciones.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes_corregido)
resultado_liquidaciones.head()

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
51,1000972927,300000.0,2024-01-01,1.0,NO,200700.0,150000.0,150000.0
186,1000972927,300000.0,2024-02-01,2.0,NO,300000.0,150000.0,300000.0
330,1000972927,300000.0,2024-03-01,3.0,NO,1518750.0,1218750.0,1518750.0
471,1000972927,300000.0,2024-04-01,4.0,NO,2478610.0,1259860.0,2778610.0
4,1000972927,388000.0,2024-05-01,5.0,NO,3498790.0,720180.0,3498790.0

In [634]:
resultado_liquidaciones[
#     (resultado_liquidaciones['CodigoEmpleado'] == '16659046') | 
#     (resultado_liquidaciones['CodigoEmpleado'] == '1111135') |
    (resultado_liquidaciones['CodigoEmpleado'] == '80037193')
]

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
284,80037193,600000.0,2024-03-01,0.0,SI,600000.0,600000.0,0.0
425,80037193,600000.0,2024-04-01,0.0,SI,600000.0,600000.0,0.0
668,80037193,600000.0,2024-05-01,0.0,SI,600000.0,600000.0,0.0

In [635]:
resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones.apply(
    lambda row: row['PagadoFecha'] - row['PagoReal'] if row['PagoGarantizado'] == 'NO' else row['PagadoFecha'], axis=1
)

In [636]:
resultado_liquidaciones[
#     (resultado_liquidaciones['CodigoEmpleado'] == '16659046') | 
#     (resultado_liquidaciones['CodigoEmpleado'] == '1111135') |
#     (resultado_liquidaciones['CodigoEmpleado'] == '1018451704') |
    (resultado_liquidaciones['CodigoEmpleado'] == '80037193')
]

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
284,80037193,600000.0,2024-03-01,0.0,SI,600000.0,600000.0,0.0
425,80037193,600000.0,2024-04-01,0.0,SI,600000.0,600000.0,0.0
668,80037193,600000.0,2024-05-01,0.0,SI,600000.0,600000.0,0.0

In [637]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
5,16659046,1712000.0,2024-01-01,1.0,NO,291040.0,856000.0,0.0
138,16659046,1712000.0,2024-02-01,2.0,NO,1712000.0,856000.0,856000.0
281,16659046,1712000.0,2024-03-01,3.0,NO,10272000.0,8560000.0,1712000.0
422,16659046,1712000.0,2024-04-01,4.0,NO,17398500.0,8838500.0,10272000.0
255,16659046,2286800.0,2024-05-01,5.0,NO,24011400.0,4900900.0,19110500.0

In [638]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '1018451704']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
1,1018451704,1000000.0,2024-01-01,0.0,SI,1000000.0,1000000.0,0.0
276,1018451704,1000000.0,2024-03-01,0.0,SI,1000000.0,1000000.0,0.0
417,1018451704,1000000.0,2024-04-01,0.0,SI,1000000.0,1000000.0,0.0
60,1018451704,1000000.0,2024-05-01,1.0,NO,2100000.0,2100000.0,0.0

In [639]:
resultado_liquidaciones.drop_duplicates(['CodigoEmpleado', 'Fecha'], inplace=True)

resultado_final = pd.merge(
    left=resultado_liquidaciones[['CodigoEmpleado', 'Fecha', 'PagoGarantizado', 'Liquidado', 'PagoReal', 'PagadoFecha', 'FactorMes']],
    right=df_empleados,
    on=['CodigoEmpleado'],
    how='left'
)
resultado_final = resultado_final[['Identificacion', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Fecha', 'SalarioVariable', 'PagoGarantizado', 'FactorMes', 'Liquidado', 'PagoReal', 'PagadoFecha']]
resultado_final = resultado_final.sort_values(by=['TipoEmpleado', 'AreaCalculo', 'CodigoEmpleado', 'Fecha'])

resultado_final.rename(columns={
    'Identificacion': 'Cédula',
    'CodigoEmpleado': 'Código',
    'TipoEmpleado': 'Tipo Empleado',
    'AreaCalculo': 'Área de cálculo',
    'Liquidado': 'Valor liquidado',
    'PagoReal': 'Valor neto a pagar',
    'PagadoFecha': 'Pagado a la fecha',
    'SalarioVariable': 'Salario variable',
    'FactorMes': 'Factor mes',
    'PagoGarantizado': '¿Pago garantizado?'
}, inplace=True)
resultado_final.head()

,Cédula,Nombre,Apellidos,Código,Tipo Empleado,Área de cálculo,Fecha,Salario variable,¿Pago garantizado?,Factor mes,Valor liquidado,Valor neto a pagar,Pagado a la fecha
515,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2024-01-01,3392000.0,NO,1.0,576640.0,1696000.0,0.0
516,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2024-02-01,3392000.0,NO,2.0,3392000.0,1696000.0,1696000.0
517,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2024-03-01,3392000.0,NO,3.0,20352000.0,16960000.0,3392000.0
518,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2024-04-01,3392000.0,NO,4.0,34198500.0,17238500.0,20352000.0
519,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2024-05-01,3392000.0,NO,5.0,47027400.0,9436900.0,37590500.0

### Con centro de costo

In [640]:
# resultado_liquidaciones_historico_centro_costo = df_resultado_liquidaciones_previo.copy()
# resultado_liquidaciones_historico_centro_costo['PagoGarantizado'] = resultado_liquidaciones_historico_centro_costo['PagoGarantizado'].fillna('NO')
# last_date_historico = resultado_liquidaciones_historico_centro_costo['Fecha'].max()
# last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

# try:
#     resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo[
#         resultado_liquidaciones['Fecha']<=fecha_liquidacion
#     ]
#     if last_date_historico:
#         resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo[
#             resultado_liquidaciones_centro_costo['Fecha']>last_date_historico
#         ]
# except:
#     pass

# resultado_liquidaciones_centro_costo = pd.concat([resultado_liquidaciones_historico_centro_costo, resultado_liquidaciones_centro_costo])
# resultado_liquidaciones_centro_costo = resultado_liquidaciones_centro_costo.sort_values(by=['CodigoEmpleado', 'Fecha'])

# for codigo_empleado_excepcion in excepciones_pagos_acumulados:
#     excepcion = excepciones_pagos_acumulados[codigo_empleado_excepcion]
#     resultado_liquidaciones_centro_costo['PagoReal'] = np.where(
#         (
#             (resultado_liquidaciones_centro_costo['CodigoEmpleado'] == codigo_empleado_excepcion) &
#             (resultado_liquidaciones_centro_costo['Fecha'] <= excepcion['Fecha'])
#         ),
#         excepcion['ValorPagoAcumulado'],
#         resultado_liquidaciones_centro_costo['PagoReal']
#     )

# for codigo_empleado_excepcion in excepciones_diferencias:
#     excepcion = excepciones_diferencias[codigo_empleado_excepcion]
#     resultado_liquidaciones_centro_costo['PagoReal'] = np.where(
#         (
#             (resultado_liquidaciones_centro_costo['CodigoEmpleado'] == codigo_empleado_excepcion) &
#             (resultado_liquidaciones_centro_costo['Fecha'] == excepcion['Fecha'])
#         ),
#         resultado_liquidaciones_centro_costo['PagoReal'] + excepcion['ValorDiferencia'],
#         resultado_liquidaciones_centro_costo['PagoReal']
#     )

# resultado_liquidaciones_centro_costo['PagadoFecha'] = resultado_liquidaciones_centro_costo.groupby(['CodigoEmpleado'])['PagoReal'].transform(pd.Series.cumsum)
# resultado_liquidaciones_centro_costo['PagadoFecha'] = resultado_liquidaciones_centro_costo['PagadoFecha'] - resultado_liquidaciones_centro_costo['PagoReal']
# resultado_liquidaciones_centro_costo

In [641]:
# resultado_liquidaciones_centro_costo.drop_duplicates(['CodigoEmpleado', 'Fecha'], inplace=True)

# resultado_final_centro_costo = pd.merge(
#     left=resultado_liquidaciones_centro_costo[['CodigoEmpleado', 'Fecha', 'PagoGarantizado', 'Liquidado', 'PagoReal','PagadoFecha', 'FactorMes', 'CodigoCentroCosto']],
#     right=df_empleados,
#     on=['CodigoEmpleado'],
#     how='left'
# )
# resultado_final_centro_costo = resultado_final_centro_costo[['Identificacion', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Fecha', 'SalarioVariable', 'PagoGarantizado', 'FactorMes', 'Liquidado', 'PagoReal', 'PagadoFecha', 'CodigoCentroCosto']]
# resultado_final_centro_costo = resultado_final_centro_costo.sort_values(by=['TipoEmpleado', 'AreaCalculo', 'CodigoEmpleado', 'Fecha', 'CodigoCentroCosto'])

# resultado_final_centro_costo.rename(columns={
#     'Identificacion': 'Cédula',
#     'CodigoEmpleado': 'Código',
#     'TipoEmpleado': 'Tipo Empleado',
#     'AreaCalculo': 'Área de cálculo',
#     'Liquidado': 'Valor liquidado',
#     'PagoReal': 'Valor neto a pagar',
#     'PagadoFecha': 'Pagado a la fecha',
#     'SalarioVariable': 'Salario variable',
#     'FactorMes': 'Factor mes',
#     'PagoGarantizado': '¿Pago garantizado?'
# }, inplace=True)
# resultado_final_centro_costo.head()

In [642]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '16659046']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
5,16659046,1712000.0,2024-01-01,1.0,NO,291040.0,856000.0,0.0
138,16659046,1712000.0,2024-02-01,2.0,NO,1712000.0,856000.0,856000.0
281,16659046,1712000.0,2024-03-01,3.0,NO,10272000.0,8560000.0,1712000.0
422,16659046,1712000.0,2024-04-01,4.0,NO,17398500.0,8838500.0,10272000.0
255,16659046,2286800.0,2024-05-01,5.0,NO,24011400.0,4900900.0,19110500.0

In [643]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '1111135']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
81,1111135,2500000.0,2024-01-01,0.0,SI,2500000.0,2500000.0,0.0
362,1111135,2500000.0,2024-03-01,2.0,NO,5611250.0,4361250.0,0.0
501,1111135,2500000.0,2024-04-01,3.0,NO,7653750.0,3292500.0,4361250.0
230,1111135,2500000.0,2024-05-01,4.0,NO,11450000.0,3796250.0,7653750.0

In [644]:
resultado_liquidaciones[resultado_liquidaciones['CodigoEmpleado'] == '80037193']

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
284,80037193,600000.0,2024-03-01,0.0,SI,600000.0,600000.0,0.0
425,80037193,600000.0,2024-04-01,0.0,SI,600000.0,600000.0,0.0
668,80037193,600000.0,2024-05-01,0.0,SI,600000.0,600000.0,0.0

In [647]:
resultado_liquidaciones_mayo = resultado_liquidaciones[resultado_liquidaciones['Fecha'] == '2024-05-01']

In [648]:
# resultado_final_centro_costo.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_final_centro_costo.xlsx'))
maestra_resultados_por_empleado.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados_por_empleado.xlsx'))
# maestra_resultados_por_empleado_centro_costo.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados_por_empleado_centro_costo.xlsx'))
resultado_liquidaciones.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_liquidaciones.xlsx'))
resultado_final.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_final.xlsx'))
maestra_resultados.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados.xlsx'))

In [649]:
resultado_liquidaciones = resultado_liquidaciones.reset_index()
resultados_comparacion_nomina = resultados_comparacion_nomina.reset_index()

In [650]:
resultados_comparacion_nomina = pd.read_excel(
        io=os.path.join('C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Empresas\\Complemento360\\NR - Cambio de Parrillas','Relacion Compara datos de liquidacion 29jun2024 vs reportados a Nomina.xlsx'),
        dtype={
            'Código': str,
            'Fecha': 'datetime64[ns]',
            '¿Pago garantizado?': str,
            'Valor liquidado reportado a Nomina':float ,
            'Valor Neto a Pagar Reportado a Nomina': float,
            'Pagado a la fecha Reportado a Nomina': float,
        }
    )
resultados_comparacion_nomina.rename(columns={'Código':'CodigoEmpleado'}, inplace=True)

In [651]:
resultados_comparacion_nomina = resultados_comparacion_nomina.merge(
    resultado_liquidaciones_mayo,
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

In [652]:
resultados_comparacion_nomina.columns

Index(['Cédula', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'Tipo Empleado',
       'Área de cálculo', 'Fecha', 'Salario variable', '¿Pago garantizado?',
       'Factor mes', 'Valor liquidado', 'Valor neto a pagar',
       'Pagado a la fecha', 'Valor liquidado reportado a Nomina',
       'Valor Neto a Pagar Reportado a Nomina',
       'Pagado a la fecha Reportado a Nomina', 'Diferencia Valor Liquidado',
       'Diferencia Valor Neto a Pagar', 'Difrencia Pagado a la fecha',
       'Observaciones', 'SalarioVariable', 'FactorMes', 'PagoGarantizado',
       'Liquidado', 'PagoReal', 'PagadoFecha'],
      dtype='object')

In [653]:
# resultados_comparacion_nomina['Valor liquidado'] = resultados_comparacion_nomina['Liquidado']
# resultados_comparacion_nomina['Valor neto a pagar'] = resultados_comparacion_nomina['PagoReal']
# resultados_comparacion_nomina['Pagado a la fecha'] = resultados_comparacion_nomina['PagadoFecha']

In [654]:
resultados_comparacion_nomina['Nueva Diferencia Valor Liquidado'] = resultados_comparacion_nomina['Valor liquidado reportado a Nomina'] - resultados_comparacion_nomina['Liquidado']
resultados_comparacion_nomina['Nueva Diferencia Valor Neto a Pagar'] = resultados_comparacion_nomina['Valor Neto a Pagar Reportado a Nomina'] - resultados_comparacion_nomina['PagoReal']
resultados_comparacion_nomina['Nueva Diferencia Pagado a la fecha'] = resultados_comparacion_nomina['Pagado a la fecha Reportado a Nomina'] - resultados_comparacion_nomina['PagadoFecha']
resultados_comparacion_nomina

,Cédula,Nombre,Apellidos,CodigoEmpleado,Tipo Empleado,Área de cálculo,Fecha,Salario variable,¿Pago garantizado?,Factor mes,...,Observaciones,SalarioVariable,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha,Nueva Diferencia Valor Liquidado,Nueva Diferencia Valor Neto a Pagar,Nueva Diferencia Pagado a la fecha
0,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1,2024-05-01,3392000,NO,5,...,NaN,4478800.0,5.0,NO,47027400.0,9436900.0,37590500.00,0.000000e+00,0.0,0.0
1,1018451704,Diana,Mateus,1018451704,AD,2,2024-05-01,1000000,NO,1,...,Valor de un Mes de Garantizado.Marzo,1000000.0,1.0,NO,2100000.0,2100000.0,0.00,0.000000e+00,0.0,0.0
2,1019140853,Ana,Silva Bermudez,1019140853,AD,2,2024-05-01,1000000,SI,0,...,Persona en Garantizado,1000000.0,0.0,SI,1000000.0,1000000.0,0.00,0.000000e+00,0.0,0.0
3,52057371,NUBIA YANNETH,JIMENEZ MOLINA,52057371,AD,2,2024-05-01,1083000,NO,5,...,NaN,1083000.0,5.0,NO,11371500.0,1191300.0,10180200.00,0.000000e+00,0.0,0.0
4,52875549,Libia Yaneth,Quevedo Cruz,52875549,AD,2,2024-05-01,1000000,NO,5,...,NaN,1000000.0,5.0,NO,10500000.0,1100000.0,9400000.00,-1.050000e+06,-1050000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,1030524723,Cesar Alberto,Cruz Tavera,1030524723,VE,8,2024-05-01,2500000,NO,5,...,NaN,2652400.0,5.0,NO,4376460.0,0.0,5637657.25,0.000000e+00,0.0,0.0
134,1010166177,William Andres,Castiblanco Martinez,1010166177,VE,9,2024-05-01,2500000,NO,5,...,NaN,2500000.0,5.0,NO,16343750.0,156250.0,16187500.00,0.000000e+00,912500.0,-912500.0
135,63368404,Katty Yadira,Armenta Vargas,1111120,VE,10,2024-05-01,2500000,NO,5,...,NaN,2500000.0,5.0,NO,6500000.0,0.0,10075000.00,0.000000e+00,0.0,-2362500.0
136,79625102,Carlos Eduardo,Amaya Forero,79625102,VE,11,2024-05-01,2500000,NO,4,...,NaN,2500000.0,4.0,NO,9325000.0,825000.0,8500000.00,0.000000e+00,481250.0,-481250.0
137,1016071287,Diana,Bernal,1111125,VE,12,2024-05-01,2500000,NO,5,...,NaN,2500000.0,5.0,NO,7631250.0,0.0,7990000.00,9.313226e-10,0.0,0.0

In [655]:
resultados_comparacion_nomina[resultados_comparacion_nomina['CodigoEmpleado'] == '80037193']

,Cédula,Nombre,Apellidos,CodigoEmpleado,Tipo Empleado,Área de cálculo,Fecha,Salario variable,¿Pago garantizado?,Factor mes,...,Observaciones,SalarioVariable,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha,Nueva Diferencia Valor Liquidado,Nueva Diferencia Valor Neto a Pagar,Nueva Diferencia Pagado a la fecha
9,80037193,Gabriel,Salamanca,80037193,AD1,2,2024-05-01,600000,SI,0,...,Persona en Garantizado,600000.0,0.0,SI,600000.0,600000.0,0.0,0.0,0.0,0.0

In [656]:
resultados_comparacion_nomina.to_excel(os.path.join(OUTPUT_FOLDER, 'resultados_comparacion_nomina.xlsx'))

In [657]:
# maestra_resultados_por_empleado_centro_costo[
#     (maestra_resultados_por_empleado_centro_costo['CodigoEmpleado'] == '5002899')
# ]

## Generación de PDFs

In [658]:
def get_dataframes(
        df_resultado_detallado,
        df_resultado_liquidaciones
):
    resultado_liquidaciones = df_resultado_liquidaciones.set_index(['CodigoEmpleado', 'Fecha'])
    resultado_liquidaciones.fillna(value={
        'PagoReal': 0,
        'Liquidacion': 0
    }, inplace=True)

    resultado_detallado = df_resultado_detallado.fillna(value={
        'FactorIncentivo': 0,
        'PorcentajeCumplimiento': 0,
        'Presupuesto': 0,
        'Real': 0,
        'Liquidado': 0,
        'ResultadoPresupuesto': 0,
        'ResultadoRealMes': 0,
        'PorcentajeCumplimientoMes': 0
    })

    return resultado_detallado, resultado_liquidaciones

In [659]:
df_detalles_para_pdf, df_liquidaciones_para_pdf = get_dataframes(
    df_resultado_detallado=maestra_resultados_por_empleado,
    df_resultado_liquidaciones=resultado_liquidaciones
)