# INICIO

In [262]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
print(base_dir)
#base_dir = '/data/notebook_files/'
folder_bbraun_source = os.path.join(base_dir, 'source')

if base_dir not in sys.path:
    sys.path.append(base_dir)
if 'OUTPUT_FOLDER' not in locals():
    OUTPUT_FOLDER = os.path.join(base_dir, 'output')

if 'fecha_liquidacion' not in locals():
    fecha_liquidacion = '2023-04-18'
if 'meses_incentivos' not in locals():
    meses_incentivos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
if 'df_resultado_detallado_previo' not in locals():
    df_resultado_detallado_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosDetalladosPrevios.xlsx'),
        dtype={
            'Contexto': str,
            'Fecha': 'datetime64[ns]',
            'Variable': str,
            'PorcentajeCumplimiento': float,
            'Real': float,
            'Presupuesto': float,
            'CodigoEmpleado': str,
            'Porcentaje': float,
            'Consecutivo': int,
            'TipoEmpleado': str,
            'SalarioVariable': float,
            'AreaCalculo': int,
            'Apellidos': str,
            'Nombre': str,
            'FechaIngreso': 'datetime64[ns]',
            'FactorIncentivo': float,
            'FactorMes': int,
            'Liquidado': float,
            'DifMonths': int,
            'NuevoFactor': int,
            'ResultadoPresupuesto': float,
            'ResultadoRealMes': float,
            'PorcentajeCumplimientoMes': float
        }
    )
if 'df_resultado_liquidaciones_previo' not in locals():
    df_resultado_liquidaciones_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosLiquidacionesPrevios.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'SalarioVariable': float,
            'Fecha': 'datetime64[ns]',
            'FactorMes':int ,
            'PagoGarantizado': str,
            'Liquidado': float,
            'PagoReal': float
        }
    )
if 'df_empleados' not in locals():
    df_empleados = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Empleados.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'CodigoEmpleado': str,
            'Identificacion': str,
            'CorreoElectronico': str,
            'Nombre': str,
            'Apellidos': str,
            'SalarioVariable': float,
            'FechaIngreso': 'datetime64[ns]',
            # 'FechaRetiro': np.datetime64,
            # 'Zona': str,
            'AreaCalculo': int
        }
    )
if 'df_clusters_empleado' not in locals():
    df_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClustersEmpleado.xlsx'),
        dtype={
            'Cluster': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_zonas_empleado' not in locals():
    df_zonas_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasEmpleado.xlsx'),
        dtype={
            'Zona': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_salarios_variables' not in locals():
    df_salarios_variables = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'SalariosVariables.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'SalarioVariable': float,
            'PromedioSalarioVariable': float
        }
    )
if 'df_parrillas' not in locals():
    df_parrillas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Parrillas.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Variable': str,
            'Contexto': str,
            'Porcentaje': float,
            'Consecutivo': int
        }
    )
if 'df_venta_recaudo_real' not in locals():
    df_venta_recaudo_real = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoReal.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_recaudo_presupuesto' not in locals():
    df_venta_recaudo_presupuesto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoPresupuesto.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_por_zona' not in locals():
    df_venta_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaPorZona.xlsx'),
        dtype={
            'Zona': str,
            # 'Fecha': np.datetime64,
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_por_zona' not in locals():
    df_recaudo_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoPorZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad' not in locals():
    df_rentabilidad = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Rentabilidad.xlsx'),
        dtype={
            'Compania': str,
            'GrupoProducto': str,
            'SBA': str,
            'ClaseRentabilidad': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_otras_companias' not in locals():
    df_venta_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_otras_companias' not in locals():
    df_recaudo_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )

if 'df_venta_recaudo_kams' not in locals():
    df_venta_recaudo_kams = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoKAMS.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Fecha': 'datetime64[ns]',
            'VentaReal': float,
            'VentaPresupuesto': float,
            'RecaudoReal': float,
            'RecaudoPresupuesto': float
        }
    )
if 'df_rentabilidad_kam' not in locals():
    df_rentabilidad_kam = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadKAM.xlsx'),
        dtype={
            'Division': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_servicios_mtto' not in locals():
    df_venta_servicios_mtto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaServiciosMtto.xlsx'),
        dtype={
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_objetivos_cualitativos' not in locals():
    df_objetivos_cualitativos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ObjetivosCualitativos.xlsx'),
        dtype={
            # 'Fecha': np.datetime64,
            'CodigoEmpleado': str,
            'PorcentajeCumplimiento': float
        }
    )
if 'df_incentivos_por_empleado' not in locals():
    df_incentivos_por_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'IncentivosPorEmpleado.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'Valor': float
        }
    )
if 'df_area_calculo_sba' not in locals():
    df_area_calculo_sba = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'AreaCalculoSBA.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str
        }
    )
if 'df_factores_liquidacion' not in locals():
    df_factores_liquidacion = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'FactoresLiquidacion.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'PorcentajeCumplimiento': float,
            'FactorIncentivo': float
        }
    )
if 'df_cluster_plan_real_recaudo' not in locals():
    df_cluster_plan_real_recaudo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClusterPlanRealRecaudo.xlsx'),
        dtype={
            'Cluster': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_zona_plan_real_venta_ch' not in locals():
    df_zona_plan_real_venta_ch = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonaPlanRealVentaCH.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad_zona' not in locals():
    df_rentabilidad_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_resultados_variables_cualitativas' not in locals():
    df_resultados_variables_cualitativas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosVariablesCualitativas.xlsx'),
        dtype={
            'Variable': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'PorcentajeCumplimiento': float,
            'Fecha': 'datetime64[ns]'
        }
    )

if 'df_zonas_clusters_empleado' not in locals():
    df_zonas_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasClustersEmpleado.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Zona': str,
            'Cluster': str,
        }
    )
    
# if 'df_gd_canales' not in locals():
#     df_gd_canales = pd.read_excel(
#         io=os.path.join(folder_bbraun_source, 'ResultadosGDCanales.xlsx'),
#         dtype={
#             'CodigoEmpleado': str,
#             'Fecha': 'datetime64[ns]',
#             'Consecutivo': int,
#             'PlanVentaFacturada': float,
#             'RealVentaTotal': float,
#             'PlanVentaCobrada': float,
#             'RealVentaCobrada': float,
#         }
#     )
    
# if 'df_vc_renal_ambulatorio' not in locals():
#     df_vc_renal_ambulatorio = pd.read_excel(
#         io=os.path.join(folder_bbraun_source, 'ResultadosVCRenalAmbulatorio.xlsx'),
#         dtype={
#             'CodigoEmpleado': str,
#             'Fecha': 'datetime64[ns]',
#             'PlanVentaFacturada': float,
#             'RealVentaTotal': float,
#             'PlanVentaCobrada': float,
#             'RealVentaCobrada': float,
#         }
#     )

if 'codigos_ve_vc' not in locals():
    codigos_ve_vc = ['5002700']

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter

### Se validan los dataframes de entrada

In [154]:
_dataframes_entrada = [
    {
        'df': df_empleados,
        'name': 'Empleados.xlsx'
    },
    {
        'df': df_clusters_empleado,
        'name': 'ClustersEmpleado.xlsx'
    },
    {
        'df': df_zonas_empleado,
        'name': 'ZonasEmpleado.xlsx'
    },
    {
        'df': df_zonas_clusters_empleado,
        'name': 'ZonasClustersEmpleado.xlsx'
    },
    {
        'df': df_salarios_variables,
        'name': 'SalariosVariables.xlsx'
    },
    {
        'df': df_parrillas,
        'name': 'Parrillas.xlsx'
    },
    {
        'df': df_venta_recaudo_real,
        'name': 'VentaRecaudoReal.xlsx'
    },
    {
        'df': df_venta_recaudo_presupuesto,
        'name': 'VentaRecaudoPresupuesto.xlsx'
    },
    {
        'df': df_venta_por_zona,
        'name': 'VentaPorZona.xlsx'
    },
    {
        'df': df_recaudo_por_zona,
        'name': 'RecaudoPorZona.xlsx'
    },
    {
        'df': df_rentabilidad,
        'name': 'Rentabilidad.xlsx'
    },
    {
        'df': df_venta_otras_companias,
        'name': 'VentaOtrasCompanias.xlsx'
    },
    {
        'df': df_recaudo_otras_companias,
        'name': 'RecaudoOtrasCompanias.xlsx'
    },
    {
        'df': df_venta_recaudo_kams,
        'name': 'VentaRecaudoKAMS.xlsx'
    },
    {
        'df': df_rentabilidad_kam,
        'name': 'RentabilidadKAM.xlsx'
    },
    {
        'df': df_objetivos_cualitativos,
        'name': 'ObjetivosCualitativos.xlsx',
    },
    {
        'df': df_venta_servicios_mtto,
        'name': 'VentaServiciosMtto.xlsx',
    },
    {
        'df': df_incentivos_por_empleado,
        'name': 'IncentivosPorEmpleado.xlsx'
    },
    {
        'df': df_area_calculo_sba,
        'name': 'AreaCalculoSBA.xlsx'
    },
    {
        'df': df_factores_liquidacion,
        'name': 'FactoresLiquidacion.xlsx'
    },
    {
        'df': df_cluster_plan_real_recaudo,
        'name': 'ClusterPlanRealRecaudo.xlsx'
    },
    {
        'df': df_zona_plan_real_venta_ch,
        'name': 'ZonaPlanRealVentaCH.xlsx'
    },
    {
        'df': df_rentabilidad_zona,
        'name': 'RentabilidadZona.xlsx'
    },
    {
        'df': df_resultados_variables_cualitativas,
        'name': 'ResultadosVariablesCualitativas.xlsx'
    },
#     {
#         'df': df_gd_canales,
#         'name': 'ResultadosGDCanales.xlsx'
#     },
#     {
#         'df': df_vc_renal_ambulatorio,
#         'name': 'ResultadosVCRenalAmbulatorio.xlsx'
#     },
]
for df in _dataframes_entrada:
    print(f'*** {df["name"]} ***')
    print(' - Head:')
    print(df['df'].head())
    print('')

*** Empleados.xlsx ***
 - Head:
  TipoEmpleado CodigoEmpleado Identificacion            CorreoElectronico  \
0           VC        5004523       36952327    sobeyda.acosta@bbraun.com
1           GU       53069050       53069050   sylvia.altahona@bbraun.com
2           VE        5004589       43876232  catalina.alvarez@bbraun.com
3           VE        5004287     1073600365     diana.alvarez@bbraun.com
4           VE        5002697       30302849     amparo.arango@bbraun.com

                Nombre         Apellidos  SalarioVariable FechaIngreso  \
0  SOBEYDA DEL SOCORRO   ACOSTA PORTILLO        2000000.0   2014-10-01
1      SYLVIA CRISTINA  ALTAHONA BARRERA        3000000.0   2021-03-01
2       CATALINA MARIA   ALVAREZ CAICEDO        2200000.0   2018-11-01
3        DIANA MARCELA   ALVAREZ SALCEDO        2000000.0   2013-05-17
4               AMPARO      ARANGO TOBON        2914000.0   1997-06-10

   FechaRetiro  AreaCalculo
0          NaN            3
1          NaN            7
2          NaN            7
3          NaN            4
4          NaN            5

*** ClustersEmpleado.xlsx ***
 - Head:
  Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
0       8        5004523           VC            3
1      15        5004589           VE            7
2      16        5004589           VE            7
3      17        5004589           VE            7
4      18        5004589           VE            7

*** ZonasEmpleado.xlsx ***
 - Head:
     Zona CodigoEmpleado TipoEmpleado  AreaCalculo
0   Norte        5004589           VE            7
1  Centro        5004287           VE            4
2  Centro        5002697           VE            5
3  Centro        5016692           GD            2
4   Norte        5002711           GC            3

*** ZonasClustersEmpleado.xlsx ***
 - Head:
   Codigo_Empleado Tipo_Empleado  Area_Calculo    Zona Cluster
0          5004287            VE             4  Centro       0
1          5004287            VE             4  Centro      20
2          5004287            VE             4  Centro      21
3          5004287            VE             4  Centro       1
4          5004287            VE             4  Centro       2

*** SalariosVariables.xlsx ***
 - Head:
  CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
0        5004523 2022-01-01        2000000.0                2000000.0
1        5004523 2022-02-01        2000000.0                2000000.0
2        5004523 2022-03-01        2000000.0                2000000.0
3        5004523 2022-04-01        2000000.0                2000000.0
4        5004523 2022-05-01        2000000.0                2000000.0

*** Parrillas.xlsx ***
 - Head:
  CodigoEmpleado                          Variable   Contexto  Porcentaje  \
0        5004523   VentaFacturadaPortafolioCluster    5004523       0.300
1        5004523  VentaCobradaPortafolioClusterSub  5004523_1       0.075
2        5004523  VentaCobradaPortafolioClusterSub  5004523_2       0.075
3        5004523  VentaCobradaPortafolioClusterSub  5004523_3       0.100
4        5004523  VentaCobradaPortafolioClusterSub  5004523_4       0.100

   Consecutivo                                    Nombre variable  \
0            0  Venta Facturada portafolio asignado en su cluster
1            1  Venta cobrada total en el portafolio asignado ...
2            2  Venta cobrada total en el portafolio asignado ...
3            3  Venta cobrada total en el portafolio asignado ...
4            4  Venta cobrada total en el portafolio asignado ...

                                  Nombre consecutivo
0                                                NaN
1                    Surgery & Interventions (Neuro)
2                    Surgery & Interventions (Ortho)
3          Surgery & Interventions (Surgical Assets)
4  Surgery & Interventions (Operating Room Soluti...

*** VentaRecaudoReal.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica       Canal GrupoProducto  \
0        1111111       AE      23          Norte  Asegurador           005
1        1111111       AE      23          Norte  Asegurador           005
2        1111111       AE      23          Norte  Asegurador           005
3        1111111       AE      23          Norte  Asegurador           005
4        1111111       AE      23          Norte  Asegurador           005

  SBA      Fecha      Venta    Recaudo
0  33 2022-02-01   738400.0        0.0
1  33 2022-03-01  1211079.0   701479.0
2  33 2022-04-01  1040000.0        0.0
3  33 2022-05-01  1664000.0  2173600.0
4  33 2022-06-01   208000.0  1580800.0

*** VentaRecaudoPresupuesto.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica GrupoProducto         Canal  \
0        1111111       AE      23          Norte           001  Distribuidor
1        1111111       AE      23          Norte           001  Distribuidor
2        1111111       AE      23          Norte           001  Distribuidor
3        1111111       AE      23          Norte           001  Distribuidor
4        1111111       AE      23          Norte           001  Distribuidor

  SBA      Fecha          Venta        Recaudo
0  30 2022-01-01  234074.987757  314596.783546
1  30 2022-02-01  327704.982860  269654.385897
2  30 2022-03-01  374519.980412  359539.181195
3  30 2022-04-01  421334.977963  404481.578845
4  30 2022-05-01  374519.980412  359539.181195

*** VentaPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** RecaudoPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** Rentabilidad.xlsx ***
 - Head:
  Compania GrupoProducto    SBA ClaseRentabilidad      Fecha          Real  \
0    BBACO         BBACO  BBACO             CMIII 2022-01-01  0.000000e+00
1    BBACO         BBACO  BBACO               CMV 2022-01-01  0.000000e+00
2    BBMCO           001     30              CMII 2022-01-01  1.345475e+08
3    BBMCO           001     30              CMII 2022-02-01  3.197197e+08
4    BBMCO           001     30              CMII 2022-03-01  1.088585e+09

    Presupuesto
0  0.000000e+00
1  0.000000e+00
2  9.397567e+07
3  2.255416e+08
4  3.759027e+08

*** VentaOtrasCompanias.xlsx ***
 - Head:
  Compania      Fecha          Real   Presupuesto
0    BBSCO 2022-01-01  2.422864e+09  2.725164e+09

*** RecaudoOtrasCompanias.xlsx ***
 - Head:
  Compania      Fecha  Real  Presupuesto
0    BBACO 2022-01-01   0.0          0.0
1    BBACO 2022-02-01   0.0          0.0
2    BBACO 2022-03-01   0.0          0.0
3    BBACO 2022-04-01   0.0          0.0
4    BBACO 2022-05-01   0.0          0.0

*** VentaRecaudoKAMS.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo      Fecha   VentaReal  \
0          KAM            1            1 2022-01-01         0.0
1          KAM            1            1 2022-02-01    658350.0
2          KAM            1            1 2022-03-01         0.0
3          KAM            1            1 2022-04-01 -88800418.0
4          KAM            1            1 2022-05-01         0.0

   VentaPresupuesto  RecaudoReal  RecaudoPresupuesto
0      2.920038e+06          0.0        5.045826e+06
1      4.088053e+06      -6650.0        3.924531e+06
2      4.672061e+06          0.0        4.485179e+06
3     -6.701887e+08          0.0        4.485179e+06
4      4.672061e+06          0.0        4.485179e+06

*** RentabilidadKAM.xlsx ***
 - Head:
  Division      Fecha          Real   Presupuesto
0    BBMCO 2022-01-01  8.004275e+08  5.855395e+08
1    BBMCO 2022-02-01  9.410960e+08  8.040075e+08
2    BBMCO 2022-03-01  1.044063e+09  9.160847e+08
3    BBMCO 2022-04-01  7.603359e+08  1.153237e+09
4    BBMCO 2022-05-01  1.187865e+09  8.021624e+08

*** ObjetivosCualitativos.xlsx ***
 - Head:
       Fecha CodigoEmpleado  PorcentajeCumplimiento
0 2022-12-01     1013583607                    1.00
1 2022-12-01     1013587064                    1.03
2 2022-12-01     1015417716                    1.05
3 2022-12-01     1022332425                    1.03
4 2022-12-01     1026279360                    1.00

*** VentaServiciosMtto.xlsx ***
 - Head:
       Fecha        Real   Presupuesto  PorcentajeCumplimiento  \
0 2022-01-01  -1056639.0  1.617146e+07                   -0.07
1 2022-02-01   3235846.0  3.881151e+07                    0.08
2 2022-03-01   3235846.0  6.468584e+07                    0.05
3 2022-04-01  11314246.0  9.379447e+07                    0.12
4 2022-05-01  31701696.0  1.196688e+08                    0.26

             Variable            Contexto
0  VentaServiciosMtto  VentaServiciosMtto
1  VentaServiciosMtto  VentaServiciosMtto
2  VentaServiciosMtto  VentaServiciosMtto
3  VentaServiciosMtto  VentaServiciosMtto
4  VentaServiciosMtto  VentaServiciosMtto

*** IncentivosPorEmpleado.xlsx ***
 - Head:
  CodigoEmpleado      Fecha      Valor
0     1013583607 2022-01-01  2550000.0
1     1013583607 2022-02-01  2550000.0
2     1013583607 2022-03-01  7855500.0
3     1013583607 2022-04-01        0.0
4     1013583607 2022-05-01        0.0

*** AreaCalculoSBA.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto    SBA
0           AD            1            1    BBMCO           NaN    NaN
1           AD            1            1       HC           NaN    NaN
2           AD            1            2       AE           NaN    NaN
3           AD            1            2    BBSCO         BBSCO  BBSCO
4           AD            1            2       OK           NaN    NaN

*** FactoresLiquidacion.xlsx ***
 - Head:
  TipoEmpleado  PorcentajeCumplimiento  FactorIncentivo
0           AD                    0.89             0.00
1           AD                    0.90             0.50
2           AD                    0.91             0.53
3           AD                    0.92             0.55
4           AD                    0.93             0.58

*** ClusterPlanRealRecaudo.xlsx ***
 - Head:
  Cluster      Fecha         Real   Presupuesto
0       0 2022-01-01  449611755.0  3.842349e+08
1       0 2022-02-01  419075782.0  3.267651e+08
2       0 2022-03-01  407243558.0  3.983646e+08
3       0 2022-04-01  218525596.0  3.801743e+08
4       0 2022-05-01  614173897.0  3.869473e+08

*** ZonaPlanRealVentaCH.xlsx ***
 - Head:
     Zona      Fecha          Real   Presupuesto
0  Centro 2022-01-01  3.242985e+09  3.397820e+09
1  Centro 2022-02-01  4.269994e+09  4.712973e+09
2  Centro 2022-03-01  6.303758e+09  5.376270e+09
3  Centro 2022-04-01  4.865588e+09  6.038250e+09
4  Centro 2022-05-01  5.645397e+09  5.407442e+09

*** RentabilidadZona.xlsx ***
 - Head:
     Zona      Fecha          Real   Presupuesto
0  Centro 2022-01-01  7.977743e+08  1.000610e+09
1  Centro 2022-02-01  1.953374e+09  2.390399e+09
2  Centro 2022-03-01  4.034487e+09  3.975676e+09
3  Centro 2022-04-01  5.529968e+09  5.756036e+09
4  Centro 2022-05-01  7.388329e+09  7.348875e+09

*** ResultadosVariablesCualitativas.xlsx ***
 - Head:
       Variable CodigoEmpleado TipoEmpleado  AreaCalculo  Consecutivo  \
0  KpisSurgical       51790647           AD            1            1
1  KpisSurgical       51790647           AD            1            2
2  KpisSurgical       51790647           AD            1            3
3  KpisSurgical       79641686           AD            2            1
4  KpisSurgical       52057371           AD            2            1

   PorcentajeCumplimiento      Fecha
0                    0.94 2022-03-01
1                    1.86 2022-03-01
2                    1.00 2022-03-01
3                    0.94 2022-03-01
4                    0.94 2022-03-01

### Funciones útiles

In [155]:
def sobreescribir_resultados_cualitativos(main, variable, columnas_extra, columnas_extra_merge, pre_merge_lambda=None):
    print(columnas_extra, columnas_extra_merge)
    resultados_cualitativos_variable = df_resultados_variables_cualitativas[columnas_extra + ['Variable', 'Fecha', 'PorcentajeCumplimiento']]
    resultados_cualitativos_variable = resultados_cualitativos_variable[resultados_cualitativos_variable['Variable'] == variable]
    if pre_merge_lambda:
        resultados_cualitativos_variable = pre_merge_lambda(resultados_cualitativos_variable)
    main_df = pd.merge(
        left=main,
        right=resultados_cualitativos_variable.rename(columns={'PorcentajeCumplimiento': 'PorcentajeCumplimientoPrecargado'}),
        on=columnas_extra_merge+['Fecha', 'Variable'],
        how='outer'
    )
    main_df['Real'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Real'],
        np.nan
    )
    main_df['Presupuesto'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Presupuesto'],
        np.nan
    )
    main_df['PorcentajeCumplimiento'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['PorcentajeCumplimiento'],
        main_df['PorcentajeCumplimientoPrecargado']
    )
    main_df.drop(columns=['PorcentajeCumplimientoPrecargado'], inplace=True)

    return main_df

### Completamos el dataframe de SBAs y Áreas de cálculo

In [156]:
productos_venta = df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA']]
productos_presupuesto = df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA']]
productos = pd.concat([productos_venta, productos_presupuesto])
productos = productos.drop_duplicates()

##
_area_calculo_sba_notnull = df_area_calculo_sba[
    (df_area_calculo_sba['SBA'].notnull()) |
    (df_area_calculo_sba['SBA'] != '')
]
##
_area_calculo_sba_por_grupo = df_area_calculo_sba[
    (df_area_calculo_sba['GrupoProducto'].isnull()) |
    (df_area_calculo_sba['GrupoProducto'] == '')
]
_area_calculo_sba_por_grupo = pd.merge(
    left=_area_calculo_sba_por_grupo[['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Division']],
    right=productos,
    on='Division',
    how='left'
)
##
_area_calculo_sba_por_sba = df_area_calculo_sba[
    (
        (df_area_calculo_sba['SBA'].isnull()) |
        (df_area_calculo_sba['SBA'] == '')
    ) &
    (
        (df_area_calculo_sba['GrupoProducto'].notnull()) |
        (df_area_calculo_sba['GrupoProducto'] != '')
    )
]
_area_calculo_sba_por_sba = pd.merge(
    left=_area_calculo_sba_por_sba[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'Division']],
    right=productos[['GrupoProducto', 'SBA']],
    on='GrupoProducto',
    how='left'
)

area_calculo_sba_completo = pd.concat([
    _area_calculo_sba_notnull,
    _area_calculo_sba_por_grupo,
    _area_calculo_sba_por_sba
])
area_calculo_sba_completo = area_calculo_sba_completo[['AreaCalculo', 'Consecutivo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado']]
area_calculo_sba_completo.drop_duplicates(inplace=True)
area_calculo_sba_completo.head()

   AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0            1            1    BBMCO           NaN    NaN           AD
1            1            1       HC           NaN    NaN           AD
2            1            2       AE           NaN    NaN           AD
3            1            2    BBSCO         BBSCO  BBSCO           AD
4            1            2       OK           NaN    NaN           AD

# Se calculan los resultados para la maestra de resultados

## 1. Objetivos cualitativos (ObjetivosCualitativos)

In [157]:
cumplimiento_objetivos_cualitativos = pd.DataFrame()
cumplimiento_objetivos_cualitativos['CodigoEmpleado'] = df_empleados['CodigoEmpleado']
cumplimiento_objetivos_cualitativos['merge'] = 1
##
fechas = pd.DataFrame(df_venta_recaudo_real['Fecha'].drop_duplicates())
fechas['merge'] = 1
##
cumplimiento_objetivos_cualitativos = cumplimiento_objetivos_cualitativos.merge(
    fechas,
    on='merge',
    how='left'
)
cumplimiento_objetivos_cualitativos.drop(columns='merge', inplace=True)

cumplimiento_objetivos_cualitativos = pd.merge(
    left=cumplimiento_objetivos_cualitativos,
    right=df_objetivos_cualitativos,
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

cumplimiento_objetivos_cualitativos['Variable'] = 'ObjetivosCualitativos'
cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'].fillna(0.94, inplace=True)
cumplimiento_objetivos_cualitativos.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_objetivos_cualitativos.head()

  Contexto      Fecha  PorcentajeCumplimiento               Variable
0  5004523 2022-02-01                    0.94  ObjetivosCualitativos
1  5004523 2022-03-01                    0.94  ObjetivosCualitativos
2  5004523 2022-04-01                    0.94  ObjetivosCualitativos
3  5004523 2022-05-01                    0.94  ObjetivosCualitativos
4  5004523 2022-06-01                    0.94  ObjetivosCualitativos

## 2. Objetivos de recaudo por zona (VentaCobradaZonaBraunCrossDivisional)
### TODO: Ahora el empleado tiene varias zonas

In [158]:
cumplimiento_recaudo_por_zona = df_recaudo_por_zona.copy()

cumplimiento_recaudo_por_zona['Real'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_zona['Presupuesto'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)

cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['Real'] / cumplimiento_recaudo_por_zona['Presupuesto']
cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_zona['Variable'] = 'VentaCobradaZonaBraunCrossDivisional'
cumplimiento_recaudo_por_zona.rename(columns={'Zona': 'Contexto'}, inplace=True)

cumplimiento_recaudo_por_zona = cumplimiento_recaudo_por_zona[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_zona.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 3. Objetivos de venta individuales (VentaFacturadaZonaCargoIndividual y VentaFacturadaZonaCargoIndividualSub)

In [159]:
# venta real con información
venta_recaudo_real_info = df_venta_recaudo_real.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

# venta presupuesto con información
venta_recaudo_presupuesto_info = df_venta_recaudo_presupuesto.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

In [160]:
_excepciones_venta_facturada = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# venta real por empleado por area de calculo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9


venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])
venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo',
                                                                           'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Venta']
venta_recaudo_real_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# venta presupuesto por empleado por area de calculo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Venta']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})


## VentaFacturadaZonaCargoIndividual
cumplimiento_venta_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual['Presupuesto'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Presupuesto'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['Real'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['Real'] / cumplimiento_venta_individual['Presupuesto']
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_venta_individual['Variable'] = 'VentaFacturadaZonaCargoIndividual'
cumplimiento_venta_individual = cumplimiento_venta_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual.head()

## VentaFacturadaZonaCargoIndividualSub
cumplimiento_venta_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

cumplimiento_venta_individual_sub['Presupuesto'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['Real'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['Real'] / cumplimiento_venta_individual_sub['Presupuesto']
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Consecutivo'] = cumplimiento_venta_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_venta_individual_sub['Contexto'] = cumplimiento_venta_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_venta_individual_sub['Consecutivo'],sep="_")
cumplimiento_venta_individual_sub['Variable'] = 'VentaFacturadaZonaCargoIndividualSub'

cumplimiento_venta_individual_sub = cumplimiento_venta_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaZonaCargoIndividualSub,2022-04-01,26570174.0,1.377529e+07,1.93
1,1111111_1,VentaFacturadaZonaCargoIndividualSub,2022-05-01,123090990.0,2.601999e+07,4.73
2,1111111_1,VentaFacturadaZonaCargoIndividualSub,2022-06-01,158982152.0,3.979528e+07,4.00
3,1111111_1,VentaFacturadaZonaCargoIndividualSub,2022-07-01,185352617.0,5.203998e+07,3.56
4,1111111_1,VentaFacturadaZonaCargoIndividualSub,2022-08-01,189740827.0,6.581526e+07,2.88

## 4. Objetivos de recaudo individuales (VentasCobradaZonaCargoIndividual y VentasCobradaZonaCargoIndividualSub)

In [161]:
_excepciones_venta_recaudo = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# recaudo real por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])

venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Recaudo']
venta_recaudo_real_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# recaudo presupuesto por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])

venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Recaudo']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})

## VentasCobradaZonaCargoIndividual
cumplimiento_recaudo_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual['Presupuesto'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['Real'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['Real'] / cumplimiento_recaudo_individual['Presupuesto']
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_recaudo_individual['Variable'] = 'VentasCobradaZonaCargoIndividual'
cumplimiento_recaudo_individual = cumplimiento_recaudo_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual.head()


## VentasCobradaZonaCargoIndividualSub
cumplimiento_recaudo_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

_excepciones_recaudo_sub = []

for excepcion in _excepciones_recaudo_sub:
    cumplimiento_recaudo_individual_sub['Presupuesto'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorPresupuesto'],
        cumplimiento_recaudo_individual_sub['Presupuesto']
    )
    cumplimiento_recaudo_individual_sub['Real'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorReal'],
        cumplimiento_recaudo_individual_sub['Real']
    )


cumplimiento_recaudo_individual_sub['Presupuesto'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['Real'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['Real'] / cumplimiento_recaudo_individual_sub['Presupuesto']
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Consecutivo'] = cumplimiento_recaudo_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_recaudo_individual_sub['Contexto'] = cumplimiento_recaudo_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_recaudo_individual_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_individual_sub['Variable'] = 'VentasCobradaZonaCargoIndividualSub'
cumplimiento_recaudo_individual_sub = cumplimiento_recaudo_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentasCobradaZonaCargoIndividualSub,2022-04-01,6744423.0,1.322428e+07,0.51
1,1111111_1,VentasCobradaZonaCargoIndividualSub,2022-05-01,94401271.0,2.497919e+07,3.78
2,1111111_1,VentasCobradaZonaCargoIndividualSub,2022-06-01,134297654.0,3.526474e+07,3.81
3,1111111_1,VentasCobradaZonaCargoIndividualSub,2022-07-01,176460489.0,4.848901e+07,3.64
4,1111111_1,VentasCobradaZonaCargoIndividualSub,2022-08-01,137944301.0,6.465202e+07,2.13

## 5. Objetivos de venta por área de cálculo (VentaFacturadaPorAreaCalculo y VentaFacturadaPorAreaCalculoSub)

In [162]:
area_calculo_sba_completo_ve7 = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'VE')&
    (area_calculo_sba_completo['AreaCalculo'] == 7)
][['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'GrupoProducto', 'SBA']]

In [163]:
resultados_venta_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_real_sub = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_real = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})


resultados_venta_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_presupuesto_sub = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_presupuesto = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})

## VentaFacturadaPorAreaCalculo
cumplimiento_venta_por_area_calculo = pd.merge(
    left=resultados_venta_area_calculo_presupuesto.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_venta_por_area_calculo['Variable'] = 'VentaFacturadaPorAreaCalculo'
cumplimiento_venta_por_area_calculo['Contexto'] = cumplimiento_venta_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo['Real'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['Presupuesto'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_venta_por_area_calculo = cumplimiento_venta_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo.head()

## VentaFacturadaPorAreaCalculoSub
cumplimiento_venta_por_area_calculo_sub = pd.merge(
    left=resultados_venta_area_calculo_presupuesto_sub.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real_sub.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)


cumplimiento_venta_por_area_calculo_sub['Variable'] = 'VentaFacturadaPorAreaCalculoSub'
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_venta_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_venta_por_area_calculo_sub['Real'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['Presupuesto'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo_sub['Real'] / cumplimiento_venta_por_area_calculo_sub['Presupuesto']

cumplimiento_venta_por_area_calculo_sub = cumplimiento_venta_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentaFacturadaPorAreaCalculoSub,2022-01-01,4045480.0,5.133490e+07,0.078806
1,VE_7_1,VentaFacturadaPorAreaCalculoSub,2022-02-01,4226435.0,1.232038e+08,0.034304
2,VE_7_1,VentaFacturadaPorAreaCalculoSub,2022-03-01,6380795.0,2.053396e+08,0.031074
3,VE_7_1,VentaFacturadaPorAreaCalculoSub,2022-04-01,12403215.0,2.977424e+08,0.041658
4,VE_7_1,VentaFacturadaPorAreaCalculoSub,2022-05-01,18206385.0,3.798783e+08,0.047927

## 6. Objetivos de recaudo por área de cálculo (VentasCobradaPorAreaCalculo y VentasCobradaPorAreaCalculoSub)

In [164]:
resultados_recaudo_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_real_sub = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_real = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})


resultados_recaudo_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_presupuesto_sub = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_presupuesto = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})

## VentasCobradaPorAreaCalculo
cumplimiento_recaudo_por_area_calculo = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo['Variable'] = 'VentasCobradaPorAreaCalculo'
cumplimiento_recaudo_por_area_calculo['Contexto'] = cumplimiento_recaudo_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo['Real'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['Presupuesto'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_recaudo_por_area_calculo = cumplimiento_recaudo_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

## VentasCobradaPorAreaCalculoSub
cumplimiento_recaudo_por_area_calculo_sub = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto_sub.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real_sub.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo_sub['Variable'] = 'VentasCobradaPorAreaCalculoSub'
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_recaudo_por_area_calculo_sub['Real'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['Presupuesto'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo_sub['Real'] / cumplimiento_recaudo_por_area_calculo_sub['Presupuesto']

cumplimiento_recaudo_por_area_calculo_sub = cumplimiento_recaudo_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_recaudo_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentasCobradaPorAreaCalculoSub,2022-01-01,6.673380e+06,8.870671e+07,0.075230
1,VE_7_1,VentasCobradaPorAreaCalculoSub,2022-02-01,1.221880e+07,1.577008e+08,0.077481
2,VE_7_1,VentasCobradaPorAreaCalculoSub,2022-03-01,1.458580e+07,2.365512e+08,0.061660
3,VE_7_1,VentasCobradaPorAreaCalculoSub,2022-04-01,1.707160e+07,3.154016e+08,0.054127
4,VE_7_1,VentasCobradaPorAreaCalculoSub,2022-05-01,1.948897e+07,3.942520e+08,0.049433

## 7. Objetivos de recaudo a nivel país (VentaCobradaBraunPais)

In [165]:
# recaudo real pais
venta_recaudo_real_pais = df_venta_recaudo_real.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_pais['Real'] = venta_recaudo_real_pais['Recaudo']
venta_recaudo_real_pais.drop(columns=['Recaudo'], inplace=True)

# recaudo presupuesto pais
venta_recaudo_presupuesto_pais = df_venta_recaudo_presupuesto.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_pais['Presupuesto'] = venta_recaudo_presupuesto_pais['Recaudo']
venta_recaudo_presupuesto_pais.drop(columns=['Recaudo'], inplace=True)

##
cumplimiento_recaudo_nivel_pais = pd.merge(
    left=venta_recaudo_presupuesto_pais,
    right=venta_recaudo_real_pais,
    on=['Fecha'],
    how='left'
)
cumplimiento_recaudo_nivel_pais['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_nivel_pais['Real'] = cumplimiento_recaudo_nivel_pais['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['Presupuesto'] = cumplimiento_recaudo_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['Real'] / cumplimiento_recaudo_nivel_pais['Presupuesto']
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_nivel_pais['Contexto'] = 'Pais'
cumplimiento_recaudo_nivel_pais['Variable'] = 'VentaCobradaBraunPais'
cumplimiento_recaudo_nivel_pais = cumplimiento_recaudo_nivel_pais[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_nivel_pais.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,Pais,VentaCobradaBraunPais,2022-02-01,2.415697e+10,2.531754e+10,0.95
2,Pais,VentaCobradaBraunPais,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,Pais,VentaCobradaBraunPais,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,Pais,VentaCobradaBraunPais,2022-05-01,6.373539e+10,6.499269e+10,0.98

## 8. Objetivos de recaudo por unidad de negocio (VentaCobradaUnidadNegocio y VentaCobradaUnidadNegocioSub)

### 8.1. Para GU (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [166]:
area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GU']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_real = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_presupuesto = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

In [167]:
## VentaFacturadaUnidadNegocio
venta_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu['Real'] = venta_real_area_calculo_gu['Venta']
venta_real_area_calculo_gu.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu['Presupuesto'] = venta_presupuesto_area_calculo_gu['Venta']
venta_presupuesto_area_calculo_gu.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu = pd.merge(
    left=venta_presupuesto_area_calculo_gu,
    right=venta_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu['Real'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['Real'] / cumplimiento_venta_por_unidad_negocio_gu['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_gu['Variable'] = 'VentaFacturadaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_gu = cumplimiento_venta_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu.head()

## VentaFacturadaUnidadNegocioSub
venta_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu_sub['Real'] = venta_real_area_calculo_gu_sub['Venta']
venta_real_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu_sub['Presupuesto'] = venta_presupuesto_area_calculo_gu_sub['Venta']
venta_presupuesto_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu_sub = pd.merge(
    left=venta_presupuesto_area_calculo_gu_sub,
    right=venta_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] / cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_por_unidad_negocio_gu_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_gu_sub = cumplimiento_venta_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaFacturadaUnidadNegocioSub,2022-01-01,2.362433e+08,1.478007e+08,1.60
1,gu_1_1,VentaFacturadaUnidadNegocioSub,2022-02-01,5.007132e+08,3.547218e+08,1.41
2,gu_1_1,VentaFacturadaUnidadNegocioSub,2022-03-01,9.413311e+08,5.912030e+08,1.59
3,gu_1_1,VentaFacturadaUnidadNegocioSub,2022-04-01,1.260296e+09,8.572443e+08,1.47
4,gu_1_1,VentaFacturadaUnidadNegocioSub,2022-05-01,1.691274e+09,1.093725e+09,1.55

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

In [168]:
## VentaCobradaUnidadNegocio
recaudo_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu['Real'] = recaudo_real_area_calculo_gu['Recaudo']
recaudo_real_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu['Presupuesto'] = recaudo_presupuesto_area_calculo_gu['Recaudo']
recaudo_presupuesto_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu,
    right=recaudo_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu['Variable'] = 'VentaCobradaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_gu = cumplimiento_recaudo_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu.head()

## VentaCobradaUnidadNegocioSub
recaudo_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu_sub['Real'] = recaudo_real_area_calculo_gu_sub['Recaudo']
recaudo_real_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_gu_sub['Recaudo']
recaudo_presupuesto_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu_sub,
    right=recaudo_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaCobradaUnidadNegocioSub,2022-01-01,3.214984e+08,1.986442e+08,1.62
1,gu_1_1,VentaCobradaUnidadNegocioSub,2022-02-01,5.843433e+08,3.689106e+08,1.58
2,gu_1_1,VentaCobradaUnidadNegocioSub,2022-03-01,8.766076e+08,5.959326e+08,1.47
3,gu_1_1,VentaCobradaUnidadNegocioSub,2022-04-01,9.913655e+08,8.513323e+08,1.16
4,gu_1_1,VentaCobradaUnidadNegocioSub,2022-05-01,1.593843e+09,1.078354e+09,1.48

### 8.2. Para MK (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [169]:
area_calculo_sba_completo_mk = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='MK']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_real = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_presupuesto = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

In [170]:
## VentaFacturadaUnidadNegocio
venta_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk['Real'] = venta_real_area_calculo_mk['Venta']
venta_real_area_calculo_mk.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk['Presupuesto'] = venta_presupuesto_area_calculo_mk['Venta']
venta_presupuesto_area_calculo_mk.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk = pd.merge(
    left=venta_presupuesto_area_calculo_mk,
    right=venta_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk['Real'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['Real'] / cumplimiento_venta_por_unidad_negocio_mk['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk['Variable'] = 'VentaFacturadaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_mk = cumplimiento_venta_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk.head()

## VentaFacturadaUnidadNegocioSub
venta_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk_sub['Real'] = venta_real_area_calculo_mk_sub['Venta']
venta_real_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk_sub['Presupuesto'] = venta_presupuesto_area_calculo_mk_sub['Venta']
venta_presupuesto_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk_sub = pd.merge(
    left=venta_presupuesto_area_calculo_mk_sub,
    right=venta_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] / cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaFacturadaUnidadNegocioSub,2022-01-01,1.713575e+09,1.776845e+09,0.96
1,mk_1_1,VentaFacturadaUnidadNegocioSub,2022-02-01,4.134703e+09,4.264428e+09,0.97
2,mk_1_1,VentaFacturadaUnidadNegocioSub,2022-03-01,6.761989e+09,7.107380e+09,0.95
3,mk_1_1,VentaFacturadaUnidadNegocioSub,2022-04-01,9.226770e+09,1.030570e+10,0.90
4,mk_1_1,VentaFacturadaUnidadNegocioSub,2022-05-01,1.223906e+10,1.314865e+10,0.93

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

In [171]:
## VentaCobradaUnidadNegocio
recaudo_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk['Real'] = recaudo_real_area_calculo_mk['Recaudo']
recaudo_real_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk['Presupuesto'] = recaudo_presupuesto_area_calculo_mk['Recaudo']
recaudo_presupuesto_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk,
    right=recaudo_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk['Variable'] = 'VentaCobradaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_mk = cumplimiento_recaudo_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk.head()

## VentaCobradaUnidadNegocioSub
recaudo_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk_sub['Real'] = recaudo_real_area_calculo_mk_sub['Recaudo']
recaudo_real_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_mk_sub['Recaudo']
recaudo_presupuesto_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_mk_sub = cumplimiento_recaudo_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaUnidadNegocioSub,2022-01-01,3.341366e+09,3.070388e+09,1.09
1,mk_1_1,VentaCobradaUnidadNegocioSub,2022-02-01,5.259995e+09,5.458468e+09,0.96
2,mk_1_1,VentaCobradaUnidadNegocioSub,2022-03-01,7.334039e+09,8.187702e+09,0.90
3,mk_1_1,VentaCobradaUnidadNegocioSub,2022-04-01,9.351589e+09,1.091694e+10,0.86
4,mk_1_1,VentaCobradaUnidadNegocioSub,2022-05-01,1.239296e+10,1.364617e+10,0.91

## 9. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

### 9.1. Para GU (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [172]:
rentabilidad_gu = df_rentabilidad.copy()
rentabilidad_gu['TipoEmpleado'] = 'GU'
rentabilidad_gu = rentabilidad_gu.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu = rentabilidad_gu.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['Real']/rentabilidad_gu['Presupuesto']
rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = rentabilidad_gu[rentabilidad_gu['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = rentabilidad_gu[rentabilidad_gu['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2208896837.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2208896837.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2208896837.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2208896837.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,RentabilidadUnidadNegocioCM3,2022-01-01,-1.983855e+08,-2.242624e+08,0.88
1,gu_2,RentabilidadUnidadNegocioCM3,2022-01-01,-1.629407e+08,-1.539791e+08,1.06
2,gu_3,RentabilidadUnidadNegocioCM3,2022-01-01,-2.558993e+06,-8.390054e+07,0.03
3,gu_4,RentabilidadUnidadNegocioCM3,2022-01-01,-5.238157e+07,7.608461e+07,-0.69
4,gu_5,RentabilidadUnidadNegocioCM3,2022-01-01,-2.557063e+08,3.271266e+07,-7.82

### 9.2. Para MK (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [173]:
rentabilidad_mk = df_rentabilidad.copy()
rentabilidad_mk['TipoEmpleado'] = 'MK'
rentabilidad_mk = rentabilidad_mk.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk = rentabilidad_mk.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['Real']/rentabilidad_mk['Presupuesto']
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2916835292.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2916835292.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2916835292.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\2916835292.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,RentabilidadUnidadNegocioCM3,2022-01-01,4.660992e+08,-8.200472e+07,-5.68
1,mk_2,RentabilidadUnidadNegocioCM3,2022-01-01,2.322309e+08,-3.580725e+08,-0.65
2,mk_3,RentabilidadUnidadNegocioCM3,2022-01-01,4.660992e+08,-8.200472e+07,-5.68
3,mk_4,RentabilidadUnidadNegocioCM3,2022-01-01,4.660992e+08,-8.200472e+07,-5.68
4,mk_5,RentabilidadUnidadNegocioCM3,2022-01-01,4.686582e+08,1.895821e+06,247.21

## 10. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

### 10.1. Para GU (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [174]:
#Calculamos la rentabilidad para GU adicionando toda la info de area_calculo_sba_completo
rentabilidad_gu_sub = df_rentabilidad.copy()
rentabilidad_gu_sub['TipoEmpleado'] = 'GU'
rentabilidad_gu_sub = rentabilidad_gu_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu_sub = rentabilidad_gu_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_gu_sub['Presupuesto'] = rentabilidad_gu_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_gu_sub['Real'] = rentabilidad_gu_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_gu_sub['PorcentajeCumplimiento'] = rentabilidad_gu_sub['Real']/rentabilidad_gu_sub['Presupuesto']
rentabilidad_gu_sub['PorcentajeCumplimiento'] = rentabilidad_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = rentabilidad_gu_sub[rentabilidad_gu_sub['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = rentabilidad_gu_sub[rentabilidad_gu_sub['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    variable='RentabilidadUnidadNegocioCM2Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    variable='RentabilidadUnidadNegocioCM3Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\1309177449.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\1309177449.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\1309177449.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\1309177449.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-1.078590e+08,-1.163808e+08,0.93
1,gu_1_2,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-9.052652e+07,-1.078816e+08,0.84
2,gu_2_1,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-1.171828e+08,-1.081003e+08,1.08
3,gu_2_2,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-4.691407e+07,-4.318544e+07,1.09
4,gu_2_3,RentabilidadUnidadNegocioCM3Sub,2022-01-01,1.156208e+06,-2.693342e+06,-0.43

### 10.2. Para MK (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [175]:
#Calculamos la rentabilidad para MK adicionando toda la info de area_calculo_sba_completo
rentabilidad_mk_sub = df_rentabilidad.copy()
rentabilidad_mk_sub['TipoEmpleado'] = 'MK'
rentabilidad_mk_sub = rentabilidad_mk_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk_sub = rentabilidad_mk_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk_sub['PorcentajeCumplimiento'] = rentabilidad_mk_sub['Real']/rentabilidad_mk_sub['Presupuesto']
rentabilidad_mk_sub['PorcentajeCumplimiento'] = rentabilidad_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = rentabilidad_mk_sub[rentabilidad_mk_sub['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = rentabilidad_mk_sub[rentabilidad_mk_sub['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    variable='RentabilidadUnidadNegocioCM2Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    variable='RentabilidadUnidadNegocioCM3Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\438289074.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\438289074.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\438289074.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\438289074.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,RentabilidadUnidadNegocioCM3Sub,2022-01-01,2.488332e+08,1.098094e+08,2.27
1,mk_1_2,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-1.806811e+07,-4.952381e+07,0.36
2,mk_1_3,RentabilidadUnidadNegocioCM3Sub,2022-01-01,4.008338e+08,9.558939e+07,4.19
3,mk_1_4,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-1.629407e+08,-1.539791e+08,1.06
4,mk_1_5,RentabilidadUnidadNegocioCM3Sub,2022-01-01,-2.558993e+06,-8.390054e+07,0.03

## 11. Objetivos de recaudo por división (VentaCobradaDivision)

In [176]:
recaudo_real_por_division = df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
recaudo_real_por_division = recaudo_real_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_por_division['Real'] = recaudo_real_por_division['Recaudo']
recaudo_real_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_real_por_division

recaudo_presupuesto_por_division = df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
recaudo_presupuesto_por_division = recaudo_presupuesto_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_por_division['Presupuesto'] = recaudo_presupuesto_por_division['Recaudo']
recaudo_presupuesto_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_presupuesto_por_division

cumplimiento_recaudo_por_division = pd.merge(
    left=recaudo_presupuesto_por_division,
    right=recaudo_real_por_division,
    on=['Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2022-01-01,2.060565e+09,1.940296e+09,1.06
1,AE,VentaCobradaDivision,2022-02-01,3.961641e+09,3.603407e+09,1.10
2,AE,VentaCobradaDivision,2022-03-01,6.093279e+09,5.820888e+09,1.05
3,AE,VentaCobradaDivision,2022-04-01,7.220195e+09,8.315554e+09,0.87
4,AE,VentaCobradaDivision,2022-05-01,1.230452e+10,1.053304e+10,1.17

## 12. Objetivos de recaudo por division con consecutivos (VentaCobradaDivisionSub)

### 12.1. Para MK (VentaCobradaDivisionSub)

In [177]:
cumplimiento_recaudo_por_division_sub_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_mk['Real'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['Presupuesto'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['Real'] / cumplimiento_recaudo_por_division_sub_mk['Presupuesto']
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_mk['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_mk,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_division_sub_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_division_sub_mk.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2022-01-01,3.341366e+09,3.070388e+09,1.09
1,mk_1_1,VentaCobradaDivisionSub,2022-02-01,5.259995e+09,5.458468e+09,0.96
2,mk_1_1,VentaCobradaDivisionSub,2022-03-01,7.334039e+09,8.187702e+09,0.90
3,mk_1_1,VentaCobradaDivisionSub,2022-04-01,9.351589e+09,1.091694e+10,0.86
4,mk_1_1,VentaCobradaDivisionSub,2022-05-01,1.239296e+10,1.364617e+10,0.91

In [178]:
cumplimiento_recaudo_otras_companias_mk = pd.merge(
    left=area_calculo_sba_completo_mk,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['Real']/cumplimiento_recaudo_otras_companias_mk['Presupuesto']
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_mk['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_otras_companias_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_mk = cumplimiento_recaudo_otras_companias_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_mk.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.2. Para GD (VentaCobradaDivisionSub)

In [179]:
area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_gd = venta_recaudo_presupuesto_original_gd_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_gd['Real'] = venta_recaudo_real_area_calculo_gd['Recaudo']
venta_recaudo_real_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_gd = venta_recaudo_presupuesto_original_gd_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_gd['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_gd['Recaudo']
venta_recaudo_presupuesto_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_gd = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_gd,
    right=venta_recaudo_real_area_calculo_gd,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_gd['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_gd['Real'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['Presupuesto'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['Real'] / cumplimiento_recaudo_por_division_sub_gd['Presupuesto']
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_gd['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_gd = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_gd,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_por_division_sub_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_gd.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2022-01-01,2.141476e+08,2.200567e+08,0.97
1,gd_1_1,VentaCobradaDivisionSub,2022-02-01,4.910179e+08,4.086767e+08,1.20
2,gd_1_1,VentaCobradaDivisionSub,2022-03-01,7.173439e+08,6.601700e+08,1.09
3,gd_1_1,VentaCobradaDivisionSub,2022-04-01,7.903005e+08,9.431000e+08,0.84
4,gd_1_1,VentaCobradaDivisionSub,2022-05-01,1.035915e+09,1.194593e+09,0.87

In [180]:
cumplimiento_recaudo_otras_companias_gd = pd.merge(
    left=area_calculo_sba_completo_gd,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['Real']/cumplimiento_recaudo_otras_companias_gd['Presupuesto']
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_otras_companias_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_gd['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_gd = cumplimiento_recaudo_otras_companias_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_gd.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.3. Para AD (VentaCobradaDivisionSub)

In [181]:
area_calculo_sba_completo_ad = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_real = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_presupuesto = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad = venta_recaudo_presupuesto_original_ad_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad['Real'] = venta_recaudo_real_area_calculo_ad['Recaudo']
venta_recaudo_real_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad = venta_recaudo_presupuesto_original_ad_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad,
    right=venta_recaudo_real_area_calculo_ad,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad['Real'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['Real'] / cumplimiento_recaudo_por_division_sub_ad['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_por_division_sub_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad = cumplimiento_recaudo_por_division_sub_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2022-01-01,1.152804e+10,1.179957e+10,0.98
1,ad_1_1,VentaCobradaDivisionSub,2022-02-01,1.949211e+10,2.097702e+10,0.93
2,ad_1_1,VentaCobradaDivisionSub,2022-03-01,2.966565e+10,3.146553e+10,0.94
3,ad_1_1,VentaCobradaDivisionSub,2022-04-01,3.736898e+10,4.195404e+10,0.89
4,ad_1_1,VentaCobradaDivisionSub,2022-05-01,4.946887e+10,5.244255e+10,0.94

In [182]:
cumplimiento_recaudo_otras_companias_ad = pd.merge(
    left=area_calculo_sba_completo_ad,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['Real']/cumplimiento_recaudo_otras_companias_ad['Presupuesto']
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_otras_companias_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad = cumplimiento_recaudo_otras_companias_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,ad_1_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
2,ad_1_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,ad_1_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,ad_1_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
...,...,...,...,...,...,...
115,ad_3_4,VentaCobradaDivisionSub,2022-08-01,0.000000e+00,0.000000e+00,NaN
116,ad_3_4,VentaCobradaDivisionSub,2022-09-01,0.000000e+00,0.000000e+00,NaN
117,ad_3_4,VentaCobradaDivisionSub,2022-10-01,0.000000e+00,0.000000e+00,NaN
118,ad_3_4,VentaCobradaDivisionSub,2022-11-01,0.000000e+00,0.000000e+00,NaN
119,ad_3_4,VentaCobradaDivisionSub,2022-12-01,0.000000e+00,0.000000e+00,NaN

### 12.4. Para AD1 (VentaCobradaDivisionSub)

In [183]:
area_calculo_sba_completo_ad1 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_real = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_presupuesto = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad1['Real'] = venta_recaudo_real_area_calculo_ad1['Recaudo']
venta_recaudo_real_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad1['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad1['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad1 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad1,
    right=venta_recaudo_real_area_calculo_ad1,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad1['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad1['Real'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['Real'] / cumplimiento_recaudo_por_division_sub_ad1['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad1['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad1,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_por_division_sub_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad1 = cumplimiento_recaudo_por_division_sub_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad1.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2022-01-01,1.152804e+10,1.179957e+10,0.98
1,ad1_1_1,VentaCobradaDivisionSub,2022-02-01,1.949211e+10,2.097702e+10,0.93
2,ad1_1_1,VentaCobradaDivisionSub,2022-03-01,2.966565e+10,3.146553e+10,0.94
3,ad1_1_1,VentaCobradaDivisionSub,2022-04-01,3.736898e+10,4.195404e+10,0.89
4,ad1_1_1,VentaCobradaDivisionSub,2022-05-01,4.946887e+10,5.244255e+10,0.94

In [184]:
cumplimiento_recaudo_otras_companias_ad1 = pd.merge(
    left=area_calculo_sba_completo_ad1,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['Real']/cumplimiento_recaudo_otras_companias_ad1['Presupuesto']
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_otras_companias_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad1['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad1 = cumplimiento_recaudo_otras_companias_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad1

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,ad1_1_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
2,ad1_1_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,ad1_1_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,ad1_1_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
...,...,...,...,...,...,...
91,ad1_8_1,VentaCobradaDivisionSub,2022-08-01,1.011819e+11,1.053526e+11,0.96
92,ad1_8_1,VentaCobradaDivisionSub,2022-09-01,1.133299e+11,1.203502e+11,0.94
93,ad1_8_1,VentaCobradaDivisionSub,2022-10-01,1.264944e+11,1.348413e+11,0.94
94,ad1_8_1,VentaCobradaDivisionSub,2022-11-01,1.391399e+11,1.482875e+11,0.94
95,ad1_8_1,VentaCobradaDivisionSub,2022-12-01,1.549085e+11,1.643821e+11,0.94

### 12.5. Para AD3 (VentaCobradaDivisionSub)

In [185]:
area_calculo_sba_completo_ad3 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_real = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_presupuesto = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad3['Real'] = venta_recaudo_real_area_calculo_ad3['Recaudo']
venta_recaudo_real_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad3['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad3['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad3 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad3,
    right=venta_recaudo_real_area_calculo_ad3,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad3['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad3['Real'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['Real'] / cumplimiento_recaudo_por_division_sub_ad3['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad3['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad3,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_por_division_sub_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad3 = cumplimiento_recaudo_por_division_sub_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad3.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2022-01-01,1.152804e+10,1.179957e+10,0.98
1,ad3_1_1,VentaCobradaDivisionSub,2022-02-01,1.949211e+10,2.097702e+10,0.93
2,ad3_1_1,VentaCobradaDivisionSub,2022-03-01,2.966565e+10,3.146553e+10,0.94
3,ad3_1_1,VentaCobradaDivisionSub,2022-04-01,3.736898e+10,4.195404e+10,0.89
4,ad3_1_1,VentaCobradaDivisionSub,2022-05-01,4.946887e+10,5.244255e+10,0.94

In [186]:
cumplimiento_recaudo_otras_companias_ad3 = pd.merge(
    left=area_calculo_sba_completo_ad3,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['Real']/cumplimiento_recaudo_otras_companias_ad3['Presupuesto']
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_otras_companias_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad3['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad3 = cumplimiento_recaudo_otras_companias_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,ad3_1_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
2,ad3_1_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,ad3_1_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,ad3_1_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
5,ad3_1_1,VentaCobradaDivisionSub,2022-06-01,7.839299e+10,7.914126e+10,0.99
6,ad3_1_1,VentaCobradaDivisionSub,2022-07-01,8.922424e+10,9.137319e+10,0.98
7,ad3_1_1,VentaCobradaDivisionSub,2022-08-01,1.011819e+11,1.053526e+11,0.96
8,ad3_1_1,VentaCobradaDivisionSub,2022-09-01,1.133299e+11,1.203502e+11,0.94
9,ad3_1_1,VentaCobradaDivisionSub,2022-10-01,1.264944e+11,1.348413e+11,0.94
10,ad3_1_1,VentaCobradaDivisionSub,2022-11-01,1.391399e+11,1.482875e+11,0.94
11,ad3_1_1,VentaCobradaDivisionSub,2022-12-01,1.549085e+11,1.643821e+11,0.94
12,ad3_2_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
13,ad3_2_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
14,ad3_2_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
15,ad3_2_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
16,ad3_2_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
17,ad3_2_1,VentaCobradaDivisionSub,2022-06-01,7.839299e+10,7.914126e+10,0.99
18,ad3_2_1,VentaCobradaDivisionSub,2022-07-01,8.922424e+10,9.137319e+10,0.98
19,ad3_2_1,VentaCobradaDivisionSub,2022-08-01,1.011819e+11,1.053526e+11,0.96
20,ad3_2_1,VentaCobradaDivisionSub,2022-09-01,1.133299e+11,1.203502e+11,0.94
21,ad3_2_1,VentaCobradaDivisionSub,2022-10-01,1.264944e+11,1.348413e+11,0.94
22,ad3_2_1,VentaCobradaDivisionSub,2022-11-01,1.391399e+11,1.482875e+11,0.94
23,ad3_2_1,VentaCobradaDivisionSub,2022-12-01,1.549085e+11,1.643821e+11,0.94
24,ad3_3_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
25,ad3_3_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
26,ad3_3_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
27,ad3_3_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
28,ad3_3_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
29,ad3_3_1,VentaCobradaDivisionSub,2022-06-01,7.839299e+10,7.914126e+10,0.99
30,ad3_3_1,VentaCobradaDivisionSub,2022-07-01,8.922424e+10,9.137319e+10,0.98
31,ad3_3_1,VentaCobradaDivisionSub,2022-08-01,1.011819e+11,1.053526e+11,0.96
32,ad3_3_1,VentaCobradaDivisionSub,2022-09-01,1.133299e+11,1.203502e+11,0.94
33,ad3_3_1,VentaCobradaDivisionSub,2022-10-01,1.264944e+11,1.348413e+11,0.94
34,ad3_3_1,VentaCobradaDivisionSub,2022-11-01,1.391399e+11,1.482875e+11,0.94
35,ad3_3_1,VentaCobradaDivisionSub,2022-12-01,1.549085e+11,1.643821e+11,0.94

### 12.6. Para AD4 (VentaCobradaDivisionSub)

In [187]:
area_calculo_sba_completo_ad4 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_real = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_presupuesto = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad4['Real'] = venta_recaudo_real_area_calculo_ad4['Recaudo']
venta_recaudo_real_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad4['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad4['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad4 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad4,
    right=venta_recaudo_real_area_calculo_ad4,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad4['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad4['Real'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['Real'] / cumplimiento_recaudo_por_division_sub_ad4['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad4['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad4,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_por_division_sub_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad4 = cumplimiento_recaudo_por_division_sub_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad4.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [188]:
cumplimiento_recaudo_otras_companias_ad4 = pd.merge(
    left=area_calculo_sba_completo_ad4,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['Real']/cumplimiento_recaudo_otras_companias_ad4['Presupuesto']
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_otras_companias_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad4['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad4 = cumplimiento_recaudo_otras_companias_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad4

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,ad4_1_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
2,ad4_1_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,ad4_1_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,ad4_1_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
...,...,...,...,...,...,...
103,ad4_3_4,VentaCobradaDivisionSub,2022-08-01,0.000000e+00,0.000000e+00,NaN
104,ad4_3_4,VentaCobradaDivisionSub,2022-09-01,0.000000e+00,0.000000e+00,NaN
105,ad4_3_4,VentaCobradaDivisionSub,2022-10-01,0.000000e+00,0.000000e+00,NaN
106,ad4_3_4,VentaCobradaDivisionSub,2022-11-01,0.000000e+00,0.000000e+00,NaN
107,ad4_3_4,VentaCobradaDivisionSub,2022-12-01,0.000000e+00,0.000000e+00,NaN

### 12.7. Para AD5 (VentaCobradaDivisionSub)

In [189]:
area_calculo_sba_completo_ad5 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_real = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_presupuesto = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad5['Real'] = venta_recaudo_real_area_calculo_ad5['Recaudo']
venta_recaudo_real_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad5['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad5['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad5 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad5,
    right=venta_recaudo_real_area_calculo_ad5,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad5['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad5['Real'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['Real'] / cumplimiento_recaudo_por_division_sub_ad5['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad5['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad5,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_por_division_sub_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad5 = cumplimiento_recaudo_por_division_sub_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad5.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [190]:
cumplimiento_recaudo_otras_companias_ad5 = pd.merge(
    left=area_calculo_sba_completo_ad5,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['Real']/cumplimiento_recaudo_otras_companias_ad5['Presupuesto']
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_otras_companias_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad5['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad5 = cumplimiento_recaudo_otras_companias_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad5

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,VentaCobradaDivisionSub,2022-01-01,1.397743e+10,1.407457e+10,0.99
1,ad5_1_1,VentaCobradaDivisionSub,2022-02-01,1.017954e+10,1.124297e+10,0.91
2,ad5_1_1,VentaCobradaDivisionSub,2022-03-01,3.680697e+10,3.851732e+10,0.96
3,ad5_1_1,VentaCobradaDivisionSub,2022-04-01,4.596549e+10,5.188444e+10,0.89
4,ad5_1_1,VentaCobradaDivisionSub,2022-05-01,6.373539e+10,6.499269e+10,0.98
5,ad5_1_1,VentaCobradaDivisionSub,2022-06-01,7.839299e+10,7.914126e+10,0.99
6,ad5_1_1,VentaCobradaDivisionSub,2022-07-01,8.922424e+10,9.137319e+10,0.98
7,ad5_1_1,VentaCobradaDivisionSub,2022-08-01,1.011819e+11,1.053526e+11,0.96
8,ad5_1_1,VentaCobradaDivisionSub,2022-09-01,1.133299e+11,1.203502e+11,0.94
9,ad5_1_1,VentaCobradaDivisionSub,2022-10-01,1.264944e+11,1.348413e+11,0.94
10,ad5_1_1,VentaCobradaDivisionSub,2022-11-01,1.391399e+11,1.482875e+11,0.94
11,ad5_1_1,VentaCobradaDivisionSub,2022-12-01,1.549085e+11,1.643821e+11,0.94
12,ad5_1_2,VentaCobradaDivisionSub,2022-01-01,1.020000e+00,1.000000e+00,1.02
13,ad5_1_2,VentaCobradaDivisionSub,2022-02-01,1.020000e+00,1.000000e+00,1.02
14,ad5_1_2,VentaCobradaDivisionSub,2022-03-01,1.020000e+00,1.000000e+00,1.02
15,ad5_1_2,VentaCobradaDivisionSub,2022-04-01,0.000000e+00,0.000000e+00,NaN
16,ad5_1_2,VentaCobradaDivisionSub,2022-05-01,0.000000e+00,0.000000e+00,NaN
17,ad5_1_2,VentaCobradaDivisionSub,2022-06-01,0.000000e+00,0.000000e+00,NaN
18,ad5_1_2,VentaCobradaDivisionSub,2022-07-01,0.000000e+00,0.000000e+00,NaN
19,ad5_1_2,VentaCobradaDivisionSub,2022-08-01,0.000000e+00,0.000000e+00,NaN
20,ad5_1_2,VentaCobradaDivisionSub,2022-09-01,0.000000e+00,0.000000e+00,NaN
21,ad5_1_2,VentaCobradaDivisionSub,2022-10-01,0.000000e+00,0.000000e+00,NaN
22,ad5_1_2,VentaCobradaDivisionSub,2022-11-01,0.000000e+00,0.000000e+00,NaN
23,ad5_1_2,VentaCobradaDivisionSub,2022-12-01,0.000000e+00,0.000000e+00,NaN

## 13. Objetivos de rentabilidad CM5 a nivel país (RentabilidadBbraunPaisAntesDeImpuestos)

In [191]:
cumplimiento_rentabilidad_cm5_nivel_pais = df_rentabilidad[(df_rentabilidad['Compania']=='BBMCO')&(df_rentabilidad['ClaseRentabilidad']=='CMV')]

cumplimiento_rentabilidad_cm5_nivel_pais = cumplimiento_rentabilidad_cm5_nivel_pais.groupby(
    ['Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'] = cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_cm5_nivel_pais['Real'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'] / cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto']
cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_rentabilidad_cm5_nivel_pais['Contexto'] = 'CM5'
cumplimiento_rentabilidad_cm5_nivel_pais['Variable'] = 'RentabilidadBbraunPaisAntesDeImpuestos'

cumplimiento_rentabilidad_cm5_nivel_pais.head()

,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Contexto,Variable
0,2022-01-01,-1.451527e+09,2.848085e+08,-5.10,CM5,RentabilidadBbraunPaisAntesDeImpuestos
1,2022-02-01,-1.975449e+09,6.799957e+08,-2.91,CM5,RentabilidadBbraunPaisAntesDeImpuestos
2,2022-03-01,-7.614544e+08,1.130897e+09,-0.67,CM5,RentabilidadBbraunPaisAntesDeImpuestos
3,2022-04-01,-1.410656e+09,1.637425e+09,-0.86,CM5,RentabilidadBbraunPaisAntesDeImpuestos
4,2022-05-01,-5.242929e+08,2.090884e+09,-0.25,CM5,RentabilidadBbraunPaisAntesDeImpuestos

## 14. Objetivos de rentabilidad CM3 por grupo clientes con consecutivos (RentabilidadDivisionGrupoClientesCM3Sub)

In [192]:
rentabilidad_division_cm3_gd = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd,
    on=['GrupoProducto', 'SBA'],
    how='left'
)
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = rentabilidad_division_cm3_gd.groupby(
    ['Division', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Division'].astype('str').str.cat(cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Variable'] = 'RentabilidadDivisionGrupoClientesCM3Sub'
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = cumplimiento_rentabilidad_cm3_grupo_clientes_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-01-01,-3.548278e+07,-5.180539e+07,0.68
1,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-02-01,-5.914022e+07,-7.368860e+07,0.80
2,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-03-01,8.763560e+07,-6.206334e+07,-1.41
3,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-04-01,1.347977e+08,-4.784191e+07,-2.82
4,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-05-01,2.187809e+08,-4.910598e+07,-4.46
...,...,...,...,...,...,...
187,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-08-01,1.004061e+10,1.594442e+10,0.63
188,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-09-01,1.191684e+10,1.880908e+10,0.63
189,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-10-01,1.259602e+10,2.128635e+10,0.59
190,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-11-01,1.548140e+10,2.415100e+10,0.64
191,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2022-12-01,1.826293e+10,2.817779e+10,0.65

## 15. Objetivos de rentabilidad CM3 por grupo clientes (RentabilidadDivisionGrupoClientesCM3)

In [193]:
cumplimiento_rentabilidad_cm3_grupo_clientes = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd[['GrupoProducto', 'SBA', 'Division', 'AreaCalculo']].drop_duplicates(['GrupoProducto', 'SBA', 'AreaCalculo', 'Division']),
    on=['GrupoProducto', 'SBA'],
    how='left'
)

cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes.groupby(
    ['AreaCalculo', 'Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] = cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'].astype(int).astype(str)

cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] + '_' + cumplimiento_rentabilidad_cm3_grupo_clientes['Division']
cumplimiento_rentabilidad_cm3_grupo_clientes['Variable'] = 'RentabilidadDivisionGrupoClientesCM3'
cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2022-01-01,-3.993679e+08,-5.139475e+08,0.78
1,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2022-02-01,-8.922258e+08,-8.058718e+08,1.11
2,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2022-03-01,-1.349575e+08,-9.867845e+08,0.14
3,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2022-04-01,7.196891e+07,-1.056686e+09,-0.07
4,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2022-05-01,6.144047e+08,-1.244508e+09,-0.49
...,...,...,...,...,...,...
103,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2022-08-01,5.020304e+09,7.972212e+09,0.63
104,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2022-09-01,5.958422e+09,9.404538e+09,0.63
105,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2022-10-01,6.298010e+09,1.064318e+10,0.59
106,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2022-11-01,7.740699e+09,1.207550e+10,0.64
107,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2022-12-01,9.131464e+09,1.408889e+10,0.65

## 16. Objetivos de rentabilidad por grupo clientes (RentabilidadGrupoClientesCM2)

In [194]:
area_calculo_sba_completo_kam = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'KAM']

cumplimiento_rentabilidad_cm2_grupo_clientes = pd.merge(
    left=area_calculo_sba_completo_kam[['Division', 'AreaCalculo', 'Consecutivo']].drop_duplicates(),
    right=df_rentabilidad_kam,
    on='Division',
    how='left'
)
cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_rentabilidad_cm2_grupo_clientes['Real'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['Real']/cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm2_grupo_clientes['Contexto'] = 'kam_' + cumplimiento_rentabilidad_cm2_grupo_clientes['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm2_grupo_clientes['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm2_grupo_clientes['Variable'] = 'RentabilidadGrupoClientesCM2'
cumplimiento_rentabilidad_cm2_grupo_clientes = cumplimiento_rentabilidad_cm2_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm2_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_3_1,RentabilidadGrupoClientesCM2,2022-01-01,8.004275e+08,5.855395e+08,1.37
1,kam_3_1,RentabilidadGrupoClientesCM2,2022-02-01,1.741524e+09,1.389547e+09,1.25
2,kam_3_1,RentabilidadGrupoClientesCM2,2022-03-01,2.785586e+09,2.305632e+09,1.21
3,kam_3_1,RentabilidadGrupoClientesCM2,2022-04-01,3.545922e+09,3.458868e+09,1.03
4,kam_3_1,RentabilidadGrupoClientesCM2,2022-05-01,4.733787e+09,4.261031e+09,1.11
5,kam_3_1,RentabilidadGrupoClientesCM2,2022-06-01,5.788046e+09,5.295809e+09,1.09
6,kam_3_1,RentabilidadGrupoClientesCM2,2022-07-01,7.144660e+09,6.231955e+09,1.15
7,kam_3_1,RentabilidadGrupoClientesCM2,2022-08-01,8.270232e+09,7.279207e+09,1.14
8,kam_3_1,RentabilidadGrupoClientesCM2,2022-09-01,9.511877e+09,8.326459e+09,1.14
9,kam_3_1,RentabilidadGrupoClientesCM2,2022-10-01,1.004590e+10,9.324229e+09,1.08
10,kam_3_1,RentabilidadGrupoClientesCM2,2022-11-01,1.250586e+10,1.036940e+10,1.21
11,kam_3_1,RentabilidadGrupoClientesCM2,2022-12-01,1.409065e+10,1.157607e+10,1.22
12,kam_4_1,RentabilidadGrupoClientesCM2,2022-01-01,0.000000e+00,0.000000e+00,NaN
13,kam_4_1,RentabilidadGrupoClientesCM2,2022-03-01,0.000000e+00,0.000000e+00,NaN
14,kam_4_1,RentabilidadGrupoClientesCM2,2022-04-01,0.000000e+00,0.000000e+00,NaN
15,kam_4_1,RentabilidadGrupoClientesCM2,2022-05-01,0.000000e+00,0.000000e+00,NaN
16,kam_4_1,RentabilidadGrupoClientesCM2,2022-06-01,0.000000e+00,0.000000e+00,NaN
17,kam_4_1,RentabilidadGrupoClientesCM2,2022-07-01,0.000000e+00,0.000000e+00,NaN
18,kam_4_1,RentabilidadGrupoClientesCM2,2022-08-01,0.000000e+00,0.000000e+00,NaN
19,kam_4_1,RentabilidadGrupoClientesCM2,2022-09-01,0.000000e+00,0.000000e+00,NaN
20,kam_4_1,RentabilidadGrupoClientesCM2,2022-10-01,0.000000e+00,0.000000e+00,NaN
21,kam_4_1,RentabilidadGrupoClientesCM2,2022-11-01,0.000000e+00,0.000000e+00,NaN
22,kam_4_1,RentabilidadGrupoClientesCM2,2022-12-01,0.000000e+00,0.000000e+00,NaN

## 17. Objetivos de rentabilidad antes de impuestos CM5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [195]:
rentabilidad_antes_de_impuestos_cm5 = df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMV')]
rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)
rentabilidad_antes_de_impuestos_cm5 = rentabilidad_antes_de_impuestos_cm5.groupby(
    ['Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_antes_de_impuestos_cm5['Presupuesto'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_antes_de_impuestos_cm5['Real'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['Real'] / rentabilidad_antes_de_impuestos_cm5['Presupuesto']
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_antes_de_impuestos_cm5['Variable'] = 'TotalRentabilidadBraunAntesDeImpuestosCM5'

rentabilidad_antes_de_impuestos_cm5

C:\Users\Crisp\AppData\Local\Temp\ipykernel_42460\1697700680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)

,Division,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Variable
0,BBACO,2022-01-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
1,BBMCO,2022-01-01,-1.451527e+09,2.848085e+08,-5.10,TotalRentabilidadBraunAntesDeImpuestosCM5
2,BBMCO,2022-02-01,-1.975449e+09,6.799957e+08,-2.91,TotalRentabilidadBraunAntesDeImpuestosCM5
3,BBMCO,2022-03-01,-7.614544e+08,1.130897e+09,-0.67,TotalRentabilidadBraunAntesDeImpuestosCM5
4,BBMCO,2022-04-01,-1.410656e+09,1.637425e+09,-0.86,TotalRentabilidadBraunAntesDeImpuestosCM5
5,BBMCO,2022-05-01,-5.242929e+08,2.090884e+09,-0.25,TotalRentabilidadBraunAntesDeImpuestosCM5
6,BBMCO,2022-06-01,-1.103560e+09,2.599098e+09,-0.42,TotalRentabilidadBraunAntesDeImpuestosCM5
7,BBMCO,2022-07-01,8.473920e+08,3.054244e+09,0.28,TotalRentabilidadBraunAntesDeImpuestosCM5
8,BBMCO,2022-08-01,9.868616e+08,3.565046e+09,0.28,TotalRentabilidadBraunAntesDeImpuestosCM5
9,BBMCO,2022-09-01,8.457226e+08,4.075849e+09,0.21,TotalRentabilidadBraunAntesDeImpuestosCM5
10,BBMCO,2022-10-01,-1.160809e+09,4.560252e+09,-0.25,TotalRentabilidadBraunAntesDeImpuestosCM5
11,BBMCO,2022-11-01,-1.100656e+09,5.070327e+09,-0.22,TotalRentabilidadBraunAntesDeImpuestosCM5
12,BBMCO,2022-12-01,-1.038103e+08,5.662455e+09,-0.02,TotalRentabilidadBraunAntesDeImpuestosCM5
13,BBMEC,2022-01-01,-2.369673e+05,-3.216585e+04,7.37,TotalRentabilidadBraunAntesDeImpuestosCM5
14,BBMEC,2022-02-01,-4.138540e+05,-3.354393e+04,12.34,TotalRentabilidadBraunAntesDeImpuestosCM5
15,BBMEC,2022-03-01,-7.086165e+05,-4.702253e+04,15.07,TotalRentabilidadBraunAntesDeImpuestosCM5
16,BBMEC,2022-04-01,-1.090404e+05,1.718388e+04,-6.35,TotalRentabilidadBraunAntesDeImpuestosCM5
17,BBMEC,2022-05-01,-1.066297e+06,3.995227e+04,-26.69,TotalRentabilidadBraunAntesDeImpuestosCM5
18,BBMEC,2022-06-01,-1.145115e+06,1.623502e+05,-7.05,TotalRentabilidadBraunAntesDeImpuestosCM5
19,BBMEC,2022-07-01,-1.212936e+06,2.291344e+05,-5.29,TotalRentabilidadBraunAntesDeImpuestosCM5
20,BBMEC,2022-08-01,-1.346030e+06,2.944150e+05,-4.57,TotalRentabilidadBraunAntesDeImpuestosCM5
21,BBMEC,2022-09-01,-1.381663e+06,3.581927e+05,-3.86,TotalRentabilidadBraunAntesDeImpuestosCM5
22,BBMEC,2022-10-01,-1.447515e+06,4.204668e+05,-3.44,TotalRentabilidadBraunAntesDeImpuestosCM5
23,BBMEC,2022-11-01,-1.623303e+06,4.812375e+05,-3.37,TotalRentabilidadBraunAntesDeImpuestosCM5
24,BBMEC,2022-12-01,-1.528911e+06,5.915834e+05,-2.58,TotalRentabilidadBraunAntesDeImpuestosCM5
25,BBSCO,2022-01-01,1.020000e+00,1.000000e+00,1.02,TotalRentabilidadBraunAntesDeImpuestosCM5
26,BBSCO,2022-02-01,1.020000e+00,1.000000e+00,1.02,TotalRentabilidadBraunAntesDeImpuestosCM5
27,BBSCO,2022-03-01,1.020000e+00,1.000000e+00,1.02,TotalRentabilidadBraunAntesDeImpuestosCM5
28,BBSCO,2022-04-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
29,BBSCO,2022-05-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
30,BBSCO,2022-06-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
31,BBSCO,2022-07-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
32,BBSCO,2022-08-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
33,BBSCO,2022-09-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
34,BBSCO,2022-10-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
35,BBSCO,2022-11-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
36,BBSCO,2022-12-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5

### 17.1. Para AD (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [196]:
cumplimiento_rentabilidad_cm5_ad = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad['Contexto'] = 'ad_' + cumplimiento_rentabilidad_cm5_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad = cumplimiento_rentabilidad_cm5_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,-1.451527e+09,2.848085e+08,-5.10
1,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,-1.975449e+09,6.799957e+08,-2.91
2,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,-7.614544e+08,1.130897e+09,-0.67
3,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,-1.410656e+09,1.637425e+09,-0.86
4,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,-5.242929e+08,2.090884e+09,-0.25
...,...,...,...,...,...,...
299,ad_4_3,NaN,NaT,NaN,NaN,NaN
300,ad_4_3,NaN,NaT,NaN,NaN,NaN
301,ad_4_3,NaN,NaT,NaN,NaN,NaN
302,ad_4_3,NaN,NaT,NaN,NaN,NaN
303,ad_4_3,NaN,NaT,NaN,NaN,NaN

### 17.2. Para AD1 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [197]:
cumplimiento_rentabilidad_cm5_ad1 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad1,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad1['Contexto'] = 'ad1_' + cumplimiento_rentabilidad_cm5_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad1 = cumplimiento_rentabilidad_cm5_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad1

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,-1.451527e+09,2.848085e+08,-5.10
1,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,-1.975449e+09,6.799957e+08,-2.91
2,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,-7.614544e+08,1.130897e+09,-0.67
3,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,-1.410656e+09,1.637425e+09,-0.86
4,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,-5.242929e+08,2.090884e+09,-0.25
...,...,...,...,...,...,...
413,ad1_8_3,NaN,NaT,NaN,NaN,NaN
414,ad1_8_3,NaN,NaT,NaN,NaN,NaN
415,ad1_8_3,NaN,NaT,NaN,NaN,NaN
416,ad1_8_3,NaN,NaT,NaN,NaN,NaN
417,ad1_8_3,NaN,NaT,NaN,NaN,NaN

### 17.3. Para AD2 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [198]:
cumplimiento_rentabilidad_cm5_ad2 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad2 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad2,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD2'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad2['Contexto'] = 'ad2_' + cumplimiento_rentabilidad_cm5_ad2['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad2['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad2 = cumplimiento_rentabilidad_cm5_ad2[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad2

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,1.02,1.0,1.02
1,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,1.02,1.0,1.02
2,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,1.02,1.0,1.02
3,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,0.00,0.0,NaN
4,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,0.00,0.0,NaN
5,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-06-01,0.00,0.0,NaN
6,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-07-01,0.00,0.0,NaN
7,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-08-01,0.00,0.0,NaN
8,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-09-01,0.00,0.0,NaN
9,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-10-01,0.00,0.0,NaN
10,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-11-01,0.00,0.0,NaN
11,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-12-01,0.00,0.0,NaN
12,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,1.02,1.0,1.02
13,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,1.02,1.0,1.02
14,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,1.02,1.0,1.02
15,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,0.00,0.0,NaN
16,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,0.00,0.0,NaN
17,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-06-01,0.00,0.0,NaN
18,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-07-01,0.00,0.0,NaN
19,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-08-01,0.00,0.0,NaN
20,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-09-01,0.00,0.0,NaN
21,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-10-01,0.00,0.0,NaN
22,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-11-01,0.00,0.0,NaN
23,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-12-01,0.00,0.0,NaN

### 17.4. Para AD3 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [199]:
cumplimiento_rentabilidad_cm5_ad3 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad3,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad3['Contexto'] = 'ad3_' + cumplimiento_rentabilidad_cm5_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad3 = cumplimiento_rentabilidad_cm5_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad3

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,-1.451527e+09,2.848085e+08,-5.10
1,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,-1.975449e+09,6.799957e+08,-2.91
2,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,-7.614544e+08,1.130897e+09,-0.67
3,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,-1.410656e+09,1.637425e+09,-0.86
4,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,-5.242929e+08,2.090884e+09,-0.25
...,...,...,...,...,...,...
169,ad3_3_3,NaN,NaT,NaN,NaN,NaN
170,ad3_3_3,NaN,NaT,NaN,NaN,NaN
171,ad3_3_3,NaN,NaT,NaN,NaN,NaN
172,ad3_3_3,NaN,NaT,NaN,NaN,NaN
173,ad3_3_3,NaN,NaT,NaN,NaN,NaN

### 17.5. Para AD4 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [200]:
cumplimiento_rentabilidad_cm5_ad4 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad4,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad4['Contexto'] = 'ad4_' + cumplimiento_rentabilidad_cm5_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad4 = cumplimiento_rentabilidad_cm5_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad4

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,-1.451527e+09,2.848085e+08,-5.10
1,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,-1.975449e+09,6.799957e+08,-2.91
2,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,-7.614544e+08,1.130897e+09,-0.67
3,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,-1.410656e+09,1.637425e+09,-0.86
4,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,-5.242929e+08,2.090884e+09,-0.25
...,...,...,...,...,...,...
103,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-08-01,0.000000e+00,0.000000e+00,NaN
104,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-09-01,0.000000e+00,0.000000e+00,NaN
105,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-10-01,0.000000e+00,0.000000e+00,NaN
106,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-11-01,0.000000e+00,0.000000e+00,NaN
107,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-12-01,0.000000e+00,0.000000e+00,NaN

### 17.6. Para AD5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [201]:
cumplimiento_rentabilidad_cm5_ad5 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad5,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad5['Contexto'] = 'ad5_' + cumplimiento_rentabilidad_cm5_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad5 = cumplimiento_rentabilidad_cm5_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad5

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,-1.451527e+09,2.848085e+08,-5.10
1,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,-1.975449e+09,6.799957e+08,-2.91
2,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,-7.614544e+08,1.130897e+09,-0.67
3,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,-1.410656e+09,1.637425e+09,-0.86
4,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,-5.242929e+08,2.090884e+09,-0.25
5,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-06-01,-1.103560e+09,2.599098e+09,-0.42
6,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-07-01,8.473920e+08,3.054244e+09,0.28
7,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-08-01,9.868616e+08,3.565046e+09,0.28
8,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-09-01,8.457226e+08,4.075849e+09,0.21
9,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-10-01,-1.160809e+09,4.560252e+09,-0.25
10,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-11-01,-1.100656e+09,5.070327e+09,-0.22
11,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-12-01,-1.038103e+08,5.662455e+09,-0.02
12,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-01-01,1.020000e+00,1.000000e+00,1.02
13,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-02-01,1.020000e+00,1.000000e+00,1.02
14,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-03-01,1.020000e+00,1.000000e+00,1.02
15,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-04-01,0.000000e+00,0.000000e+00,NaN
16,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-05-01,0.000000e+00,0.000000e+00,NaN
17,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-06-01,0.000000e+00,0.000000e+00,NaN
18,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-07-01,0.000000e+00,0.000000e+00,NaN
19,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-08-01,0.000000e+00,0.000000e+00,NaN
20,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-09-01,0.000000e+00,0.000000e+00,NaN
21,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-10-01,0.000000e+00,0.000000e+00,NaN
22,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-11-01,0.000000e+00,0.000000e+00,NaN
23,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2022-12-01,0.000000e+00,0.000000e+00,NaN

## 18. Objetivos de venta facturada previo notas crédito TP (VentaFacturadaPrevioNotasCreditoTP)

In [202]:
cumplimiento_venta_previo_notas_credito_tp = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=df_venta_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division'],
    how='left'
)

# cumplimiento_venta_previo_notas_credito_tp['Presupuesto'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_venta_previo_notas_credito_tp['Real'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['Real'] / cumplimiento_venta_previo_notas_credito_tp['Presupuesto']
cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_previo_notas_credito_tp['Variable'] = 'VentaFacturadaPrevioNotasCreditoTP'
cumplimiento_venta_previo_notas_credito_tp['Contexto'] = 'ad2_' + cumplimiento_venta_previo_notas_credito_tp['AreaCalculo'].astype('str').str.cat(cumplimiento_venta_previo_notas_credito_tp['Consecutivo'].astype('str'), sep="_")
cumplimiento_venta_previo_notas_credito_tp = cumplimiento_venta_previo_notas_credito_tp[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_previo_notas_credito_tp

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,VentaFacturadaPrevioNotasCreditoTP,2022-01-01,2.422864e+09,2.725164e+09,0.89
1,ad2_2_1,VentaFacturadaPrevioNotasCreditoTP,2022-01-01,2.422864e+09,2.725164e+09,0.89

## 19. Venta de servicios Mtto (VentaServiciosMtto)

In [203]:
cumplimiento_venta_servicios_mtto = df_venta_servicios_mtto

cumplimiento_venta_servicios_mtto['Presupuesto'] = cumplimiento_venta_servicios_mtto['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_servicios_mtto['Real'] = cumplimiento_venta_servicios_mtto['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['Real'] / cumplimiento_venta_servicios_mtto['Presupuesto']
cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_servicios_mtto['Variable'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto['Contexto'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto = cumplimiento_venta_servicios_mtto[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_servicios_mtto

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VentaServiciosMtto,VentaServiciosMtto,2022-01-01,-1056639.0,1.617146e+07,-0.07
1,VentaServiciosMtto,VentaServiciosMtto,2022-02-01,2179207.0,5.498297e+07,0.04
2,VentaServiciosMtto,VentaServiciosMtto,2022-03-01,5415053.0,1.196688e+08,0.05
3,VentaServiciosMtto,VentaServiciosMtto,2022-04-01,16729299.0,2.134633e+08,0.08
4,VentaServiciosMtto,VentaServiciosMtto,2022-05-01,48430995.0,3.331321e+08,0.15
5,VentaServiciosMtto,VentaServiciosMtto,2022-06-01,80132691.0,4.819095e+08,0.17
6,VentaServiciosMtto,VentaServiciosMtto,2022-07-01,139449808.0,6.565613e+08,0.21
7,VentaServiciosMtto,VentaServiciosMtto,2022-08-01,198099300.0,8.603217e+08,0.23
8,VentaServiciosMtto,VentaServiciosMtto,2022-09-01,256991704.0,1.093191e+09,0.24

# Nuevos rubros 2022

## 20. Venta Cobrada BBraun Cluster (UCI + OR) (VentaCobradaBraunCluster)

In [204]:
main = df_cluster_plan_real_recaudo.copy()
main

    Cluster      Fecha          Real   Presupuesto
0         0 2022-01-01  4.496118e+08  3.842349e+08
1         0 2022-02-01  4.190758e+08  3.267651e+08
2         0 2022-03-01  4.072436e+08  3.983646e+08
3         0 2022-04-01  2.185256e+08  3.801743e+08
4         0 2022-05-01  6.141739e+08  3.869473e+08
..      ...        ...           ...           ...
283       9 2022-08-01  9.378895e+08  1.056909e+09
284       9 2022-09-01  9.482792e+08  1.105593e+09
285       9 2022-10-01  9.609612e+08  1.076196e+09
286       9 2022-11-01  8.343672e+08  1.005640e+09
287       9 2022-12-01  1.221088e+09  1.190090e+09

[288 rows x 4 columns]

In [205]:
print(main)
main = df_cluster_plan_real_recaudo.copy()
# TODO Validar si se ignoran para TODOS los resultados

# Calcular
main = main.groupby(['Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['Cluster'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Cluster'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaBraunCluster'

#print(main)
#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Cluster': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_braun_cluster = main.copy()
main = None

venta_cobrada_braun_cluster

# Contexto: Cluster

    Cluster      Fecha          Real   Presupuesto
0         0 2022-01-01  4.496118e+08  3.842349e+08
1         0 2022-02-01  4.190758e+08  3.267651e+08
2         0 2022-03-01  4.072436e+08  3.983646e+08
3         0 2022-04-01  2.185256e+08  3.801743e+08
4         0 2022-05-01  6.141739e+08  3.869473e+08
..      ...        ...           ...           ...
283       9 2022-08-01  9.378895e+08  1.056909e+09
284       9 2022-09-01  9.482792e+08  1.105593e+09
285       9 2022-10-01  9.609612e+08  1.076196e+09
286       9 2022-11-01  8.343672e+08  1.005640e+09
287       9 2022-12-01  1.221088e+09  1.190090e+09

[288 rows x 4 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,0,VentaCobradaBraunCluster,2022-03-01,4.072436e+08,3.983646e+08,1.02
1,0,VentaCobradaBraunCluster,2022-04-01,6.257692e+08,7.785389e+08,0.80
2,0,VentaCobradaBraunCluster,2022-05-01,1.239943e+09,1.165486e+09,1.06
3,0,VentaCobradaBraunCluster,2022-06-01,1.644008e+09,1.559891e+09,1.05
4,0,VentaCobradaBraunCluster,2022-07-01,2.143711e+09,1.953417e+09,1.10
...,...,...,...,...,...,...
235,9,VentaCobradaBraunCluster,2022-08-01,5.653779e+09,5.979687e+09,0.95
236,9,VentaCobradaBraunCluster,2022-09-01,6.602058e+09,7.085280e+09,0.93
237,9,VentaCobradaBraunCluster,2022-10-01,7.563019e+09,8.161477e+09,0.93
238,9,VentaCobradaBraunCluster,2022-11-01,8.397386e+09,9.167116e+09,0.92
239,9,VentaCobradaBraunCluster,2022-12-01,9.618475e+09,1.035721e+10,0.93

## 21. Venta Cobrada Portafolio Cluster (VentaCobradaPortafolioCluster)

In [206]:
drop_cols = ['Venta', 'Division', 'ZonaGeografica', 'GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Recaudo': 'Presupuesto'}).merge(
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado', 'Cluster','Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main.reset_index(inplace=True)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster = main.copy()
main = None
venta_cobrada_portafolio_cluster

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaCobradaPortafolioCluster,2022-04-01,4.452102e+08,4.489257e+08,0.99
1,1111111,VentaCobradaPortafolioCluster,2022-05-01,9.816191e+08,8.900301e+08,1.10
2,1111111,VentaCobradaPortafolioCluster,2022-06-01,1.424943e+09,1.369383e+09,1.04
3,1111111,VentaCobradaPortafolioCluster,2022-07-01,1.688914e+09,1.774299e+09,0.95
4,1111111,VentaCobradaPortafolioCluster,2022-08-01,1.962468e+09,2.239603e+09,0.88
...,...,...,...,...,...,...
287,5044110,VentaCobradaPortafolioCluster,2022-08-01,1.287955e+09,1.185240e+09,1.09
288,5044110,VentaCobradaPortafolioCluster,2022-09-01,1.651630e+09,1.453962e+09,1.14
289,5044110,VentaCobradaPortafolioCluster,2022-10-01,2.012959e+09,1.715230e+09,1.17
290,5044110,VentaCobradaPortafolioCluster,2022-11-01,2.209964e+09,1.953407e+09,1.13
291,5044110,VentaCobradaPortafolioCluster,2022-12-01,2.461177e+09,2.244663e+09,1.10

## 22. Venta Cobrada Portafolio Cluster sub (VentaCobradaPortafolioClusterSub)

In [207]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

drop_cols = ['Venta', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Recaudo': 'Presupuesto'}),
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo_Cluster

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaCobradaPortafolioClusterSub,2022-04-01,6744423.0,1.322428e+07,0.51
1,1111111_1,VentaCobradaPortafolioClusterSub,2022-05-01,94401271.0,2.497919e+07,3.78
2,1111111_1,VentaCobradaPortafolioClusterSub,2022-06-01,134297654.0,3.526474e+07,3.81
3,1111111_1,VentaCobradaPortafolioClusterSub,2022-07-01,176460489.0,4.848901e+07,3.64
4,1111111_1,VentaCobradaPortafolioClusterSub,2022-08-01,137944301.0,6.465202e+07,2.13
...,...,...,...,...,...,...
2048,5043868_11,VentaCobradaPortafolioClusterSub,2022-12-01,NaN,NaN,1.00
2049,5002792_11,VentaCobradaPortafolioClusterSub,2022-12-01,NaN,NaN,1.00
2050,5016689_11,VentaCobradaPortafolioClusterSub,2022-12-01,NaN,NaN,1.00
2051,1111113_11,VentaCobradaPortafolioClusterSub,2022-12-01,NaN,NaN,1.00
2052,1111111_10,VentaCobradaPortafolioClusterSub,2022-12-01,NaN,NaN,1.00

## 23. Venta Facturada Portafolio Cluster (VentaFacturadaPortafolioCluster)

In [208]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (Venta)

# Merge de tablas
drop_cols = ['Recaudo', 'ZonaGeografica', 'Canal']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['CodigoEmpleado', 'AreaCalculo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioCluster'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster = main.copy()
main = None
venta_facturada_portafolio_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaFacturadaPortafolioCluster,2022-04-01,3.114225e+08,5.169076e+08,0.60
1,1111111,VentaFacturadaPortafolioCluster,2022-05-01,6.951287e+08,9.780467e+08,0.71
2,1111111,VentaFacturadaPortafolioCluster,2022-06-01,1.137297e+09,1.495843e+09,0.76
3,1111111,VentaFacturadaPortafolioCluster,2022-07-01,1.344571e+09,1.957105e+09,0.69
4,1111111,VentaFacturadaPortafolioCluster,2022-08-01,1.664836e+09,2.475147e+09,0.67
...,...,...,...,...,...,...
333,5044110,VentaFacturadaPortafolioCluster,2022-08-01,1.272569e+09,1.318277e+09,0.97
334,5044110,VentaFacturadaPortafolioCluster,2022-09-01,1.631956e+09,1.594211e+09,1.02
335,5044110,VentaFacturadaPortafolioCluster,2022-10-01,1.919687e+09,1.855470e+09,1.03
336,5044110,VentaFacturadaPortafolioCluster,2022-11-01,2.251649e+09,2.131302e+09,1.06
337,5044110,VentaFacturadaPortafolioCluster,2022-12-01,2.671600e+09,2.452355e+09,1.09

## 24. Venta Facturada Portafolio Cluster sub (VentaFacturadaPortafolioClusterSub)

In [209]:
drop_cols = ['Recaudo', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Venta': 'Presupuesto'}),
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster_sub = main.copy()
main = None
venta_facturada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaPortafolioClusterSub,2022-04-01,26570174.0,1.377529e+07,1.93
1,1111111_1,VentaFacturadaPortafolioClusterSub,2022-05-01,123090990.0,2.601999e+07,4.73
2,1111111_1,VentaFacturadaPortafolioClusterSub,2022-06-01,158982152.0,3.979528e+07,4.00
3,1111111_1,VentaFacturadaPortafolioClusterSub,2022-07-01,185352617.0,5.203998e+07,3.56
4,1111111_1,VentaFacturadaPortafolioClusterSub,2022-08-01,189740827.0,6.581526e+07,2.88
...,...,...,...,...,...,...
2206,5044110_10,VentaFacturadaPortafolioClusterSub,2022-08-01,7562024.0,5.662840e+06,1.34
2207,5044110_10,VentaFacturadaPortafolioClusterSub,2022-09-01,9469084.0,6.971430e+06,1.36
2208,5044110_10,VentaFacturadaPortafolioClusterSub,2022-10-01,10291359.0,8.347054e+06,1.23
2209,5044110_10,VentaFacturadaPortafolioClusterSub,2022-11-01,11343880.0,9.553648e+06,1.19
2210,5044110_10,VentaFacturadaPortafolioClusterSub,2022-12-01,13234714.0,1.072528e+07,1.23

## 25. Venta cobrada y facturada portafolio (VentaCobradaPortafolioPais, VentaFacturadaPortafolioZonaSub, VentaCobradaPortafolioZona, VentaCobradaPortafolioClusterSub, VentaFacturadaPorfafolioCluster)

In [210]:
def pre_merge_venta_cobrada_zona_hospitalaria_sub(x):
    x['Consecutivo'] = x['Consecutivo'].astype('str')
    return x

### 25.1 Para VE

In [211]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='VE']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_real = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_presupuesto = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.1.1 VentaCobradaPortafolioPais

In [212]:
recaudo_real_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_ve,
    right=recaudo_real_ve,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)

# TODO Validar si los resultados anteriores a fecha de ingreso se ignoran para TODOS

main['Real'].fillna(0.0, inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

main['AreaCalculo'] = main['AreaCalculo'].astype('str')
main['Contexto'] = 'VE_' + main['AreaCalculo']
main['Variable'] = 'VentaCobradaPortafolioPais'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_pais_ve = main.copy()
main = None

venta_cobrada_portafolio_pais_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
2,VE_1,VentaCobradaPortafolioPais,2022-03-01,6.297402e+08,4.413305e+08,1.43
3,VE_1,VentaCobradaPortafolioPais,2022-04-01,9.661137e+08,9.378272e+08,1.03
4,VE_1,VentaCobradaPortafolioPais,2022-05-01,2.085445e+09,1.379158e+09,1.51
5,VE_1,VentaCobradaPortafolioPais,2022-06-01,2.904076e+09,1.765322e+09,1.65
6,VE_1,VentaCobradaPortafolioPais,2022-07-01,3.422961e+09,2.261819e+09,1.51
...,...,...,...,...,...,...
115,VE_11,VentaCobradaPortafolioPais,2022-08-01,6.383131e+08,4.118752e+08,1.55
116,VE_11,VentaCobradaPortafolioPais,2022-09-01,6.798322e+08,4.750003e+08,1.43
117,VE_11,VentaCobradaPortafolioPais,2022-10-01,8.031909e+08,5.564379e+08,1.44
118,VE_11,VentaCobradaPortafolioPais,2022-11-01,8.654166e+08,6.116723e+08,1.41
119,VE_11,VentaCobradaPortafolioPais,2022-12-01,9.217461e+08,6.931099e+08,1.33

#### 25.1.2 VentaCobradaPortafolioZona

In [213]:
print(venta_recaudo_presupuesto_original_ve_real)

recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###


main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZona'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_ve = main.copy()
main = None

venta_cobrada_portafolio_zona_ve

       AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado  \
0                2            1       AE           CEK  35           VE
1                4            1       HC           630  08           VE
2                4            1       HC           630  08           VE
3                4            1       HC           630  08           VE
4                4            1       HC           630  08           VE
...            ...          ...      ...           ...  ..          ...
14290           11            2       BA           A33  86           VE
14291           11            2       BA           A33  86           VE
14292           11            2       BA           A33  86           VE
14293           11            2       BA           A33  86           VE
14294           11            2       BA           A33  86           VE

      ZonaGeografica Cluster         Canal      Fecha      Venta     Recaudo
0             Centro       0   Ambulatorio 2022-09-01  1020000.0         0.0
1              Norte      23  Distribuidor 2022-11-01  1153000.0         0.0
2              Norte      23      Hospital 2022-01-01        0.0         0.0
3              Norte      23      Hospital 2022-02-01        0.0         0.0
4              Norte      23      Hospital 2022-03-01  7684000.0  12803000.0
...              ...     ...           ...        ...        ...         ...
14290         Centro       7           Opl 2022-10-01        0.0    411332.0
14291         Centro       7           Opl 2022-11-01        0.0    176285.0
14292         Centro       7           Opl 2022-12-01        0.0    391072.0
14293   Suroccidente      11      Hospital 2022-02-01  -102500.0   2050000.0
14294          Norte      22  Distribuidor 2022-08-01   187400.0   1785500.0

[14295 rows x 12 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
2,1020784302,VentaCobradaPortafolioZona,2022-03-01,6.310676e+08,7.568368e+08,0.83
3,1020784302,VentaCobradaPortafolioZona,2022-04-01,1.008889e+09,1.608278e+09,0.63
4,1020784302,VentaCobradaPortafolioZona,2022-05-01,2.565779e+09,2.365115e+09,1.08
5,1020784302,VentaCobradaPortafolioZona,2022-06-01,3.531385e+09,3.027347e+09,1.17
6,1020784302,VentaCobradaPortafolioZona,2022-07-01,4.193046e+09,3.878789e+09,1.08
...,...,...,...,...,...,...
222,94487610,VentaCobradaPortafolioZona,2022-08-01,4.053278e+09,3.820207e+09,1.06
223,94487610,VentaCobradaPortafolioZona,2022-09-01,5.221085e+09,5.252784e+09,0.99
224,94487610,VentaCobradaPortafolioZona,2022-10-01,6.581193e+09,6.685361e+09,0.98
225,94487610,VentaCobradaPortafolioZona,2022-11-01,8.179475e+09,7.958764e+09,1.03
226,94487610,VentaCobradaPortafolioZona,2022-12-01,9.952652e+09,9.550516e+09,1.04

In [214]:
def _get_or_create_zona_cluster(empleado, cluster, zona):
    if not empleado or not (cluster or zona):
        return False
    return True

_get_or_create_zona_cluster(True, True, None)

True

#### 25.1.3 VentaFacturadaPortafolioZonaSub

In [215]:
venta_real_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_zona_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_zona_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_zona_consecutivo_ve,
    right=venta_real_zona_consecutivo_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_zona_sub_ve = main.copy()
main = None

venta_facturada_portafolio_zona_sub_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
2,1020784302_1,VentaFacturadaPortafolioZonaSub,2022-03-01,4.736554e+08,5.299580e+08,0.89
3,1020784302_1,VentaFacturadaPortafolioZonaSub,2022-04-01,1.154508e+09,1.126161e+09,1.03
4,1020784302_1,VentaFacturadaPortafolioZonaSub,2022-05-01,1.677107e+09,1.656119e+09,1.01
5,1020784302_1,VentaFacturadaPortafolioZonaSub,2022-06-01,2.238650e+09,2.252321e+09,0.99
6,1020784302_1,VentaFacturadaPortafolioZonaSub,2022-07-01,2.725218e+09,2.782279e+09,0.98
...,...,...,...,...,...,...
636,94487610_4,VentaFacturadaPortafolioZonaSub,2022-08-01,1.569599e+09,1.266753e+09,1.24
637,94487610_4,VentaFacturadaPortafolioZonaSub,2022-09-01,1.955673e+09,1.705245e+09,1.15
638,94487610_4,VentaFacturadaPortafolioZonaSub,2022-10-01,2.387012e+09,2.119376e+09,1.13
639,94487610_4,VentaFacturadaPortafolioZonaSub,2022-11-01,2.793328e+09,2.557868e+09,1.09
640,94487610_4,VentaFacturadaPortafolioZonaSub,2022-12-01,3.696843e+09,3.069441e+09,1.20

#### 25.1.4 VentaCobradaPortafolioCluster

In [216]:
recaudo_real_cluster_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_cluster_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_cluster_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_cluster_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_cluster_ve,
    right=recaudo_real_cluster_ve,
    on=['Cluster', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_ve = main.copy()
main = None

venta_cobrada_portafolio_cluster_ve

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239,VentaCobradaPortafolioCluster,2022-06-01,1.563722e+08,1.843229e+08,0.85
1,31308239,VentaCobradaPortafolioCluster,2022-07-01,2.361767e+08,3.276851e+08,0.72
2,31308239,VentaCobradaPortafolioCluster,2022-08-01,3.662313e+08,4.915276e+08,0.75
3,31308239,VentaCobradaPortafolioCluster,2022-09-01,4.872406e+08,6.758505e+08,0.72
4,31308239,VentaCobradaPortafolioCluster,2022-10-01,6.419576e+08,8.601733e+08,0.75
5,31308239,VentaCobradaPortafolioCluster,2022-11-01,8.377330e+08,1.024016e+09,0.82
6,31308239,VentaCobradaPortafolioCluster,2022-12-01,1.044502e+09,1.228819e+09,0.85
7,5002699,VentaCobradaPortafolioCluster,2022-03-01,1.869506e+08,3.472455e+08,0.54
8,5002699,VentaCobradaPortafolioCluster,2022-04-01,5.740538e+08,6.944910e+08,0.83
9,5002699,VentaCobradaPortafolioCluster,2022-05-01,9.515713e+08,1.041737e+09,0.91
10,5002699,VentaCobradaPortafolioCluster,2022-06-01,1.246483e+09,1.432388e+09,0.87
11,5002699,VentaCobradaPortafolioCluster,2022-07-01,1.389106e+09,1.736228e+09,0.80
12,5002699,VentaCobradaPortafolioCluster,2022-08-01,1.618116e+09,2.083473e+09,0.78
13,5002699,VentaCobradaPortafolioCluster,2022-09-01,1.880871e+09,2.474124e+09,0.76
14,5002699,VentaCobradaPortafolioCluster,2022-10-01,2.175108e+09,2.864776e+09,0.76
15,5002699,VentaCobradaPortafolioCluster,2022-11-01,2.352070e+09,3.212021e+09,0.73
16,5002699,VentaCobradaPortafolioCluster,2022-12-01,2.583877e+09,3.646078e+09,0.71
17,5004589,VentaCobradaPortafolioCluster,2022-03-01,1.028435e+08,1.776418e+08,0.58
18,5004589,VentaCobradaPortafolioCluster,2022-04-01,2.007526e+08,3.552837e+08,0.57
19,5004589,VentaCobradaPortafolioCluster,2022-05-01,3.073944e+08,5.329255e+08,0.58
20,5004589,VentaCobradaPortafolioCluster,2022-06-01,5.628245e+08,7.327726e+08,0.77
21,5004589,VentaCobradaPortafolioCluster,2022-07-01,6.743085e+08,8.882092e+08,0.76
22,5004589,VentaCobradaPortafolioCluster,2022-08-01,7.499330e+08,1.065851e+09,0.70
23,5004589,VentaCobradaPortafolioCluster,2022-09-01,1.024969e+09,1.265698e+09,0.81
24,5004589,VentaCobradaPortafolioCluster,2022-10-01,1.102111e+09,1.465545e+09,0.75
25,5004589,VentaCobradaPortafolioCluster,2022-11-01,1.263440e+09,1.643187e+09,0.77
26,5004589,VentaCobradaPortafolioCluster,2022-12-01,1.485558e+09,1.865239e+09,0.80

#### 25.1.5 VentaFacturadaPortafolioClusterSub

In [217]:
venta_real_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_cluster_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_cluster_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_cluster_consecutivo_ve,
    right=venta_real_cluster_consecutivo_ve,
    on=['Cluster', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaFacturadaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_cluster_sub_ve = main.copy()
main = None

venta_facturada_portafolio_cluster_sub_ve

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239_1,VentaFacturadaPortafolioClusterSub,2022-06-01,1.562400e+05,1.522531e+07,0.01
1,31308239_1,VentaFacturadaPortafolioClusterSub,2022-07-01,3.979200e+05,2.875892e+07,0.01
2,31308239_1,VentaFacturadaPortafolioClusterSub,2022-08-01,3.979200e+05,4.398424e+07,0.01
3,31308239_1,VentaFacturadaPortafolioClusterSub,2022-09-01,3.979200e+05,5.920955e+07,0.01
4,31308239_1,VentaFacturadaPortafolioClusterSub,2022-10-01,3.979200e+05,7.358901e+07,0.01
5,31308239_1,VentaFacturadaPortafolioClusterSub,2022-11-01,9.590400e+05,8.881433e+07,0.01
6,31308239_1,VentaFacturadaPortafolioClusterSub,2022-12-01,9.309840e+05,1.065772e+08,0.01
7,31308239_2,VentaFacturadaPortafolioClusterSub,2022-06-01,1.042082e+08,1.767777e+08,0.59
8,31308239_2,VentaFacturadaPortafolioClusterSub,2022-07-01,2.906440e+08,3.339134e+08,0.87
9,31308239_2,VentaFacturadaPortafolioClusterSub,2022-08-01,4.357210e+08,5.106910e+08,0.85
10,31308239_2,VentaFacturadaPortafolioClusterSub,2022-09-01,5.855324e+08,6.874687e+08,0.85
11,31308239_2,VentaFacturadaPortafolioClusterSub,2022-10-01,7.613903e+08,8.544254e+08,0.89
12,31308239_2,VentaFacturadaPortafolioClusterSub,2022-11-01,1.002666e+09,1.031203e+09,0.97
13,31308239_2,VentaFacturadaPortafolioClusterSub,2022-12-01,1.166934e+09,1.237444e+09,0.94
14,5002699_1,VentaFacturadaPortafolioClusterSub,2022-03-01,2.154360e+06,4.070976e+07,0.05
15,5002699_1,VentaFacturadaPortafolioClusterSub,2022-04-01,5.179320e+06,8.650825e+07,0.06
16,5002699_1,VentaFacturadaPortafolioClusterSub,2022-05-01,1.098249e+07,1.272180e+08,0.09
17,5002699_1,VentaFacturadaPortafolioClusterSub,2022-06-01,1.979348e+07,1.730165e+08,0.11
18,5002699_1,VentaFacturadaPortafolioClusterSub,2022-07-01,1.888637e+07,2.137263e+08,0.09
19,5002699_1,VentaFacturadaPortafolioClusterSub,2022-08-01,1.938353e+07,2.595247e+08,0.07
20,5002699_1,VentaFacturadaPortafolioClusterSub,2022-09-01,2.120645e+07,3.053232e+08,0.07
21,5002699_1,VentaFacturadaPortafolioClusterSub,2022-10-01,2.120645e+07,3.485774e+08,0.06
22,5002699_1,VentaFacturadaPortafolioClusterSub,2022-11-01,2.120645e+07,3.943758e+08,0.05
23,5002699_1,VentaFacturadaPortafolioClusterSub,2022-12-01,2.120645e+07,4.478074e+08,0.05
24,5002699_2,VentaFacturadaPortafolioClusterSub,2022-03-01,3.795474e+08,3.210043e+08,1.18
25,5002699_2,VentaFacturadaPortafolioClusterSub,2022-04-01,6.215244e+08,6.821342e+08,0.91
26,5002699_2,VentaFacturadaPortafolioClusterSub,2022-05-01,9.034633e+08,1.003138e+09,0.90
27,5002699_2,VentaFacturadaPortafolioClusterSub,2022-06-01,1.170335e+09,1.364268e+09,0.86
28,5002699_2,VentaFacturadaPortafolioClusterSub,2022-07-01,1.490877e+09,1.685273e+09,0.88
29,5002699_2,VentaFacturadaPortafolioClusterSub,2022-08-01,1.706536e+09,2.046403e+09,0.83
30,5002699_2,VentaFacturadaPortafolioClusterSub,2022-09-01,1.939438e+09,2.407532e+09,0.81
31,5002699_2,VentaFacturadaPortafolioClusterSub,2022-10-01,2.277214e+09,2.748599e+09,0.83
32,5002699_2,VentaFacturadaPortafolioClusterSub,2022-11-01,2.751220e+09,3.109729e+09,0.88
33,5002699_2,VentaFacturadaPortafolioClusterSub,2022-12-01,3.216481e+09,3.531047e+09,0.91
34,5004589_1,VentaFacturadaPortafolioClusterSub,2022-03-01,0.000000e+00,1.065772e+07,0.00
35,5004589_1,VentaFacturadaPortafolioClusterSub,2022-04-01,0.000000e+00,2.264765e+07,0.00
36,5004589_1,VentaFacturadaPortafolioClusterSub,2022-05-01,0.000000e+00,3.330537e+07,0.00
37,5004589_1,VentaFacturadaPortafolioClusterSub,2022-06-01,0.000000e+00,4.529531e+07,0.00
38,5004589_1,VentaFacturadaPortafolioClusterSub,2022-07-01,0.000000e+00,5.595303e+07,0.00
39,5004589_1,VentaFacturadaPortafolioClusterSub,2022-08-01,0.000000e+00,6.794296e+07,0.00
40,5004589_1,VentaFacturadaPortafolioClusterSub,2022-09-01,0.000000e+00,7.993289e+07,0.00
41,5004589_1,VentaFacturadaPortafolioClusterSub,2022-10-01,0.000000e+00,9.125672e+07,0.00
42,5004589_1,VentaFacturadaPortafolioClusterSub,2022-11-01,0.000000e+00,1.032467e+08,0.00
43,5004589_1,VentaFacturadaPortafolioClusterSub,2022-12-01,0.000000e+00,1.172349e+08,0.00
44,5004589_2,VentaFacturadaPortafolioClusterSub,2022-03-01,2.149022e+08,1.743859e+08,1.23
45,5004589_2,VentaFacturadaPortafolioClusterSub,2022-04-01,3.461730e+08,3.705700e+08,0.93
46,5004589_2,VentaFacturadaPortafolioClusterSub,2022-05-01,4.936452e+08,5.449558e+08,0.91
47,5004589_2,VentaFacturadaPortafolioClusterSub,2022-06-01,6.158586e+08,7.411399e+08,0.83
48,5004589_2,VentaFacturadaPortafolioClusterSub,2022-07-01,7.452085e+08,9.155258e+08,0.81
49,5004589_2,VentaFacturadaPortafolioClusterSub,2022-08-01,9.351821e+08,1.111710e+09,0.84
50,5004589_2,VentaFacturadaPortafolioClusterSub,2022-09-01,1.101090e+09,1.307894e+09,0.84
51,5004589_2,VentaFacturadaPortafolioClusterSub,2022-10-01,1.232717e+09,1.493179e+09,0.83
52,5004589_2,VentaFacturadaPortafolioClusterSub,2022-11-01,1.454381e+09,1.689363e+09,0.86
53,5004589_2,VentaFacturadaPortafolioClusterSub,2022-12-01,1.632689e+09,1.918244e+09,0.85

### 25.2 Para GC

In [218]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GC']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_real = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_presupuesto = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.2.1 VentaCobradaZonaHospitalarioSub

In [219]:
recaudo_real_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gc = recaudo_real_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gc = recaudo_presupuesto_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gc,
    right=recaudo_real_zona_sub_ch_gc,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GC'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_cobrada_zona_hospitalario_sub_gc = main.copy()
main = None
resultado_cualitativos_variable = None

venta_cobrada_zona_hospitalario_sub_gc

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaHospitalarioSub,2022-01-01,26018102.0,6.937918e+07,0.38
1,5002711_1,VentaCobradaZonaHospitalarioSub,2022-02-01,87769427.0,1.288470e+08,0.68
2,5002711_1,VentaCobradaZonaHospitalarioSub,2022-03-01,149391887.0,2.081375e+08,0.72
3,5002711_1,VentaCobradaZonaHospitalarioSub,2022-04-01,159127731.0,2.973393e+08,0.54
4,5002711_1,VentaCobradaZonaHospitalarioSub,2022-05-01,241836743.0,3.766298e+08,0.64
...,...,...,...,...,...,...
393,5005370_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
394,5002700_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
395,5002899_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
396,5004523_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
397,5043875_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00

### 25.3 Para GD

In [220]:
area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.3.1 VentaCobradaZonaHospitalarioSub

In [221]:
recaudo_real_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gd = recaudo_real_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gd.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gd = recaudo_presupuesto_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gd.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gd,
    right=recaudo_real_zona_sub_ch_gd,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GD'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_zona_hospitalario_sub_gd = main.copy()
main = None

venta_cobrada_zona_hospitalario_sub_gd

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5016692_1,VentaCobradaZonaHospitalarioSub,2022-01-01,1.105530e+09,1.207901e+09,0.92
1,5016692_1,VentaCobradaZonaHospitalarioSub,2022-02-01,1.935130e+09,2.147379e+09,0.90
2,5016692_1,VentaCobradaZonaHospitalarioSub,2022-03-01,2.852902e+09,3.221069e+09,0.89
3,5016692_1,VentaCobradaZonaHospitalarioSub,2022-04-01,3.819387e+09,4.294759e+09,0.89
4,5016692_1,VentaCobradaZonaHospitalarioSub,2022-05-01,5.196065e+09,5.368448e+09,0.97
...,...,...,...,...,...,...
273,5005370_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
274,5002700_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
275,5002899_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
276,5004523_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00
277,5043875_11,VentaCobradaZonaHospitalarioSub,2022-12-01,NaN,NaN,0.00


## 26. Venta Facturada Nacional Canal Hospitalario (VentaFacturadaPaisHospitalario)

In [222]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()
main = main.drop(columns=['Zona'])

# Calcular
main = main.groupby(['Fecha'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPaisHospitalario'

# Formatear
main.reset_index(inplace=True)
main['Contexto']= 'BBMCO'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_pais_ch = main.copy()
main = None
venta_facturada_pais_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaPaisHospitalario,2022-01-01,8.603924e+09,8.523887e+09,1.01
1,BBMCO,VentaFacturadaPaisHospitalario,2022-02-01,1.972466e+10,2.035508e+10,0.97
2,BBMCO,VentaFacturadaPaisHospitalario,2022-03-01,3.354278e+10,3.385568e+10,0.99
3,BBMCO,VentaFacturadaPaisHospitalario,2022-04-01,4.577817e+10,4.902323e+10,0.93
4,BBMCO,VentaFacturadaPaisHospitalario,2022-05-01,5.963122e+10,6.259748e+10,0.95
5,BBMCO,VentaFacturadaPaisHospitalario,2022-06-01,7.074121e+10,7.757159e+10,0.91
6,BBMCO,VentaFacturadaPaisHospitalario,2022-07-01,8.624089e+10,9.143629e+10,0.94
7,BBMCO,VentaFacturadaPaisHospitalario,2022-08-01,9.875751e+10,1.067266e+11,0.93
8,BBMCO,VentaFacturadaPaisHospitalario,2022-09-01,1.130635e+11,1.220169e+11,0.93
9,BBMCO,VentaFacturadaPaisHospitalario,2022-10-01,1.277018e+11,1.365146e+11,0.94
10,BBMCO,VentaFacturadaPaisHospitalario,2022-11-01,1.446518e+11,1.517848e+11,0.95
11,BBMCO,VentaFacturadaPaisHospitalario,2022-12-01,1.644756e+11,1.695158e+11,0.97

## 27. Venta Facturada Zona Hospitalario (VentaFacturadaZonaHospitalario)

In [223]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()

# Calcular
main = main.groupby(['Fecha', 'Zona'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaHospitalario'

# Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_zona_ch = main.copy()
main = None
venta_facturada_zona_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,VentaFacturadaZonaHospitalario,2022-01-01,3.242985e+09,3.397820e+09,0.95
1,Norte,VentaFacturadaZonaHospitalario,2022-01-01,2.675160e+09,2.575962e+09,1.04
2,Suroccidente,VentaFacturadaZonaHospitalario,2022-01-01,2.685779e+09,2.550105e+09,1.05
3,Centro,VentaFacturadaZonaHospitalario,2022-02-01,7.512979e+09,8.110793e+09,0.93
4,Norte,VentaFacturadaZonaHospitalario,2022-02-01,5.885474e+09,6.160899e+09,0.96
5,Suroccidente,VentaFacturadaZonaHospitalario,2022-02-01,6.326211e+09,6.083386e+09,1.04
6,Centro,VentaFacturadaZonaHospitalario,2022-03-01,1.381674e+10,1.348706e+10,1.02
7,Norte,VentaFacturadaZonaHospitalario,2022-03-01,9.488469e+09,1.025396e+10,0.93
8,Suroccidente,VentaFacturadaZonaHospitalario,2022-03-01,1.023757e+10,1.011465e+10,1.01
9,Centro,VentaFacturadaZonaHospitalario,2022-04-01,1.868232e+10,1.952531e+10,0.96
10,Norte,VentaFacturadaZonaHospitalario,2022-04-01,1.310606e+10,1.485459e+10,0.88
11,Suroccidente,VentaFacturadaZonaHospitalario,2022-04-01,1.398979e+10,1.464333e+10,0.96
12,Centro,VentaFacturadaZonaHospitalario,2022-05-01,2.432772e+10,2.493275e+10,0.98
13,Norte,VentaFacturadaZonaHospitalario,2022-05-01,1.698439e+10,1.896394e+10,0.90
14,Suroccidente,VentaFacturadaZonaHospitalario,2022-05-01,1.831910e+10,1.870078e+10,0.98
15,Centro,VentaFacturadaZonaHospitalario,2022-06-01,2.851577e+10,3.088511e+10,0.92
16,Norte,VentaFacturadaZonaHospitalario,2022-06-01,2.010674e+10,2.356903e+10,0.85
17,Suroccidente,VentaFacturadaZonaHospitalario,2022-06-01,2.211870e+10,2.311745e+10,0.96
18,Centro,VentaFacturadaZonaHospitalario,2022-07-01,3.393901e+10,3.642206e+10,0.93
19,Norte,VentaFacturadaZonaHospitalario,2022-07-01,2.405990e+10,2.769084e+10,0.87
20,Suroccidente,VentaFacturadaZonaHospitalario,2022-07-01,2.824198e+10,2.732339e+10,1.03
21,Centro,VentaFacturadaZonaHospitalario,2022-08-01,3.907007e+10,4.251597e+10,0.92
22,Norte,VentaFacturadaZonaHospitalario,2022-08-01,2.776141e+10,3.231327e+10,0.86
23,Suroccidente,VentaFacturadaZonaHospitalario,2022-08-01,3.192602e+10,3.189735e+10,1.00
24,Centro,VentaFacturadaZonaHospitalario,2022-09-01,4.517367e+10,4.860988e+10,0.93
25,Norte,VentaFacturadaZonaHospitalario,2022-09-01,3.150139e+10,3.693570e+10,0.85
26,Suroccidente,VentaFacturadaZonaHospitalario,2022-09-01,3.638839e+10,3.647132e+10,1.00
27,Centro,VentaFacturadaZonaHospitalario,2022-10-01,5.073966e+10,5.439025e+10,0.93
28,Norte,VentaFacturadaZonaHospitalario,2022-10-01,3.557616e+10,4.131272e+10,0.86
29,Suroccidente,VentaFacturadaZonaHospitalario,2022-10-01,4.138597e+10,4.081165e+10,1.01
30,Centro,VentaFacturadaZonaHospitalario,2022-11-01,5.828972e+10,6.047451e+10,0.96
31,Norte,VentaFacturadaZonaHospitalario,2022-11-01,4.047705e+10,4.593017e+10,0.88
32,Suroccidente,VentaFacturadaZonaHospitalario,2022-11-01,4.588500e+10,4.538017e+10,1.01
33,Centro,VentaFacturadaZonaHospitalario,2022-12-01,6.622865e+10,6.753495e+10,0.98
34,Norte,VentaFacturadaZonaHospitalario,2022-12-01,4.592662e+10,5.130086e+10,0.90
35,Suroccidente,VentaFacturadaZonaHospitalario,2022-12-01,5.232029e+10,5.068003e+10,1.03

## 28. Rentabilidad Zona Hospitalario CM2 (RentabilidadZonaHospitalarioCM2)

In [224]:
main = df_rentabilidad_zona.copy()

# Calcular
main = main.groupby(['Zona', 'Fecha'], as_index =False)[['Real', 'Presupuesto']].apply(sum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadZonaHospitalarioCM2'

#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Zona - Fecha - Rentabilidad

# No hay datos

rentabilidad_zona_hospitalario_cm2 =  main.copy()
main = None
rentabilidad_zona_hospitalario_cm2

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,RentabilidadZonaHospitalarioCM2,2022-01-01,7.977743e+08,1.000610e+09,0.80
1,Centro,RentabilidadZonaHospitalarioCM2,2022-02-01,1.953374e+09,2.390399e+09,0.82
2,Centro,RentabilidadZonaHospitalarioCM2,2022-03-01,4.034487e+09,3.975676e+09,1.01
3,Centro,RentabilidadZonaHospitalarioCM2,2022-04-01,5.529968e+09,5.756036e+09,0.96
4,Centro,RentabilidadZonaHospitalarioCM2,2022-05-01,7.388329e+09,7.348875e+09,1.01
5,Centro,RentabilidadZonaHospitalarioCM2,2022-06-01,8.828481e+09,9.101680e+09,0.97
6,Centro,RentabilidadZonaHospitalarioCM2,2022-07-01,1.124135e+10,1.071859e+10,1.05
7,Centro,RentabilidadZonaHospitalarioCM2,2022-08-01,1.313109e+10,1.251206e+10,1.05
8,Centro,RentabilidadZonaHospitalarioCM2,2022-09-01,1.516868e+10,1.494134e+10,1.02
9,Centro,RentabilidadZonaHospitalarioCM2,2022-10-01,1.681366e+10,1.672776e+10,1.01
10,Centro,RentabilidadZonaHospitalarioCM2,2022-11-01,1.924132e+10,1.859445e+10,1.03
11,Centro,RentabilidadZonaHospitalarioCM2,2022-12-01,2.150371e+10,2.067642e+10,1.04
12,Norte,RentabilidadZonaHospitalarioCM2,2022-01-01,6.580893e+08,7.850922e+08,0.84
13,Norte,RentabilidadZonaHospitalarioCM2,2022-02-01,1.530223e+09,1.878349e+09,0.81
14,Norte,RentabilidadZonaHospitalarioCM2,2022-03-01,2.770633e+09,3.126696e+09,0.89
15,Norte,RentabilidadZonaHospitalarioCM2,2022-04-01,3.879394e+09,4.529957e+09,0.86
16,Norte,RentabilidadZonaHospitalarioCM2,2022-05-01,5.158161e+09,5.782748e+09,0.89
17,Norte,RentabilidadZonaHospitalarioCM2,2022-06-01,6.225047e+09,7.187012e+09,0.87
18,Norte,RentabilidadZonaHospitalarioCM2,2022-07-01,7.975277e+09,8.431149e+09,0.95
19,Norte,RentabilidadZonaHospitalarioCM2,2022-08-01,9.330354e+09,9.838351e+09,0.95
20,Norte,RentabilidadZonaHospitalarioCM2,2022-09-01,1.057773e+10,1.135302e+10,0.93
21,Norte,RentabilidadZonaHospitalarioCM2,2022-10-01,1.178891e+10,1.270575e+10,0.93
22,Norte,RentabilidadZonaHospitalarioCM2,2022-11-01,1.336139e+10,1.412242e+10,0.95
23,Norte,RentabilidadZonaHospitalarioCM2,2022-12-01,1.518854e+10,1.577194e+10,0.96
24,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-01-01,6.607016e+08,7.662507e+08,0.86
25,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-02-01,1.644815e+09,1.829298e+09,0.90
26,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-03-01,2.989371e+09,3.042128e+09,0.98
27,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-04-01,4.140977e+09,4.404566e+09,0.94
28,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-05-01,5.563511e+09,5.624103e+09,0.99
29,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-06-01,6.847950e+09,6.951315e+09,0.99
30,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-07-01,9.352657e+09,8.204502e+09,1.14
31,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-08-01,1.073004e+10,9.577964e+09,1.12
32,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-09-01,1.221871e+10,1.121028e+10,1.09
33,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-10-01,1.371412e+10,1.255165e+10,1.09
34,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-11-01,1.514655e+10,1.395331e+10,1.09
35,Suroccidente,RentabilidadZonaHospitalarioCM2,2022-12-01,1.728299e+10,1.547410e+10,1.12

## 29. Venta Facturada Braun País (VentaFacturadaBraunPais)

In [225]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','CodigoEmpleado', 'ZonaGeografica','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Calcular
main['Contexto']= 'BBMCO'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_braun_pais = main.copy()
main = None
venta_facturada_braun_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaBraunPais,2022-01-01,8.665782e+09,8.612556e+09,1.01
1,BBMCO,VentaFacturadaBraunPais,2022-02-01,1.986662e+10,2.056305e+10,0.97
2,BBMCO,VentaFacturadaBraunPais,2022-03-01,3.377747e+10,3.419809e+10,0.99
3,BBMCO,VentaFacturadaBraunPais,2022-04-01,4.614578e+10,4.951504e+10,0.93
4,BBMCO,VentaFacturadaBraunPais,2022-05-01,6.017047e+10,6.322724e+10,0.95
5,BBMCO,VentaFacturadaBraunPais,2022-06-01,7.197787e+10,7.859518e+10,0.92
6,BBMCO,VentaFacturadaBraunPais,2022-07-01,8.712046e+10,9.235848e+10,0.94
7,BBMCO,VentaFacturadaBraunPais,2022-08-01,9.978905e+10,1.078053e+11,0.93
8,BBMCO,VentaFacturadaBraunPais,2022-09-01,1.143040e+11,1.232521e+11,0.93
9,BBMCO,VentaFacturadaBraunPais,2022-10-01,1.291371e+11,1.379006e+11,0.94
10,BBMCO,VentaFacturadaBraunPais,2022-11-01,1.463329e+11,1.533253e+11,0.95
11,BBMCO,VentaFacturadaBraunPais,2022-12-01,1.663656e+11,1.712314e+11,0.97

## 30. Rentabilidad Compañía CM3 (RentabilidadCompaniaCM3)

In [226]:
# Rentabilidad Real / Presupuesto
# Filtar paras CM3 compañía BBMCO
# Totalizar nivel país

main = df_rentabilidad.copy()
main.query('Compania == "BBMCO" and ClaseRentabilidad == "CMIII"', inplace=True)
main.drop(columns=['GrupoProducto', 'SBA', 'ClaseRentabilidad'], inplace=True)
main = main.groupby(['Compania', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadCompaniaCM3'


#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Compania':'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

rentabilidad_compania_cm3 = main.copy()
main= None
rentabilidad_compania_cm3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,RentabilidadCompaniaCM3,2022-01-01,-1.034276e+09,-7.043518e+08,1.47
1,BBMCO,RentabilidadCompaniaCM3,2022-02-01,-1.447623e+09,-3.979384e+08,3.64
2,BBMCO,RentabilidadCompaniaCM3,2022-03-01,-2.688456e+08,4.223323e+08,-0.64
3,BBMCO,RentabilidadCompaniaCM3,2022-04-01,-1.016674e+07,1.756006e+09,-0.01
4,BBMCO,RentabilidadCompaniaCM3,2022-05-01,2.080162e+09,2.616265e+09,0.80
5,BBMCO,RentabilidadCompaniaCM3,2022-06-01,2.420233e+09,3.975521e+09,0.61
6,BBMCO,RentabilidadCompaniaCM3,2022-07-01,5.388952e+09,4.831746e+09,1.12
7,BBMCO,RentabilidadCompaniaCM3,2022-08-01,6.511058e+09,6.220539e+09,1.05
8,BBMCO,RentabilidadCompaniaCM3,2022-09-01,7.612931e+09,7.609331e+09,1.00
9,BBMCO,RentabilidadCompaniaCM3,2022-10-01,8.727420e+09,8.762939e+09,1.00
10,BBMCO,RentabilidadCompaniaCM3,2022-11-01,1.056668e+10,1.014106e+10,1.04
11,BBMCO,RentabilidadCompaniaCM3,2022-12-01,1.256507e+10,1.226740e+10,1.02

## 31. Venta Facturada Grupo clientes (KAM) VentaFacturadaGrupoClientesKAMS

In [227]:
main = df_venta_recaudo_kams.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMS'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams = main
main = None
venta_facturada_grupo_clientes_kams

# Contexto: TipoEmpleado_AreaCalculo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1,VentaFacturadaGrupoClientesKAMS,2022-01-01,3.405932e+07,2.700576e+07,1.26
1,kam_1,VentaFacturadaGrupoClientesKAMS,2022-02-01,4.633287e+07,8.482226e+07,0.55
2,kam_1,VentaFacturadaGrupoClientesKAMS,2022-03-01,8.945877e+07,1.695796e+08,0.53
3,kam_1,VentaFacturadaGrupoClientesKAMS,2022-04-01,1.425147e+08,2.088824e+08,0.68
4,kam_1,VentaFacturadaGrupoClientesKAMS,2022-05-01,1.654922e+08,2.715463e+08,0.61
5,kam_1,VentaFacturadaGrupoClientesKAMS,2022-06-01,1.654922e+08,3.609066e+08,0.46
6,kam_1,VentaFacturadaGrupoClientesKAMS,2022-07-01,2.310951e+08,4.012552e+08,0.58
7,kam_1,VentaFacturadaGrupoClientesKAMS,2022-08-01,2.697501e+08,4.698796e+08,0.57
8,kam_1,VentaFacturadaGrupoClientesKAMS,2022-09-01,2.880134e+08,5.625764e+08,0.51
9,kam_1,VentaFacturadaGrupoClientesKAMS,2022-10-01,4.787335e+08,6.324546e+08,0.76
10,kam_1,VentaFacturadaGrupoClientesKAMS,2022-11-01,5.252891e+08,7.269132e+08,0.72
11,kam_1,VentaFacturadaGrupoClientesKAMS,2022-12-01,6.068614e+08,8.002054e+08,0.76
12,kam_2,VentaFacturadaGrupoClientesKAMS,2022-01-01,7.148088e+08,6.197866e+08,1.15
13,kam_2,VentaFacturadaGrupoClientesKAMS,2022-02-01,1.726955e+09,1.487488e+09,1.16
14,kam_2,VentaFacturadaGrupoClientesKAMS,2022-03-01,2.642339e+09,2.479146e+09,1.07
15,kam_2,VentaFacturadaGrupoClientesKAMS,2022-04-01,3.571934e+09,3.594762e+09,0.99
16,kam_2,VentaFacturadaGrupoClientesKAMS,2022-05-01,4.836774e+09,4.586420e+09,1.05
17,kam_2,VentaFacturadaGrupoClientesKAMS,2022-06-01,5.760598e+09,5.702036e+09,1.01
18,kam_2,VentaFacturadaGrupoClientesKAMS,2022-07-01,6.944229e+09,6.693695e+09,1.04
19,kam_2,VentaFacturadaGrupoClientesKAMS,2022-08-01,7.865254e+09,7.809311e+09,1.01
20,kam_2,VentaFacturadaGrupoClientesKAMS,2022-09-01,8.819402e+09,8.924926e+09,0.99
21,kam_2,VentaFacturadaGrupoClientesKAMS,2022-10-01,9.828423e+09,9.978563e+09,0.98
22,kam_2,VentaFacturadaGrupoClientesKAMS,2022-11-01,1.147423e+10,1.109418e+10,1.03
23,kam_2,VentaFacturadaGrupoClientesKAMS,2022-12-01,1.323000e+10,1.239573e+10,1.07
24,kam_3,VentaFacturadaGrupoClientesKAMS,2022-01-01,2.526034e+09,1.765017e+09,1.43
25,kam_3,VentaFacturadaGrupoClientesKAMS,2022-02-01,5.052067e+09,3.530033e+09,1.43
26,kam_3,VentaFacturadaGrupoClientesKAMS,2022-03-01,8.205487e+09,6.310435e+09,1.30
27,kam_3,VentaFacturadaGrupoClientesKAMS,2022-04-01,1.086009e+10,9.431760e+09,1.15
28,kam_3,VentaFacturadaGrupoClientesKAMS,2022-05-01,1.396516e+10,1.223371e+10,1.14
29,kam_3,VentaFacturadaGrupoClientesKAMS,2022-06-01,1.717490e+10,1.604200e+10,1.07
30,kam_3,VentaFacturadaGrupoClientesKAMS,2022-07-01,1.993342e+10,1.886732e+10,1.06
31,kam_3,VentaFacturadaGrupoClientesKAMS,2022-08-01,2.265273e+10,2.203393e+10,1.03
32,kam_3,VentaFacturadaGrupoClientesKAMS,2022-09-01,2.614555e+10,2.520053e+10,1.04
33,kam_3,VentaFacturadaGrupoClientesKAMS,2022-10-01,2.920625e+10,2.820999e+10,1.04
34,kam_3,VentaFacturadaGrupoClientesKAMS,2022-11-01,3.382633e+10,3.137227e+10,1.08
35,kam_3,VentaFacturadaGrupoClientesKAMS,2022-12-01,3.801363e+10,3.503305e+10,1.09
36,kam_4,VentaFacturadaGrupoClientesKAMS,2022-01-01,0.000000e+00,0.000000e+00,NaN
37,kam_4,VentaFacturadaGrupoClientesKAMS,2022-02-01,0.000000e+00,0.000000e+00,NaN
38,kam_4,VentaFacturadaGrupoClientesKAMS,2022-03-01,0.000000e+00,0.000000e+00,NaN
39,kam_4,VentaFacturadaGrupoClientesKAMS,2022-04-01,0.000000e+00,0.000000e+00,NaN
40,kam_4,VentaFacturadaGrupoClientesKAMS,2022-05-01,0.000000e+00,0.000000e+00,NaN
41,kam_4,VentaFacturadaGrupoClientesKAMS,2022-06-01,0.000000e+00,0.000000e+00,NaN
42,kam_4,VentaFacturadaGrupoClientesKAMS,2022-07-01,0.000000e+00,0.000000e+00,NaN
43,kam_4,VentaFacturadaGrupoClientesKAMS,2022-08-01,0.000000e+00,0.000000e+00,NaN
44,kam_4,VentaFacturadaGrupoClientesKAMS,2022-09-01,0.000000e+00,0.000000e+00,NaN
45,kam_4,VentaFacturadaGrupoClientesKAMS,2022-10-01,0.000000e+00,0.000000e+00,NaN
46,kam_4,VentaFacturadaGrupoClientesKAMS,2022-11-01,0.000000e+00,0.000000e+00,NaN
47,kam_4,VentaFacturadaGrupoClientesKAMS,2022-12-01,0.000000e+00,0.000000e+00,NaN

## 32. Venta Cobrada Grupo clientes (KAM) VentaCobradaGrupoClientesKAMSSub

In [228]:
main = df_venta_recaudo_kams.drop(columns=['VentaReal', 'VentaPresupuesto'])
main.rename(columns={'RecaudoReal': 'Real', 'RecaudoPresupuesto':'Presupuesto'}, inplace=True)


main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str') + '_'+ main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaCobradaGrupoClientesKAMSSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_grupo_clientes_kams_sub = main
main = None
venta_cobrada_grupo_clientes_kams_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2022-01-01,0.0,5.045826e+06,0.0
1,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2022-02-01,-6650.0,8.970357e+06,-0.0
2,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2022-03-01,-6650.0,1.345554e+07,-0.0
3,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2022-04-01,-6650.0,1.794071e+07,-0.0
4,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2022-05-01,-6650.0,2.242589e+07,-0.0
...,...,...,...,...,...,...
139,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2022-08-01,0.0,0.000000e+00,NaN
140,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2022-09-01,0.0,0.000000e+00,NaN
141,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2022-10-01,0.0,0.000000e+00,NaN
142,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2022-11-01,0.0,0.000000e+00,NaN
143,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2022-12-01,0.0,0.000000e+00,NaN

## 33. KPIs Surgical

In [229]:
### Cálculo de resultados cualitativos precargados
main = df_resultados_variables_cualitativas[df_resultados_variables_cualitativas['Variable'] == 'KpisSurgical'].copy()
main['Contexto'] = main['CodigoEmpleado'].str.lower() + '_' + main['Consecutivo'].astype(int).astype('str')
main['Real'] = np.nan
main['Presupuesto'] = np.nan
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###
kpis_surgical = main
main = None
kpis_surgical

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,51790647_1,KpisSurgical,2022-03-01,NaN,NaN,0.94
1,51790647_2,KpisSurgical,2022-03-01,NaN,NaN,1.86
2,51790647_3,KpisSurgical,2022-03-01,NaN,NaN,1.00
3,79641686_1,KpisSurgical,2022-03-01,NaN,NaN,0.94
4,52057371_1,KpisSurgical,2022-03-01,NaN,NaN,0.94
...,...,...,...,...,...,...
729,80201251_2,KpisSurgical,2022-12-01,NaN,NaN,1.10
730,80201251_3,KpisSurgical,2022-12-01,NaN,NaN,1.19
731,52353176_1,KpisSurgical,2022-12-01,NaN,NaN,0.00
732,52353176_2,KpisSurgical,2022-12-01,NaN,NaN,1.10
733,52353176_3,KpisSurgical,2022-12-01,NaN,NaN,1.19

# Nuevos rubros 2023

## 33. VentaCobradaPortafolioClusterSub

In [230]:
main = None

venta_cobrada_portafolio_cluster_sub = main
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto:

## 34. VentaCobradaPortafolioZonaClusterSub

In [231]:
print(venta_recaudo_presupuesto_original_ve_real)

       AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado  \
0                2            1       AE           CEK  35           VE
1                4            1       HC           630  08           VE
2                4            1       HC           630  08           VE
3                4            1       HC           630  08           VE
4                4            1       HC           630  08           VE
...            ...          ...      ...           ...  ..          ...
14290           11            2       BA           A33  86           VE
14291           11            2       BA           A33  86           VE
14292           11            2       BA           A33  86           VE
14293           11            2       BA           A33  86           VE
14294           11            2       BA           A33  86           VE

      ZonaGeografica Cluster         Canal      Fecha      Venta     Recaudo
0             Centro       0   Ambulatorio 2022-09-01  1020000.0         0.0
1              Norte      23  Distribuidor 2022-11-01  1153000.0         0.0
2              Norte      23      Hospital 2022-01-01        0.0         0.0
3              Norte      23      Hospital 2022-02-01        0.0         0.0
4              Norte      23      Hospital 2022-03-01  7684000.0  12803000.0
...              ...     ...           ...        ...        ...         ...
14290         Centro       7           Opl 2022-10-01        0.0    411332.0
14291         Centro       7           Opl 2022-11-01        0.0    176285.0
14292         Centro       7           Opl 2022-12-01        0.0    391072.0
14293   Suroccidente      11      Hospital 2022-02-01  -102500.0   2050000.0
14294          Norte      22  Distribuidor 2022-08-01   187400.0   1785500.0

[14295 rows x 12 columns]

In [232]:
recaudo_presupuesto_zona_ve

     AreaCalculo ZonaGeografica      Fecha   Presupuesto
0              1         Centro 2022-01-01  1.718839e+08
1              1         Centro 2022-02-01  1.473291e+08
2              1         Centro 2022-03-01  1.964388e+08
3              1         Centro 2022-04-01  2.209936e+08
4              1         Centro 2022-05-01  1.964388e+08
..           ...            ...        ...           ...
355           11   Suroccidente 2022-08-01  4.089709e+07
356           11   Suroccidente 2022-09-01  3.067591e+07
357           11   Suroccidente 2022-10-01  3.898604e+07
358           11   Suroccidente 2022-11-01  2.684142e+07
359           11   Suroccidente 2022-12-01  3.898604e+07

[360 rows x 4 columns]

In [233]:
recaudo_real_zona_ve

     AreaCalculo ZonaGeografica      Fecha         Real
0              1         Centro 2022-01-01  318706277.0
1              1         Centro 2022-02-01  109838623.0
2              1         Centro 2022-03-01  240748091.0
3              1         Centro 2022-04-01  242890149.0
4              1         Centro 2022-05-01  644713575.0
..           ...            ...        ...          ...
355           11   Suroccidente 2022-08-01   16561469.0
356           11   Suroccidente 2022-09-01   11756360.0
357           11   Suroccidente 2022-10-01    6293090.0
358           11   Suroccidente 2022-11-01    9546785.0
359           11   Suroccidente 2022-12-01   23666520.0

[360 rows x 4 columns]

In [234]:
df_zonas_empleado

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
0          Norte        5004589           VE            7
1         Centro        5004287           VE            4
2         Centro        5002697           VE            5
3         Centro        5016692           GD            2
4          Norte        5002711           GC            3
5         Centro        5043400           VE            3
6          Norte        5043400           VE            3
7         Centro       52902645           VE            5
8         Centro       14296748           VE            4
9         Centro     1030524723           VE            8
10         Norte     1030524723           VE            8
11  Suroccidente     1030524723           VE            8
12  Suroccidente       31308239           VE            7
13        Centro        5002699           VE            7
14         Norte        6474959           GD            1
15        Centro        5041772           VE           11
16         Norte        5041772           VE           11
17  Suroccidente        5041772           VE           11
18        Centro        5003527           VE            2
19         Norte        5003527           VE            2
20        Centro        5004298           GC            1
21         Norte        5006093           VE            4
22         Norte        5041314           VE            4
23  Suroccidente       94487610           VE            5
24  Suroccidente        5005355           VE            2
25        Centro        5037259           VE            3
26  Suroccidente        5037259           VE            3
27         Norte        5002721           VE            5
28  Suroccidente        5005980           GC            2
29  Suroccidente     1060654227           VE            4
30        Centro     1020784302           VE            2
31         Norte     1020784302           VE            2
32  Suroccidente        5036358           GD            3
33  Suroccidente        5041369           VE            4
34         Norte     1140816814           VE            5
35        Centro        5041312           VE            5

In [235]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha','Cluster'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas

print(df_zonas_empleado)

main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica','Cluster'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###


main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZonaClusterSub'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_cluster_sub = main.copy()
main = None

venta_cobrada_portafolio_zona_cluster_sub

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
0          Norte        5004589           VE            7
1         Centro        5004287           VE            4
2         Centro        5002697           VE            5
3         Centro        5016692           GD            2
4          Norte        5002711           GC            3
5         Centro        5043400           VE            3
6          Norte        5043400           VE            3
7         Centro       52902645           VE            5
8         Centro       14296748           VE            4
9         Centro     1030524723           VE            8
10         Norte     1030524723           VE            8
11  Suroccidente     1030524723           VE            8
12  Suroccidente       31308239           VE            7
13        Centro        5002699           VE            7
14         Norte        6474959           GD            1
15        Centro        5041772           VE           11
16         Norte        5041772           VE           11
17  Suroccidente        5041772           VE           11
18        Centro        5003527           VE            2
19         Norte        5003527           VE            2
20        Centro        5004298           GC            1
21         Norte        5006093           VE            4
22         Norte        5041314           VE            4
23  Suroccidente       94487610           VE            5
24  Suroccidente        5005355           VE            2
25        Centro        5037259           VE            3
26  Suroccidente        5037259           VE            3
27         Norte        5002721           VE            5
28  Suroccidente        5005980           GC            2
29  Suroccidente     1060654227           VE            4
30        Centro     1020784302           VE            2
31         Norte     1020784302           VE            2
32  Suroccidente        5036358           GD            3
33  Suroccidente        5041369           VE            4
34         Norte     1140816814           VE            5
35        Centro        5041312           VE            5

KeyError: 'Cluster'

## 35. VentaCobradaUnidadNegocioSub

In [236]:
main = None

venta_cobrada_portafolio_cluster_sub = main
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto:

## 36. VentaCobradaZonaPaisSub

In [237]:
main = None

venta_cobrada_portafolio_cluster_sub = main
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto:

## 36. VentaFacturadaPortafolioRenal

In [238]:
main = None

venta_cobrada_portafolio_cluster_sub = main
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto:

## 36. VentaFacturadaPortafolioZonaCluster

In [239]:
main = None

venta_cobrada_portafolio_cluster_sub = main
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto:

# Se unen los resultados de los rubros y se obtienen las liquidaciones

In [240]:
maestra_resultados = pd.concat([
    cumplimiento_objetivos_cualitativos, # cumplimiento_cualitativos,
    cumplimiento_recaudo_por_zona, # cumplimiento_cobro_por_zona,
    cumplimiento_venta_individual,
    cumplimiento_venta_individual_sub,
    cumplimiento_recaudo_individual,
    cumplimiento_recaudo_individual_sub, # cumplimiento_cobro_empleado_consecutivo,
    cumplimiento_venta_por_area_calculo, # cumplimiento_venta_por_area_calculo,
    cumplimiento_venta_por_area_calculo_sub,
    cumplimiento_recaudo_por_area_calculo, # cumplimiento_cobro_por_area_calculo,
    cumplimiento_recaudo_por_area_calculo_sub,
    cumplimiento_recaudo_nivel_pais, # cumplimiento_cobro_pais,
    cumplimiento_venta_por_unidad_negocio_gu,
    cumplimiento_venta_por_unidad_negocio_gu_sub,
    cumplimiento_recaudo_por_unidad_negocio_gu, # cumplimiento_cobro_area_calculo_gu,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    cumplimiento_venta_por_unidad_negocio_mk,
    cumplimiento_venta_por_unidad_negocio_mk_sub,
    cumplimiento_recaudo_por_unidad_negocio_mk, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_recaudo_por_unidad_negocio_mk_sub, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    cumplimiento_recaudo_por_division, # cumplimiento_cobro_division,
    cumplimiento_recaudo_por_division_sub_mk, # cumplimiento_cobro_division_sub,
    cumplimiento_recaudo_otras_companias_mk, # cumplimiento_cobro_compañias_mk,
    cumplimiento_recaudo_por_division_sub_gd, cumplimiento_recaudo_otras_companias_gd, # cumplimiento_cobro_division_sub_gd,
    cumplimiento_recaudo_por_division_sub_ad, # cumplimiento_cobro_division_sub_ad,
    cumplimiento_recaudo_otras_companias_ad, # cumplimiento_cobro_compañias_ad,
    cumplimiento_recaudo_por_division_sub_ad1, # cumplimiento_cobro_division_sub_ad1,
    cumplimiento_recaudo_otras_companias_ad1, # cumplimiento_cobro_compañias_ad1,
    cumplimiento_recaudo_por_division_sub_ad3, # cumplimiento_cobro_division_sub_ad3,
    cumplimiento_recaudo_otras_companias_ad3, # cumplimiento_cobro_compañias_ad3,
    cumplimiento_recaudo_por_division_sub_ad4, cumplimiento_recaudo_otras_companias_ad4, # cumplimiento_cobro_compañias_ad4,
    cumplimiento_recaudo_por_division_sub_ad5, cumplimiento_recaudo_otras_companias_ad5, # cumplimiento_cobro_compañias_ad5,
    cumplimiento_rentabilidad_cm5_nivel_pais, # rentabilidad_antes_de_impuestos,
    cumplimiento_rentabilidad_cm3_grupo_clientes_sub,  # rentabilidad_division_consecutivo,
    cumplimiento_rentabilidad_cm3_grupo_clientes, # rentabilidad_division,
    cumplimiento_rentabilidad_cm2_grupo_clientes, # rentabilidad_kam,
    cumplimiento_rentabilidad_cm5_ad, # rentabilidad_antes_de_impuestos_ad,
    cumplimiento_rentabilidad_cm5_ad1, # rentabilidad_antes_de_impuestos_ad1,
    cumplimiento_rentabilidad_cm5_ad2, # rentabilidad_antes_de_impuestos_ad2,
    cumplimiento_rentabilidad_cm5_ad3, # rentabilidad_antes_de_impuestos_ad3,
    cumplimiento_rentabilidad_cm5_ad4, # rentabilidad_antes_de_impuestos_ad4,
    cumplimiento_rentabilidad_cm5_ad5, # rentabilidad_antes_de_impuestos_ad5,
    cumplimiento_venta_previo_notas_credito_tp, # venta_credito_tp,
    cumplimiento_venta_servicios_mtto,
    # 2022
    venta_cobrada_braun_cluster,
    venta_cobrada_portafolio_cluster,
    venta_cobrada_portafolio_cluster_sub,
    venta_facturada_portafolio_cluster,
    venta_facturada_portafolio_cluster_sub,
    venta_cobrada_portafolio_pais_ve,
    venta_facturada_portafolio_zona_sub_ve,
    venta_cobrada_portafolio_zona_ve,
    venta_cobrada_portafolio_cluster_ve,
    venta_facturada_portafolio_cluster_sub_ve,
    venta_cobrada_zona_hospitalario_sub_gc,
    venta_cobrada_zona_hospitalario_sub_gd,
    venta_facturada_pais_ch,
    venta_facturada_zona_ch,
    rentabilidad_zona_hospitalario_cm2,
    venta_facturada_braun_pais,
    rentabilidad_compania_cm3,
    venta_cobrada_grupo_clientes_kams_sub,
    venta_facturada_grupo_clientes_kams,
    kpis_surgical,
    #2023
    venta_cobrada_portafolio_cluster_sub
])
maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
maestra_resultados.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004523,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN
1,5004523,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN
2,5004523,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN
3,5004523,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN
4,5004523,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN

## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [241]:
def recalcular_porcentajes_cumplimiento(row):
    response = row['PorcentajeCumplimiento']
    if not pd.isnull(row['Real']) and not pd.isnull(row['Presupuesto']):
        if row['Presupuesto'] == 0:
            response = 0
        elif row['Real'] - row['Presupuesto'] < 0:
            response = 1 + ((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
        elif row['Real'] - row['Presupuesto'] > 0:
            response = 1 + abs((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
    return round(response, 2)

maestra_resultados['PorcentajeCumplimiento'] = maestra_resultados.apply(recalcular_porcentajes_cumplimiento, axis=1)

## Se une la maestra de resultados con la parrilla

In [242]:
maestra_resultados

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004523,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN
1,5004523,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN
2,5004523,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN
3,5004523,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN
4,5004523,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN
...,...,...,...,...,...,...
729,80201251_2,2022-12-01,1.10,KpisSurgical,NaN,NaN
730,80201251_3,2022-12-01,1.19,KpisSurgical,NaN,NaN
731,52353176_1,2022-12-01,0.00,KpisSurgical,NaN,NaN
732,52353176_2,2022-12-01,1.10,KpisSurgical,NaN,NaN
733,52353176_3,2022-12-01,1.19,KpisSurgical,NaN,NaN

In [243]:
df_parrillas

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,VentaFacturadaPortafolioCluster,5004523,0.300,0,Venta Facturada portafolio asignado en su cluster,NaN
1,5004523,VentaCobradaPortafolioClusterSub,5004523_1,0.075,1,Venta cobrada total en el portafolio asignado ...,Surgery & Interventions (Neuro)
2,5004523,VentaCobradaPortafolioClusterSub,5004523_2,0.075,2,Venta cobrada total en el portafolio asignado ...,Surgery & Interventions (Ortho)
3,5004523,VentaCobradaPortafolioClusterSub,5004523_3,0.100,3,Venta cobrada total en el portafolio asignado ...,Surgery & Interventions (Surgical Assets)
4,5004523,VentaCobradaPortafolioClusterSub,5004523_4,0.100,4,Venta cobrada total en el portafolio asignado ...,Surgery & Interventions (Operating Room Soluti...
...,...,...,...,...,...,...,...
1150,1111118,VentaCobradaPortafolioClusterSub,1111118_2,0.150,2,Venta cobrada total en el portafolio asignado ...,Medical Care (Negocios:Reg Anest & Vas Acc)
1151,1111118,VentaCobradaPortafolioClusterSub,1111118_3,0.100,3,Venta cobrada total en el portafolio asignado ...,Medical Care (Negocios: Nutrition)
1152,1111118,VentaCobradaPortafolioClusterSub,1111118_4,0.075,4,Venta cobrada total en el portafolio asignado ...,Medical Care (Negocios: Drugs)
1153,1111118,VentaCobradaPortafolioClusterSub,1111118_5,0.025,5,Venta cobrada total en el portafolio asignado ...,Cualitativo Renal
1154,1111118,VentaCobradaBraunCluster,18,0.200,0,Venta Cobrada presupuesto asignado total B. Br...,NaN

In [244]:
maestra_resultados_por_empleado = maestra_resultados.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)
maestra_resultados_por_empleado

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5004523,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5004523,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5004523,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5004523,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21321,80201251_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,80201251,0.0759,2.0,Indicadores Surgical,ENTREGAS SEGURAS
21322,80201251_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,80201251,0.0782,3.0,Indicadores Surgical,PRODUCTIVIDAD
21323,52353176_1,2022-12-01,0.00,KpisSurgical,NaN,NaN,52353176,0.0594,1.0,Indicadores Surgical,CALIDAD DE PRODUCTO
21324,52353176_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,52353176,0.0594,2.0,Indicadores Surgical,ENTREGAS SEGURAS
21325,52353176_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,52353176,0.0612,3.0,Indicadores Surgical,PRODUCTIVIDAD

In [245]:
maestra_resultados_por_empleado

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5004523,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5004523,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5004523,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5004523,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21321,80201251_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,80201251,0.0759,2.0,Indicadores Surgical,ENTREGAS SEGURAS
21322,80201251_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,80201251,0.0782,3.0,Indicadores Surgical,PRODUCTIVIDAD
21323,52353176_1,2022-12-01,0.00,KpisSurgical,NaN,NaN,52353176,0.0594,1.0,Indicadores Surgical,CALIDAD DE PRODUCTO
21324,52353176_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,52353176,0.0594,2.0,Indicadores Surgical,ENTREGAS SEGURAS
21325,52353176_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,52353176,0.0612,3.0,Indicadores Surgical,PRODUCTIVIDAD

In [246]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
maestra_resultados_por_empleado

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,5004523,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,5004523,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5004523,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,5004523,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5004523,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21321,80201251_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,80201251,0.0759,2.0,Indicadores Surgical,ENTREGAS SEGURAS,AD4,3.0,NIETO AVILA,FELIPE,2018-10-01
21322,80201251_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,80201251,0.0782,3.0,Indicadores Surgical,PRODUCTIVIDAD,AD4,3.0,NIETO AVILA,FELIPE,2018-10-01
21323,52353176_1,2022-12-01,0.00,KpisSurgical,NaN,NaN,52353176,0.0594,1.0,Indicadores Surgical,CALIDAD DE PRODUCTO,AD5,1.0,PARRADO,ALEXANDRA,2017-08-01
21324,52353176_2,2022-12-01,1.10,KpisSurgical,NaN,NaN,52353176,0.0594,2.0,Indicadores Surgical,ENTREGAS SEGURAS,AD5,1.0,PARRADO,ALEXANDRA,2017-08-01
21325,52353176_3,2022-12-01,1.19,KpisSurgical,NaN,NaN,52353176,0.0612,3.0,Indicadores Surgical,PRODUCTIVIDAD,AD5,1.0,PARRADO,ALEXANDRA,2017-08-01

In [247]:
df_salarios_variables

     CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
0           5004523 2022-01-01        2000000.0                2000000.0
1           5004523 2022-02-01        2000000.0                2000000.0
2           5004523 2022-03-01        2000000.0                2000000.0
3           5004523 2022-04-01        2000000.0                2000000.0
4           5004523 2022-05-01        2000000.0                2000000.0
...             ...        ...              ...                      ...
1256        5036653 2022-10-01        2200000.0                2200000.0
1257        5036653 2022-11-01        2200000.0                2200000.0
1258        5036653 2022-12-01        2200000.0                2200000.0
1259        1111118 2022-11-01        2000000.0                2000000.0
1260        1111118 2022-12-01        2000000.0                2000000.0

[1261 rows x 4 columns]

In [263]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes,Nombre variable,Nombre consecutivo,NuevoFactorBK,SalarioVariable_y
0,1013583607,2022-01-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,1013583607,0.200,0.0,GU,...,360000.0,0.0,1.0,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN,3000000.0
1,gu_10_1,2022-01-01,VentaFacturadaUnidadNegocioSub,0.54,4.827312e+07,8.981578e+07,1013583607,0.060,1.0,GU,...,0.0,0.0,1.0,8.981578e+07,4.827312e+07,0.54,NaN,NaN,NaN,3000000.0
2,gu_10_2,2022-01-01,VentaFacturadaUnidadNegocioSub,0.70,5.158347e+07,7.391685e+07,1013583607,0.240,2.0,GU,...,0.0,0.0,1.0,7.391685e+07,5.158347e+07,0.70,NaN,NaN,NaN,3000000.0
3,gu_10,2022-01-01,VentaCobradaUnidadNegocio,0.97,2.141476e+08,2.200567e+08,1013583607,0.200,0.0,GU,...,510000.0,0.0,1.0,2.200567e+08,2.141476e+08,0.97,NaN,NaN,NaN,3000000.0
4,gu_10,2022-01-01,RentabilidadUnidadNegocioCM2,0.40,2.971079e+07,7.480544e+07,1013583607,0.200,0.0,GU,...,0.0,0.0,1.0,7.480544e+07,2.971079e+07,0.40,NaN,NaN,NaN,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8507,94487610_1,2022-12-01,VentaFacturadaPortafolioZonaSub,1.11,5.111937e+09,4.623066e+09,94487610,0.125,1.0,VE,...,3395000.0,-3.0,7.0,7.705110e+08,9.925040e+08,1.29,Venta Facturada en zona y con portafolio asignado,13 Peripheral Access & Injection,7.0,2000000.0
8508,94487610_2,2022-12-01,VentaFacturadaPortafolioZonaSub,0.94,9.380449e+08,9.997862e+08,94487610,0.100,2.0,VE,...,840000.0,-3.0,7.0,1.666310e+08,1.639350e+08,0.98,Venta Facturada en zona y con portafolio asignado,16 Central Venous Access,7.0,2000000.0
8509,94487610_3,2022-12-01,VentaFacturadaPortafolioZonaSub,0.84,1.475793e+09,1.753584e+09,94487610,0.125,3.0,VE,...,0.0,-3.0,7.0,2.922640e+08,2.599824e+08,0.89,Venta Facturada en zona y con portafolio asignado,36 Interventional Therapies (Ports),7.0,2000000.0
8510,94487610_4,2022-12-01,VentaFacturadaPortafolioZonaSub,1.20,3.696843e+09,3.069441e+09,94487610,0.150,4.0,VE,...,5250000.0,-3.0,7.0,5.115735e+08,9.035141e+08,1.77,Venta Facturada en zona y con portafolio asignado,15 Regional Anesthesia & Elastomerics,7.0,2000000.0
8511,94487610,2022-12-01,VentaCobradaPortafolioZona,1.04,9.952652e+09,9.550516e+09,94487610,0.300,0.0,VE,...,5208000.0,-3.0,7.0,1.591753e+09,1.773177e+09,1.11,Venta Cobrada en zona y con portafolio asignado,NaN,7.0,2000000.0

In [249]:
maestra_resultados_por_empleado = maestra_resultados.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)

maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)

maestra_resultados_por_empleado.dropna(subset=[
    'Fecha', 'CodigoEmpleado'
], inplace=True)
maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)

# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_factores_liquidacion,
    on=['TipoEmpleado', 'PorcentajeCumplimiento'],
    how='left'
)

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] == 0)),
    0.25,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] > 0)),
    0.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)

##
_excepciones_porcentaje_cumplimiento = [
    # {
    #     'TipoEmpleado': 'VC',
    #     'AreaCalculo': 7,
    #     'Variable': 'VentaFacturadaZonaCargoIndividualSub',
    #     'Consecutivo': 4,
    #     'FechaInicial': '2021-02-01',
    #     'FechaFinal': '2021-06-01',
    #     'PorcentajeCumplimiento': 1,
    #     'FactorIncentivo': 1,
    #     'Codigos': ['5003527']
    # }
]

for excepcion in _excepciones_porcentaje_cumplimiento:
    maestra_resultados_por_empleado['PorcentajeCumplimiento'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['PorcentajeCumplimiento'],
        maestra_resultados_por_empleado['PorcentajeCumplimiento']
    )
    maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['FactorIncentivo'],
        maestra_resultados_por_empleado['FactorIncentivo']
    )
##

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']<0.9) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    0,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']>1.06) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    2.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['Fecha'].notnull()]
maestra_resultados_por_empleado['FactorMes'] = pd.DatetimeIndex(maestra_resultados_por_empleado['Fecha']).month
maestra_resultados_por_empleado['FactorMes'] = maestra_resultados_por_empleado['FactorMes'].astype('int')
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['SalarioVariable']*maestra_resultados_por_empleado['Porcentaje']
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['FactorIncentivo']

try:
    maestra_resultados_por_empleado['DifMonths'] = ((maestra_resultados_por_empleado.Fecha - maestra_resultados_por_empleado.FechaIngreso)/np.timedelta64(1, 'M'))
except:
    maestra_resultados_por_empleado['DifMonths'] = 0
maestra_resultados_por_empleado['DifMonths'].fillna(0, inplace=True)
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].apply(lambda x: round(x, 0))
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].astype('int')

maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado.groupby(['CodigoEmpleado'])['DifMonths'].transform(min)
maestra_resultados_por_empleado['DifMonths'] = np.where(
    maestra_resultados_por_empleado['DifMonths']>0, 0, maestra_resultados_por_empleado['DifMonths']
)
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['FactorMes'] + maestra_resultados_por_empleado['DifMonths']
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['NuevoFactor'].apply(lambda x: 0 if x<0 else x)

###
_excepciones_factor_mes = [
    # Garantizados para VEs y VCs
    {
        'TipoEmpleado': ['VC', 'VE'],
        'FechaInicial': '2022-03-01',
        'FechaFinal': '2022-12-01',
        'SumFactorMes': -2
    }
]
for excepcion in _excepciones_factor_mes:
    maestra_resultados_por_empleado['NuevoFactor'] = np.where(
        (
            (maestra_resultados_por_empleado['TipoEmpleado'].isin(excepcion['TipoEmpleado'])) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        maestra_resultados_por_empleado['NuevoFactor'] + excepcion['SumFactorMes'],
        maestra_resultados_por_empleado['NuevoFactor']
    )

maestra_resultados_por_empleado['NuevoFactor'] = np.where(
    maestra_resultados_por_empleado['NuevoFactor'] < 1,
    1,
    maestra_resultados_por_empleado['NuevoFactor']
)
maestra_resultados_por_empleado['NuevoFactorBK'] = maestra_resultados_por_empleado['NuevoFactor']
###

maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['NuevoFactor']

maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['CodigoEmpleado'].notnull()]

maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
12,53069050,2022-02-01,0.94,ObjetivosCualitativos,NaN,NaN,53069050,0.2,0.0,Objetivos cualitativos,...,ALTAHONA BARRERA,SYLVIA CRISTINA,2021-03-01,3000000.0,0.6,2,720000.0,0.0,2.0,2.0
13,53069050,2022-03-01,0.94,ObjetivosCualitativos,NaN,NaN,53069050,0.2,0.0,Objetivos cualitativos,...,ALTAHONA BARRERA,SYLVIA CRISTINA,2021-03-01,3000000.0,0.6,3,1080000.0,0.0,3.0,3.0
14,53069050,2022-04-01,0.94,ObjetivosCualitativos,NaN,NaN,53069050,0.2,0.0,Objetivos cualitativos,...,ALTAHONA BARRERA,SYLVIA CRISTINA,2021-03-01,3000000.0,0.6,4,1440000.0,0.0,4.0,4.0
15,53069050,2022-05-01,0.94,ObjetivosCualitativos,NaN,NaN,53069050,0.2,0.0,Objetivos cualitativos,...,ALTAHONA BARRERA,SYLVIA CRISTINA,2021-03-01,3000000.0,0.6,5,1800000.0,0.0,5.0,5.0
16,53069050,2022-06-01,0.94,ObjetivosCualitativos,NaN,NaN,53069050,0.2,0.0,Objetivos cualitativos,...,ALTAHONA BARRERA,SYLVIA CRISTINA,2021-03-01,3000000.0,0.6,6,2160000.0,0.0,6.0,6.0

## Se calculan los resultados por mes

In [250]:
lista_variables_rentabilidad_acumuladas = [
    'RentabilidadBbraunPaisAntesDeImpuestos',
    'RentabilidadDivisionGrupoClientesCM3',
    'RentabilidadDivisionGrupoClientesCM3Sub',
    'RentabilidadUnidadNegocioCM2',
    'RentabilidadUnidadNegocioCM2Sub',
    'RentabilidadUnidadNegocioCM3',
    'RentabilidadUnidadNegocioCM3Sub',
    'TotalRentabilidadBraunAntesDeImpuestosCM5',
    'VentaFacturadaPrevioNotasCreditoTP',
    # 2022
    'RentabilidadCompaniaCM3',
    'RentabilidadZonaHospitalarioCM2'
]

def calcular_resultado_mes(group):
    valor_previo_real = 0
    valor_previo_presupuesto = 0
    for index, item in group.iterrows():
        if item['Variable'] in lista_variables_rentabilidad_acumuladas:
            resultado_real_mes = item['Real']
            resultado_presupuesto_mes = item['Presupuesto']
        else:
            resultado_real_mes = item['Real'] - valor_previo_real
            resultado_presupuesto_mes = item['Presupuesto'] - valor_previo_presupuesto
        
        group.at[index, 'ResultadoRealMes'] = resultado_real_mes
        group.at[index, 'ResultadoPresupuesto'] = resultado_presupuesto_mes

        porcentaje_cumplimiento_mes = 0
        if resultado_presupuesto_mes == 0:
            porcentaje_cumplimiento_mes = 0
        elif resultado_real_mes - resultado_presupuesto_mes < 0:
            porcentaje_cumplimiento_mes = 1 + ((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        elif resultado_real_mes - resultado_presupuesto_mes > 0:
            porcentaje_cumplimiento_mes = 1 + abs((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        else:
            porcentaje_cumplimiento_mes = resultado_real_mes / resultado_presupuesto_mes

        group.at[index, 'PorcentajeCumplimientoMes'] = round(porcentaje_cumplimiento_mes, 2)
        
        valor_previo_real = item['Real']
        valor_previo_presupuesto = item['Presupuesto']
    return group

maestra_resultados_por_empleado['Real'].fillna(0,inplace=True)
maestra_resultados_por_empleado['Presupuesto'].fillna(0,inplace=True)
maestra_resultados_por_empleado['ResultadoPresupuesto'] = 0
maestra_resultados_por_empleado['ResultadoRealMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = maestra_resultados_por_empleado['PorcentajeCumplimientoMes'].astype('float')
maestra_resultados_por_empleado = maestra_resultados_por_empleado.groupby(['CodigoEmpleado', 'Variable', 'Contexto'], group_keys=False).apply(calcular_resultado_mes)

maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
12,53069050,2022-02-01,0.94,ObjetivosCualitativos,0.0,0.0,53069050,0.2,0.0,Objetivos cualitativos,...,3000000.0,0.6,2,720000.0,0.0,2.0,2.0,0.0,0.0,0.0
13,53069050,2022-03-01,0.94,ObjetivosCualitativos,0.0,0.0,53069050,0.2,0.0,Objetivos cualitativos,...,3000000.0,0.6,3,1080000.0,0.0,3.0,3.0,0.0,0.0,0.0
14,53069050,2022-04-01,0.94,ObjetivosCualitativos,0.0,0.0,53069050,0.2,0.0,Objetivos cualitativos,...,3000000.0,0.6,4,1440000.0,0.0,4.0,4.0,0.0,0.0,0.0
15,53069050,2022-05-01,0.94,ObjetivosCualitativos,0.0,0.0,53069050,0.2,0.0,Objetivos cualitativos,...,3000000.0,0.6,5,1800000.0,0.0,5.0,5.0,0.0,0.0,0.0
16,53069050,2022-06-01,0.94,ObjetivosCualitativos,0.0,0.0,53069050,0.2,0.0,Objetivos cualitativos,...,3000000.0,0.6,6,2160000.0,0.0,6.0,6.0,0.0,0.0,0.0

In [251]:
# Se une el resultadio histórico con el actual, de tal forma que al histórico se le agregan únicamenet 
# los resultados correspondientes al mes que se está liquidando
resultado_detallado_historico = df_resultado_detallado_previo.copy()
last_date_historico = resultado_detallado_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    maestra_resultados_por_empleado = maestra_resultados_por_empleado[
        (maestra_resultados_por_empleado['Fecha']<=fecha_liquidacion)
    ]
    if last_date_historico:
        maestra_resultados_por_empleado = maestra_resultados_por_empleado[
            maestra_resultados_por_empleado['Fecha']>last_date_historico
        ]
except:
    raise

maestra_resultados_por_empleado = pd.concat([resultado_detallado_historico, maestra_resultados_por_empleado])
maestra_resultados_por_empleado = maestra_resultados_por_empleado.sort_values(by=['CodigoEmpleado', 'Fecha'])
maestra_resultados_por_empleado

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes,Nombre variable,Nombre consecutivo,NuevoFactorBK
1,1013583607,2022-01-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,1013583607,0.200,0.0,GU,...,1,360000.0,0.0,1.0,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN
2,gu_10_1,2022-01-01,VentaFacturadaUnidadNegocioSub,0.54,4.827312e+07,8.981578e+07,1013583607,0.060,1.0,GU,...,1,0.0,0.0,1.0,8.981578e+07,4.827312e+07,0.54,NaN,NaN,NaN
3,gu_10_2,2022-01-01,VentaFacturadaUnidadNegocioSub,0.70,5.158347e+07,7.391685e+07,1013583607,0.240,2.0,GU,...,1,0.0,0.0,1.0,7.391685e+07,5.158347e+07,0.70,NaN,NaN,NaN
4,gu_10,2022-01-01,VentaCobradaUnidadNegocio,0.97,2.141476e+08,2.200567e+08,1013583607,0.200,0.0,GU,...,1,510000.0,0.0,1.0,2.200567e+08,2.141476e+08,0.97,NaN,NaN,NaN
5,gu_10,2022-01-01,RentabilidadUnidadNegocioCM2,0.40,2.971079e+07,7.480544e+07,1013583607,0.200,0.0,GU,...,1,0.0,0.0,1.0,7.480544e+07,2.971079e+07,0.40,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19288,94487610_1,2022-12-01,VentaFacturadaPortafolioZonaSub,1.11,5.111937e+09,4.623066e+09,94487610,0.125,1.0,VE,...,12,3395000.0,-3.0,7.0,7.705110e+08,9.925040e+08,1.29,Venta Facturada en zona y con portafolio asignado,13 Peripheral Access & Injection,7.0
19295,94487610_2,2022-12-01,VentaFacturadaPortafolioZonaSub,0.94,9.380449e+08,9.997862e+08,94487610,0.100,2.0,VE,...,12,840000.0,-3.0,7.0,1.666310e+08,1.639350e+08,0.98,Venta Facturada en zona y con portafolio asignado,16 Central Venous Access,7.0
19302,94487610_3,2022-12-01,VentaFacturadaPortafolioZonaSub,0.84,1.475793e+09,1.753584e+09,94487610,0.125,3.0,VE,...,12,0.0,-3.0,7.0,2.922640e+08,2.599824e+08,0.89,Venta Facturada en zona y con portafolio asignado,36 Interventional Therapies (Ports),7.0
19309,94487610_4,2022-12-01,VentaFacturadaPortafolioZonaSub,1.20,3.696843e+09,3.069441e+09,94487610,0.150,4.0,VE,...,12,5250000.0,-3.0,7.0,5.115735e+08,9.035141e+08,1.77,Venta Facturada en zona y con portafolio asignado,15 Regional Anesthesia & Elastomerics,7.0
19508,94487610,2022-12-01,VentaCobradaPortafolioZona,1.04,9.952652e+09,9.550516e+09,94487610,0.300,0.0,VE,...,12,5208000.0,-3.0,7.0,1.591753e+09,1.773177e+09,1.11,Venta Cobrada en zona y con portafolio asignado,NaN,7.0

## Se obtienen las liquidaciones

In [252]:
excepciones_pagos_acumulados = {}

excepciones_diferencias = {}

In [253]:
resultado_liquidaciones = maestra_resultados_por_empleado.groupby(
    ['CodigoEmpleado', 'SalarioVariable', 'Fecha', 'NuevoFactorBK'],
    as_index=False
).Liquidado.agg({'Liquidado': 'sum'})
resultado_liquidaciones.rename(columns={'NuevoFactorBK': 'NuevoFactor'}, inplace=True)
resultado_liquidaciones.head()
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_incentivos_por_empleado.rename(columns={'Valor': 'PagoReal'}),
    on = ['CodigoEmpleado', 'Fecha'],
    how = 'right'
)
resultado_liquidaciones = pd.merge(
    left=resultado_liquidaciones,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']].drop_duplicates(['CodigoEmpleado']),
    how='left',
    on=['CodigoEmpleado']
)

resultado_liquidaciones = resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= resultado_liquidaciones['FechaIngreso']]
resultado_liquidaciones.drop(columns=['FechaIngreso'], inplace=True)
resultado_liquidaciones.head()

# Cálculo de garantizado (100%) para VEs y VCs, Anticipos (85%) para el resto de empleados
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado']],
    on='CodigoEmpleado',
    how='left'
)

def calcular_liquidacion_mes(g):
    pago_acumulado = 0
    for i, row in g.iterrows():
        if row['Fecha'].month in meses_incentivos:
            if g.at[i, 'PagoReal'] == 0:
                if i == 0:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
                else:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
            
            if g.at[i, 'PagoReal'] < 0:
                g.at[i, 'PagoReal'] = 0.0
        pago_acumulado += g.at[i, 'PagoReal']
        
        excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
        if excepcion and row['Fecha'] == excepcion['Fecha']:
            pago_acumulado = excepcion['ValorPagoAcumulado']
        
        excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
        if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
            pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        
    return g
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])
resultado_liquidaciones.reset_index(inplace=True, drop=True)
resultado_liquidaciones['PagoReal'].fillna(0.0, inplace=True)
resultado_liquidaciones['Liquidado'].fillna(0.0, inplace=True)
resultado_liquidaciones = resultado_liquidaciones.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
resultado_liquidaciones.rename(columns={'NuevoFactor': 'FactorMes'}, inplace=True)
resultado_liquidaciones['PagoGarantizado'] = 'NO'

resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['VE', 'VC']))
    ),
    resultado_liquidaciones['SalarioVariable'],
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['AD', 'AD1', 'AD2', 'AD3', 'AD4', 'AD5', 'GC', 'GD', 'GU', 'KAM', 'MK']))
    ),
    resultado_liquidaciones['SalarioVariable'] * 0.85,
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones.drop(columns=['TipoEmpleado'], inplace=True)

resultado_liquidaciones.head(12)

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
0,1013583607,NaN,2022-01-01,NaN,0.0,NaN,NO
1,1013583607,NaN,2022-02-01,NaN,0.0,NaN,NO
2,1013583607,NaN,2022-03-01,NaN,0.0,7855500.0,NO
3,1013583607,NaN,2022-04-01,NaN,0.0,0.0,NO
4,1013583607,NaN,2022-05-01,NaN,0.0,0.0,NO
5,1013583607,NaN,2022-06-01,NaN,0.0,2200500.0,NO
6,1013583607,NaN,2022-07-01,NaN,0.0,10464000.0,NO
7,1013583607,NaN,2022-08-01,NaN,0.0,1104000.0,NO
8,1013583607,NaN,2022-09-01,NaN,0.0,5284500.0,NO
9,1013583607,NaN,2022-10-01,NaN,0.0,6031500.0,NO
10,1013583607,NaN,2022-11-01,NaN,0.0,9430500.0,NO
11,1013583607,3000000.0,2022-12-01,12.0,59652000.0,12181500.0,NO

## Se obtienen los garantizados

In [254]:
empleados_garantizado = df_empleados[df_empleados['FechaIngreso'] > fecha_liquidacion][['CodigoEmpleado', 'SalarioVariable', 'FechaIngreso']]
fechas_resultado_liquidaciones = resultado_liquidaciones[['Fecha']].drop_duplicates()

empleados_garantizado['Key'] = 1
fechas_resultado_liquidaciones['Key'] = 1

liquidaciones_garantizados = pd.merge(
    left=fechas_resultado_liquidaciones.sort_values(['Fecha']),
    right=empleados_garantizado,
    how='outer',
    on=['Key']
).drop(columns=['Key'])

liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'].notnull()]

liquidaciones_garantizados['DifMonths'] = ((liquidaciones_garantizados.FechaIngreso - liquidaciones_garantizados.Fecha)/np.timedelta64(1, 'M'))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].apply(lambda x: round(x, 0))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].astype('int')
liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['DifMonths'] <= 4]

liquidaciones_garantizados['FactorMes'] = 0
liquidaciones_garantizados['Liquidado'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoReal'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoGarantizado'] = 'SI'

liquidaciones_garantizados.drop(columns=['DifMonths', 'FechaIngreso'], inplace=True)

liquidaciones_garantizados.head()

,Fecha,CodigoEmpleado,SalarioVariable,FactorMes,Liquidado,PagoReal,PagoGarantizado
57,2022-09-01,1030524223,2000000.0,0,2000000.0,2000000.0,SI
59,2022-09-01,53099837,2000000.0,0,2000000.0,2000000.0,SI
62,2022-09-01,1014226605,2000000.0,0,2000000.0,2000000.0,SI
64,2022-10-01,1030524223,2000000.0,0,2000000.0,2000000.0,SI
66,2022-10-01,53099837,2000000.0,0,2000000.0,2000000.0,SI

## Se unen las liquidaciones de garantizados con las demás

In [255]:
resultado_liquidaciones = pd.concat([resultado_liquidaciones, liquidaciones_garantizados])
resultado_liquidaciones.reset_index(drop=True, inplace=True)
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,Liquidado,PagoReal,PagoGarantizado
0,1013583607,NaN,2022-01-01,NaN,0.0,NaN,NO
1,1013583607,NaN,2022-02-01,NaN,0.0,NaN,NO
2,1013583607,NaN,2022-03-01,NaN,0.0,7855500.0,NO
3,1013583607,NaN,2022-04-01,NaN,0.0,0.0,NO
4,1013583607,NaN,2022-05-01,NaN,0.0,0.0,NO
...,...,...,...,...,...,...,...
1119,53154461,600000.0,2022-12-01,0.0,600000.0,600000.0,SI
1120,53099837,2000000.0,2022-12-01,0.0,2000000.0,2000000.0,SI
1121,1094935408,2000000.0,2022-12-01,0.0,2000000.0,2000000.0,SI
1122,1026292468,374000.0,2022-12-01,0.0,374000.0,374000.0,SI
1123,1014226605,2000000.0,2022-12-01,0.0,2000000.0,2000000.0,SI

## Se conserva la información del histórico y se le añade la nueva información hasta la fecha de liquidación

In [256]:
resultado_liquidaciones_historico = df_resultado_liquidaciones_previo.copy()
resultado_liquidaciones_historico['PagoGarantizado'] = resultado_liquidaciones_historico['PagoGarantizado'].fillna('NO')
last_date_historico = resultado_liquidaciones_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    resultado_liquidaciones = resultado_liquidaciones[
        resultado_liquidaciones['Fecha']<=fecha_liquidacion
    ]
    if last_date_historico:
        resultado_liquidaciones = resultado_liquidaciones[
            resultado_liquidaciones['Fecha']>last_date_historico
        ]
except:
    pass

resultado_liquidaciones = pd.concat([resultado_liquidaciones_historico, resultado_liquidaciones])
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])

for codigo_empleado_excepcion in excepciones_pagos_acumulados:
    excepcion = excepciones_pagos_acumulados[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] <= excepcion['Fecha'])
        ),
        excepcion['ValorPagoAcumulado'],
        resultado_liquidaciones['PagoReal']
    )

for codigo_empleado_excepcion in excepciones_diferencias:
    excepcion = excepciones_diferencias[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] == excepcion['Fecha'])
        ),
        resultado_liquidaciones['PagoReal'] + excepcion['ValorDiferencia'],
        resultado_liquidaciones['PagoReal']
    )

resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones.groupby(['CodigoEmpleado'])['PagoReal'].transform(pd.Series.cumsum)
resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones['PagadoFecha'] - resultado_liquidaciones['PagoReal']
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
44,1013583607,3000000.0,2022-01-01,1.0,NO,1200000.0,2550000.0,0.0
101,1013583607,3000000.0,2022-02-01,2.0,NO,5850000.0,2550000.0,2550000.0
159,1013583607,3000000.0,2022-03-01,3.0,NO,12955500.0,7855500.0,5100000.0
281,1013583607,3000000.0,2022-04-01,4.0,NO,8010000.0,0.0,12955500.0
403,1013583607,3000000.0,2022-05-01,5.0,NO,11347500.0,0.0,12955500.0
...,...,...,...,...,...,...,...,...
826,94487610,2000000.0,2022-08-01,3.0,NO,6900000.0,1604000.0,11296000.0
942,94487610,2000000.0,2022-09-01,4.0,NO,8883000.0,1983000.0,12900000.0
1057,94487610,2000000.0,2022-10-01,5.0,NO,10350000.0,1467000.0,14883000.0
1173,94487610,2000000.0,2022-11-01,6.0,NO,12936000.0,2586000.0,16350000.0
1102,94487610,2000000.0,2022-12-01,7.0,NO,17829000.0,4893000.0,18936000.0

In [257]:
resultado_liquidaciones.drop_duplicates(['CodigoEmpleado', 'Fecha'], inplace=True)

resultado_final = pd.merge(
    left=resultado_liquidaciones[['CodigoEmpleado', 'Fecha', 'PagoGarantizado', 'Liquidado', 'PagoReal', 'PagadoFecha', 'FactorMes']],
    right=df_empleados,
    on=['CodigoEmpleado'],
    how='left'
)
resultado_final = resultado_final[['Identificacion', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Fecha', 'SalarioVariable', 'PagoGarantizado', 'FactorMes', 'Liquidado', 'PagoReal', 'PagadoFecha']]
resultado_final = resultado_final.sort_values(by=['TipoEmpleado', 'AreaCalculo', 'CodigoEmpleado', 'Fecha'])

resultado_final.rename(columns={
    'Identificacion': 'Cédula',
    'CodigoEmpleado': 'Código',
    'TipoEmpleado': 'Tipo Empleado',
    'AreaCalculo': 'Área de cálculo',
    'Liquidado': 'Valor liquidado',
    'PagoReal': 'Valor neto a pagar',
    'PagadoFecha': 'Pagado a la fecha',
    'SalarioVariable': 'Salario variable',
    'FactorMes': 'Factor mes',
    'PagoGarantizado': '¿Pago garantizado?'
}, inplace=True)
resultado_final.head()

,Cédula,Nombre,Apellidos,Código,Tipo Empleado,Área de cálculo,Fecha,Salario variable,¿Pago garantizado?,Factor mes,Valor liquidado,Valor neto a pagar,Pagado a la fecha
994,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2022-01-01,3392000.0,NO,1.0,2.296130e+06,2883200.00,0.00
995,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2022-02-01,3392000.0,NO,2.0,3.536160e+06,2883200.00,2883200.00
996,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2022-03-01,3392000.0,NO,3.0,7.066621e+06,1300221.44,5766400.00
997,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2022-04-01,3392000.0,NO,4.0,4.582375e+06,0.00,7066621.44
998,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2022-05-01,3392000.0,NO,5.0,1.289934e+07,5832713.60,7066621.44

In [258]:
# return maestra_resultados_por_empleado, resultado_liquidaciones, resultado_final

In [259]:
maestra_resultados_por_empleado.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados_por_empleado.xlsx'))
resultado_liquidaciones.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_liquidaciones.xlsx'))
resultado_final.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_final.xlsx'))

In [260]:
maestra_resultados.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados.xlsx'))

In [261]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'RentabilidadDivisionGrupoClientesCM3']

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes,Nombre variable,Nombre consecutivo,NuevoFactorBK
14821,gd_2_HC,2022-12-01,RentabilidadDivisionGrupoClientesCM3,0.65,9.128415e+09,1.408889e+10,5004470,0.2,0.0,NaN,...,12,NaN,0.0,12.0,1.408889e+10,9.128415e+09,0.65,Rentabilidad Unidades de Negocio/Grupo de Clie...,NaN,12.0
212,gd_2_HC,2022-01-01,RentabilidadDivisionGrupoClientesCM3,-2.28,-4.954655e+08,-1.157675e+08,5016692,0.2,0.0,GD,...,1,0.0,0.0,1.0,-1.157675e+08,-4.954655e+08,-2.28,NaN,NaN,NaN
558,gd_2_HC,2022-02-01,RentabilidadDivisionGrupoClientesCM3,-0.72,-3.944216e+08,5.440751e+08,5016692,0.2,0.0,GD,...,2,0.0,0.0,2.0,5.440751e+08,-3.944216e+08,-0.72,NaN,NaN,NaN
1129,gd_2_HC,2022-03-01,RentabilidadDivisionGrupoClientesCM3,0.01,1.470358e+07,1.591723e+09,5016692,0.2,0.0,GD,...,3,0.0,0.0,3.0,1.591723e+09,1.470358e+07,0.01,NaN,NaN,NaN
1861,gd_2_HC,2022-04-01,RentabilidadDivisionGrupoClientesCM3,0.01,4.540179e+07,3.027090e+09,5016692,0.2,0.0,GD,...,4,0.0,0.0,4.0,3.027090e+09,4.540179e+07,0.01,NaN,NaN,NaN
2639,gd_2_HC,2022-05-01,RentabilidadDivisionGrupoClientesCM3,0.39,1.600315e+09,4.078329e+09,5016692,0.2,0.0,GD,...,5,0.0,0.0,5.0,4.078329e+09,1.600315e+09,0.39,NaN,NaN,NaN
3466,gd_2_HC,2022-06-01,RentabilidadDivisionGrupoClientesCM3,0.36,2.011637e+09,5.514478e+09,5016692,0.2,0.0,GD,...,6,0.0,0.0,6.0,5.514478e+09,2.011637e+09,0.36,NaN,NaN,NaN
4295,gd_2_HC,2022-07-01,RentabilidadDivisionGrupoClientesCM3,0.63,4.145040e+09,6.539886e+09,5016692,0.2,0.0,GD,...,7,0.0,0.0,7.0,6.539886e+09,4.145040e+09,0.63,NaN,NaN,NaN
5118,gd_2_HC,2022-08-01,RentabilidadDivisionGrupoClientesCM3,0.63,5.018427e+09,7.972212e+09,5016692,0.2,0.0,GD,...,8,0.0,0.0,8.0,7.972212e+09,5.018427e+09,0.63,NaN,NaN,NaN
5933,gd_2_HC,2022-09-01,RentabilidadDivisionGrupoClientesCM3,0.63,5.956392e+09,9.404538e+09,5016692,0.2,0.0,GD,...,9,0.0,0.0,9.0,9.404538e+09,5.956392e+09,0.63,NaN,NaN,NaN
6747,gd_2_2_HC,2022-10-01,RentabilidadDivisionGrupoClientesCM3,0.59,6.298010e+09,1.064318e+10,5016692,0.2,0.0,GD,...,10,0.0,0.0,10.0,1.064318e+10,6.298010e+09,0.59,NaN,NaN,NaN
7568,gd_2_2_HC,2022-11-01,RentabilidadDivisionGrupoClientesCM3,0.64,7.738784e+09,1.207550e+10,5016692,0.2,0.0,GD,...,11,0.0,0.0,11.0,1.207550e+10,7.738784e+09,0.64,NaN,NaN,NaN
14820,gd_2_HC,2022-12-01,RentabilidadDivisionGrupoClientesCM3,0.65,9.128415e+09,1.408889e+10,5016692,0.2,0.0,GD,...,12,0.0,0.0,12.0,1.408889e+10,9.128415e+09,0.65,Rentabilidad Unidades de Negocio/Grupo de Clie...,NaN,12.0
221,gd_3_BA,2022-01-01,RentabilidadDivisionGrupoClientesCM3,0.13,-1.394422e+08,-7.463679e+07,5036358,0.2,0.0,GD,...,1,0.0,0.0,1.0,-7.463678e+07,-1.394422e+08,0.13,NaN,NaN,NaN
567,gd_3_BA,2022-02-01,RentabilidadDivisionGrupoClientesCM3,0.82,-1.609755e+08,-1.361417e+08,5036358,0.2,0.0,GD,...,2,0.0,0.0,2.0,-1.361417e+08,-1.609755e+08,0.82,NaN,NaN,NaN
1152,gd_3_BA,2022-03-01,RentabilidadDivisionGrupoClientesCM3,1.19,-1.485917e+08,-1.826059e+08,5036358,0.2,0.0,GD,...,3,6000000.0,0.0,3.0,-1.826059e+08,-1.485917e+08,1.19,NaN,NaN,NaN
1884,gd_3_BA,2022-04-01,RentabilidadDivisionGrupoClientesCM3,1.41,-1.275374e+08,-2.143976e+08,5036358,0.2,0.0,GD,...,4,8000000.0,0.0,4.0,-2.143976e+08,-1.275374e+08,1.41,NaN,NaN,NaN
2662,gd_3_BA,2022-05-01,RentabilidadDivisionGrupoClientesCM3,1.38,-1.345582e+08,-2.175557e+08,5036358,0.2,0.0,GD,...,5,10000000.0,0.0,5.0,-2.175557e+08,-1.345582e+08,1.38,NaN,NaN,NaN
3490,gd_3_BA,2022-06-01,RentabilidadDivisionGrupoClientesCM3,1.15,-1.905405e+08,-2.231654e+08,5036358,0.2,0.0,GD,...,6,12000000.0,0.0,6.0,-2.231654e+08,-1.905405e+08,1.15,NaN,NaN,NaN
4318,gd_3_BA,2022-07-01,RentabilidadDivisionGrupoClientesCM3,0.91,-2.261198e+08,-2.082470e+08,5036358,0.2,0.0,GD,...,7,2968000.0,0.0,7.0,-2.082470e+08,-2.261198e+08,0.91,NaN,NaN,NaN
5135,gd_3_BA,2022-08-01,RentabilidadDivisionGrupoClientesCM3,0.84,-2.092389e+08,-1.801967e+08,5036358,0.2,0.0,GD,...,8,0.0,0.0,8.0,-1.801967e+08,-2.092389e+08,0.84,NaN,NaN,NaN
5950,gd_3_BA,2022-09-01,RentabilidadDivisionGrupoClientesCM3,0.57,-2.170409e+08,-1.521463e+08,5036358,0.2,0.0,GD,...,9,0.0,0.0,9.0,-1.521463e+08,-2.170409e+08,0.57,NaN,NaN,NaN
6764,gd_3_3_BA,2022-10-01,RentabilidadDivisionGrupoClientesCM3,3.93,2.122625e+08,-1.101018e+08,5036358,0.2,0.0,GD,...,10,20000000.0,0.0,10.0,-1.101018e+08,2.122625e+08,3.93,NaN,NaN,NaN
7585,gd_3_3_BA,2022-11-01,RentabilidadDivisionGrupoClientesCM3,4.87,2.662266e+08,-9.271793e+07,5036358,0.2,0.0,GD,...,11,22000000.0,0.0,11.0,-9.271793e+07,2.662266e+08,4.87,NaN,NaN,NaN
14845,gd_3_BA,2022-12-01,RentabilidadDivisionGrupoClientesCM3,5.67,2.732152e+08,-7.447178e+07,5036358,0.2,0.0,GD,...,12,24000000.0,0.0,12.0,-7.447178e+07,2.732152e+08,5.67,Rentabilidad Unidades de Negocio/Grupo de Clie...,NaN,12.0
290,gd_1_AE,2022-01-01,RentabilidadDivisionGrupoClientesCM3,1.22,-3.993679e+08,-5.139475e+08,6474959,0.2,0.0,GD,...,1,3000000.0,-3.0,1.0,-5.139475e+08,-3.993679e+08,1.22,NaN,NaN,NaN
641,gd_1_AE,2022-02-01,RentabilidadDivisionGrupoClientesCM3,0.89,-8.922258e+08,-8.058718e+08,6474959,0.2,0.0,GD,...,2,0.0,-3.0,1.0,-8.058718e+08,-8.922258e+08,0.89,NaN,NaN,NaN
1342,gd_1_AE,2022-03-01,RentabilidadDivisionGrupoClientesCM3,1.86,-1.349575e+08,-9.867845e+08,6474959,0.2,0.0,GD,...,3,3000000.0,-3.0,1.0,-9.867845e+08,-1.349575e+08,1.86,NaN,NaN,NaN
2104,gd_1_AE,2022-04-01,RentabilidadDivisionGrupoClientesCM3,2.07,7.196891e+07,-1.056686e+09,6474959,0.2,0.0,GD,...,4,3000000.0,-3.0,1.0,-1.056686e+09,7.196890e+07,2.07,NaN,NaN,NaN
2882,gd_1_AE,2022-05-01,RentabilidadDivisionGrupoClientesCM3,2.49,6.144047e+08,-1.244508e+09,6474959,0.2,0.0,GD,...,5,6000000.0,-3.0,2.0,-1.244508e+09,6.144047e+08,2.49,NaN,NaN,NaN
3717,gd_1_AE,2022-06-01,RentabilidadDivisionGrupoClientesCM3,2.46,5.991365e+08,-1.315791e+09,6474959,0.2,0.0,GD,...,6,9000000.0,-3.0,3.0,-1.315791e+09,5.991365e+08,2.46,NaN,NaN,NaN
4540,gd_1_AE,2022-07-01,RentabilidadDivisionGrupoClientesCM3,2.98,1.470032e+09,-1.499892e+09,6474959,0.2,0.0,GD,...,7,12000000.0,-3.0,4.0,-1.499892e+09,1.470032e+09,2.98,NaN,NaN,NaN
5354,gd_1_AE,2022-08-01,RentabilidadDivisionGrupoClientesCM3,3.08,1.701870e+09,-1.571477e+09,6474959,0.2,0.0,GD,...,8,15000000.0,-3.0,5.0,-1.571477e+09,1.701870e+09,3.08,NaN,NaN,NaN
6168,gd_1_AE,2022-09-01,RentabilidadDivisionGrupoClientesCM3,3.14,1.873580e+09,-1.643061e+09,6474959,0.2,0.0,GD,...,9,18000000.0,-3.0,6.0,-1.643061e+09,1.873580e+09,3.14,NaN,NaN,NaN
6977,gd_1_1_AE,2022-10-01,RentabilidadDivisionGrupoClientesCM3,3.44,2.547169e+09,-1.770134e+09,6474959,0.2,0.0,GD,...,10,21000000.0,-3.0,7.0,-1.770134e+09,2.547169e+09,3.44,NaN,NaN,NaN
7799,gd_1_1_AE,2022-11-01,RentabilidadDivisionGrupoClientesCM3,3.58,2.914544e+09,-1.841718e+09,6474959,0.2,0.0,GD,...,11,24000000.0,-3.0,8.0,-1.841718e+09,2.914544e+09,3.58,NaN,NaN,NaN
14749,gd_1_AE,2022-12-01,RentabilidadDivisionGrupoClientesCM3,4.01,3.513573e+09,-1.747025e+09,6474959,0.2,0.0,GD,...,12,27000000.0,-3.0,9.0,-1.747025e+09,3.513573e+09,4.01,Rentabilidad Unidades de Negocio/Grupo de Clie...,NaN,9.0