# INICIO

In [1]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
print(base_dir)
#base_dir = '/data/notebook_files/'
sub_direct = ''
sub_direct = 'archivos-fuente-78'
folder_bbraun_source = os.path.join(base_dir, 'source', sub_direct)
print(folder_bbraun_source)
if base_dir not in sys.path:
    sys.path.append(base_dir)
if 'OUTPUT_FOLDER' not in locals():
    OUTPUT_FOLDER = os.path.join(base_dir, 'output')

if 'fecha_liquidacion' not in locals():
    fecha_liquidacion = '2023-03-01'
if 'meses_incentivos' not in locals():
    meses_incentivos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
if 'df_resultado_detallado_previo' not in locals():
    df_resultado_detallado_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosDetalladosPrevios.xlsx'),
        dtype={
            'Contexto': str,
            'Fecha': 'datetime64[ns]',
            'Variable': str,
            'PorcentajeCumplimiento': float,
            'Real': float,
            'Presupuesto': float,
            'CodigoEmpleado': str,
            'Porcentaje': float,
            'Consecutivo': int,
            'TipoEmpleado': str,
            'SalarioVariable': float,
            'AreaCalculo': int,
            'Apellidos': str,
            'Nombre': str,
            'FechaIngreso': 'datetime64[ns]',
            'FactorIncentivo': float,
            'FactorMes': int,
            'Liquidado': float,
            'DifMonths': int,
            'NuevoFactor': int,
            'ResultadoPresupuesto': float,
            'ResultadoRealMes': float,
            'PorcentajeCumplimientoMes': float
        }
    )
if 'df_resultado_liquidaciones_previo' not in locals():
    df_resultado_liquidaciones_previo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosLiquidacionesPrevios.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'SalarioVariable': float,
            'Fecha': 'datetime64[ns]',
            'FactorMes':int ,
            'PagoGarantizado': str,
            'Liquidado': float,
            'PagoReal': float
        }
    )
if 'df_empleados' not in locals():
    df_empleados = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Empleados.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'CodigoEmpleado': str,
            'Identificacion': str,
            'CorreoElectronico': str,
            'Nombre': str,
            'Apellidos': str,
            'SalarioVariable': float,
            'FechaIngreso': 'datetime64[ns]',
            # 'FechaRetiro': np.datetime64,
            # 'Zona': str,
            'AreaCalculo': int
        }
    )
if 'df_clusters_empleado' not in locals():
    df_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClustersEmpleado.xlsx'),
        dtype={
            'Cluster': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_zonas_empleado' not in locals():
    df_zonas_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasEmpleado.xlsx'),
        dtype={
            'Zona': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int
        }
    )
if 'df_salarios_variables' not in locals():
    df_salarios_variables = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'SalariosVariables.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'SalarioVariable': float,
            'PromedioSalarioVariable': float
        }
    )
if 'df_parrillas' not in locals():
    df_parrillas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Parrillas.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Variable': str,
            'Contexto': str,
            'Porcentaje': float,
            'Consecutivo': int
        }
    )
if 'df_venta_recaudo_real' not in locals():
    df_venta_recaudo_real = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoReal.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_recaudo_presupuesto' not in locals():
    df_venta_recaudo_presupuesto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoPresupuesto.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str,
            'Fecha': 'datetime64[ns]',
            'Cluster': str,
            'ZonaGeografica': str,
            'Canal': str,
            'Venta': float,
            'Recaudo': float
        }
    )
if 'df_venta_por_zona' not in locals():
    df_venta_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaPorZona.xlsx'),
        dtype={
            'Zona': str,
            # 'Fecha': np.datetime64,
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_por_zona' not in locals():
    df_recaudo_por_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoPorZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad' not in locals():
    df_rentabilidad = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'Rentabilidad.xlsx'),
        dtype={
            'Compania': str,
            'GrupoProducto': str,
            'SBA': str,
            'ClaseRentabilidad': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_otras_companias' not in locals():
    df_venta_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_recaudo_otras_companias' not in locals():
    df_recaudo_otras_companias = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RecaudoOtrasCompanias.xlsx'),
        dtype={
            'Compania': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )

if 'df_venta_recaudo_kams' not in locals():
    df_venta_recaudo_kams = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaRecaudoKAMS.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Fecha': 'datetime64[ns]',
            'VentaReal': float,
            'VentaPresupuesto': float,
            'RecaudoReal': float,
            'RecaudoPresupuesto': float
        }
    )
if 'df_rentabilidad_kam' not in locals():
    df_rentabilidad_kam = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadKAM.xlsx'),
        dtype={
            'Division': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_venta_servicios_mtto' not in locals():
    df_venta_servicios_mtto = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'VentaServiciosMtto.xlsx'),
        dtype={
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_objetivos_cualitativos' not in locals():
    df_objetivos_cualitativos = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ObjetivosCualitativos.xlsx'),
        dtype={
            # 'Fecha': np.datetime64,
            'CodigoEmpleado': str,
            'PorcentajeCumplimiento': float
        }
    )
if 'df_incentivos_por_empleado' not in locals():
    df_incentivos_por_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'IncentivosPorEmpleado.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'Valor': float
        }
    )
if 'df_area_calculo_sba' not in locals():
    df_area_calculo_sba = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'AreaCalculoSBA.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'Division': str,
            'GrupoProducto': str,
            'SBA': str
        }
    )
if 'df_factores_liquidacion' not in locals():
    df_factores_liquidacion = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'FactoresLiquidacion.xlsx'),
        dtype={
            'TipoEmpleado': str,
            'PorcentajeCumplimiento': float,
            'FactorIncentivo': float
        }
    )
if 'df_cluster_plan_real_recaudo' not in locals():
    df_cluster_plan_real_recaudo = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ClusterPlanRealRecaudo.xlsx'),
        dtype={
            'Cluster': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_zona_plan_real_venta_ch' not in locals():
    df_zona_plan_real_venta_ch = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonaPlanRealVentaCH.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_rentabilidad_zona' not in locals():
    df_rentabilidad_zona = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'RentabilidadZona.xlsx'),
        dtype={
            'Zona': str,
            'Fecha': 'datetime64[ns]',
            'Real': float,
            'Presupuesto': float
        }
    )
if 'df_resultados_variables_cualitativas' not in locals():
    df_resultados_variables_cualitativas = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosVariablesCualitativas.xlsx'),
        dtype={
            'Variable': str,
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Consecutivo': int,
            'PorcentajeCumplimiento': float,
            'Fecha': 'datetime64[ns]'
        }
    )

if 'df_zonas_clusters_empleado' not in locals():
    df_zonas_clusters_empleado = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ZonasClustersEmpleado.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'TipoEmpleado': str,
            'AreaCalculo': int,
            'Zona': str,
            'Cluster': str,
        }
    )
    
# if 'df_gd_canales' not in locals():
#     df_gd_canales = pd.read_excel(
#         io=os.path.join(folder_bbraun_source, 'ResultadosGDCanales.xlsx'),
#         dtype={
#             'CodigoEmpleado': str,
#             'Fecha': 'datetime64[ns]',
#             'Consecutivo': int,
#             'PlanVentaFacturada': float,
#             'RealVentaTotal': float,
#             'PlanVentaCobrada': float,
#             'RealVentaCobrada': float,
#         }
#     )
    
if 'df_renal_ambulatorio' not in locals():
    df_renal_ambulatorio = pd.read_excel(
        io=os.path.join(folder_bbraun_source, 'ResultadosVCRenalAmbulatorio.xlsx'),
        dtype={
            'CodigoEmpleado': str,
            'Fecha': 'datetime64[ns]',
            'PlanVentaTotal': float,
            'RealVentaTotal': float,
            'PlanVentaCobradaRenal': float,
            'RealVentaCobrada Renal': float,
        }
    )

if 'codigos_ve_vc' not in locals():
    codigos_ve_vc = ['5002700']

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter
C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\source\archivos-fuente-78

In [2]:
df_renal_ambulatorio

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07
6,1111117,VC,2023-07-01,7.418271e+07,6.140210e+07,1.516458e+08,9.102226e+07
7,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07
8,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07
9,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07
10,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06
11,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08
12,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07
13,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07
14,5036358,GD,2023-03-01,0.000000e+00,1.800674e+08,0.000000e+00,1.345561e+08
15,5036358,GD,2023-04-01,0.000000e+00,5.458295e+07,0.000000e+00,2.319767e+07
16,5036358,GD,2023-05-01,0.000000e+00,5.356671e+07,0.000000e+00,3.085904e+07
17,5036358,GD,2023-06-01,0.000000e+00,5.823006e+07,0.000000e+00,7.007240e+07
18,5036358,GD,2023-07-01,0.000000e+00,4.890336e+07,0.000000e+00,3.621181e+07

### Se validan los dataframes de entrada

In [3]:
_dataframes_entrada = [
    {
        'df': df_empleados,
        'name': 'Empleados.xlsx'
    },
    {
        'df': df_clusters_empleado,
        'name': 'ClustersEmpleado.xlsx'
    },
    {
        'df': df_zonas_empleado,
        'name': 'ZonasEmpleado.xlsx'
    },
    {
        'df': df_zonas_clusters_empleado,
        'name': 'ZonasClustersEmpleado.xlsx'
    },
    {
        'df': df_salarios_variables,
        'name': 'SalariosVariables.xlsx'
    },
    {
        'df': df_parrillas,
        'name': 'Parrillas.xlsx'
    },
    {
        'df': df_venta_recaudo_real,
        'name': 'VentaRecaudoReal.xlsx'
    },
    {
        'df': df_venta_recaudo_presupuesto,
        'name': 'VentaRecaudoPresupuesto.xlsx'
    },
    {
        'df': df_venta_por_zona,
        'name': 'VentaPorZona.xlsx'
    },
    {
        'df': df_recaudo_por_zona,
        'name': 'RecaudoPorZona.xlsx'
    },
    {
        'df': df_rentabilidad,
        'name': 'Rentabilidad.xlsx'
    },
    {
        'df': df_venta_otras_companias,
        'name': 'VentaOtrasCompanias.xlsx'
    },
    {
        'df': df_recaudo_otras_companias,
        'name': 'RecaudoOtrasCompanias.xlsx'
    },
    {
        'df': df_venta_recaudo_kams,
        'name': 'VentaRecaudoKAMS.xlsx'
    },
    {
        'df': df_rentabilidad_kam,
        'name': 'RentabilidadKAM.xlsx'
    },
    {
        'df': df_objetivos_cualitativos,
        'name': 'ObjetivosCualitativos.xlsx',
    },
    {
        'df': df_venta_servicios_mtto,
        'name': 'VentaServiciosMtto.xlsx',
    },
    {
        'df': df_incentivos_por_empleado,
        'name': 'IncentivosPorEmpleado.xlsx'
    },
    {
        'df': df_area_calculo_sba,
        'name': 'AreaCalculoSBA.xlsx'
    },
    {
        'df': df_factores_liquidacion,
        'name': 'FactoresLiquidacion.xlsx'
    },
    {
        'df': df_cluster_plan_real_recaudo,
        'name': 'ClusterPlanRealRecaudo.xlsx'
    },
    {
        'df': df_zona_plan_real_venta_ch,
        'name': 'ZonaPlanRealVentaCH.xlsx'
    },
    {
        'df': df_rentabilidad_zona,
        'name': 'RentabilidadZona.xlsx'
    },
    {
        'df': df_resultados_variables_cualitativas,
        'name': 'ResultadosVariablesCualitativas.xlsx'
    },
#     {
#         'df': df_gd_canales,
#         'name': 'ResultadosGDCanales.xlsx'
#     },
#     {
#         'df': df_renal_ambulatorio,
#         'name': 'ResultadosVCRenalAmbulatorio.xlsx'
#     },
]
for df in _dataframes_entrada:
    print(f'*** {df["name"]} ***')
    print(' - Head:')
    print(df['df'].head())
    print('')

*** Empleados.xlsx ***
 - Head:
  TipoEmpleado CodigoEmpleado Identificacion            CorreoElectronico  \
0           VC        5004523       36952327    sobeyda.acosta@bbraun.com
1           VC        1111128     1144160710    lizeth.ahumada@bbraun.com
2           MK     1030591908     1030591908                          NaN
3           GU       53069050       53069050   sylvia.altahona@bbraun.com
4           VE        5004589       43876232  catalina.alvarez@bbraun.com

                Nombre         Apellidos  SalarioVariable FechaIngreso  \
0  SOBEYDA DEL SOCORRO   ACOSTA PORTILLO        2000000.0   2014-10-01
1           Ana Lizeth     Ahumada Eraso        2200000.0   2023-06-01
2        CARLOS ANDRES     ALARCON LOPEZ         500000.0   2023-07-01
3      SYLVIA CRISTINA  ALTAHONA BARRERA        3000000.0   2021-03-01
4       CATALINA MARIA   ALVAREZ CAICEDO        2200000.0   2018-11-01

   FechaRetiro  AreaCalculo
0          NaN            3
1          NaN            4
2          NaN           13
3          NaN            7
4          NaN            7

*** ClustersEmpleado.xlsx ***
 - Head:
  Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
0       6        5004523           VC            3
1      15        5004589           VE            7
2      16        5004589           VE            7
3      17        5004589           VE            7
4      18        5004589           VE            7

*** ZonasEmpleado.xlsx ***
 - Head:
     Zona CodigoEmpleado TipoEmpleado  AreaCalculo
0  Centro        5004523           VC            3
1   Norte        5004589           VE            7
2  Centro        5004287           VE            4
3  Centro        5002697           VE            5
4  Centro        5016692           GD            2

*** ZonasClustersEmpleado.xlsx ***
 - Head:
  TipoEmpleado CodigoEmpleado  AreaCalculo    Zona Cluster
0           VE        5004287            4  Centro       0
1           VE        5004287            4  Centro      20
2           VE        5004287            4  Centro      21
3           VE        5004287            4  Centro       1
4           VE        5004287            4  Centro       2

*** SalariosVariables.xlsx ***
 - Head:
  CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
0        5004523 2023-01-01        2000000.0                2000000.0
1        5004523 2023-02-01        2000000.0                2000000.0
2        5004523 2023-03-01        2000000.0                2000000.0
3        5004523 2023-04-01        2000000.0                2000000.0
4        5004523 2023-05-01        2000000.0                2000000.0

*** Parrillas.xlsx ***
 - Head:
  CodigoEmpleado                          Variable   Contexto  Porcentaje  \
0        5004523            VentaFacturadaZonaPais    5004523        0.10
1        5004523   VentaFacturadaPortafolioCluster    5004523        0.30
2        5004523  VentaCobradaPortafolioClusterSub  5004523_1        0.08
3        5004523  VentaCobradaPortafolioClusterSub  5004523_2        0.08
4        5004523  VentaCobradaPortafolioClusterSub  5004523_3        0.08

   Consecutivo                                    Nombre variable  \
0            0                             VentaFacturadaZonaPais
1            0  Venta Facturada portafolio asignado en su cluster
2            1  Venta cobrada total en el portafolio asignado ...
3            2  Venta cobrada total en el portafolio asignado ...
4            3  Venta cobrada total en el portafolio asignado ...

                          Nombre consecutivo
0                                        NaN
1                                        NaN
2            Surgery & Interventions (Neuro)
3            Surgery & Interventions (Ortho)
4  Surgery & Interventions (Surgical Assets)

*** VentaRecaudoReal.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica         Canal GrupoProducto  \
0        1111111       AE      16          NORTE    ASEGURADOR           005
1        1111111       AE      16          NORTE    ASEGURADOR           005
2        1111111       AE      16          NORTE    ASEGURADOR           M07
3        1111111       AE      16          NORTE  Distribuidor           003
4        1111111       AE      16          NORTE  Distribuidor           M06

  SBA      Fecha       Venta     Recaudo
0  33 2023-07-01   505635.00   246335.00
1  35 2023-07-01   104310.00   104310.00
2  33 2023-07-01  7376710.00  3623110.00
3  35 2023-07-01  5071537.64  3034579.68
4  31 2023-07-01   935824.00  2165568.00

*** VentaRecaudoPresupuesto.xlsx ***
 - Head:
  CodigoEmpleado Division Cluster ZonaGeografica GrupoProducto         Canal  \
0        1111111       AE      16          NORTE           001      HOSPITAL
1        1111111       AE      16          NORTE           001     No creado
2        1111111       AE      16          NORTE           003  Distribuidor
3        1111111       AE      16          NORTE           003      HOSPITAL
4        1111111       AE      16          NORTE           005    ASEGURADOR

  SBA      Fecha         Venta       Recaudo
0  30 2023-07-01  5.421873e+06  3.122999e+06
1  30 2023-07-01  4.632108e+05  2.668094e+05
2  35 2023-07-01  8.571765e+06  7.406005e+06
3  35 2023-07-01  5.263574e+06  4.547728e+06
4  33 2023-07-01  2.830361e+05  3.441794e+05

*** VentaPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** RecaudoPorZona.xlsx ***
 - Head:
Empty DataFrame
Columns: [Zona, Fecha, Real, Presupuesto]
Index: []

*** Rentabilidad.xlsx ***
 - Head:
  Compania GrupoProducto SBA ClaseRentabilidad      Fecha          Real  \
0    BBMCO           001  30              CMII 2023-03-01  5.733133e+08
1    BBMCO           001  30              CMII 2023-04-01  1.141104e+09
2    BBMCO           001  30              CMII 2023-05-01  1.374842e+09
3    BBMCO           001  30              CMII 2023-06-01  1.614389e+09
4    BBMCO           001  30              CMII 2023-07-01  1.904346e+09

    Presupuesto
0  6.637632e+08
1  9.292685e+08
2  1.194774e+09
3  1.460279e+09
4  2.674463e+09

*** VentaOtrasCompanias.xlsx ***
 - Head:
Empty DataFrame
Columns: [Compania, Fecha, Real, Presupuesto]
Index: []

*** RecaudoOtrasCompanias.xlsx ***
 - Head:
  Compania      Fecha          Real   Presupuesto
0    BBACO 2023-03-01  0.000000e+00  0.000000e+00
1    BBACO 2023-04-01  0.000000e+00  0.000000e+00
2    BBMCO 2023-03-01  3.992673e+10  4.648396e+10
3    BBMCO 2023-04-01  5.525573e+10  6.067049e+10
4    BBMCO 2023-05-01  7.298270e+10  7.454188e+10

*** VentaRecaudoKAMS.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo      Fecha  VentaReal  \
0          KAM            1            1 2023-04-01        0.0
1          KAM            1            1 2023-05-01        0.0
2          KAM            1            1 2023-06-01        0.0
3          KAM            1            1 2023-07-01        0.0
4          KAM            1            2 2023-04-01        0.0

   VentaPresupuesto  RecaudoReal  RecaudoPresupuesto
0               0.0          0.0                 0.0
1               0.0          0.0                 0.0
2               0.0          0.0                 0.0
3               0.0          0.0                 0.0
4               0.0          0.0                 0.0

*** RentabilidadKAM.xlsx ***
 - Head:
  Division      Fecha          Real   Presupuesto
0    BBMCO 2023-03-01  4.685733e+09  3.741742e+09
1    BBMCO 2023-04-01  1.001818e+09  1.371244e+09
2    BBMCO 2023-05-01  1.709344e+09  1.499185e+09
3    BBMCO 2023-06-01  1.755026e+09  1.475316e+09
4    BBMCO 2023-07-01  1.059752e+09  1.564893e+09

*** ObjetivosCualitativos.xlsx ***
 - Head:
Empty DataFrame
Columns: [Fecha, CodigoEmpleado, PorcentajeCumplimiento]
Index: []

*** VentaServiciosMtto.xlsx ***
 - Head:
Empty DataFrame
Columns: [Fecha, Real, Presupuesto]
Index: []

*** IncentivosPorEmpleado.xlsx ***
 - Head:
  CodigoEmpleado      Fecha      Valor
0     1000972927 2023-07-01        0.0
1     1010227511 2023-07-01        0.0
2     1013583607 2023-01-01  1545000.0
3     1013583607 2023-02-01  3555000.0
4     1013583607 2023-03-01  7797000.0

*** AreaCalculoSBA.xlsx ***
 - Head:
  TipoEmpleado  AreaCalculo  Consecutivo Division GrupoProducto    SBA
0           AD            1            1    BBMCO           NaN    NaN
1           AD            1            1       HC           NaN    NaN
2           AD            1            2       AE           NaN    NaN
3           AD            1            2    BBSCO         BBSCO  BBSCO
4           AD            1            2       OK           NaN    NaN

*** FactoresLiquidacion.xlsx ***
 - Head:
  TipoEmpleado  PorcentajeCumplimiento  FactorIncentivo
0           AD                    0.89             0.00
1           AD                    0.90             0.50
2           AD                    0.91             0.53
3           AD                    0.92             0.55
4           AD                    0.93             0.58

*** ClusterPlanRealRecaudo.xlsx ***
 - Head:
  Cluster      Fecha         Real   Presupuesto
0       0 2023-01-01  322176439.0  3.466814e+08
1       0 2023-02-01  242055516.0  3.645657e+08
2       0 2023-03-01  393631023.0  3.590231e+08
3       0 2023-04-01  390524759.1  3.221738e+08
4       0 2023-05-01  400812766.9  3.171875e+08

*** ZonaPlanRealVentaCH.xlsx ***
 - Head:
           Zona      Fecha          Real   Presupuesto
0        Centro 2023-01-01  9.662169e+09  9.707739e+09
1         Norte 2023-01-01  9.662169e+09  9.707739e+09
2         Norte 2023-02-01  2.659550e+10  2.435526e+10
3         Norte 2023-03-01  1.751581e+10  1.509334e+10
4  Suroccidente 2023-01-01  9.662169e+09  9.707739e+09

*** RentabilidadZona.xlsx ***
 - Head:
     Zona      Fecha          Real   Presupuesto
0  Centro 2023-03-01  5.655265e+09  5.488745e+09
1  Centro 2023-04-01  7.878331e+09  7.443486e+09
2  Centro 2023-05-01  1.055209e+10  9.698511e+09
3  Centro 2023-06-01  1.316727e+10  1.191287e+10
4  Centro 2023-07-01  1.516507e+10  1.422059e+10

*** ResultadosVariablesCualitativas.xlsx ***
 - Head:
       Variable CodigoEmpleado TipoEmpleado  AreaCalculo  Consecutivo  \
0  KpisSurgical       51790647           AD            1            1
1  KpisSurgical       51790647           AD            1            2
2  KpisSurgical       51790647           AD            1            3
3  KpisSurgical       52875549           AD            2            1
4  KpisSurgical       51789567           AD            2            1

   PorcentajeCumplimiento      Fecha
0                    0.94 2023-03-01
1                    1.13 2023-03-01
2                    1.09 2023-03-01
3                    0.94 2023-03-01
4                    0.94 2023-03-01

### Funciones útiles

In [4]:
def sobreescribir_resultados_cualitativos(main, variable, columnas_extra, columnas_extra_merge, pre_merge_lambda=None):
    print(columnas_extra, columnas_extra_merge)
    resultados_cualitativos_variable = df_resultados_variables_cualitativas[columnas_extra + ['Variable', 'Fecha', 'PorcentajeCumplimiento']]
    resultados_cualitativos_variable = resultados_cualitativos_variable[resultados_cualitativos_variable['Variable'] == variable]
    if pre_merge_lambda:
        resultados_cualitativos_variable = pre_merge_lambda(resultados_cualitativos_variable)
    main_df = pd.merge(
        left=main,
        right=resultados_cualitativos_variable.rename(columns={'PorcentajeCumplimiento': 'PorcentajeCumplimientoPrecargado'}),
        on=columnas_extra_merge+['Fecha', 'Variable'],
        how='outer'
    )
    main_df['Real'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Real'],
        np.nan
    )
    main_df['Presupuesto'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['Presupuesto'],
        np.nan
    )
    main_df['PorcentajeCumplimiento'] = np.where(
        main_df['PorcentajeCumplimientoPrecargado'].isnull(),
        main_df['PorcentajeCumplimiento'],
        main_df['PorcentajeCumplimientoPrecargado']
    )
    main_df.drop(columns=['PorcentajeCumplimientoPrecargado'], inplace=True)

    return main_df

### Completamos el dataframe de SBAs y Áreas de cálculo

In [5]:
productos_venta = df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA']]
productos_presupuesto = df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA']]
productos = pd.concat([productos_venta, productos_presupuesto])
productos = productos.drop_duplicates()

##
_area_calculo_sba_notnull = df_area_calculo_sba[
    (df_area_calculo_sba['SBA'].notnull()) |
    (df_area_calculo_sba['SBA'] != '')
]
##
_area_calculo_sba_por_grupo = df_area_calculo_sba[
    (df_area_calculo_sba['GrupoProducto'].isnull()) |
    (df_area_calculo_sba['GrupoProducto'] == '')
]
_area_calculo_sba_por_grupo = pd.merge(
    left=_area_calculo_sba_por_grupo[['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Division']],
    right=productos,
    on='Division',
    how='left'
)
##
_area_calculo_sba_por_sba = df_area_calculo_sba[
    (
        (df_area_calculo_sba['SBA'].isnull()) |
        (df_area_calculo_sba['SBA'] == '')
    ) &
    (
        (df_area_calculo_sba['GrupoProducto'].notnull()) |
        (df_area_calculo_sba['GrupoProducto'] != '')
    )
]
_area_calculo_sba_por_sba = pd.merge(
    left=_area_calculo_sba_por_sba[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'Division']],
    right=productos[['GrupoProducto', 'SBA']],
    on='GrupoProducto',
    how='left'
)

area_calculo_sba_completo = pd.concat([
    _area_calculo_sba_notnull,
    _area_calculo_sba_por_grupo,
    _area_calculo_sba_por_sba
])
area_calculo_sba_completo = area_calculo_sba_completo[['AreaCalculo', 'Consecutivo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado']]
area_calculo_sba_completo.fillna('', inplace=True)
area_calculo_sba_completo.drop_duplicates(inplace=True, subset=area_calculo_sba_completo.columns)
area_calculo_sba_completo.head()

   AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0            1            1    BBMCO                                AD
1            1            1       HC                                AD
2            1            2       AE                                AD
3            1            2    BBSCO         BBSCO  BBSCO           AD
4            1            2       OK                                AD

In [6]:
area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
    (area_calculo_sba_completo['AreaCalculo'] == 3) &
    (area_calculo_sba_completo['Consecutivo'] == 5)
]

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
143            3            5                                      GD

# Se calculan los resultados para la maestra de resultados

## 1. Objetivos cualitativos (ObjetivosCualitativos)

In [7]:
cumplimiento_objetivos_cualitativos = pd.DataFrame()
cumplimiento_objetivos_cualitativos['CodigoEmpleado'] = df_empleados['CodigoEmpleado']
cumplimiento_objetivos_cualitativos['merge'] = 1
##
fechas = pd.DataFrame(df_venta_recaudo_real['Fecha'].drop_duplicates())
fechas['merge'] = 1
##
cumplimiento_objetivos_cualitativos = cumplimiento_objetivos_cualitativos.merge(
    fechas,
    on='merge',
    how='left'
)
cumplimiento_objetivos_cualitativos.drop(columns='merge', inplace=True)

cumplimiento_objetivos_cualitativos = pd.merge(
    left=cumplimiento_objetivos_cualitativos,
    right=df_objetivos_cualitativos,
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)

cumplimiento_objetivos_cualitativos['Variable'] = 'ObjetivosCualitativos'
cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'].fillna(0.94, inplace=True)
cumplimiento_objetivos_cualitativos.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_objetivos_cualitativos.head()

  Contexto      Fecha  PorcentajeCumplimiento               Variable
0  5004523 2023-07-01                    0.94  ObjetivosCualitativos
1  5004523 2023-01-01                    0.94  ObjetivosCualitativos
2  5004523 2023-02-01                    0.94  ObjetivosCualitativos
3  5004523 2023-03-01                    0.94  ObjetivosCualitativos
4  5004523 2023-04-01                    0.94  ObjetivosCualitativos

## 2. Objetivos de recaudo por zona (VentaCobradaZonaBraunCrossDivisional)
### TODO: Ahora el empleado tiene varias zonas

In [8]:
cumplimiento_recaudo_por_zona = df_recaudo_por_zona.copy()

cumplimiento_recaudo_por_zona['Real'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_zona['Presupuesto'] = cumplimiento_recaudo_por_zona.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)

cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['Real'] / cumplimiento_recaudo_por_zona['Presupuesto']
cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_zona['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_zona['Variable'] = 'VentaCobradaZonaBraunCrossDivisional'
cumplimiento_recaudo_por_zona.rename(columns={'Zona': 'Contexto'}, inplace=True)

cumplimiento_recaudo_por_zona = cumplimiento_recaudo_por_zona[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_zona.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

## 3. Objetivos de venta individuales (VentaFacturadaZonaCargoIndividual y VentaFacturadaZonaCargoIndividualSub)

In [9]:
df_venta_recaudo_real

,CodigoEmpleado,Division,Cluster,ZonaGeografica,Canal,GrupoProducto,SBA,Fecha,Venta,Recaudo
0,1111111,AE,16,NORTE,ASEGURADOR,005,33,2023-07-01,505635.00,246335.00
1,1111111,AE,16,NORTE,ASEGURADOR,005,35,2023-07-01,104310.00,104310.00
2,1111111,AE,16,NORTE,ASEGURADOR,M07,33,2023-07-01,7376710.00,3623110.00
3,1111111,AE,16,NORTE,Distribuidor,003,35,2023-07-01,5071537.64,3034579.68
4,1111111,AE,16,NORTE,Distribuidor,M06,31,2023-07-01,935824.00,2165568.00
...,...,...,...,...,...,...,...,...,...,...
6152,9990011,HC,11,Suroccidente,Opl,620,16,2023-03-01,0.00,719208.00
6153,9990011,HC,11,Suroccidente,Opl,620,36,2023-01-01,-141338.00,0.00
6154,9990011,HC,11,Suroccidente,Opl,620,36,2023-03-01,0.00,-141338.00
6155,9990011,HC,11,Suroccidente,Opl,630,12,2023-03-01,1926387.00,0.00
6156,9990011,HC,11,Suroccidente,Opl,630,12,2023-04-01,0.00,2179845.00

In [10]:
# venta real con información
venta_recaudo_real_info = df_venta_recaudo_real.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

# venta presupuesto con información
venta_recaudo_presupuesto_info = df_venta_recaudo_presupuesto.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
).merge(
    area_calculo_sba_completo,
    on=['Division', 'GrupoProducto', 'SBA', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)

In [11]:
_excepciones_venta_facturada = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# venta real por empleado por area de calculo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9


venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])
venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo',
                                                                           'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Venta']
venta_recaudo_real_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# venta presupuesto por empleado por area de calculo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_facturada:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Venta']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Venta'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})


## VentaFacturadaZonaCargoIndividual
cumplimiento_venta_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual['Presupuesto'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual['Presupuesto'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['Real'] = cumplimiento_venta_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['Real'] / cumplimiento_venta_individual['Presupuesto']
cumplimiento_venta_individual['PorcentajeCumplimiento'] = cumplimiento_venta_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_venta_individual['Variable'] = 'VentaFacturadaZonaCargoIndividual'
cumplimiento_venta_individual = cumplimiento_venta_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual.head()

## VentaFacturadaZonaCargoIndividualSub
cumplimiento_venta_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_venta_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

cumplimiento_venta_individual_sub['Presupuesto'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['Real'] = cumplimiento_venta_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['Real'] / cumplimiento_venta_individual_sub['Presupuesto']
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'] = cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_venta_individual_sub['Consecutivo'] = cumplimiento_venta_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_venta_individual_sub['Contexto'] = cumplimiento_venta_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_venta_individual_sub['Consecutivo'],sep="_")
cumplimiento_venta_individual_sub['Variable'] = 'VentaFacturadaZonaCargoIndividualSub'

cumplimiento_venta_individual_sub = cumplimiento_venta_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaZonaCargoIndividualSub,2023-01-01,3471849.0,6.566834e+06,0.53
1,1111111_1,VentaFacturadaZonaCargoIndividualSub,2023-02-01,33400222.0,2.209323e+07,1.51
2,1111111_1,VentaFacturadaZonaCargoIndividualSub,2023-03-01,51408188.0,4.382913e+07,1.17
3,1111111_1,VentaFacturadaZonaCargoIndividualSub,2023-04-01,93475176.0,6.866710e+07,1.36
4,1111111_1,VentaFacturadaZonaCargoIndividualSub,2023-05-01,113950827.5,8.375149e+07,1.36

## 4. Objetivos de recaudo individuales (VentasCobradaZonaCargoIndividual y VentasCobradaZonaCargoIndividualSub)

In [12]:
_excepciones_venta_recaudo = [
    # {
    #     'CodigoEmpleado': '5003527',
    #     'AreaCalculo': 7,
    #     'Consecutivo': 4,
    #     'FechaInicio': '2021-02-01',
    #     'FechaFin': '2021-06-01'
    # }
]

# recaudo real por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_real_empleado_sub = venta_recaudo_real_info[venta_recaudo_real_info['Fecha'] >= venta_recaudo_real_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub[
        (venta_recaudo_real_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_real_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_real_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_real_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_real_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_real_empleado_sub_1 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_real_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_real_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_2 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_real_empleado_sub['SBA'] == '84')
]
venta_recaudo_real_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_real_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_real_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_real_empleado_sub_3 = venta_recaudo_real_empleado_sub.copy()[
    (venta_recaudo_real_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_real_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_real_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_real_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_real_empleado_sub = pd.concat([
    venta_recaudo_real_empleado_sub,
    venta_recaudo_real_empleado_sub_1,
    venta_recaudo_real_empleado_sub_2,
    venta_recaudo_real_empleado_sub_3
])

venta_recaudo_real_empleado_sub = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_empleado_sub['Real'] = venta_recaudo_real_empleado_sub['Recaudo']
venta_recaudo_real_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_real_empleado = venta_recaudo_real_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Real': 'sum'})

# recaudo presupuesto por empleado por area de calculo y consecutivo por fecha acumulada
venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_info[venta_recaudo_presupuesto_info['Fecha'] >= venta_recaudo_presupuesto_info['FechaIngreso']]

for excepcion in _excepciones_venta_recaudo:
    venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub[
        (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] != excepcion['CodigoEmpleado']) |
        (venta_recaudo_presupuesto_empleado_sub['AreaCalculo'] != excepcion['AreaCalculo']) |
        (venta_recaudo_presupuesto_empleado_sub['Consecutivo'] != excepcion['Consecutivo']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] < excepcion['FechaInicio']) |
        (venta_recaudo_presupuesto_empleado_sub['Fecha'] > excepcion['FechaFin'])
    ]

venta_recaudo_presupuesto_empleado_sub_1 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_1['CodigoEmpleado'] = '5005371'
venta_recaudo_presupuesto_empleado_sub_1['AreaCalculo'] = 14
venta_recaudo_presupuesto_empleado_sub_1['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_2 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5004563') &
    (venta_recaudo_presupuesto_empleado_sub['SBA'] == '84')
]
venta_recaudo_presupuesto_empleado_sub_2['CodigoEmpleado'] = '5039251'
venta_recaudo_presupuesto_empleado_sub_2['AreaCalculo'] = 15
venta_recaudo_presupuesto_empleado_sub_2['Consecutivo'] = 2

venta_recaudo_presupuesto_empleado_sub_3 = venta_recaudo_presupuesto_empleado_sub.copy()[
    (venta_recaudo_presupuesto_empleado_sub['CodigoEmpleado'] == '5018231') & 
    (venta_recaudo_presupuesto_empleado_sub['Fecha'] >= '2021-08-01')
]
venta_recaudo_presupuesto_empleado_sub_3['CodigoEmpleado'] = '1128448666'
venta_recaudo_presupuesto_empleado_sub_3['AreaCalculo'] = 9

venta_recaudo_presupuesto_empleado_sub = pd.concat([
    venta_recaudo_presupuesto_empleado_sub,
    venta_recaudo_presupuesto_empleado_sub_1,
    venta_recaudo_presupuesto_empleado_sub_2,
    venta_recaudo_presupuesto_empleado_sub_3
])

venta_recaudo_presupuesto_empleado_sub = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_empleado_sub['Presupuesto'] = venta_recaudo_presupuesto_empleado_sub['Recaudo']
venta_recaudo_presupuesto_empleado_sub.drop(columns=['Recaudo'], inplace=True)
venta_recaudo_presupuesto_empleado = venta_recaudo_presupuesto_empleado_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False).agg({'Presupuesto': 'sum'})

## VentasCobradaZonaCargoIndividual
cumplimiento_recaudo_individual = pd.merge(
    left=venta_recaudo_presupuesto_empleado,
    right=venta_recaudo_real_empleado,
    on=['CodigoEmpleado', 'AreaCalculo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual['Presupuesto'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['Real'] = cumplimiento_recaudo_individual.groupby(['CodigoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['Real'] / cumplimiento_recaudo_individual['Presupuesto']
cumplimiento_recaudo_individual['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
cumplimiento_recaudo_individual['Variable'] = 'VentasCobradaZonaCargoIndividual'
cumplimiento_recaudo_individual = cumplimiento_recaudo_individual[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual.head()


## VentasCobradaZonaCargoIndividualSub
cumplimiento_recaudo_individual_sub = pd.merge(
    left=venta_recaudo_presupuesto_empleado_sub,
    right=venta_recaudo_real_empleado_sub,
    on=['CodigoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='outer'
)
cumplimiento_recaudo_individual_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Presupuesto'].fillna(0.0, inplace=True)

_excepciones_recaudo_sub = []

for excepcion in _excepciones_recaudo_sub:
    cumplimiento_recaudo_individual_sub['Presupuesto'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorPresupuesto'],
        cumplimiento_recaudo_individual_sub['Presupuesto']
    )
    cumplimiento_recaudo_individual_sub['Real'] = np.where(
        (
            (cumplimiento_recaudo_individual_sub['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (cumplimiento_recaudo_individual_sub['Consecutivo'] == excepcion['Consecutivo']) &
            # (cumplimiento_recaudo_individual_sub['Variable'] == 'VentasCobradaZonaCargoIndividualSub') &
            (cumplimiento_recaudo_individual_sub['Fecha'] >= excepcion['FechaInicial']) &
            (cumplimiento_recaudo_individual_sub['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['ValorReal'],
        cumplimiento_recaudo_individual_sub['Real']
    )


cumplimiento_recaudo_individual_sub['Presupuesto'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['Real'] = cumplimiento_recaudo_individual_sub.groupby(['CodigoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['Real'] / cumplimiento_recaudo_individual_sub['Presupuesto']
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_individual_sub['PorcentajeCumplimiento'].fillna(0.0, inplace=True)
cumplimiento_recaudo_individual_sub['Consecutivo'] = cumplimiento_recaudo_individual_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_recaudo_individual_sub['Contexto'] = cumplimiento_recaudo_individual_sub['CodigoEmpleado'].str.cat(cumplimiento_recaudo_individual_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_individual_sub['Variable'] = 'VentasCobradaZonaCargoIndividualSub'
cumplimiento_recaudo_individual_sub = cumplimiento_recaudo_individual_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_individual_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentasCobradaZonaCargoIndividualSub,2023-01-01,7876988.0,1.597001e+07,0.49
1,1111111_1,VentasCobradaZonaCargoIndividualSub,2023-02-01,29552576.0,3.726336e+07,0.79
2,1111111_1,VentasCobradaZonaCargoIndividualSub,2023-03-01,49839883.0,5.642737e+07,0.88
3,1111111_1,VentasCobradaZonaCargoIndividualSub,2023-04-01,58244503.0,7.559138e+07,0.77
4,1111111_1,VentasCobradaZonaCargoIndividualSub,2023-05-01,77082687.5,9.262606e+07,0.83

## 5. Objetivos de venta por área de cálculo (VentaFacturadaPorAreaCalculo y VentaFacturadaPorAreaCalculoSub)

In [13]:
area_calculo_sba_completo_ve7 = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'VE')&
    (area_calculo_sba_completo['AreaCalculo'] == 7)
][['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'GrupoProducto', 'SBA']]

In [14]:
resultados_venta_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_real_sub = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_real = resultados_venta_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})


resultados_venta_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Venta'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_venta_area_calculo_presupuesto_sub = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})
resultados_venta_area_calculo_presupuesto = resultados_venta_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Venta': 'sum'})

## VentaFacturadaPorAreaCalculo
cumplimiento_venta_por_area_calculo = pd.merge(
    left=resultados_venta_area_calculo_presupuesto.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_venta_por_area_calculo['Variable'] = 'VentaFacturadaPorAreaCalculo'
cumplimiento_venta_por_area_calculo['Contexto'] = cumplimiento_venta_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo['Real'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['Presupuesto'] = cumplimiento_venta_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_venta_por_area_calculo = cumplimiento_venta_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo.head()

## VentaFacturadaPorAreaCalculoSub
cumplimiento_venta_por_area_calculo_sub = pd.merge(
    left=resultados_venta_area_calculo_presupuesto_sub.rename(columns={'Venta': 'Presupuesto'}),
    right=resultados_venta_area_calculo_real_sub.rename(columns={'Venta': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)


cumplimiento_venta_por_area_calculo_sub['Variable'] = 'VentaFacturadaPorAreaCalculoSub'
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_venta_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_venta_por_area_calculo_sub['Contexto'] = cumplimiento_venta_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_venta_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_venta_por_area_calculo_sub['Real'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['Presupuesto'] = cumplimiento_venta_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_area_calculo_sub['Real'] / cumplimiento_venta_por_area_calculo_sub['Presupuesto']

cumplimiento_venta_por_area_calculo_sub = cumplimiento_venta_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_venta_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-01-01,561120.0,2.265190e+07,0.024771
1,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-02-01,561120.0,4.218192e+07,0.013302
2,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-03-01,-165720.0,7.479677e+07,-0.002216
3,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-04-01,-165720.0,9.877219e+07,-0.001678
4,VE_7_1,VentaFacturadaPorAreaCalculoSub,2023-05-01,-165720.0,1.241436e+08,-0.001335

## 6. Objetivos de recaudo por área de cálculo (VentasCobradaPorAreaCalculo y VentasCobradaPorAreaCalculoSub)

In [15]:
resultados_recaudo_area_calculo_real = pd.merge(
    left=venta_recaudo_real_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_real_sub = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_real = resultados_recaudo_area_calculo_real.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})


resultados_recaudo_area_calculo_presupuesto = pd.merge(
    left=venta_recaudo_presupuesto_info[[
        'GrupoProducto', 
        'SBA', 
        'Fecha',
        'Recaudo'
    ]],
    right=area_calculo_sba_completo_ve7,
    on=['GrupoProducto', 'SBA']
)
resultados_recaudo_area_calculo_presupuesto_sub = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})
resultados_recaudo_area_calculo_presupuesto = resultados_recaudo_area_calculo_presupuesto.groupby(
    ['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    as_index=False
).agg({'Recaudo': 'sum'})

## VentasCobradaPorAreaCalculo
cumplimiento_recaudo_por_area_calculo = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo['Variable'] = 'VentasCobradaPorAreaCalculo'
cumplimiento_recaudo_por_area_calculo['Contexto'] = cumplimiento_recaudo_por_area_calculo['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo['Real'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['Presupuesto'] = cumplimiento_recaudo_por_area_calculo.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo['Real'] / cumplimiento_venta_por_area_calculo['Presupuesto']

cumplimiento_recaudo_por_area_calculo = cumplimiento_recaudo_por_area_calculo[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

## VentasCobradaPorAreaCalculoSub
cumplimiento_recaudo_por_area_calculo_sub = pd.merge(
    left=resultados_recaudo_area_calculo_presupuesto_sub.rename(columns={'Recaudo': 'Presupuesto'}),
    right=resultados_recaudo_area_calculo_real_sub.rename(columns={'Recaudo': 'Real'}),
    on=['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_area_calculo_sub['Real'].fillna(0.0, inplace=True)

cumplimiento_recaudo_por_area_calculo_sub['Variable'] = 'VentasCobradaPorAreaCalculoSub'
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['TipoEmpleado'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['AreaCalculo'].astype('str'),sep="_")
cumplimiento_recaudo_por_area_calculo_sub['Contexto'] = cumplimiento_recaudo_por_area_calculo_sub['Contexto'].str.cat(cumplimiento_recaudo_por_area_calculo_sub['Consecutivo'].astype('str'), sep='_')
cumplimiento_recaudo_por_area_calculo_sub['Real'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['Presupuesto'] = cumplimiento_recaudo_por_area_calculo_sub.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_area_calculo_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_area_calculo_sub['Real'] / cumplimiento_recaudo_por_area_calculo_sub['Presupuesto']

cumplimiento_recaudo_por_area_calculo_sub = cumplimiento_recaudo_por_area_calculo_sub[[
    'Contexto',
    'Variable',
    'Fecha',
    'Real',
    'Presupuesto',
    'PorcentajeCumplimiento'
]]

cumplimiento_recaudo_por_area_calculo_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-01-01,9943200.0,2.870494e+07,0.346393
1,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-02-01,7799803.0,5.581516e+07,0.139743
2,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-03-01,7799803.0,8.452010e+07,0.092283
3,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-04-01,8080363.0,1.100356e+08,0.073434
4,VE_7_1,VentasCobradaPorAreaCalculoSub,2023-05-01,8080363.0,1.355511e+08,0.059611

## 7. Objetivos de recaudo a nivel país (VentaCobradaBraunPais)

In [16]:
# recaudo real pais
venta_recaudo_real_pais = df_venta_recaudo_real.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_pais['Real'] = venta_recaudo_real_pais['Recaudo']
venta_recaudo_real_pais.drop(columns=['Recaudo'], inplace=True)

# recaudo presupuesto pais
venta_recaudo_presupuesto_pais = df_venta_recaudo_presupuesto.groupby(['Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_pais['Presupuesto'] = venta_recaudo_presupuesto_pais['Recaudo']
venta_recaudo_presupuesto_pais.drop(columns=['Recaudo'], inplace=True)

##
cumplimiento_recaudo_nivel_pais = pd.merge(
    left=venta_recaudo_presupuesto_pais,
    right=venta_recaudo_real_pais,
    on=['Fecha'],
    how='left'
)
cumplimiento_recaudo_nivel_pais['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_nivel_pais['Real'] = cumplimiento_recaudo_nivel_pais['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['Presupuesto'] = cumplimiento_recaudo_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['Real'] / cumplimiento_recaudo_nivel_pais['Presupuesto']
cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_recaudo_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_nivel_pais['Contexto'] = 'Pais'
cumplimiento_recaudo_nivel_pais['Variable'] = 'VentaCobradaBraunPais'
cumplimiento_recaudo_nivel_pais = cumplimiento_recaudo_nivel_pais[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_nivel_pais.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2023-01-01,1.356524e+10,1.496945e+10,0.91
1,Pais,VentaCobradaBraunPais,2023-02-01,2.665112e+10,3.087311e+10,0.86
2,Pais,VentaCobradaBraunPais,2023-03-01,3.992673e+10,4.648396e+10,0.86
3,Pais,VentaCobradaBraunPais,2023-04-01,5.525573e+10,6.067049e+10,0.91
4,Pais,VentaCobradaBraunPais,2023-05-01,7.298270e+10,7.454188e+10,0.98

## 8. Objetivos de recaudo por unidad de negocio (VentaCobradaUnidadNegocio y VentaCobradaUnidadNegocioSub)

### 8.1. Para GU (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [17]:
area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GU']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_real = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
venta_recaudo_presupuesto_original_gu_presupuesto = area_calculo_sba_completo_gu.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

In [18]:
## VentaFacturadaUnidadNegocio
venta_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu['Real'] = venta_real_area_calculo_gu['Venta']
venta_real_area_calculo_gu.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu['Presupuesto'] = venta_presupuesto_area_calculo_gu['Venta']
venta_presupuesto_area_calculo_gu.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu = pd.merge(
    left=venta_presupuesto_area_calculo_gu,
    right=venta_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu['Real'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['Real'] / cumplimiento_venta_por_unidad_negocio_gu['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_gu['Variable'] = 'VentaFacturadaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_gu = cumplimiento_venta_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu.head()

## VentaFacturadaUnidadNegocioSub
venta_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_gu_sub['Real'] = venta_real_area_calculo_gu_sub['Venta']
venta_real_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_gu_sub['Presupuesto'] = venta_presupuesto_area_calculo_gu_sub['Venta']
venta_presupuesto_area_calculo_gu_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_gu_sub = pd.merge(
    left=venta_presupuesto_area_calculo_gu_sub,
    right=venta_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Real'] / cumplimiento_venta_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_por_unidad_negocio_gu_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_gu_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_gu_sub = cumplimiento_venta_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-01-01,2.731315e+08,2.861669e+08,0.95
1,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-02-01,8.572095e+08,5.846285e+08,1.47
2,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-03-01,1.772286e+09,1.106852e+09,1.60
3,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-04-01,2.425189e+09,1.475295e+09,1.64
4,gu_1_1,VentaFacturadaUnidadNegocioSub,2023-05-01,3.187519e+09,1.943056e+09,1.64

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

In [19]:
## VentaCobradaUnidadNegocio
recaudo_real_area_calculo_gu = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu['Real'] = recaudo_real_area_calculo_gu['Recaudo']
recaudo_real_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu['Presupuesto'] = recaudo_presupuesto_area_calculo_gu['Recaudo']
recaudo_presupuesto_area_calculo_gu.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu,
    right=recaudo_real_area_calculo_gu,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu['Variable'] = 'VentaCobradaUnidadNegocio'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_gu = cumplimiento_recaudo_por_unidad_negocio_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu.head()

## VentaCobradaUnidadNegocioSub
recaudo_real_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_gu_sub['Real'] = recaudo_real_area_calculo_gu_sub['Recaudo']
recaudo_real_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_gu_sub = venta_recaudo_presupuesto_original_gu_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_gu_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_gu_sub['Recaudo']
recaudo_presupuesto_area_calculo_gu_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_gu_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_gu_sub,
    right=recaudo_real_area_calculo_gu_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_gu_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###

cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_gu_sub['Contexto'] = 'gu_' + cumplimiento_recaudo_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_gu_sub = cumplimiento_recaudo_por_unidad_negocio_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_gu_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,VentaCobradaUnidadNegocioSub,2023-01-01,3.546930e+08,3.751049e+08,0.95
1,gu_1_1,VentaCobradaUnidadNegocioSub,2023-02-01,9.096657e+08,8.752447e+08,1.04
2,gu_1_1,VentaCobradaUnidadNegocioSub,2023-03-01,1.213456e+09,1.325371e+09,0.92
3,gu_1_1,VentaCobradaUnidadNegocioSub,2023-04-01,1.833984e+09,1.775496e+09,1.03
4,gu_1_1,VentaCobradaUnidadNegocioSub,2023-05-01,2.439707e+09,2.175608e+09,1.12

### 8.2. Para MK (VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub y VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub)

In [20]:
area_calculo_sba_completo_mk = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='MK']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_real = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los MK
venta_recaudo_presupuesto_original_mk_presupuesto = area_calculo_sba_completo_mk.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 8.2.1 VentaFacturadaUnidadNegocio - VentaFacturadaUnidadNegocioSub

In [21]:
## VentaFacturadaUnidadNegocio
venta_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk['Real'] = venta_real_area_calculo_mk['Venta']
venta_real_area_calculo_mk.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk['Presupuesto'] = venta_presupuesto_area_calculo_mk['Venta']
venta_presupuesto_area_calculo_mk.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk = pd.merge(
    left=venta_presupuesto_area_calculo_mk,
    right=venta_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk['Real'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['Real'] / cumplimiento_venta_por_unidad_negocio_mk['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk['Variable'] = 'VentaFacturadaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk,
    variable='VentaFacturadaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_venta_por_unidad_negocio_mk = cumplimiento_venta_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk.head()

## VentaFacturadaUnidadNegocioSub
venta_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_area_calculo_mk_sub['Real'] = venta_real_area_calculo_mk_sub['Venta']
venta_real_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

venta_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_area_calculo_mk_sub['Presupuesto'] = venta_presupuesto_area_calculo_mk_sub['Venta']
venta_presupuesto_area_calculo_mk_sub.drop(columns=['Venta'], inplace=True)

cumplimiento_venta_por_unidad_negocio_mk_sub = pd.merge(
    left=venta_presupuesto_area_calculo_mk_sub,
    right=venta_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_venta_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Real'] / cumplimiento_venta_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_venta_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_por_unidad_negocio_mk_sub['Variable'] = 'VentaFacturadaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_venta_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_venta_por_unidad_negocio_mk_sub,
    variable='VentaFacturadaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_venta_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_venta_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_venta_por_unidad_negocio_mk_sub = cumplimiento_venta_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_venta_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-01-01,7.494667e+09,7.493317e+09,1.00
1,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-02-01,1.697826e+10,1.670469e+10,1.02
2,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-03-01,2.886666e+10,2.780108e+10,1.04
3,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-04-01,3.803350e+10,3.700096e+10,1.03
4,mk_1_1,VentaFacturadaUnidadNegocioSub,2023-05-01,4.993444e+10,4.813185e+10,1.04

#### 8.2.2 VentaCobradaUnidadNegocio - VentaCobradaUnidadNegocioSub

In [22]:
## VentaCobradaUnidadNegocio
recaudo_real_area_calculo_mk = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk['Real'] = recaudo_real_area_calculo_mk['Recaudo']
recaudo_real_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk['Presupuesto'] = recaudo_presupuesto_area_calculo_mk['Recaudo']
recaudo_presupuesto_area_calculo_mk.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk,
    right=recaudo_real_area_calculo_mk,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk['Variable'] = 'VentaCobradaUnidadNegocio'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk,
    variable='VentaCobradaUnidadNegocio',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk['AreaCalculo']
cumplimiento_recaudo_por_unidad_negocio_mk = cumplimiento_recaudo_por_unidad_negocio_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk.head()

## VentaCobradaUnidadNegocioSub
recaudo_real_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_area_calculo_mk_sub['Real'] = recaudo_real_area_calculo_mk_sub['Recaudo']
recaudo_real_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

recaudo_presupuesto_area_calculo_mk_sub = venta_recaudo_presupuesto_original_mk_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_area_calculo_mk_sub['Presupuesto'] = recaudo_presupuesto_area_calculo_mk_sub['Recaudo']
recaudo_presupuesto_area_calculo_mk_sub.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_unidad_negocio_mk_sub = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Real'] / cumplimiento_recaudo_por_unidad_negocio_mk_sub['Presupuesto']
cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Variable'] = 'VentaCobradaUnidadNegocioSub'
#areas de calculo son unidades de negocio

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_unidad_negocio_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_unidad_negocio_mk_sub,
    variable='VentaCobradaUnidadNegocioSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###

cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'] = cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].astype('str')
cumplimiento_recaudo_por_unidad_negocio_mk_sub['Contexto'] = 'mk_' + cumplimiento_recaudo_por_unidad_negocio_mk_sub['AreaCalculo'].str.cat(cumplimiento_recaudo_por_unidad_negocio_mk_sub['Consecutivo'],sep="_")
cumplimiento_recaudo_por_unidad_negocio_mk_sub = cumplimiento_recaudo_por_unidad_negocio_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_unidad_negocio_mk_sub.head()

['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaUnidadNegocioSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,mk_1_1,VentaCobradaUnidadNegocioSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,mk_1_1,VentaCobradaUnidadNegocioSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,mk_1_1,VentaCobradaUnidadNegocioSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,mk_1_1,VentaCobradaUnidadNegocioSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

## 9. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

### 9.1. Para GU (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [23]:
rentabilidad_gu = df_rentabilidad.copy()
rentabilidad_gu['TipoEmpleado'] = 'GU'
rentabilidad_gu = rentabilidad_gu.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu = rentabilidad_gu.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['Real']/rentabilidad_gu['Presupuesto']
rentabilidad_gu['PorcentajeCumplimiento'] = rentabilidad_gu['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = rentabilidad_gu[rentabilidad_gu['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = rentabilidad_gu[rentabilidad_gu['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2208896837.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2208896837.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2208896837.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu['Variable'] = 'RentabilidadUnidadNegocioCM2'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2208896837.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,RentabilidadUnidadNegocioCM3,2023-03-01,-3.562312e+08,-3.074421e+08,1.16
1,gu_2,RentabilidadUnidadNegocioCM3,2023-03-01,2.977882e+08,-4.827851e+07,-6.17
2,gu_3,RentabilidadUnidadNegocioCM3,2023-03-01,1.248919e+08,3.696510e+07,3.38
3,gu_4,RentabilidadUnidadNegocioCM3,2023-03-01,-3.688780e+08,8.458015e+08,-0.44
4,gu_5,RentabilidadUnidadNegocioCM3,2023-03-01,2.783923e+09,2.183797e+09,1.27

### 9.2. Para MK (RentabilidadUnidadNegocioCM2 y RentabilidadUnidadNegocioCM3)

In [24]:
rentabilidad_mk = df_rentabilidad.copy()
rentabilidad_mk['TipoEmpleado'] = 'MK'
rentabilidad_mk = rentabilidad_mk.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk = rentabilidad_mk.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['Real']/rentabilidad_mk['Presupuesto']
rentabilidad_mk['PorcentajeCumplimiento'] = rentabilidad_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = rentabilidad_mk[rentabilidad_mk['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    variable='RentabilidadUnidadNegocioCM2',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    variable='RentabilidadUnidadNegocioCM3',
    columnas_extra=['TipoEmpleado', 'AreaCalculo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['AreaCalculo']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.head()

['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']
['TipoEmpleado', 'AreaCalculo'] ['TipoEmpleado', 'AreaCalculo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2916835292.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2916835292.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2916835292.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk['Variable'] = 'RentabilidadUnidadNegocioCM2'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\2916835292.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk['Variable'] = 'RentabilidadUnidadNegocioCM3'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1,RentabilidadUnidadNegocioCM3,2023-03-01,1.777163e+09,2.074373e+09,0.86
1,mk_2,RentabilidadUnidadNegocioCM3,2023-03-01,3.151280e+07,1.255245e+09,0.03
2,mk_3,RentabilidadUnidadNegocioCM3,2023-03-01,2.107605e+08,1.475892e+09,0.14
3,mk_4,RentabilidadUnidadNegocioCM3,2023-03-01,2.107605e+08,1.475892e+09,0.14
4,mk_5,RentabilidadUnidadNegocioCM3,2023-03-01,8.586860e+07,1.438927e+09,0.06

## 10. Objetivos de rentabilidad por unidad de negocio (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

### 10.1. Para GU (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [25]:
#Calculamos la rentabilidad para GU adicionando toda la info de area_calculo_sba_completo
rentabilidad_gu_sub = df_rentabilidad.copy()
rentabilidad_gu_sub['TipoEmpleado'] = 'GU'
rentabilidad_gu_sub = rentabilidad_gu_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_gu_sub = rentabilidad_gu_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_gu_sub['Presupuesto'] = rentabilidad_gu_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_gu_sub['Real'] = rentabilidad_gu_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_gu_sub['PorcentajeCumplimiento'] = rentabilidad_gu_sub['Real']/rentabilidad_gu_sub['Presupuesto']
rentabilidad_gu_sub['PorcentajeCumplimiento'] = rentabilidad_gu_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = rentabilidad_gu_sub[rentabilidad_gu_sub['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = rentabilidad_gu_sub[rentabilidad_gu_sub['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    variable='RentabilidadUnidadNegocioCM2Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    variable='RentabilidadUnidadNegocioCM3Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Contexto'] = 'gu_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1309177449.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1309177449.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1309177449.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1309177449.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-2.580070e+08,-1.647386e+08,1.57
1,gu_1_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-9.822414e+07,-1.427035e+08,0.69
2,gu_2_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.744776e+08,9.348195e+06,18.66
3,gu_2_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,9.394487e+07,-7.773345e+07,-1.21
4,gu_2_3,RentabilidadUnidadNegocioCM3Sub,2023-03-01,2.936570e+07,2.010674e+07,1.46

### 10.2. Para MK (RentabilidadUnidadNegocioCM2Sub y RentabilidadUnidadNegocioCM3Sub)

In [26]:
#Calculamos la rentabilidad para MK adicionando toda la info de area_calculo_sba_completo
rentabilidad_mk_sub = df_rentabilidad.copy()
rentabilidad_mk_sub['TipoEmpleado'] = 'MK'
rentabilidad_mk_sub = rentabilidad_mk_sub.merge(
    area_calculo_sba_completo[['TipoEmpleado', 'AreaCalculo', 'GrupoProducto', 'Consecutivo', 'SBA']],
    on=['TipoEmpleado', 'GrupoProducto', 'SBA'],
    how='left'
)
rentabilidad_mk_sub = rentabilidad_mk_sub.groupby(
    ['TipoEmpleado', 'ClaseRentabilidad', 'Fecha', 'AreaCalculo', 'Consecutivo'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_mk_sub['Presupuesto'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_mk_sub['Real'] = rentabilidad_mk_sub.groupby(['ClaseRentabilidad', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
rentabilidad_mk_sub['PorcentajeCumplimiento'] = rentabilidad_mk_sub['Real']/rentabilidad_mk_sub['Presupuesto']
rentabilidad_mk_sub['PorcentajeCumplimiento'] = rentabilidad_mk_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = rentabilidad_mk_sub[rentabilidad_mk_sub['ClaseRentabilidad']=='CMII']
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = rentabilidad_mk_sub[rentabilidad_mk_sub['ClaseRentabilidad']=='CMIII']
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)

cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    variable='RentabilidadUnidadNegocioCM2Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'
### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    variable='RentabilidadUnidadNegocioCM3Sub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK']
)
###
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'] = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'].astype(int).astype('str')
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Contexto'] = 'mk_' + cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['AreaCalculo'].str.cat(cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Consecutivo'],sep="_")
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub = cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']
['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\438289074.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\438289074.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub.drop(columns='ClaseRentabilidad', inplace=True)
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\438289074.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM2Sub'
C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\438289074.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub['Variable'] = 'RentabilidadUnidadNegocioCM3Sub'

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,1.671413e+09,2.520300e+09,0.66
1,mk_1_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
2,mk_1_3,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-1.376819e+08,-2.139664e+08,0.64
3,mk_2_1,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-5.866451e+08,7.828485e+08,-0.75
4,mk_2_2,RentabilidadUnidadNegocioCM3Sub,2023-03-01,-5.458008e+08,-2.282831e+08,2.39

## 11. Objetivos de recaudo por división (VentaCobradaDivision)

In [27]:
recaudo_real_por_division = df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
recaudo_real_por_division = recaudo_real_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_por_division['Real'] = recaudo_real_por_division['Recaudo']
recaudo_real_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_real_por_division

recaudo_presupuesto_por_division = df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
recaudo_presupuesto_por_division = recaudo_presupuesto_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_por_division['Presupuesto'] = recaudo_presupuesto_por_division['Recaudo']
recaudo_presupuesto_por_division.drop(columns=['Recaudo'], inplace=True)
recaudo_presupuesto_por_division

cumplimiento_recaudo_por_division = pd.merge(
    left=recaudo_presupuesto_por_division,
    right=recaudo_real_por_division,
    on=['Division', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2023-01-01,3.372108e+09,2.772690e+09,1.22
1,AE,VentaCobradaDivision,2023-02-01,6.398180e+09,6.466029e+09,0.99
2,AE,VentaCobradaDivision,2023-03-01,8.915028e+09,9.793257e+09,0.91
3,AE,VentaCobradaDivision,2023-04-01,1.220146e+10,1.312049e+10,0.93
4,AE,VentaCobradaDivision,2023-05-01,1.767949e+10,1.607802e+10,1.10

## 12. Objetivos de recaudo por division con consecutivos (VentaCobradaDivisionSub)

In [28]:
area_calculo_sba_completo_renal_vc_gd = area_calculo_sba_completo[
    (
        (area_calculo_sba_completo['TipoEmpleado'] == 'VC') &
        (area_calculo_sba_completo['Consecutivo'] == 1) &
        (area_calculo_sba_completo['AreaCalculo'] == 5) 
    ) 
    |
    (
        (area_calculo_sba_completo['TipoEmpleado'] == 'GD') &
        (area_calculo_sba_completo['Consecutivo'] == 5) &
        (area_calculo_sba_completo['AreaCalculo'] == 3) 
    )
]

area_calculo_sba_completo_renal_vc_gd

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
143            3            5                                      GD
299            5            1                                      VC
300            5            1       AE           805               VC
301            5            1       AE           M06               VC
295            5            1       AE           805  30           VC
296            5            1       AE           805  32           VC
297            5            1       AE           M06  31           VC
298            5            1       AE           M06  30           VC

In [29]:
df_merged = area_calculo_sba_completo.merge(
    area_calculo_sba_completo_renal_vc_gd,
    how='left',
    indicator=True
).drop_duplicates()

area_calculo_sba_completo_without_renal = df_merged[df_merged['_merge'] == 'left_only']
area_calculo_sba_completo_without_renal

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
0,1,1,BBMCO,,,AD,left_only
1,1,1,HC,,,AD,left_only
2,1,2,AE,,,AD,left_only
3,1,2,BBSCO,BBSCO,BBSCO,AD,left_only
4,1,2,OK,,,AD,left_only
...,...,...,...,...,...,...,...
1980,11,2,BA,A33,86,VE,left_only
1981,12,1,AE,805,30,VE,left_only
1982,12,1,AE,805,32,VE,left_only
1983,12,2,AE,M06,31,VE,left_only
1984,12,2,AE,M06,30,VE,left_only

In [30]:
area_calculo_sba_completo_with_renal = df_merged[df_merged['_merge'] == 'both']
area_calculo_sba_completo_with_renal

      AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143             3            5                                      GD   both
294             5            1                                      VC   both
295             5            1       AE           805               VC   both
296             5            1       AE           M06               VC   both
1785            5            1       AE           805  30           VC   both
1786            5            1       AE           805  32           VC   both
1787            5            1       AE           M06  31           VC   both
1788            5            1       AE           M06  30           VC   both

### 12.1. Para MK (VentaCobradaDivisionSub)

In [31]:
cumplimiento_recaudo_por_division_sub_mk = pd.merge(
    left=recaudo_presupuesto_area_calculo_mk_sub,
    right=recaudo_real_area_calculo_mk_sub,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_mk['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_mk['Real'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['Presupuesto'] = cumplimiento_recaudo_por_division_sub_mk.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['Real'] / cumplimiento_recaudo_por_division_sub_mk['Presupuesto']
cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_mk['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_mk = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_mk,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'MK'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_por_division_sub_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_mk = cumplimiento_recaudo_por_division_sub_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_por_division_sub_mk.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,mk_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,mk_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,mk_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,mk_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [32]:
cumplimiento_recaudo_por_division_sub_mk[cumplimiento_recaudo_por_division_sub_mk['Contexto'] == 'ad_3_1']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [33]:
cumplimiento_recaudo_por_division_sub_mk[cumplimiento_recaudo_por_division_sub_mk['Contexto'].str.contains('mk')]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,mk_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,mk_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,mk_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,mk_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,mk_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95
...,...,...,...,...,...,...
324,mk_13_3,VentaCobradaDivisionSub,2023-03-01,1.163961e+08,2.105215e+08,0.55
325,mk_13_3,VentaCobradaDivisionSub,2023-04-01,1.182242e+08,2.806953e+08,0.42
326,mk_13_3,VentaCobradaDivisionSub,2023-05-01,2.338780e+08,3.508691e+08,0.67
327,mk_13_3,VentaCobradaDivisionSub,2023-06-01,2.957790e+08,4.298147e+08,0.69
328,mk_13_3,VentaCobradaDivisionSub,2023-07-01,3.868013e+08,4.912168e+08,0.79

In [34]:
cumplimiento_recaudo_otras_companias_mk = pd.merge(
    left=area_calculo_sba_completo_mk,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['Real']/cumplimiento_recaudo_otras_companias_mk['Presupuesto']
cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_mk['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_mk['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_mk['Contexto'] = 'mk_' + cumplimiento_recaudo_otras_companias_mk['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_mk['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_mk = cumplimiento_recaudo_otras_companias_mk[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_mk.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.2. Para GD (VentaCobradaDivisionSub)

In [35]:
# area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd = area_calculo_sba_completo_without_renal[area_calculo_sba_completo_without_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,_merge
104,1,1,AE,805,,GD,left_only
105,1,1,AE,M06,,GD,left_only
106,1,2,AE,005,,GD,left_only
107,1,2,AE,M07,,GD,left_only
108,1,2,AE,M08,,GD,left_only
...,...,...,...,...,...,...,...
1657,3,4,BA,660,81,GD,left_only
1658,3,4,BA,902,80,GD,left_only
1659,3,4,BA,A45,81,GD,left_only
1660,3,4,BA,A45,80,GD,left_only
1661,3,4,BA,A45,89,GD,left_only

In [36]:
#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_gd = venta_recaudo_presupuesto_original_gd_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_gd['Real'] = venta_recaudo_real_area_calculo_gd['Recaudo']
venta_recaudo_real_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_gd = venta_recaudo_presupuesto_original_gd_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_gd['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_gd['Recaudo']
venta_recaudo_presupuesto_area_calculo_gd.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_gd = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_gd,
    right=venta_recaudo_real_area_calculo_gd,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_gd['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_gd['Real'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['Presupuesto'] = cumplimiento_recaudo_por_division_sub_gd.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['Real'] / cumplimiento_recaudo_por_division_sub_gd['Presupuesto']
cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_gd['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_gd = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_gd,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_por_division_sub_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_gd = cumplimiento_recaudo_por_division_sub_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_gd

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2023-01-01,3.533470e+08,3.253998e+08,1.09
1,gd_1_1,VentaCobradaDivisionSub,2023-02-01,5.930395e+08,7.592662e+08,0.78
2,gd_1_1,VentaCobradaDivisionSub,2023-03-01,9.131422e+08,1.149746e+09,0.79
3,gd_1_1,VentaCobradaDivisionSub,2023-04-01,1.616317e+09,1.540226e+09,1.05
4,gd_1_1,VentaCobradaDivisionSub,2023-05-01,2.127809e+09,1.887319e+09,1.13
...,...,...,...,...,...,...
114,gd_3_6,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
115,gd_3_6,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
116,gd_3_6,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
117,gd_3_6,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
118,gd_3_6,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01

In [37]:
area_calculo_sba_completo_gd_with_renal = area_calculo_sba_completo_with_renal[area_calculo_sba_completo_with_renal['TipoEmpleado']=='GD']
area_calculo_sba_completo_gd_with_renal

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143            3            5                                      GD   both

In [38]:
df_renal_ambulatorio_gd = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'GD']
df_renal_ambulatorio_gd

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
14,5036358,GD,2023-03-01,0.0,1.800674e+08,0.0,134556105.0
15,5036358,GD,2023-04-01,0.0,5.458295e+07,0.0,23197667.0
16,5036358,GD,2023-05-01,0.0,5.356671e+07,0.0,30859037.0
17,5036358,GD,2023-06-01,0.0,5.823006e+07,0.0,70072399.0
18,5036358,GD,2023-07-01,0.0,4.890336e+07,0.0,36211810.0

In [39]:
area_calculo_sba_completo_gd_with_renal

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado _merge
143            3            5                                      GD   both

In [40]:
renal_ambulatorio_gd = df_renal_ambulatorio_gd.merge(
    area_calculo_sba_completo_gd_with_renal,
    on=['TipoEmpleado'],
    how='left'
)
renal_ambulatorio_gd

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,_merge
0,5036358,GD,2023-03-01,0.0,1.800674e+08,0.0,134556105.0,3,5,,,,both
1,5036358,GD,2023-04-01,0.0,5.458295e+07,0.0,23197667.0,3,5,,,,both
2,5036358,GD,2023-05-01,0.0,5.356671e+07,0.0,30859037.0,3,5,,,,both
3,5036358,GD,2023-06-01,0.0,5.823006e+07,0.0,70072399.0,3,5,,,,both
4,5036358,GD,2023-07-01,0.0,4.890336e+07,0.0,36211810.0,3,5,,,,both

In [41]:
# Calcular

main = renal_ambulatorio_gd.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})

main['Contexto'] = 'gd_' + main['AreaCalculo'].astype('str').str.cat(main['Consecutivo'].astype('str'), sep="_")

# main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaDivisionSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


cumplimiento_recaudo_por_division_sub_gd = pd.concat(
    [
        cumplimiento_recaudo_por_division_sub_gd.copy(),
        main.copy()
    ],
    ignore_index=True
)


main = None
cumplimiento_recaudo_por_division_sub_gd

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_1,VentaCobradaDivisionSub,2023-01-01,3.533470e+08,3.253998e+08,1.09
1,gd_1_1,VentaCobradaDivisionSub,2023-02-01,5.930395e+08,7.592662e+08,0.78
2,gd_1_1,VentaCobradaDivisionSub,2023-03-01,9.131422e+08,1.149746e+09,0.79
3,gd_1_1,VentaCobradaDivisionSub,2023-04-01,1.616317e+09,1.540226e+09,1.05
4,gd_1_1,VentaCobradaDivisionSub,2023-05-01,2.127809e+09,1.887319e+09,1.13
...,...,...,...,...,...,...
119,gd_3_5,VentaCobradaDivisionSub,2023-03-01,1.345561e+08,1.800674e+08,0.75
120,gd_3_5,VentaCobradaDivisionSub,2023-04-01,1.577538e+08,2.346503e+08,0.67
121,gd_3_5,VentaCobradaDivisionSub,2023-05-01,1.886128e+08,2.882170e+08,0.65
122,gd_3_5,VentaCobradaDivisionSub,2023-06-01,2.586852e+08,3.464471e+08,0.75
123,gd_3_5,VentaCobradaDivisionSub,2023-07-01,2.948970e+08,3.953505e+08,0.75

In [42]:
cumplimiento_recaudo_otras_companias_gd = pd.merge(
    left=area_calculo_sba_completo_gd,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['Real']/cumplimiento_recaudo_otras_companias_gd['Presupuesto']
cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_gd['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_gd['Contexto'] = 'gd_' + cumplimiento_recaudo_otras_companias_gd['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_gd['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_gd['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_gd = cumplimiento_recaudo_otras_companias_gd[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_gd.head()

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

### 12.3. Para AD (VentaCobradaDivisionSub)

In [43]:
area_calculo_sba_completo_ad = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_real = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD
venta_recaudo_presupuesto_original_ad_presupuesto = area_calculo_sba_completo_ad.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad = venta_recaudo_presupuesto_original_ad_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad['Real'] = venta_recaudo_real_area_calculo_ad['Recaudo']
venta_recaudo_real_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad = venta_recaudo_presupuesto_original_ad_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad,
    right=venta_recaudo_real_area_calculo_ad,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad['Real'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['Real'] / cumplimiento_recaudo_por_division_sub_ad['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_por_division_sub_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad = cumplimiento_recaudo_por_division_sub_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [44]:
cumplimiento_recaudo_por_division_sub_ad[cumplimiento_recaudo_por_division_sub_ad['Contexto'] == 'ad_3_1']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
42,ad_3_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
43,ad_3_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
44,ad_3_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
45,ad_3_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
46,ad_3_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95
47,ad_3_1,VentaCobradaDivisionSub,2023-06-01,6.440656e+10,6.651231e+10,0.97
48,ad_3_1,VentaCobradaDivisionSub,2023-07-01,7.458625e+10,7.547951e+10,0.99

In [45]:
cumplimiento_recaudo_otras_companias_ad = pd.merge(
    left=area_calculo_sba_completo_ad,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['Real']/cumplimiento_recaudo_otras_companias_ad['Presupuesto']
cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad['Contexto'] = 'ad_' + cumplimiento_recaudo_otras_companias_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad = cumplimiento_recaudo_otras_companias_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
6,ad_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
7,ad_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
8,ad_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
9,ad_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
10,ad_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
11,ad_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
12,ad_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
13,ad_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
14,ad_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
15,ad_4_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
16,ad_4_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
17,ad_4_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
18,ad_4_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
19,ad_4_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
20,ad_1_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
21,ad_1_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
22,ad_1_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
23,ad_1_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
24,ad_1_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
25,ad_1_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
26,ad_2_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
27,ad_2_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
28,ad_2_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
29,ad_2_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
30,ad_2_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
31,ad_2_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
32,ad_3_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
33,ad_3_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
34,ad_3_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
35,ad_3_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
36,ad_3_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
37,ad_3_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

### 12.4. Para AD1 (VentaCobradaDivisionSub)

In [46]:
area_calculo_sba_completo_ad1 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_real = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD1
venta_recaudo_presupuesto_original_ad1_presupuesto = area_calculo_sba_completo_ad1.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad1['Real'] = venta_recaudo_real_area_calculo_ad1['Recaudo']
venta_recaudo_real_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad1 = venta_recaudo_presupuesto_original_ad1_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad1['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad1['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad1.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad1 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad1,
    right=venta_recaudo_real_area_calculo_ad1,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad1['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad1['Real'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad1.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['Real'] / cumplimiento_recaudo_por_division_sub_ad1['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad1['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad1,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_por_division_sub_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad1 = cumplimiento_recaudo_por_division_sub_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad1.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad1_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad1_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad1_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad1_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [47]:
cumplimiento_recaudo_otras_companias_ad1 = pd.merge(
    left=area_calculo_sba_completo_ad1,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['Real']/cumplimiento_recaudo_otras_companias_ad1['Presupuesto']
cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad1['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad1['Contexto'] = 'ad1_' + cumplimiento_recaudo_otras_companias_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad1['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad1 = cumplimiento_recaudo_otras_companias_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad1

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad1_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad1_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad1_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad1_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad1_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
6,ad1_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
7,ad1_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
8,ad1_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
9,ad1_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
10,ad1_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
11,ad1_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
12,ad1_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
13,ad1_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
14,ad1_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
15,ad1_4_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
16,ad1_4_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
17,ad1_4_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
18,ad1_4_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
19,ad1_4_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
20,ad1_5_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
21,ad1_5_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
22,ad1_5_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
23,ad1_5_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
24,ad1_5_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
25,ad1_6_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
26,ad1_6_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
27,ad1_6_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
28,ad1_6_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
29,ad1_6_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
30,ad1_7_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
31,ad1_7_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
32,ad1_7_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
33,ad1_7_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
34,ad1_7_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
35,ad1_8_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
36,ad1_8_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
37,ad1_8_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
38,ad1_8_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
39,ad1_8_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
40,ad1_10_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
41,ad1_10_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
42,ad1_10_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
43,ad1_10_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
44,ad1_10_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01

### 12.5. Para AD3 (VentaCobradaDivisionSub)

In [48]:
area_calculo_sba_completo_ad3 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_real = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD3
venta_recaudo_presupuesto_original_ad3_presupuesto = area_calculo_sba_completo_ad3.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad3['Real'] = venta_recaudo_real_area_calculo_ad3['Recaudo']
venta_recaudo_real_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad3 = venta_recaudo_presupuesto_original_ad3_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad3['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad3['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad3.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad3 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad3,
    right=venta_recaudo_real_area_calculo_ad3,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad3['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad3['Real'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad3.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['Real'] / cumplimiento_recaudo_por_division_sub_ad3['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad3['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad3,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_por_division_sub_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad3 = cumplimiento_recaudo_por_division_sub_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad3.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2023-01-01,9.741808e+09,1.152925e+10,0.84
1,ad3_1_1,VentaCobradaDivisionSub,2023-02-01,1.926441e+10,2.301114e+10,0.84
2,ad3_1_1,VentaCobradaDivisionSub,2023-03-01,2.935052e+10,3.448661e+10,0.85
3,ad3_1_1,VentaCobradaDivisionSub,2023-04-01,4.064331e+10,4.473484e+10,0.91
4,ad3_1_1,VentaCobradaDivisionSub,2023-05-01,5.225365e+10,5.498306e+10,0.95

In [49]:
cumplimiento_recaudo_otras_companias_ad3 = pd.merge(
    left=area_calculo_sba_completo_ad3,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['Real']/cumplimiento_recaudo_otras_companias_ad3['Presupuesto']
cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad3['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad3['Contexto'] = 'ad3_' + cumplimiento_recaudo_otras_companias_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad3['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad3 = cumplimiento_recaudo_otras_companias_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad3_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad3_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad3_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad3_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad3_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
6,ad3_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
7,ad3_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
8,ad3_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
9,ad3_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
10,ad3_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
11,ad3_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
12,ad3_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
13,ad3_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
14,ad3_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01

### 12.6. Para AD4 (VentaCobradaDivisionSub)

In [50]:
area_calculo_sba_completo_ad4 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_real = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD4
venta_recaudo_presupuesto_original_ad4_presupuesto = area_calculo_sba_completo_ad4.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad4['Real'] = venta_recaudo_real_area_calculo_ad4['Recaudo']
venta_recaudo_real_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad4 = venta_recaudo_presupuesto_original_ad4_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad4['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad4['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad4.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad4 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad4,
    right=venta_recaudo_real_area_calculo_ad4,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad4['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad4['Real'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad4.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['Real'] / cumplimiento_recaudo_por_division_sub_ad4['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad4['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad4,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_por_division_sub_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad4 = cumplimiento_recaudo_por_division_sub_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad4.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [51]:
cumplimiento_recaudo_otras_companias_ad4 = pd.merge(
    left=area_calculo_sba_completo_ad4,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['Real']/cumplimiento_recaudo_otras_companias_ad4['Presupuesto']
cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad4['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad4['Contexto'] = 'ad4_' + cumplimiento_recaudo_otras_companias_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad4['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad4 = cumplimiento_recaudo_otras_companias_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad4

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad4_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad4_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad4_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad4_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad4_2_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
6,ad4_2_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
7,ad4_2_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
8,ad4_2_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
9,ad4_2_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
10,ad4_3_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
11,ad4_3_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
12,ad4_3_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
13,ad4_3_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
14,ad4_3_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
15,ad4_1_2,VentaCobradaDivisionSub,2023-03-01,5.021631e+06,5.291631e+06,0.95
16,ad4_1_2,VentaCobradaDivisionSub,2023-04-01,7.163639e+06,7.266069e+06,0.99
17,ad4_1_2,VentaCobradaDivisionSub,2023-05-01,1.001707e+07,9.962755e+06,1.01
18,ad4_1_2,VentaCobradaDivisionSub,2023-06-01,1.195409e+07,1.221530e+07,0.98
19,ad4_1_2,VentaCobradaDivisionSub,2023-07-01,1.432204e+07,1.394506e+07,1.03
20,ad4_2_2,VentaCobradaDivisionSub,2023-03-01,5.021631e+06,5.291631e+06,0.95
21,ad4_2_2,VentaCobradaDivisionSub,2023-04-01,7.163639e+06,7.266069e+06,0.99
22,ad4_2_2,VentaCobradaDivisionSub,2023-05-01,1.001707e+07,9.962755e+06,1.01
23,ad4_2_2,VentaCobradaDivisionSub,2023-06-01,1.195409e+07,1.221530e+07,0.98
24,ad4_2_2,VentaCobradaDivisionSub,2023-07-01,1.432204e+07,1.394506e+07,1.03
25,ad4_3_2,VentaCobradaDivisionSub,2023-03-01,5.021631e+06,5.291631e+06,0.95
26,ad4_3_2,VentaCobradaDivisionSub,2023-04-01,7.163639e+06,7.266069e+06,0.99
27,ad4_3_2,VentaCobradaDivisionSub,2023-05-01,1.001707e+07,9.962755e+06,1.01
28,ad4_3_2,VentaCobradaDivisionSub,2023-06-01,1.195409e+07,1.221530e+07,0.98
29,ad4_3_2,VentaCobradaDivisionSub,2023-07-01,1.432204e+07,1.394506e+07,1.03
30,ad4_1_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
31,ad4_1_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
32,ad4_1_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
33,ad4_2_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
34,ad4_2_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
35,ad4_2_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN
36,ad4_3_4,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
37,ad4_3_4,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
38,ad4_3_4,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

### 12.7. Para AD5 (VentaCobradaDivisionSub)

In [52]:
area_calculo_sba_completo_ad5 = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_real = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los AD5
venta_recaudo_presupuesto_original_ad5_presupuesto = area_calculo_sba_completo_ad5.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

venta_recaudo_real_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_real.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_real_area_calculo_ad5['Real'] = venta_recaudo_real_area_calculo_ad5['Recaudo']
venta_recaudo_real_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

venta_recaudo_presupuesto_area_calculo_ad5 = venta_recaudo_presupuesto_original_ad5_presupuesto.groupby(['AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
venta_recaudo_presupuesto_area_calculo_ad5['Presupuesto'] = venta_recaudo_presupuesto_area_calculo_ad5['Recaudo']
venta_recaudo_presupuesto_area_calculo_ad5.drop(columns=['Recaudo'], inplace=True)

cumplimiento_recaudo_por_division_sub_ad5 = pd.merge(
    left=venta_recaudo_presupuesto_area_calculo_ad5,
    right=venta_recaudo_real_area_calculo_ad5,
    on=['AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)
cumplimiento_recaudo_por_division_sub_ad5['Real'].fillna(0.0, inplace=True)
cumplimiento_recaudo_por_division_sub_ad5['Real'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['Presupuesto'] = cumplimiento_recaudo_por_division_sub_ad5.groupby(['AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['Real'] / cumplimiento_recaudo_por_division_sub_ad5['Presupuesto']
cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division_sub_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_por_division_sub_ad5['Variable'] = 'VentaCobradaDivisionSub'

### Cálculo de resultados cualitativos precargados
cumplimiento_recaudo_por_division_sub_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_recaudo_por_division_sub_ad5,
    variable='VentaCobradaDivisionSub',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_recaudo_por_division_sub_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_por_division_sub_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_por_division_sub_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_por_division_sub_ad5 = cumplimiento_recaudo_por_division_sub_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_recaudo_por_division_sub_ad5.head()

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

In [53]:
cumplimiento_recaudo_otras_companias_ad5 = pd.merge(
    left=area_calculo_sba_completo_ad5,
    right=df_recaudo_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division']
)
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['Real']/cumplimiento_recaudo_otras_companias_ad5['Presupuesto']
cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'] = cumplimiento_recaudo_otras_companias_ad5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_recaudo_otras_companias_ad5['Contexto'] = 'ad5_' + cumplimiento_recaudo_otras_companias_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_recaudo_otras_companias_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_recaudo_otras_companias_ad5['Variable'] = 'VentaCobradaDivisionSub'
cumplimiento_recaudo_otras_companias_ad5 = cumplimiento_recaudo_otras_companias_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_recaudo_otras_companias_ad5

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,VentaCobradaDivisionSub,2023-03-01,3.992673e+10,4.648396e+10,0.86
1,ad5_1_1,VentaCobradaDivisionSub,2023-04-01,5.525573e+10,6.067049e+10,0.91
2,ad5_1_1,VentaCobradaDivisionSub,2023-05-01,7.298270e+10,7.454188e+10,0.98
3,ad5_1_1,VentaCobradaDivisionSub,2023-06-01,8.934016e+10,8.932282e+10,1.00
4,ad5_1_1,VentaCobradaDivisionSub,2023-07-01,1.033452e+11,1.024664e+11,1.01
5,ad5_1_2,VentaCobradaDivisionSub,2023-03-01,0.000000e+00,0.000000e+00,NaN
6,ad5_1_2,VentaCobradaDivisionSub,2023-04-01,0.000000e+00,0.000000e+00,NaN
7,ad5_1_2,VentaCobradaDivisionSub,2023-05-01,0.000000e+00,0.000000e+00,NaN

## 13. Objetivos de rentabilidad CM5 a nivel país (RentabilidadBbraunPaisAntesDeImpuestos)

In [54]:
cumplimiento_rentabilidad_cm5_nivel_pais = df_rentabilidad[(df_rentabilidad['Compania']=='BBMCO')&(df_rentabilidad['ClaseRentabilidad']=='CMV')]

cumplimiento_rentabilidad_cm5_nivel_pais = cumplimiento_rentabilidad_cm5_nivel_pais.groupby(
    ['Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'] = cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_rentabilidad_cm5_nivel_pais['Real'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['Real'] / cumplimiento_rentabilidad_cm5_nivel_pais['Presupuesto']
cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm5_nivel_pais['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_rentabilidad_cm5_nivel_pais['Contexto'] = 'CM5'
cumplimiento_rentabilidad_cm5_nivel_pais['Variable'] = 'RentabilidadBbraunPaisAntesDeImpuestos'

cumplimiento_rentabilidad_cm5_nivel_pais.head()

,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Contexto,Variable
0,2023-03-01,2.856378e+08,1.057030e+09,0.27,CM5,RentabilidadBbraunPaisAntesDeImpuestos
1,2023-04-01,6.427351e+08,1.435046e+09,0.45,CM5,RentabilidadBbraunPaisAntesDeImpuestos
2,2023-05-01,2.868429e+09,1.860457e+09,1.54,CM5,RentabilidadBbraunPaisAntesDeImpuestos
3,2023-06-01,3.998743e+09,2.284161e+09,1.75,CM5,RentabilidadBbraunPaisAntesDeImpuestos
4,2023-07-01,5.875547e+09,2.785519e+09,2.11,CM5,RentabilidadBbraunPaisAntesDeImpuestos

## 14. Objetivos de rentabilidad CM3 por grupo clientes con consecutivos (RentabilidadDivisionGrupoClientesCM3Sub)

In [55]:
rentabilidad_division_cm3_gd = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd,
    on=['GrupoProducto', 'SBA'],
    how='left'
)
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = rentabilidad_division_cm3_gd.groupby(
    ['Division', 'Consecutivo', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes_sub['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Division'].astype('str').str.cat(cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm3_grupo_clientes_sub['Variable'] = 'RentabilidadDivisionGrupoClientesCM3Sub'
cumplimiento_rentabilidad_cm3_grupo_clientes_sub = cumplimiento_rentabilidad_cm3_grupo_clientes_sub[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-03-01,1.769834e+08,8.679482e+07,2.04
1,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-04-01,2.846501e+08,1.955263e+08,1.46
2,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-05-01,2.762950e+08,2.483433e+08,1.11
3,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-06-01,3.187072e+08,3.380887e+08,0.94
4,gd_AE_1.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-07-01,3.882273e+08,6.008216e+08,0.65
...,...,...,...,...,...,...
75,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-03-01,5.029092e+09,7.560899e+09,0.67
76,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-04-01,8.481482e+09,8.817780e+09,0.96
77,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-05-01,1.271578e+10,1.303492e+10,0.98
78,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-06-01,1.762774e+10,1.671705e+10,1.05
79,gd_HC_6.0,RentabilidadDivisionGrupoClientesCM3Sub,2023-07-01,2.117120e+10,2.107452e+10,1.00

## 15. Objetivos de rentabilidad CM3 por grupo clientes (RentabilidadDivisionGrupoClientesCM3)

In [56]:
cumplimiento_rentabilidad_cm3_grupo_clientes = pd.merge(
    left=df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMIII')],
    right=area_calculo_sba_completo_gd[['GrupoProducto', 'SBA', 'Division', 'AreaCalculo']].drop_duplicates(['GrupoProducto', 'SBA', 'AreaCalculo', 'Division']),
    on=['GrupoProducto', 'SBA'],
    how='left'
)

cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes.groupby(
    ['AreaCalculo', 'Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})
cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] = cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'].astype(int).astype(str)

cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['Real']/cumplimiento_rentabilidad_cm3_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm3_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm3_grupo_clientes['Contexto'] = 'gd_' + cumplimiento_rentabilidad_cm3_grupo_clientes['AreaCalculo'] + '_' + cumplimiento_rentabilidad_cm3_grupo_clientes['Division']
cumplimiento_rentabilidad_cm3_grupo_clientes['Variable'] = 'RentabilidadDivisionGrupoClientesCM3'
cumplimiento_rentabilidad_cm3_grupo_clientes = cumplimiento_rentabilidad_cm3_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm3_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
1,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-04-01,5.814014e+08,2.249817e+08,2.58
2,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-05-01,6.628269e+08,4.510404e+08,1.47
3,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-06-01,6.704081e+08,8.007638e+08,0.84
4,gd_1_AE,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.879052e+08,2.374916e+09,0.33
5,gd_1_BA,RentabilidadDivisionGrupoClientesCM3,2023-03-01,-6.288862e+07,-3.442775e+08,0.18
6,gd_1_BA,RentabilidadDivisionGrupoClientesCM3,2023-04-01,-2.495727e+08,-1.625750e+08,1.54
7,gd_1_BA,RentabilidadDivisionGrupoClientesCM3,2023-05-01,-1.855371e+08,-1.990973e+08,0.93
8,gd_1_BA,RentabilidadDivisionGrupoClientesCM3,2023-06-01,-3.081182e+08,-2.112475e+08,1.46
9,gd_1_BA,RentabilidadDivisionGrupoClientesCM3,2023-07-01,-2.117227e+08,-2.061241e+08,1.03
10,gd_1_HC,RentabilidadDivisionGrupoClientesCM3,2023-03-01,1.676364e+09,2.520300e+09,0.67
11,gd_1_HC,RentabilidadDivisionGrupoClientesCM3,2023-04-01,2.827161e+09,2.939260e+09,0.96
12,gd_1_HC,RentabilidadDivisionGrupoClientesCM3,2023-05-01,4.238594e+09,4.344972e+09,0.98
13,gd_1_HC,RentabilidadDivisionGrupoClientesCM3,2023-06-01,5.875913e+09,5.572350e+09,1.05
14,gd_1_HC,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.057067e+09,7.024841e+09,1.00
15,gd_2_AE,RentabilidadDivisionGrupoClientesCM3,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
16,gd_2_AE,RentabilidadDivisionGrupoClientesCM3,2023-04-01,5.814014e+08,2.249817e+08,2.58
17,gd_2_AE,RentabilidadDivisionGrupoClientesCM3,2023-05-01,6.628269e+08,4.510404e+08,1.47
18,gd_2_AE,RentabilidadDivisionGrupoClientesCM3,2023-06-01,6.704081e+08,8.007638e+08,0.84
19,gd_2_AE,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.879052e+08,2.374916e+09,0.33
20,gd_2_BA,RentabilidadDivisionGrupoClientesCM3,2023-03-01,-6.288862e+07,-3.442775e+08,0.18
21,gd_2_BA,RentabilidadDivisionGrupoClientesCM3,2023-04-01,-2.495727e+08,-1.625750e+08,1.54
22,gd_2_BA,RentabilidadDivisionGrupoClientesCM3,2023-05-01,-1.855371e+08,-1.990973e+08,0.93
23,gd_2_BA,RentabilidadDivisionGrupoClientesCM3,2023-06-01,-3.081182e+08,-2.112475e+08,1.46
24,gd_2_BA,RentabilidadDivisionGrupoClientesCM3,2023-07-01,-2.117227e+08,-2.061241e+08,1.03
25,gd_2_HC,RentabilidadDivisionGrupoClientesCM3,2023-03-01,1.671413e+09,2.520300e+09,0.66
26,gd_2_HC,RentabilidadDivisionGrupoClientesCM3,2023-04-01,2.822210e+09,2.939260e+09,0.96
27,gd_2_HC,RentabilidadDivisionGrupoClientesCM3,2023-05-01,4.233825e+09,4.344972e+09,0.97
28,gd_2_HC,RentabilidadDivisionGrupoClientesCM3,2023-06-01,5.873307e+09,5.572350e+09,1.05
29,gd_2_HC,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.068229e+09,7.024841e+09,1.01
30,gd_3_AE,RentabilidadDivisionGrupoClientesCM3,2023-03-01,2.434324e+08,-2.319607e+08,-1.05
31,gd_3_AE,RentabilidadDivisionGrupoClientesCM3,2023-04-01,5.814014e+08,2.249817e+08,2.58
32,gd_3_AE,RentabilidadDivisionGrupoClientesCM3,2023-05-01,6.628269e+08,4.510404e+08,1.47
33,gd_3_AE,RentabilidadDivisionGrupoClientesCM3,2023-06-01,6.704081e+08,8.007638e+08,0.84
34,gd_3_AE,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.879052e+08,2.374916e+09,0.33
35,gd_3_BA,RentabilidadDivisionGrupoClientesCM3,2023-03-01,-6.288862e+07,-3.442775e+08,0.18
36,gd_3_BA,RentabilidadDivisionGrupoClientesCM3,2023-04-01,-2.495727e+08,-1.625750e+08,1.54
37,gd_3_BA,RentabilidadDivisionGrupoClientesCM3,2023-05-01,-1.855371e+08,-1.990973e+08,0.93
38,gd_3_BA,RentabilidadDivisionGrupoClientesCM3,2023-06-01,-3.081182e+08,-2.112475e+08,1.46
39,gd_3_BA,RentabilidadDivisionGrupoClientesCM3,2023-07-01,-2.117227e+08,-2.061241e+08,1.03
40,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-03-01,1.676364e+09,2.520300e+09,0.67
41,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-04-01,2.827161e+09,2.939260e+09,0.96
42,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-05-01,4.238594e+09,4.344972e+09,0.98
43,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-06-01,5.875913e+09,5.572350e+09,1.05
44,gd_3_HC,RentabilidadDivisionGrupoClientesCM3,2023-07-01,7.057067e+09,7.024841e+09,1.00

## 16. Objetivos de rentabilidad por grupo clientes (RentabilidadGrupoClientesCM2)

In [57]:
area_calculo_sba_completo

     AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0              1            1    BBMCO                                AD
1              1            1       HC                                AD
2              1            2       AE                                AD
3              1            2    BBSCO         BBSCO  BBSCO           AD
4              1            2       OK                                AD
..           ...          ...      ...           ...    ...          ...
502           11            2       BA           A33     86           VE
503           12            1       AE           805     30           VE
504           12            1       AE           805     32           VE
505           12            2       AE           M06     31           VE
506           12            2       AE           M06     30           VE

[1985 rows x 6 columns]

In [58]:
area_calculo_sba_completo_kam = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'KAM']

cumplimiento_rentabilidad_cm2_grupo_clientes = pd.merge(
    left=area_calculo_sba_completo_kam[['Division', 'AreaCalculo', 'Consecutivo']].drop_duplicates(),
    right=df_rentabilidad_kam,
    on='Division',
    how='left'
)
cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_rentabilidad_cm2_grupo_clientes['Real'] = cumplimiento_rentabilidad_cm2_grupo_clientes.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['Real']/cumplimiento_rentabilidad_cm2_grupo_clientes['Presupuesto']
cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'] = cumplimiento_rentabilidad_cm2_grupo_clientes['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_rentabilidad_cm2_grupo_clientes['Contexto'] = 'kam_' + cumplimiento_rentabilidad_cm2_grupo_clientes['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm2_grupo_clientes['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm2_grupo_clientes['Variable'] = 'RentabilidadGrupoClientesCM2'
cumplimiento_rentabilidad_cm2_grupo_clientes = cumplimiento_rentabilidad_cm2_grupo_clientes[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

cumplimiento_rentabilidad_cm2_grupo_clientes

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_3_1,RentabilidadGrupoClientesCM2,2023-03-01,4.685733e+09,3.741742e+09,1.25
1,kam_3_1,RentabilidadGrupoClientesCM2,2023-04-01,5.687551e+09,5.112986e+09,1.11
2,kam_3_1,RentabilidadGrupoClientesCM2,2023-05-01,7.396895e+09,6.612171e+09,1.12
3,kam_3_1,RentabilidadGrupoClientesCM2,2023-06-01,9.151921e+09,8.087487e+09,1.13
4,kam_3_1,RentabilidadGrupoClientesCM2,2023-07-01,1.021167e+10,9.652380e+09,1.06
5,kam_4_1,RentabilidadGrupoClientesCM2,2023-03-01,0.000000e+00,0.000000e+00,NaN
6,kam_4_1,RentabilidadGrupoClientesCM2,2023-04-01,0.000000e+00,0.000000e+00,NaN
7,kam_4_1,RentabilidadGrupoClientesCM2,2023-05-01,0.000000e+00,0.000000e+00,NaN
8,kam_4_1,RentabilidadGrupoClientesCM2,2023-06-01,0.000000e+00,0.000000e+00,NaN
9,kam_4_1,RentabilidadGrupoClientesCM2,2023-07-01,0.000000e+00,0.000000e+00,NaN

## 17. Objetivos de rentabilidad antes de impuestos CM5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [59]:
rentabilidad_antes_de_impuestos_cm5 = df_rentabilidad[(df_rentabilidad['ClaseRentabilidad']=='CMV')]
rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)
rentabilidad_antes_de_impuestos_cm5 = rentabilidad_antes_de_impuestos_cm5.groupby(
    ['Division', 'Fecha'],
    as_index=False
).agg({'Real': 'sum', 'Presupuesto': 'sum'})

# rentabilidad_antes_de_impuestos_cm5['Presupuesto'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
# rentabilidad_antes_de_impuestos_cm5['Real'] = rentabilidad_antes_de_impuestos_cm5.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['Real'] / rentabilidad_antes_de_impuestos_cm5['Presupuesto']
rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'] = rentabilidad_antes_de_impuestos_cm5['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
rentabilidad_antes_de_impuestos_cm5['Variable'] = 'TotalRentabilidadBraunAntesDeImpuestosCM5'

rentabilidad_antes_de_impuestos_cm5

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1697700680.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rentabilidad_antes_de_impuestos_cm5.rename(columns={'Compania': 'Division'}, inplace=True)

,Division,Fecha,Real,Presupuesto,PorcentajeCumplimiento,Variable
0,BBMCO,2023-03-01,2.856378e+08,1.057030e+09,0.27,TotalRentabilidadBraunAntesDeImpuestosCM5
1,BBMCO,2023-04-01,6.427351e+08,1.435046e+09,0.45,TotalRentabilidadBraunAntesDeImpuestosCM5
2,BBMCO,2023-05-01,2.868429e+09,1.860457e+09,1.54,TotalRentabilidadBraunAntesDeImpuestosCM5
3,BBMCO,2023-06-01,3.998743e+09,2.284161e+09,1.75,TotalRentabilidadBraunAntesDeImpuestosCM5
4,BBMCO,2023-07-01,5.875547e+09,2.785519e+09,2.11,TotalRentabilidadBraunAntesDeImpuestosCM5
5,BBMEC,2023-03-01,1.293940e+05,-2.617475e+05,-0.49,TotalRentabilidadBraunAntesDeImpuestosCM5
6,BBMEC,2023-04-01,4.877500e+04,-1.765953e+05,-0.28,TotalRentabilidadBraunAntesDeImpuestosCM5
7,BBMEC,2023-05-01,-1.778097e+05,-1.018423e+05,1.75,TotalRentabilidadBraunAntesDeImpuestosCM5
8,BBMEC,2023-06-01,1.524240e+04,-2.704351e+04,-0.56,TotalRentabilidadBraunAntesDeImpuestosCM5
9,BBMEC,2023-07-01,-9.425660e+04,-9.743704e+04,0.97,TotalRentabilidadBraunAntesDeImpuestosCM5
10,BBSCO,2023-03-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5
11,BBSCO,2023-04-01,0.000000e+00,0.000000e+00,NaN,TotalRentabilidadBraunAntesDeImpuestosCM5

### 17.1. Para AD (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [60]:
cumplimiento_rentabilidad_cm5_ad = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad['Contexto'] = 'ad_' + cumplimiento_rentabilidad_cm5_ad['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad = cumplimiento_rentabilidad_cm5_ad[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
207,ad_4_3,NaN,NaT,NaN,NaN,NaN
208,ad_4_3,NaN,NaT,NaN,NaN,NaN
209,ad_4_3,NaN,NaT,NaN,NaN,NaN
210,ad_4_3,NaN,NaT,NaN,NaN,NaN
211,ad_4_3,NaN,NaT,NaN,NaN,NaN

### 17.2. Para AD1 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [61]:
cumplimiento_rentabilidad_cm5_ad1 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD1'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad1 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad1,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD1'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad1['Contexto'] = 'ad1_' + cumplimiento_rentabilidad_cm5_ad1['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad1['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad1 = cumplimiento_rentabilidad_cm5_ad1[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad1

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad1_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
400,ad1_10_2,NaN,NaT,NaN,NaN,NaN
401,ad1_10_2,NaN,NaT,NaN,NaN,NaN
402,ad1_10_2,NaN,NaT,NaN,NaN,NaN
403,ad1_10_2,NaN,NaT,NaN,NaN,NaN
404,ad1_10_2,NaN,NaT,NaN,NaN,NaN

### 17.3. Para AD2 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [62]:
cumplimiento_rentabilidad_cm5_ad2 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad2 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad2,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD2'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad2['Contexto'] = 'ad2_' + cumplimiento_rentabilidad_cm5_ad2['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad2['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad2 = cumplimiento_rentabilidad_cm5_ad2[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad2

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.0,0.0,NaN
1,ad2_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.0,0.0,NaN
2,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.0,0.0,NaN
3,ad2_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.0,0.0,NaN

### 17.4. Para AD3 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [63]:
cumplimiento_rentabilidad_cm5_ad3 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD3'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad3 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad3,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD3'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad3['Contexto'] = 'ad3_' + cumplimiento_rentabilidad_cm5_ad3['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad3['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad3 = cumplimiento_rentabilidad_cm5_ad3[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad3

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad3_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
...,...,...,...,...,...,...
145,ad3_3_3,NaN,NaT,NaN,NaN,NaN
146,ad3_3_3,NaN,NaT,NaN,NaN,NaN
147,ad3_3_3,NaN,NaT,NaN,NaN,NaN
148,ad3_3_3,NaN,NaT,NaN,NaN,NaN
149,ad3_3_3,NaN,NaT,NaN,NaN,NaN

### 17.5. Para AD4 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [64]:
cumplimiento_rentabilidad_cm5_ad4 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD4'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad4 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad4,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD4'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad4['Contexto'] = 'ad4_' + cumplimiento_rentabilidad_cm5_ad4['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad4['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad4 = cumplimiento_rentabilidad_cm5_ad4[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad4

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad4_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
5,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
6,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
7,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
8,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
9,ad4_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
10,ad4_1_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
11,ad4_1_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN
12,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
13,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
14,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
15,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
16,ad4_2_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
17,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
18,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
19,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
20,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
21,ad4_2_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
22,ad4_2_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
23,ad4_2_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN
24,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
25,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
26,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
27,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
28,ad4_3_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
29,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,1.293940e+05,-2.617475e+05,-0.49
30,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,4.877500e+04,-1.765953e+05,-0.28
31,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,-1.778097e+05,-1.018423e+05,1.75
32,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,1.524240e+04,-2.704351e+04,-0.56
33,ad4_3_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,-9.425660e+04,-9.743704e+04,0.97
34,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
35,ad4_3_4,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN

### 17.6. Para AD5 (TotalRentabilidadBraunAntesDeImpuestosCM5)

In [65]:
cumplimiento_rentabilidad_cm5_ad5 = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD5'],
    right=rentabilidad_antes_de_impuestos_cm5,
    on=['Division'],
    how='left'
)

### Cálculo de resultados cualitativos precargados
cumplimiento_rentabilidad_cm5_ad5 = sobreescribir_resultados_cualitativos(
    main=cumplimiento_rentabilidad_cm5_ad5,
    variable='TotalRentabilidadBraunAntesDeImpuestosCM5',
    columnas_extra=['TipoEmpleado', 'AreaCalculo', 'Consecutivo'], 
    columnas_extra_merge=['AreaCalculo', 'Consecutivo'],
    pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'AD5'].drop(columns=['TipoEmpleado'])
)
###

cumplimiento_rentabilidad_cm5_ad5['Contexto'] = 'ad5_' + cumplimiento_rentabilidad_cm5_ad5['AreaCalculo'].astype('str').str.cat(cumplimiento_rentabilidad_cm5_ad5['Consecutivo'].astype('str'), sep="_")
cumplimiento_rentabilidad_cm5_ad5 = cumplimiento_rentabilidad_cm5_ad5[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_rentabilidad_cm5_ad5

['TipoEmpleado', 'AreaCalculo', 'Consecutivo'] ['AreaCalculo', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,2.856378e+08,1.057030e+09,0.27
1,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,6.427351e+08,1.435046e+09,0.45
2,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-05-01,2.868429e+09,1.860457e+09,1.54
3,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-06-01,3.998743e+09,2.284161e+09,1.75
4,ad5_1_1,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-07-01,5.875547e+09,2.785519e+09,2.11
5,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-03-01,0.000000e+00,0.000000e+00,NaN
6,ad5_1_2,TotalRentabilidadBraunAntesDeImpuestosCM5,2023-04-01,0.000000e+00,0.000000e+00,NaN

## 18. Objetivos de venta facturada previo notas crédito TP (VentaFacturadaPrevioNotasCreditoTP)

In [66]:
cumplimiento_venta_previo_notas_credito_tp = pd.merge(
    left=area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='AD2'],
    right=df_venta_otras_companias.rename(columns={'Compania': 'Division'}),
    on=['Division'],
    how='left'
)

# cumplimiento_venta_previo_notas_credito_tp['Presupuesto'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
# cumplimiento_venta_previo_notas_credito_tp['Real'] = cumplimiento_venta_previo_notas_credito_tp.groupby(['Division', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['Real'] / cumplimiento_venta_previo_notas_credito_tp['Presupuesto']
cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'] = cumplimiento_venta_previo_notas_credito_tp['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

cumplimiento_venta_previo_notas_credito_tp['Variable'] = 'VentaFacturadaPrevioNotasCreditoTP'
cumplimiento_venta_previo_notas_credito_tp['Contexto'] = 'ad2_' + cumplimiento_venta_previo_notas_credito_tp['AreaCalculo'].astype('str').str.cat(cumplimiento_venta_previo_notas_credito_tp['Consecutivo'].astype('str'), sep="_")
cumplimiento_venta_previo_notas_credito_tp = cumplimiento_venta_previo_notas_credito_tp[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_previo_notas_credito_tp

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,ad2_1_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN
1,ad2_2_1,VentaFacturadaPrevioNotasCreditoTP,NaT,NaN,NaN,NaN

## 19. Venta de servicios Mtto (VentaServiciosMtto)

In [67]:
cumplimiento_venta_servicios_mtto = df_venta_servicios_mtto

cumplimiento_venta_servicios_mtto['Presupuesto'] = cumplimiento_venta_servicios_mtto['Presupuesto'].transform(pd.Series.cumsum)
cumplimiento_venta_servicios_mtto['Real'] = cumplimiento_venta_servicios_mtto['Real'].transform(pd.Series.cumsum)

cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['Real'] / cumplimiento_venta_servicios_mtto['Presupuesto']
cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'] = cumplimiento_venta_servicios_mtto['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
cumplimiento_venta_servicios_mtto['Variable'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto['Contexto'] = 'VentaServiciosMtto'
cumplimiento_venta_servicios_mtto = cumplimiento_venta_servicios_mtto[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
cumplimiento_venta_servicios_mtto

Empty DataFrame
Columns: [Contexto, Variable, Fecha, Real, Presupuesto, PorcentajeCumplimiento]
Index: []

# Nuevos rubros 2022

## 20. Venta Cobrada BBraun Cluster (UCI + OR) (VentaCobradaBraunCluster)

In [68]:
main = df_cluster_plan_real_recaudo.copy()
main

    Cluster      Fecha          Real   Presupuesto
0         0 2023-01-01  3.221764e+08  3.466814e+08
1         0 2023-02-01  2.420555e+08  3.645657e+08
2         0 2023-03-01  3.936310e+08  3.590231e+08
3         0 2023-04-01  3.905248e+08  3.221738e+08
4         0 2023-05-01  4.008128e+08  3.171875e+08
..      ...        ...           ...           ...
142       9 2023-03-01  5.906316e+08  8.496941e+08
143       9 2023-04-01  5.844244e+08  7.733048e+08
144       9 2023-05-01  5.263501e+08  7.546117e+08
145       9 2023-06-01  7.029607e+08  8.139347e+08
146       9 2023-07-01  5.805355e+08  7.088791e+08

[147 rows x 4 columns]

In [69]:
print(main)
main = df_cluster_plan_real_recaudo.copy()
# TODO Validar si se ignoran para TODOS los resultados

# Calcular
main = main.groupby(['Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['Cluster'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Cluster'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaBraunCluster'

#print(main)
#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Cluster': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_braun_cluster = main.copy()
main = None

venta_cobrada_braun_cluster

# Contexto: Cluster

    Cluster      Fecha          Real   Presupuesto
0         0 2023-01-01  3.221764e+08  3.466814e+08
1         0 2023-02-01  2.420555e+08  3.645657e+08
2         0 2023-03-01  3.936310e+08  3.590231e+08
3         0 2023-04-01  3.905248e+08  3.221738e+08
4         0 2023-05-01  4.008128e+08  3.171875e+08
..      ...        ...           ...           ...
142       9 2023-03-01  5.906316e+08  8.496941e+08
143       9 2023-04-01  5.844244e+08  7.733048e+08
144       9 2023-05-01  5.263501e+08  7.546117e+08
145       9 2023-06-01  7.029607e+08  8.139347e+08
146       9 2023-07-01  5.805355e+08  7.088791e+08

[147 rows x 4 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,0,VentaCobradaBraunCluster,2023-01-01,3.221764e+08,3.466814e+08,0.93
1,0,VentaCobradaBraunCluster,2023-02-01,5.642320e+08,7.112471e+08,0.79
2,0,VentaCobradaBraunCluster,2023-03-01,9.578630e+08,1.070270e+09,0.89
3,0,VentaCobradaBraunCluster,2023-04-01,1.348388e+09,1.392444e+09,0.97
4,0,VentaCobradaBraunCluster,2023-05-01,1.749201e+09,1.709631e+09,1.02
...,...,...,...,...,...,...
142,9,VentaCobradaBraunCluster,2023-03-01,2.339093e+09,2.536092e+09,0.92
143,9,VentaCobradaBraunCluster,2023-04-01,2.923517e+09,3.309397e+09,0.88
144,9,VentaCobradaBraunCluster,2023-05-01,3.449868e+09,4.064009e+09,0.85
145,9,VentaCobradaBraunCluster,2023-06-01,4.152828e+09,4.877943e+09,0.85
146,9,VentaCobradaBraunCluster,2023-07-01,4.733364e+09,5.586822e+09,0.85

## 21. Venta Cobrada Portafolio Cluster (VentaCobradaPortafolioCluster)

In [70]:
drop_cols = ['Venta', 'Division', 'ZonaGeografica', 'GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster',  'Fecha'], as_index=False)[['Recaudo']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Recaudo': 'Presupuesto'}).merge(
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado', 'Cluster','Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main.reset_index(inplace=True)
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main.reset_index(inplace=True)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster = main.copy()
main = None
venta_cobrada_portafolio_cluster

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaCobradaPortafolioCluster,2023-01-01,1.226227e+08,1.432419e+08,0.86
1,1111111,VentaCobradaPortafolioCluster,2023-02-01,2.589323e+08,3.310523e+08,0.78
2,1111111,VentaCobradaPortafolioCluster,2023-03-01,3.939175e+08,5.042256e+08,0.78
3,1111111,VentaCobradaPortafolioCluster,2023-04-01,5.514862e+08,6.721322e+08,0.82
4,1111111,VentaCobradaPortafolioCluster,2023-05-01,8.036489e+08,8.229317e+08,0.98
...,...,...,...,...,...,...
224,9990010,VentaCobradaPortafolioCluster,2023-07-01,3.354164e+09,2.151284e+09,1.56
225,9990011,VentaCobradaPortafolioCluster,2023-01-01,4.911270e+08,5.759101e+08,0.85
226,9990011,VentaCobradaPortafolioCluster,2023-02-01,7.283693e+08,1.148073e+09,0.63
227,9990011,VentaCobradaPortafolioCluster,2023-03-01,1.349746e+09,1.721428e+09,0.78
228,9990011,VentaCobradaPortafolioCluster,2023-04-01,1.762121e+09,2.233348e+09,0.79

## 22. Venta Cobrada Portafolio Cluster sub (VentaCobradaPortafolioClusterSub)

In [71]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

drop_cols = ['Venta', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo_without_renal.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Recaudo']].apply(sum)
# ppto.reset_index(inplace=True)
# real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Recaudo': 'Presupuesto'}),
    real.rename(columns={'Recaudo': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main

,CodigoEmpleado,Division,Cluster,GrupoProducto,SBA,Fecha,Presupuesto,Real,TipoEmpleado,AreaCalculo,FechaIngreso,Consecutivo,_merge
0,1111111,AE,16,001,30,2023-01-01,2.824840e+06,0.0,VC,3.0,2022-04-01,3.0,left_only
1,1111111,AE,16,001,30,2023-02-01,3.766453e+06,0.0,VC,3.0,2022-04-01,3.0,left_only
2,1111111,AE,16,001,30,2023-03-01,3.389808e+06,-9240000.0,VC,3.0,2022-04-01,3.0,left_only
3,1111111,AE,16,001,30,2023-04-01,3.389808e+06,668600.0,VC,3.0,2022-04-01,3.0,left_only
4,1111111,AE,16,001,30,2023-05-01,3.013163e+06,0.0,VC,3.0,2022-04-01,3.0,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3490,9990011,HC,11,630,12,2023-04-01,1.873260e+08,82741006.0,VC,4.0,2023-01-01,1.0,left_only
3491,9990011,HC,11,680,03,2023-01-01,5.751404e+07,32785140.0,VC,4.0,2023-01-01,3.0,left_only
3492,9990011,HC,11,680,03,2023-02-01,5.431882e+07,29732796.0,VC,4.0,2023-01-01,3.0,left_only
3493,9990011,HC,11,680,03,2023-03-01,5.751404e+07,91766790.0,VC,4.0,2023-01-01,3.0,left_only
3494,9990011,HC,11,680,03,2023-04-01,5.112359e+07,68681632.0,VC,4.0,2023-01-01,3.0,left_only

In [72]:
main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo_Cluster

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaCobradaPortafolioClusterSub,2023-01-01,7876988.0,1.597001e+07,0.49
1,1111111_1,VentaCobradaPortafolioClusterSub,2023-02-01,29552576.0,3.726336e+07,0.79
2,1111111_1,VentaCobradaPortafolioClusterSub,2023-03-01,49839883.0,5.642737e+07,0.88
3,1111111_1,VentaCobradaPortafolioClusterSub,2023-04-01,58244503.0,7.559138e+07,0.77
4,1111111_1,VentaCobradaPortafolioClusterSub,2023-05-01,77082687.5,9.262606e+07,0.83
...,...,...,...,...,...,...
1327,9990011_5,VentaCobradaPortafolioClusterSub,2023-02-01,0.0,4.414022e+06,0.00
1328,9990011_5,VentaCobradaPortafolioClusterSub,2023-03-01,0.0,6.621033e+06,0.00
1329,9990011_5,VentaCobradaPortafolioClusterSub,2023-04-01,0.0,8.828044e+06,0.00
1330,9990011_5,VentaCobradaPortafolioClusterSub,2023-06-01,0.0,1.131093e+07,0.00
1331,9990011_5,VentaCobradaPortafolioClusterSub,2023-07-01,0.0,1.324207e+07,0.00

### 22.1 Grupo Renal (Hospitalario + Ambulatorio)

In [73]:
area_calculo_sba_renal_drop_duplicates = area_calculo_sba_completo_with_renal[['AreaCalculo','Consecutivo','TipoEmpleado']].drop_duplicates(['AreaCalculo', 'Consecutivo'])
area_calculo_sba_renal_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
143            3            5           GD
294            5            1           VC

In [74]:
area_calculo_sba_renal_vc_drop_duplicates = area_calculo_sba_renal_drop_duplicates[area_calculo_sba_renal_drop_duplicates['TipoEmpleado'] == 'VC']
area_calculo_sba_renal_vc_drop_duplicates

     AreaCalculo  Consecutivo TipoEmpleado
294            5            1           VC

In [75]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (recaudo)
# Cálculo de acuerdo a SBA
# Agrupar por División - Cluster - Grupo de Producto - SBA

df_renal_ambulatorio_vc = df_renal_ambulatorio[df_renal_ambulatorio['TipoEmpleado'] == 'VC']
df_renal_ambulatorio_vc

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07
6,1111117,VC,2023-07-01,7.418271e+07,6.140210e+07,1.516458e+08,9.102226e+07
7,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07
8,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07
9,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07
10,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06
11,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08
12,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07
13,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07

In [76]:
# Calcular

main = df_renal_ambulatorio_vc.rename(columns={'PlanVentaCobradaRenal': 'Presupuesto', 'RealVentaCobradaRenal': 'Real'})
main = main.merge(
    area_calculo_sba_renal_vc_drop_duplicates,
    on=['TipoEmpleado'],
    how='left'
)
main

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,Presupuesto,RealVentaTotal,Real,AreaCalculo,Consecutivo
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07,5,1
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07,5,1
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07,5,1
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06,5,1
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08,5,1
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07,5,1
6,1111117,VC,2023-07-01,7.418271e+07,6.140210e+07,1.516458e+08,9.102226e+07,5,1
7,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07,5,1
8,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07,5,1
9,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07,5,1
10,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06,5,1
11,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08,5,1
12,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07,5,1
13,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07,5,1

In [77]:
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioClusterSub'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_cluster_sub = pd.concat([
     venta_cobrada_portafolio_cluster_sub.copy(),
     main.copy()
   ], 
   ignore_index=True
 )
# venta_cobrada_portafolio_cluster_sub = main.copy()
main = None
venta_cobrada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaCobradaPortafolioClusterSub,2023-01-01,7.876988e+06,1.597001e+07,0.49
1,1111111_1,VentaCobradaPortafolioClusterSub,2023-02-01,2.955258e+07,3.726336e+07,0.79
2,1111111_1,VentaCobradaPortafolioClusterSub,2023-03-01,4.983988e+07,5.642737e+07,0.88
3,1111111_1,VentaCobradaPortafolioClusterSub,2023-04-01,5.824450e+07,7.559138e+07,0.77
4,1111111_1,VentaCobradaPortafolioClusterSub,2023-05-01,7.708269e+07,9.262606e+07,0.83
...,...,...,...,...,...,...
1341,5032456_1,VentaCobradaPortafolioClusterSub,2023-03-01,1.163961e+08,2.105215e+08,0.55
1342,5032456_1,VentaCobradaPortafolioClusterSub,2023-04-01,1.182242e+08,2.806953e+08,0.42
1343,5032456_1,VentaCobradaPortafolioClusterSub,2023-05-01,2.338780e+08,3.508691e+08,0.67
1344,5032456_1,VentaCobradaPortafolioClusterSub,2023-06-01,2.957790e+08,4.298147e+08,0.69
1345,5032456_1,VentaCobradaPortafolioClusterSub,2023-07-01,3.868013e+08,4.912168e+08,0.79

## 23. Venta Facturada Portafolio Cluster (VentaFacturadaPortafolioCluster)

In [78]:
# VentaRecaudoPresupuesto
# VentaRecaudoReal (Venta)

# Merge de tablas
drop_cols = ['Recaudo', 'ZonaGeografica', 'Canal']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado', 'Cluster', 'Division', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['CodigoEmpleado', 'AreaCalculo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Validación. Se eliminan presupuestos  = 0
main['Real'].fillna(0, inplace=True)
main['AreaCalculo'].fillna(0, inplace=True)
main = main[main.Presupuesto.notnull()]

# Calcular
main = main.groupby(['CodigoEmpleado', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'Cluster']],
    main,
    on=['CodigoEmpleado', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioCluster'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster = main.copy()
main = None
venta_facturada_portafolio_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111,VentaFacturadaPortafolioCluster,2023-01-01,9.259488e+07,9.373873e+07,0.99
1,1111111,VentaFacturadaPortafolioCluster,2023-02-01,2.389538e+08,2.172042e+08,1.10
2,1111111,VentaFacturadaPortafolioCluster,2023-03-01,4.436934e+08,3.878528e+08,1.14
3,1111111,VentaFacturadaPortafolioCluster,2023-04-01,6.019391e+08,5.530924e+08,1.09
4,1111111,VentaFacturadaPortafolioCluster,2023-05-01,9.389069e+08,7.133952e+08,1.32
...,...,...,...,...,...,...
224,9990010,VentaFacturadaPortafolioCluster,2023-07-01,3.879634e+09,2.538403e+09,1.53
225,9990011,VentaFacturadaPortafolioCluster,2023-01-01,2.513986e+08,3.677603e+08,0.68
226,9990011,VentaFacturadaPortafolioCluster,2023-02-01,6.297166e+08,8.246725e+08,0.76
227,9990011,VentaFacturadaPortafolioCluster,2023-03-01,1.041165e+09,1.371885e+09,0.76
228,9990011,VentaFacturadaPortafolioCluster,2023-04-01,1.485682e+09,1.838927e+09,0.81

## 24. Venta Facturada Portafolio Cluster sub (VentaFacturadaPortafolioClusterSub)

In [79]:
drop_cols = ['Recaudo', 'Canal', 'ZonaGeografica']
area_calculo_sba = area_calculo_sba_completo.copy()
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)


# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
real = real.groupby(['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'], as_index=False)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = pd.merge(
    ppto.rename(columns={'Venta': 'Presupuesto'}),
    real.rename(columns={'Venta': 'Real'}),
    on=['CodigoEmpleado','Division', 'Cluster', 'GrupoProducto', 'SBA', 'Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['CodigoEmpleado'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]

# Traer Consecutivos
main = main.merge(
    area_calculo_sba,
    on=['AreaCalculo', 'Division', 'GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
main.dropna(subset=['Consecutivo'], inplace=True)
main = main[main.Presupuesto.notnull()]

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Cluster', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

### Agrupación a nivel de empleado por clusters
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]   
###


venta_facturada_portafolio_cluster_sub = main.copy()
main = None
venta_facturada_portafolio_cluster_sub

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111111_1,VentaFacturadaPortafolioClusterSub,2023-01-01,3471849.0,6.566834e+06,0.53
1,1111111_1,VentaFacturadaPortafolioClusterSub,2023-02-01,33400222.0,2.209323e+07,1.51
2,1111111_1,VentaFacturadaPortafolioClusterSub,2023-03-01,51408188.0,4.382913e+07,1.17
3,1111111_1,VentaFacturadaPortafolioClusterSub,2023-04-01,93475176.0,6.866710e+07,1.36
4,1111111_1,VentaFacturadaPortafolioClusterSub,2023-05-01,113950827.5,8.375149e+07,1.36
...,...,...,...,...,...,...
1327,9990011_5,VentaFacturadaPortafolioClusterSub,2023-02-01,0.0,2.586341e+06,0.00
1328,9990011_5,VentaFacturadaPortafolioClusterSub,2023-03-01,0.0,4.310568e+06,0.00
1329,9990011_5,VentaFacturadaPortafolioClusterSub,2023-04-01,847920.0,6.322167e+06,0.13
1330,9990011_5,VentaFacturadaPortafolioClusterSub,2023-06-01,847920.0,8.908508e+06,0.10
1331,9990011_5,VentaFacturadaPortafolioClusterSub,2023-07-01,847920.0,1.178222e+07,0.07

## 25. Venta cobrada y facturada portafolio (VentaCobradaPortafolioPais, VentaFacturadaPortafolioZonaSub, VentaCobradaPortafolioZona, VentaCobradaPortafolioClusterSub, VentaFacturadaPorfafolioCluster)

In [80]:
def pre_merge_venta_cobrada_zona_hospitalaria_sub(x):
    x['Consecutivo'] = x['Consecutivo'].astype('str')
    return x

### 25.1 Para VE

In [81]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='VE']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_real = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los VE
venta_recaudo_presupuesto_original_ve_presupuesto = area_calculo_sba_completo_ve.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Cluster', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.1.1 VentaCobradaPortafolioPais

In [82]:
recaudo_real_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_ve,
    right=recaudo_real_ve,
    on=['AreaCalculo', 'Fecha'],
    how='left'
)

# TODO Validar si los resultados anteriores a fecha de ingreso se ignoran para TODOS

main['Real'].fillna(0.0, inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

main['AreaCalculo'] = main['AreaCalculo'].astype('str')
main['Contexto'] = 'VE_' + main['AreaCalculo']
main['Variable'] = 'VentaCobradaPortafolioPais'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_portafolio_pais_ve = main.copy()
main = None

venta_cobrada_portafolio_pais_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,VE_1,VentaCobradaPortafolioPais,2023-01-01,7.209191e+08,7.071964e+08,1.02
1,VE_1,VentaCobradaPortafolioPais,2023-02-01,1.620202e+09,1.650125e+09,0.98
2,VE_1,VentaCobradaPortafolioPais,2023-03-01,2.297356e+09,2.498761e+09,0.92
3,VE_1,VentaCobradaPortafolioPais,2023-04-01,3.324012e+09,3.347396e+09,0.99
4,VE_1,VentaCobradaPortafolioPais,2023-05-01,4.531091e+09,4.101739e+09,1.10
...,...,...,...,...,...,...
79,VE_12,VentaCobradaPortafolioPais,2023-03-01,9.131422e+08,1.149746e+09,0.79
80,VE_12,VentaCobradaPortafolioPais,2023-04-01,1.616317e+09,1.540226e+09,1.05
81,VE_12,VentaCobradaPortafolioPais,2023-05-01,2.127809e+09,1.887319e+09,1.13
82,VE_12,VentaCobradaPortafolioPais,2023-06-01,2.466644e+09,2.191025e+09,1.13
83,VE_12,VentaCobradaPortafolioPais,2023-07-01,2.913481e+09,2.581505e+09,1.13

#### 25.1.2 VentaCobradaPortafolioZona

In [83]:
print(venta_recaudo_presupuesto_original_ve_real)

recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###


main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZona'
main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_ve = main.copy()
main = None

venta_cobrada_portafolio_zona_ve

      AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado  \
0               2            1       AE           CEK  35           VE
1               4            1       HC           630  08           VE
2               4            1       HC           630  08           VE
3               4            1       HC           630  08           VE
4               4            1       HC           630  08           VE
...           ...          ...      ...           ...  ..          ...
6152           12            2       AE           M06  31           VE
6153           12            2       AE           M06  31           VE
6154           12            2       AE           M06  31           VE
6155           12            2       AE           M06  31           VE
6156           12            2       AE           M06  30           VE

     ZonaGeografica Cluster             Canal      Fecha       Venta  \
0            CENTRO       0  Distribuidor AMB 2023-07-01   1050000.0
1             NORTE      16      Distribuidor 2023-07-01   1044000.0
2             NORTE      16          HOSPITAL 2023-07-01  55320000.0
3             Norte      16      Distribuidor 2023-02-01   3104000.0
4             Norte      16      Distribuidor 2023-03-01         0.0
...             ...     ...               ...        ...         ...
6152         CENTRO       4      Distribuidor 2023-07-01   3142232.0
6153         CENTRO       4          HOSPITAL 2023-07-01   2763400.0
6154         Centro       4      Distribuidor 2023-05-01   4369894.0
6155         Centro       4          Hospital 2023-05-01   5250000.0
6156   Suroccidente      10          Hospital 2023-05-01  19212116.0

         Recaudo
0            0.0
1      1970000.0
2     41967500.0
3            0.0
4       378000.0
...          ...
6152  11861104.0
6153    841700.0
6154   1033632.0
6155         0.0
6156         0.0

[6157 rows x 12 columns]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723,VentaCobradaPortafolioZona,2023-01-01,1.992647e+08,2.377765e+08,0.84
1,1030524723,VentaCobradaPortafolioZona,2023-02-01,3.943198e+08,5.072566e+08,0.78
2,1030524723,VentaCobradaPortafolioZona,2023-03-01,8.162964e+08,8.242919e+08,0.99
3,1030524723,VentaCobradaPortafolioZona,2023-04-01,1.068289e+09,1.046217e+09,1.02
4,1030524723,VentaCobradaPortafolioZona,2023-05-01,1.265571e+09,1.268141e+09,1.00
...,...,...,...,...,...,...
123,94487610,VentaCobradaPortafolioZona,2023-03-01,4.560851e+09,4.963166e+09,0.92
124,94487610,VentaCobradaPortafolioZona,2023-04-01,6.036163e+09,6.433733e+09,0.94
125,94487610,VentaCobradaPortafolioZona,2023-05-01,7.473871e+09,7.904301e+09,0.95
126,94487610,VentaCobradaPortafolioZona,2023-06-01,9.516225e+09,9.558690e+09,1.00
127,94487610,VentaCobradaPortafolioZona,2023-07-01,1.105952e+10,1.084544e+10,1.02

In [84]:
def _get_or_create_zona_cluster(empleado, cluster, zona):
    if not empleado or not (cluster or zona):
        return False
    return True

_get_or_create_zona_cluster(True, True, None)

True

#### 25.1.3 VentaFacturadaPortafolioZonaSub

In [85]:
venta_real_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_zona_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_zona_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_zona_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_zona_consecutivo_ve,
    right=venta_real_zona_consecutivo_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaSub'
main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_zona_sub_ve = main.copy()
main = None

venta_facturada_portafolio_zona_sub_ve

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-01-01,2.161870e+08,1.717275e+08,1.26
1,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-02-01,3.797419e+08,3.863868e+08,0.98
2,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-03-01,7.135641e+08,6.340707e+08,1.13
3,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-04-01,9.521054e+08,8.982668e+08,1.06
4,1030524723_1,VentaFacturadaPortafolioZonaSub,2023-05-01,1.246057e+09,1.178975e+09,1.06
...,...,...,...,...,...,...
318,94487610_4,VentaFacturadaPortafolioZonaSub,2023-03-01,1.482121e+09,1.311386e+09,1.13
319,94487610_4,VentaFacturadaPortafolioZonaSub,2023-04-01,1.879141e+09,1.669037e+09,1.13
320,94487610_4,VentaFacturadaPortafolioZonaSub,2023-05-01,2.390553e+09,2.145904e+09,1.11
321,94487610_4,VentaFacturadaPortafolioZonaSub,2023-06-01,2.846771e+09,2.682380e+09,1.06
322,94487610_4,VentaFacturadaPortafolioZonaSub,2023-07-01,3.384706e+09,3.099640e+09,1.09

#### 25.1.4 VentaCobradaPortafolioCluster

In [86]:
recaudo_real_cluster_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_cluster_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_cluster_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_cluster_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_cluster_ve,
    right=recaudo_real_cluster_ve,
    on=['Cluster', 'AreaCalculo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioCluster'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaPortafolioCluster',
    columnas_extra=['CodigoEmpleado'],
    columnas_extra_merge=['CodigoEmpleado']
)
###

main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_cluster_ve = main.copy()
main = None

venta_cobrada_portafolio_cluster_ve

['CodigoEmpleado'] ['CodigoEmpleado']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239,VentaCobradaPortafolioCluster,2023-01-01,1.558018e+08,2.695978e+08,0.58
1,31308239,VentaCobradaPortafolioCluster,2023-02-01,2.834870e+08,5.242180e+08,0.54
2,31308239,VentaCobradaPortafolioCluster,2023-03-01,5.987696e+08,7.938158e+08,0.75
3,31308239,VentaCobradaPortafolioCluster,2023-04-01,8.106876e+08,1.033458e+09,0.78
4,31308239,VentaCobradaPortafolioCluster,2023-05-01,1.034753e+09,1.273101e+09,0.81
5,31308239,VentaCobradaPortafolioCluster,2023-06-01,1.216009e+09,1.542699e+09,0.79
6,31308239,VentaCobradaPortafolioCluster,2023-07-01,1.469252e+09,1.752386e+09,0.84
7,5002699,VentaCobradaPortafolioCluster,2023-01-01,3.617187e+08,4.895625e+08,0.74
8,5002699,VentaCobradaPortafolioCluster,2023-02-01,8.202423e+08,9.519272e+08,0.86
9,5002699,VentaCobradaPortafolioCluster,2023-03-01,1.097340e+09,1.441490e+09,0.76
10,5002699,VentaCobradaPortafolioCluster,2023-04-01,1.709440e+09,1.876656e+09,0.91
11,5002699,VentaCobradaPortafolioCluster,2023-05-01,2.054169e+09,2.311823e+09,0.89
12,5002699,VentaCobradaPortafolioCluster,2023-06-01,2.507536e+09,2.801386e+09,0.90
13,5002699,VentaCobradaPortafolioCluster,2023-07-01,2.979611e+09,3.182157e+09,0.94
14,5004589,VentaCobradaPortafolioCluster,2023-01-01,1.698499e+07,9.029638e+07,0.19
15,5004589,VentaCobradaPortafolioCluster,2023-02-01,8.497291e+07,1.755763e+08,0.48
16,5004589,VentaCobradaPortafolioCluster,2023-03-01,1.304184e+08,2.658727e+08,0.49
17,5004589,VentaCobradaPortafolioCluster,2023-04-01,1.954951e+08,3.461361e+08,0.56
18,5004589,VentaCobradaPortafolioCluster,2023-05-01,2.539979e+08,4.263996e+08,0.60
19,5004589,VentaCobradaPortafolioCluster,2023-06-01,2.701977e+08,5.166960e+08,0.52
20,5004589,VentaCobradaPortafolioCluster,2023-07-01,3.197170e+08,5.869265e+08,0.54
21,5041772,VentaCobradaPortafolioCluster,2023-01-01,4.865594e+07,1.730035e+08,0.28
22,5041772,VentaCobradaPortafolioCluster,2023-02-01,2.511088e+08,3.690741e+08,0.68
23,5041772,VentaCobradaPortafolioCluster,2023-03-01,2.972803e+08,5.766783e+08,0.52
24,5041772,VentaCobradaPortafolioCluster,2023-04-01,5.966615e+08,7.381482e+08,0.81
25,5041772,VentaCobradaPortafolioCluster,2023-05-01,7.135781e+08,9.457524e+08,0.75
26,5041772,VentaCobradaPortafolioCluster,2023-06-01,1.040984e+09,1.084155e+09,0.96
27,5041772,VentaCobradaPortafolioCluster,2023-07-01,1.060441e+09,1.337894e+09,0.79

#### 25.1.5 VentaFacturadaPortafolioClusterSub

In [87]:
venta_real_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_real.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_real_cluster_consecutivo_ve.rename(columns={'Venta': 'Real'}, inplace=True)

venta_presupuesto_cluster_consecutivo_ve = venta_recaudo_presupuesto_original_ve_presupuesto.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'], as_index=False).agg({'Venta': 'sum'})
venta_presupuesto_cluster_consecutivo_ve.rename(columns={'Venta': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=venta_presupuesto_cluster_consecutivo_ve,
    right=venta_real_cluster_consecutivo_ve,
    on=['Cluster', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'Cluster', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Cluster']],
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'Cluster'],
    how='left'
)

main = pd.merge(
    left=main,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on=['CodigoEmpleado'],
    how='left'
)
main = main[main['Fecha'] >= main['FechaIngreso']]
main.drop(columns=['FechaIngreso'], inplace=True)

main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioClusterSub'

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaFacturadaPortafolioClusterSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'],
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo']
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_facturada_portafolio_cluster_sub_ve = main.copy()
main = None

venta_facturada_portafolio_cluster_sub_ve

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,31308239_1,VentaFacturadaPortafolioClusterSub,2023-01-01,0.000000e+00,1.171782e+04,0.00
1,31308239_1,VentaFacturadaPortafolioClusterSub,2023-02-01,0.000000e+00,2.182069e+04,0.00
2,31308239_1,VentaFacturadaPortafolioClusterSub,2023-03-01,0.000000e+00,3.869233e+04,0.00
3,31308239_1,VentaFacturadaPortafolioClusterSub,2023-04-01,0.000000e+00,5.109480e+04,0.00
4,31308239_1,VentaFacturadaPortafolioClusterSub,2023-05-01,0.000000e+00,6.421942e+04,0.00
5,31308239_1,VentaFacturadaPortafolioClusterSub,2023-06-01,0.000000e+00,7.637594e+04,0.00
6,31308239_1,VentaFacturadaPortafolioClusterSub,2023-07-01,2.592000e+06,9.083856e+04,28.53
7,31308239_2,VentaFacturadaPortafolioClusterSub,2023-01-01,1.187175e+08,2.127358e+08,0.56
8,31308239_2,VentaFacturadaPortafolioClusterSub,2023-02-01,2.874547e+08,3.961523e+08,0.73
9,31308239_2,VentaFacturadaPortafolioClusterSub,2023-03-01,5.506225e+08,7.024553e+08,0.78
10,31308239_2,VentaFacturadaPortafolioClusterSub,2023-04-01,7.401823e+08,9.276208e+08,0.80
11,31308239_2,VentaFacturadaPortafolioClusterSub,2023-05-01,9.162761e+08,1.165897e+09,0.79
12,31308239_2,VentaFacturadaPortafolioClusterSub,2023-06-01,1.200521e+09,1.386597e+09,0.87
13,31308239_2,VentaFacturadaPortafolioClusterSub,2023-07-01,1.473098e+09,1.649165e+09,0.89
14,5002699_1,VentaFacturadaPortafolioClusterSub,2023-01-01,0.000000e+00,2.118863e+07,0.00
15,5002699_1,VentaFacturadaPortafolioClusterSub,2023-02-01,0.000000e+00,3.945705e+07,0.00
16,5002699_1,VentaFacturadaPortafolioClusterSub,2023-03-01,-1.657200e+05,6.996504e+07,-0.00
17,5002699_1,VentaFacturadaPortafolioClusterSub,2023-04-01,-1.657200e+05,9.239169e+07,-0.00
18,5002699_1,VentaFacturadaPortafolioClusterSub,2023-05-01,-1.657200e+05,1.161242e+08,-0.00
19,5002699_1,VentaFacturadaPortafolioClusterSub,2023-06-01,-1.657200e+05,1.381061e+08,-0.00
20,5002699_1,VentaFacturadaPortafolioClusterSub,2023-07-01,3.888780e+06,1.642580e+08,0.02
21,5002699_2,VentaFacturadaPortafolioClusterSub,2023-01-01,2.580425e+08,3.651394e+08,0.71
22,5002699_2,VentaFacturadaPortafolioClusterSub,2023-02-01,5.351699e+08,6.799554e+08,0.79
23,5002699_2,VentaFacturadaPortafolioClusterSub,2023-03-01,1.014403e+09,1.205693e+09,0.84
24,5002699_2,VentaFacturadaPortafolioClusterSub,2023-04-01,1.455289e+09,1.592167e+09,0.91
25,5002699_2,VentaFacturadaPortafolioClusterSub,2023-05-01,1.864326e+09,2.001144e+09,0.93
26,5002699_2,VentaFacturadaPortafolioClusterSub,2023-06-01,2.322576e+09,2.379954e+09,0.98
27,5002699_2,VentaFacturadaPortafolioClusterSub,2023-07-01,2.774582e+09,2.830625e+09,0.98
28,5004589_1,VentaFacturadaPortafolioClusterSub,2023-01-01,5.611200e+05,1.451551e+06,0.39
29,5004589_1,VentaFacturadaPortafolioClusterSub,2023-02-01,5.611200e+05,2.703050e+06,0.21
30,5004589_1,VentaFacturadaPortafolioClusterSub,2023-03-01,0.000000e+00,4.793035e+06,0.00
31,5004589_1,VentaFacturadaPortafolioClusterSub,2023-04-01,0.000000e+00,6.329398e+06,0.00
32,5004589_1,VentaFacturadaPortafolioClusterSub,2023-05-01,0.000000e+00,7.955217e+06,0.00
33,5004589_1,VentaFacturadaPortafolioClusterSub,2023-06-01,0.000000e+00,9.461114e+06,0.00
34,5004589_1,VentaFacturadaPortafolioClusterSub,2023-07-01,0.000000e+00,1.125268e+07,0.00
35,5004589_2,VentaFacturadaPortafolioClusterSub,2023-01-01,1.704325e+07,6.980395e+07,0.24
36,5004589_2,VentaFacturadaPortafolioClusterSub,2023-02-01,4.517220e+07,1.299875e+08,0.35
37,5004589_2,VentaFacturadaPortafolioClusterSub,2023-03-01,8.228041e+07,2.304932e+08,0.36
38,5004589_2,VentaFacturadaPortafolioClusterSub,2023-04-01,1.285538e+08,3.043757e+08,0.42
39,5004589_2,VentaFacturadaPortafolioClusterSub,2023-05-01,1.740488e+08,3.825601e+08,0.45
40,5004589_2,VentaFacturadaPortafolioClusterSub,2023-06-01,2.494586e+08,4.549775e+08,0.55
41,5004589_2,VentaFacturadaPortafolioClusterSub,2023-07-01,3.926589e+08,5.411324e+08,0.73
42,5041772_1,VentaFacturadaPortafolioClusterSub,2023-01-01,1.039438e+08,1.445959e+08,0.72
43,5041772_1,VentaFacturadaPortafolioClusterSub,2023-02-01,4.140229e+08,2.855151e+08,1.45
44,5041772_1,VentaFacturadaPortafolioClusterSub,2023-03-01,5.662828e+08,3.750785e+08,1.51
45,5041772_1,VentaFacturadaPortafolioClusterSub,2023-04-01,7.263641e+08,6.755896e+08,1.08
46,5041772_1,VentaFacturadaPortafolioClusterSub,2023-05-01,9.569744e+08,8.019011e+08,1.19
47,5041772_1,VentaFacturadaPortafolioClusterSub,2023-06-01,1.130240e+09,9.447566e+08,1.20
48,5041772_1,VentaFacturadaPortafolioClusterSub,2023-07-01,1.450023e+09,1.126219e+09,1.29

### 25.2 Para GC

In [88]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GC']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_real = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GC
venta_recaudo_presupuesto_original_gc_presupuesto = area_calculo_sba_completo_gc.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.2.1 VentaCobradaZonaHospitalarioSub

In [89]:
recaudo_real_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gc = recaudo_real_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gc = venta_recaudo_presupuesto_original_gc_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gc = recaudo_presupuesto_zona_sub_ch_gc.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gc,
    right=recaudo_real_zona_sub_ch_gc,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GC'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_cobrada_zona_hospitalario_sub_gc = main.copy()
main = None
resultado_cualitativos_variable = None

venta_cobrada_zona_hospitalario_sub_gc

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaHospitalarioSub,2023-01-01,7.681893e+08,5.958822e+08,1.29
1,5002711_1,VentaCobradaZonaHospitalarioSub,2023-02-01,1.479304e+09,1.389211e+09,1.06
2,5002711_1,VentaCobradaZonaHospitalarioSub,2023-03-01,2.131384e+09,2.104269e+09,1.01
3,5002711_1,VentaCobradaZonaHospitalarioSub,2023-04-01,2.738384e+09,2.819328e+09,0.97
4,5002711_1,VentaCobradaZonaHospitalarioSub,2023-05-01,4.300922e+09,3.411701e+09,1.26
5,5002711_1,VentaCobradaZonaHospitalarioSub,2023-06-01,5.183820e+09,3.930028e+09,1.32
6,5002711_2,VentaCobradaZonaHospitalarioSub,2023-01-01,2.465188e+09,3.146105e+09,0.78
7,5002711_2,VentaCobradaZonaHospitalarioSub,2023-02-01,5.842979e+09,6.280331e+09,0.93
8,5002711_2,VentaCobradaZonaHospitalarioSub,2023-03-01,8.654276e+09,9.412804e+09,0.92
9,5002711_2,VentaCobradaZonaHospitalarioSub,2023-04-01,1.131280e+10,1.220934e+10,0.93
10,5002711_2,VentaCobradaZonaHospitalarioSub,2023-05-01,1.420448e+10,1.483721e+10,0.96
11,5002711_2,VentaCobradaZonaHospitalarioSub,2023-06-01,1.713697e+10,1.779357e+10,0.96
12,5002711_3,VentaCobradaZonaHospitalarioSub,2023-01-01,5.272708e+07,8.775323e+07,0.60
13,5002711_3,VentaCobradaZonaHospitalarioSub,2023-02-01,1.486158e+08,1.872069e+08,0.79
14,5002711_3,VentaCobradaZonaHospitalarioSub,2023-03-01,2.258548e+08,2.989407e+08,0.76
15,5002711_3,VentaCobradaZonaHospitalarioSub,2023-04-01,3.182339e+08,3.786923e+08,0.84
16,5002711_3,VentaCobradaZonaHospitalarioSub,2023-05-01,4.389172e+08,4.419029e+08,0.99
17,5002711_3,VentaCobradaZonaHospitalarioSub,2023-06-01,4.907009e+08,5.199577e+08,0.94
18,5004298_1,VentaCobradaZonaHospitalarioSub,2023-01-01,1.324141e+09,1.225445e+09,1.08
19,5004298_1,VentaCobradaZonaHospitalarioSub,2023-02-01,2.564669e+09,2.857461e+09,0.90
20,5004298_1,VentaCobradaZonaHospitalarioSub,2023-03-01,3.722367e+09,4.327995e+09,0.86
21,5004298_1,VentaCobradaZonaHospitalarioSub,2023-04-01,5.276056e+09,5.798530e+09,0.91
22,5004298_1,VentaCobradaZonaHospitalarioSub,2023-05-01,6.675095e+09,6.861172e+09,0.97
23,5004298_1,VentaCobradaZonaHospitalarioSub,2023-06-01,7.692677e+09,7.790984e+09,0.99
24,5004298_2,VentaCobradaZonaHospitalarioSub,2023-01-01,2.959174e+09,4.325334e+09,0.68
25,5004298_2,VentaCobradaZonaHospitalarioSub,2023-02-01,6.614722e+09,8.627069e+09,0.77
26,5004298_2,VentaCobradaZonaHospitalarioSub,2023-03-01,1.003283e+10,1.292914e+10,0.78
27,5004298_2,VentaCobradaZonaHospitalarioSub,2023-04-01,1.560463e+10,1.677388e+10,0.93
28,5004298_2,VentaCobradaZonaHospitalarioSub,2023-05-01,1.870791e+10,1.946516e+10,0.96
29,5004298_2,VentaCobradaZonaHospitalarioSub,2023-06-01,2.237675e+10,2.249285e+10,0.99
30,5004298_3,VentaCobradaZonaHospitalarioSub,2023-01-01,1.147510e+08,2.871361e+08,0.40
31,5004298_3,VentaCobradaZonaHospitalarioSub,2023-02-01,4.101432e+08,6.035434e+08,0.68
32,5004298_3,VentaCobradaZonaHospitalarioSub,2023-03-01,6.108287e+08,9.505329e+08,0.64
33,5004298_3,VentaCobradaZonaHospitalarioSub,2023-04-01,1.151517e+09,1.213180e+09,0.95
34,5004298_3,VentaCobradaZonaHospitalarioSub,2023-05-01,1.414332e+09,1.334371e+09,1.06
35,5004298_3,VentaCobradaZonaHospitalarioSub,2023-06-01,1.612789e+09,1.470051e+09,1.10
36,5005980_1,VentaCobradaZonaHospitalarioSub,2023-01-01,1.052497e+09,7.460968e+08,1.41
37,5005980_1,VentaCobradaZonaHospitalarioSub,2023-02-01,2.108773e+09,1.740423e+09,1.21
38,5005980_1,VentaCobradaZonaHospitalarioSub,2023-03-01,2.731561e+09,2.635739e+09,1.04
39,5005980_1,VentaCobradaZonaHospitalarioSub,2023-04-01,3.687967e+09,3.531055e+09,1.04
40,5005980_1,VentaCobradaZonaHospitalarioSub,2023-05-01,5.478458e+09,4.289405e+09,1.28
41,5005980_1,VentaCobradaZonaHospitalarioSub,2023-06-01,6.231341e+09,4.952960e+09,1.26
42,5005980_1,VentaCobradaZonaHospitalarioSub,2023-07-01,6.457144e+09,5.386854e+09,1.20
43,5005980_2,VentaCobradaZonaHospitalarioSub,2023-01-01,4.063267e+09,3.626555e+09,1.12
44,5005980_2,VentaCobradaZonaHospitalarioSub,2023-02-01,6.306924e+09,7.241406e+09,0.87
45,5005980_2,VentaCobradaZonaHospitalarioSub,2023-03-01,9.865946e+09,1.085400e+10,0.91
46,5005980_2,VentaCobradaZonaHospitalarioSub,2023-04-01,1.268695e+10,1.407761e+10,0.90
47,5005980_2,VentaCobradaZonaHospitalarioSub,2023-05-01,1.573516e+10,1.695566e+10,0.93
48,5005980_2,VentaCobradaZonaHospitalarioSub,2023-06-01,1.914650e+10,2.019348e+10,0.95
49,5005980_2,VentaCobradaZonaHospitalarioSub,2023-07-01,2.069750e+10,2.155551e+10,0.96
50,5005980_3,VentaCobradaZonaHospitalarioSub,2023-01-01,1.921475e+08,1.588084e+08,1.21
51,5005980_3,VentaCobradaZonaHospitalarioSub,2023-02-01,2.535882e+08,3.387912e+08,0.75
52,5005980_3,VentaCobradaZonaHospitalarioSub,2023-03-01,4.878572e+08,5.386728e+08,0.91
53,5005980_3,VentaCobradaZonaHospitalarioSub,2023-04-01,5.318241e+08,6.854789e+08,0.78
54,5005980_3,VentaCobradaZonaHospitalarioSub,2023-05-01,6.479417e+08,8.277079e+08,0.78
55,5005980_3,VentaCobradaZonaHospitalarioSub,2023-06-01,8.555592e+08,9.774318e+08,0.88
56,5005980_3,VentaCobradaZonaHospitalarioSub,2023-07-01,8.861510e+08,1.070488e+09,0.83

### 25.3 Para GD

In [90]:
area_calculo_sba_completo_gd = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']=='GD']

#Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_real = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_real[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GD
venta_recaudo_presupuesto_original_gd_presupuesto = area_calculo_sba_completo_gd.merge(
    df_venta_recaudo_presupuesto[['Division', 'GrupoProducto', 'SBA', 'ZonaGeografica', 'Canal', 'Fecha', 'Venta', 'Recaudo']],
    on=['Division', 'GrupoProducto', 'SBA']
)

#### 25.3.1 VentaCobradaZonaHospitalarioSub

In [91]:
recaudo_real_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_real.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_real_zona_sub_ch_gd = recaudo_real_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_sub_ch_gd.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_sub_ch_gd = venta_recaudo_presupuesto_original_gd_presupuesto.query('Canal=="Hospital" or Canal=="Distribuidor" or Canal=="Opl" or Canal=="Asegurador" or Canal=="Central De Mezcla"')
recaudo_presupuesto_zona_sub_ch_gd = recaudo_presupuesto_zona_sub_ch_gd.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_sub_ch_gd.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_sub_ch_gd,
    right=recaudo_real_zona_sub_ch_gd,
    on=['ZonaGeografica', 'AreaCalculo', 'Consecutivo', 'Fecha'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Consecutivo', 'Fecha'])['Presupuesto'].transform(pd.Series.sum)

main['Consecutivo'] = main['Consecutivo'].astype('str')
main['TipoEmpleado'] = 'GD'

### Agrupación a nivel de empleado por zonas
main = pd.merge(
    df_zonas_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona']].rename(columns={'Zona': 'ZonaGeografica'}),
    main,
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica'],
    how='left'
)
main = main.groupby(['CodigoEmpleado', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['CodigoEmpleado', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaHospitalarioSub'
###

### Cálculo de resultados cualitativos precargados
main = sobreescribir_resultados_cualitativos(
    main=main,
    variable='VentaCobradaZonaHospitalarioSub',
    columnas_extra=['CodigoEmpleado', 'Consecutivo'], 
    columnas_extra_merge=['CodigoEmpleado', 'Consecutivo'],
    pre_merge_lambda=pre_merge_venta_cobrada_zona_hospitalaria_sub
)
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_zona_hospitalario_sub_gd = main.copy()
main = None

venta_cobrada_zona_hospitalario_sub_gd

['CodigoEmpleado', 'Consecutivo'] ['CodigoEmpleado', 'Consecutivo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5016692_1,VentaCobradaZonaHospitalarioSub,2023-01-01,8.792212e+08,1.246765e+09,0.71
1,5016692_1,VentaCobradaZonaHospitalarioSub,2023-02-01,1.841467e+09,2.493531e+09,0.74
2,5016692_1,VentaCobradaZonaHospitalarioSub,2023-03-01,2.804340e+09,3.740296e+09,0.75
3,5016692_1,VentaCobradaZonaHospitalarioSub,2023-04-01,4.544688e+09,4.848532e+09,0.94
4,5016692_1,VentaCobradaZonaHospitalarioSub,2023-05-01,5.369513e+09,5.519838e+09,0.97
...,...,...,...,...,...,...
99,6474959_6,VentaCobradaZonaHospitalarioSub,2023-02-01,7.470898e+09,7.856749e+09,0.95
100,6474959_6,VentaCobradaZonaHospitalarioSub,2023-03-01,1.101151e+10,1.181601e+10,0.93
101,6474959_6,VentaCobradaZonaHospitalarioSub,2023-04-01,1.436942e+10,1.540736e+10,0.93
102,6474959_6,VentaCobradaZonaHospitalarioSub,2023-05-01,1.894432e+10,1.869082e+10,1.01
103,6474959_6,VentaCobradaZonaHospitalarioSub,2023-06-01,2.281149e+10,2.224356e+10,1.03


## 26. Venta Facturada Nacional Canal Hospitalario (VentaFacturadaPaisHospitalario)

In [92]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()
main = main.drop(columns=['Zona'])

# Calcular
main = main.groupby(['Fecha'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPaisHospitalario'

# Formatear
main.reset_index(inplace=True)
main['Contexto']= 'BBMCO'
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_pais_ch = main.copy()
main = None
venta_facturada_pais_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaPaisHospitalario,2023-01-01,2.898651e+10,2.912322e+10,1.00
1,BBMCO,VentaFacturadaPaisHospitalario,2023-02-01,6.887975e+10,6.565610e+10,1.05
2,BBMCO,VentaFacturadaPaisHospitalario,2023-03-01,1.214272e+11,1.109361e+11,1.09

## 27. Venta Facturada Zona Hospitalario (VentaFacturadaZonaHospitalario)

In [93]:
# Preparar
main = df_zona_plan_real_venta_ch.copy()

# Calcular
main = main.groupby(['Fecha', 'Zona'], as_index=True)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Zona'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Zona'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaHospitalario'

# Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Limpiar
venta_facturada_zona_ch = main.copy()
main = None
venta_facturada_zona_ch

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
1,Norte,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
2,Suroccidente,VentaFacturadaZonaHospitalario,2023-01-01,9.662169e+09,9.707739e+09,1.00
3,Norte,VentaFacturadaZonaHospitalario,2023-02-01,3.625766e+10,3.406300e+10,1.06
4,Suroccidente,VentaFacturadaZonaHospitalario,2023-02-01,2.295992e+10,2.188537e+10,1.05
5,Norte,VentaFacturadaZonaHospitalario,2023-03-01,5.377347e+10,4.915634e+10,1.09
6,Suroccidente,VentaFacturadaZonaHospitalario,2023-03-01,5.799153e+10,5.207205e+10,1.11

## 28. Rentabilidad Zona Hospitalario CM2 (RentabilidadZonaHospitalarioCM2)

In [94]:
main = df_rentabilidad_zona.copy()

# Calcular
main = main.groupby(['Zona', 'Fecha'], as_index =False)[['Real', 'Presupuesto']].apply(sum)
main['PorcentajeCumplimiento'] = (main['Real'] / main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadZonaHospitalarioCM2'

#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Zona': 'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

# Zona - Fecha - Rentabilidad

# No hay datos

rentabilidad_zona_hospitalario_cm2 =  main.copy()
main = None
rentabilidad_zona_hospitalario_cm2

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Centro,RentabilidadZonaHospitalarioCM2,2023-03-01,5.655265e+09,5.488745e+09,1.03
1,Centro,RentabilidadZonaHospitalarioCM2,2023-04-01,7.878331e+09,7.443486e+09,1.06
2,Centro,RentabilidadZonaHospitalarioCM2,2023-05-01,1.055209e+10,9.698511e+09,1.09
3,Centro,RentabilidadZonaHospitalarioCM2,2023-06-01,1.316727e+10,1.191287e+10,1.11
4,Centro,RentabilidadZonaHospitalarioCM2,2023-07-01,1.516507e+10,1.422059e+10,1.07
5,Norte,RentabilidadZonaHospitalarioCM2,2023-03-01,3.918208e+09,3.708745e+09,1.06
6,Norte,RentabilidadZonaHospitalarioCM2,2023-04-01,5.316886e+09,4.988652e+09,1.07
7,Norte,RentabilidadZonaHospitalarioCM2,2023-05-01,6.942905e+09,6.522735e+09,1.06
8,Norte,RentabilidadZonaHospitalarioCM2,2023-06-01,8.480484e+09,8.020028e+09,1.06
9,Norte,RentabilidadZonaHospitalarioCM2,2023-07-01,1.022218e+10,9.561073e+09,1.07
10,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-03-01,4.074942e+09,4.114846e+09,0.99
11,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-04-01,6.341297e+09,5.547272e+09,1.14
12,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-05-01,8.273536e+09,7.274620e+09,1.14
13,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-06-01,1.013239e+10,8.930961e+09,1.13
14,Suroccidente,RentabilidadZonaHospitalarioCM2,2023-07-01,1.205632e+10,1.141761e+10,1.06

## 29. Venta Facturada Braun País (VentaFacturadaBraunPais)

In [95]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','CodigoEmpleado', 'ZonaGeografica','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['Fecha'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha'],
    how='left'
)
main['Real'].fillna(0, inplace=True)


# Calcular
main['Contexto']= 'BBMCO'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaBraunPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_braun_pais = main.copy()
main = None
venta_facturada_braun_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,VentaFacturadaBraunPais,2023-01-01,9.662169e+09,9.707739e+09,1.00
1,BBMCO,VentaFacturadaBraunPais,2023-02-01,2.295992e+10,2.188537e+10,1.05
2,BBMCO,VentaFacturadaBraunPais,2023-03-01,4.047573e+10,3.697871e+10,1.09
3,BBMCO,VentaFacturadaBraunPais,2023-04-01,5.482709e+10,5.020307e+10,1.09
4,BBMCO,VentaFacturadaBraunPais,2023-05-01,7.156359e+10,6.508550e+10,1.10
5,BBMCO,VentaFacturadaBraunPais,2023-06-01,8.860822e+10,7.990818e+10,1.11
6,BBMCO,VentaFacturadaBraunPais,2023-07-01,1.045548e+11,9.744750e+10,1.07

## 30. Rentabilidad Compañía CM3 (RentabilidadCompaniaCM3)

In [96]:
# Rentabilidad Real / Presupuesto
# Filtar paras CM3 compañía BBMCO
# Totalizar nivel país

main = df_rentabilidad.copy()
main.query('Compania == "BBMCO" and ClaseRentabilidad == "CMIII"', inplace=True)
main.drop(columns=['GrupoProducto', 'SBA', 'ClaseRentabilidad'], inplace=True)
main = main.groupby(['Compania', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'RentabilidadCompaniaCM3'


#Formatear
main.reset_index(inplace=True)
main.rename(columns={'Compania':'Contexto'}, inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

rentabilidad_compania_cm3 = main.copy()
main= None
rentabilidad_compania_cm3

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,BBMCO,RentabilidadCompaniaCM3,2023-03-01,1.851957e+09,1.944062e+09,0.95
1,BBMCO,RentabilidadCompaniaCM3,2023-04-01,3.154038e+09,3.001667e+09,1.05
2,BBMCO,RentabilidadCompaniaCM3,2023-05-01,4.711115e+09,4.596915e+09,1.02
3,BBMCO,RentabilidadCompaniaCM3,2023-06-01,6.235597e+09,6.161867e+09,1.01
4,BBMCO,RentabilidadCompaniaCM3,2023-07-01,7.644411e+09,9.193633e+09,0.83

## 31. Venta Facturada Grupo clientes (KAM) VentaFacturadaGrupoClientesKAMS

In [97]:
main = df_venta_recaudo_kams.drop(columns=['RecaudoReal', 'RecaudoPresupuesto'])
main.rename(columns={'VentaReal': 'Real', 'VentaPresupuesto':'Presupuesto'}, inplace=True)

main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)

main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str')
main['Variable'] = 'VentaFacturadaGrupoClientesKAMS'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_facturada_grupo_clientes_kams = main
main = None
venta_facturada_grupo_clientes_kams

# Contexto: TipoEmpleado_AreaCalculo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1,VentaFacturadaGrupoClientesKAMS,2023-04-01,0.000000e+00,0.000000e+00,NaN
1,kam_1,VentaFacturadaGrupoClientesKAMS,2023-05-01,0.000000e+00,0.000000e+00,NaN
2,kam_1,VentaFacturadaGrupoClientesKAMS,2023-06-01,0.000000e+00,0.000000e+00,NaN
3,kam_1,VentaFacturadaGrupoClientesKAMS,2023-07-01,0.000000e+00,0.000000e+00,NaN
4,kam_2,VentaFacturadaGrupoClientesKAMS,2023-01-01,6.710470e+08,7.260103e+08,0.92
5,kam_2,VentaFacturadaGrupoClientesKAMS,2023-02-01,1.631436e+09,1.616606e+09,1.01
6,kam_2,VentaFacturadaGrupoClientesKAMS,2023-03-01,2.845732e+09,2.715695e+09,1.05
7,kam_2,VentaFacturadaGrupoClientesKAMS,2023-04-01,4.019864e+09,3.623344e+09,1.11
8,kam_2,VentaFacturadaGrupoClientesKAMS,2023-05-01,4.989944e+09,4.736295e+09,1.05
9,kam_2,VentaFacturadaGrupoClientesKAMS,2023-06-01,6.066537e+09,5.739784e+09,1.06
10,kam_2,VentaFacturadaGrupoClientesKAMS,2023-07-01,7.136864e+09,6.914657e+09,1.03
11,kam_3,VentaFacturadaGrupoClientesKAMS,2023-01-01,2.588077e+09,2.426071e+09,1.07
12,kam_3,VentaFacturadaGrupoClientesKAMS,2023-02-01,6.586396e+09,5.408810e+09,1.22
13,kam_3,VentaFacturadaGrupoClientesKAMS,2023-03-01,1.152426e+10,9.120544e+09,1.26
14,kam_3,VentaFacturadaGrupoClientesKAMS,2023-04-01,1.452143e+10,1.240716e+10,1.17
15,kam_3,VentaFacturadaGrupoClientesKAMS,2023-05-01,1.892199e+10,1.604442e+10,1.18
16,kam_3,VentaFacturadaGrupoClientesKAMS,2023-06-01,2.324985e+10,1.962652e+10,1.18
17,kam_3,VentaFacturadaGrupoClientesKAMS,2023-07-01,2.557411e+10,2.192172e+10,1.17
18,kam_4,VentaFacturadaGrupoClientesKAMS,2023-04-01,0.000000e+00,0.000000e+00,NaN
19,kam_4,VentaFacturadaGrupoClientesKAMS,2023-05-01,0.000000e+00,0.000000e+00,NaN
20,kam_4,VentaFacturadaGrupoClientesKAMS,2023-06-01,0.000000e+00,0.000000e+00,NaN
21,kam_4,VentaFacturadaGrupoClientesKAMS,2023-07-01,0.000000e+00,0.000000e+00,NaN

## 32. Venta Cobrada Grupo clientes (KAM) VentaCobradaGrupoClientesKAMSSub

In [98]:
main = df_venta_recaudo_kams.drop(columns=['VentaReal', 'VentaPresupuesto'])
main.rename(columns={'RecaudoReal': 'Real', 'RecaudoPresupuesto':'Presupuesto'}, inplace=True)


main = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)
main['Real'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['TipoEmpleado', 'AreaCalculo', 'Consecutivo'])['Presupuesto'].transform(pd.Series.cumsum)

main['Contexto'] = main['TipoEmpleado'].str.lower() + '_' +  main['AreaCalculo'].astype(int).astype('str') + '_'+ main['Consecutivo'].astype(int).astype('str')
main['Variable'] = 'VentaCobradaGrupoClientesKAMSSub'
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

venta_cobrada_grupo_clientes_kams_sub = main
main = None
venta_cobrada_grupo_clientes_kams_sub

# Contexto: TipoEmpleado_AreaCalculo_Consecutivo

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-04-01,0.0,0.0,NaN
1,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-05-01,0.0,0.0,NaN
2,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-06-01,0.0,0.0,NaN
3,kam_1_1,VentaCobradaGrupoClientesKAMSSub,2023-07-01,0.0,0.0,NaN
4,kam_1_2,VentaCobradaGrupoClientesKAMSSub,2023-04-01,0.0,0.0,NaN
...,...,...,...,...,...,...
61,kam_4_2,VentaCobradaGrupoClientesKAMSSub,2023-07-01,0.0,0.0,NaN
62,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-04-01,0.0,0.0,NaN
63,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-05-01,0.0,0.0,NaN
64,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-06-01,0.0,0.0,NaN
65,kam_4_3,VentaCobradaGrupoClientesKAMSSub,2023-07-01,0.0,0.0,NaN

## 33. KPIs Surgical

In [99]:
### Cálculo de resultados cualitativos precargados
main = df_resultados_variables_cualitativas[df_resultados_variables_cualitativas['Variable'] == 'KpisSurgical'].copy()
main['Contexto'] = main['CodigoEmpleado'].str.lower() + '_' + main['Consecutivo'].astype(int).astype('str')
main['Real'] = np.nan
main['Presupuesto'] = np.nan
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###
kpis_surgical = main
main = None
kpis_surgical

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,51790647_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
1,51790647_2,KpisSurgical,2023-03-01,NaN,NaN,1.13
2,51790647_3,KpisSurgical,2023-03-01,NaN,NaN,1.09
3,52875549_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
4,51789567_1,KpisSurgical,2023-03-01,NaN,NaN,0.94
...,...,...,...,...,...,...
355,80201251_2,KpisSurgical,2023-07-01,NaN,NaN,1.13
356,80201251_3,KpisSurgical,2023-07-01,NaN,NaN,1.01
357,52353176_1,KpisSurgical,2023-07-01,NaN,NaN,0.94
358,52353176_2,KpisSurgical,2023-07-01,NaN,NaN,1.13
359,52353176_3,KpisSurgical,2023-07-01,NaN,NaN,1.01

# Nuevos rubros 2023

## 34. VentaCobradaPortafolioZonaClusterSub

In [100]:
area_calculo_sba_completo_ve = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado'] == 'VE']
area_calculo_sba_completo_ve.head()

     AreaCalculo  Consecutivo Division GrupoProducto SBA TipoEmpleado
409            1            1       AE           005               VE
410            1            1       AE           M07               VE
411            1            2       AE           M08               VE
412            2            1       AE           003               VE
413            2            1       AE           CEK  35           VE

In [101]:
venta_recaudo_presupuesto_original_ve_real.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,2,1,AE,CEK,35,VE,CENTRO,0,Distribuidor AMB,2023-07-01,1050000.0,0.0
1,4,1,HC,630,08,VE,NORTE,16,Distribuidor,2023-07-01,1044000.0,1970000.0
2,4,1,HC,630,08,VE,NORTE,16,HOSPITAL,2023-07-01,55320000.0,41967500.0
3,4,1,HC,630,08,VE,Norte,16,Distribuidor,2023-02-01,3104000.0,0.0
4,4,1,HC,630,08,VE,Norte,16,Distribuidor,2023-03-01,0.0,378000.0

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto

In [102]:
drop_cols = ['Canal', 'TipoEmpleado','Venta']
venta_recaudo_presupuesto_original_ve_real_zona_cluster = pd.merge(
    left=area_calculo_sba_completo_ve,
    right=venta_recaudo_presupuesto_original_ve_real,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)

venta_recaudo_presupuesto_original_ve_real_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,CENTRO,0,Distribuidor AMB,2023-07-01,1050000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6170,12,2,AE,M06,31,VE,CENTRO,4,Distribuidor,2023-07-01,3142232.0,11861104.0
6171,12,2,AE,M06,31,VE,CENTRO,4,HOSPITAL,2023-07-01,2763400.0,841700.0
6172,12,2,AE,M06,31,VE,Centro,4,Distribuidor,2023-05-01,4369894.0,1033632.0
6173,12,2,AE,M06,31,VE,Centro,4,Hospital,2023-05-01,5250000.0,0.0
6174,12,2,AE,M06,30,VE,Suroccidente,10,Hospital,2023-05-01,19212116.0,0.0

### Merge entre area de cálculo SBA y Venta Recaudo Presupuesto y Empleado

In [103]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster = pd.merge(
    left=area_calculo_sba_completo_ve,
    right=venta_recaudo_presupuesto_original_ve_presupuesto,
    on=['AreaCalculo', 'Consecutivo', 'Division','GrupoProducto', 'SBA', 'TipoEmpleado'],
    how='left'
)
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,CENTRO,0,Distribuidor AMB,2023-07-01,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...
8934,12,2,AE,M06,31,VE,Centro,4,Distribuidor,2023-05-01,8.020733e+05,9.476804e+05
8935,12,2,AE,M06,31,VE,Centro,4,Distribuidor,2023-06-01,1.357355e+06,8.292203e+05
8936,12,2,AE,M06,31,VE,Centro,4,Hospital,2023-05-01,3.217072e+06,3.801095e+06
8937,12,2,AE,M06,31,VE,Centro,4,Hospital,2023-06-01,5.444276e+06,3.325958e+06
8938,12,2,AE,M06,30,VE,Suroccidente,10,Hospital,2023-05-01,0.000000e+00,0.000000e+00

In [104]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_ve

      AreaCalculo ZonaGeografica      Fecha Cluster  Consecutivo         Real
0               1         CENTRO 2023-07-01       1            1  115421595.0
1               1         CENTRO 2023-07-01       1            2   70303100.0
2               1         CENTRO 2023-07-01       2            1          0.0
3               1         CENTRO 2023-07-01       3            1   60876490.0
4               1         CENTRO 2023-07-01       3            2   53843130.0
...           ...            ...        ...     ...          ...          ...
2644           12   Suroccidente 2023-07-01      12            1    6143770.0
2645           12   Suroccidente 2023-07-01      12            2   16509400.0
2646           12   Suroccidente 2023-07-01       8            1   19356320.0
2647           12   Suroccidente 2023-07-01       8            2   29462700.0
2648           12   Suroccidente 2023-07-01       9            1     799520.0

[2649 rows x 6 columns]

In [105]:
recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster','Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

In [106]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(
    ['AreaCalculo', 'ZonaGeografica', 'Fecha', 'Cluster', 'Consecutivo'], as_index=False
).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(
    ['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False
).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha','Cluster', 'Consecutivo'],
    how='left'
)

# main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)
main['TipoEmpleado'] = 'VE'

main

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado
0,1,CENTRO,2023-07-01,0,1,2.004148e+06,0.0,VE
1,1,CENTRO,2023-07-01,1,1,8.713075e+07,115421595.0,VE
2,1,CENTRO,2023-07-01,1,2,1.164819e+07,70303100.0,VE
3,1,CENTRO,2023-07-01,2,1,8.600151e+06,0.0,VE
4,1,CENTRO,2023-07-01,2,2,1.646817e+06,0.0,VE
...,...,...,...,...,...,...,...,...
3128,12,Suroccidente,2023-07-01,12,2,4.033655e+06,16509400.0,VE
3129,12,Suroccidente,2023-07-01,8,1,2.076052e+07,19356320.0,VE
3130,12,Suroccidente,2023-07-01,8,2,7.453619e+06,29462700.0,VE
3131,12,Suroccidente,2023-07-01,9,1,7.267667e+06,799520.0,VE
3132,12,Suroccidente,2023-07-01,9,2,8.641729e+05,0.0,VE

In [107]:
df_zonas_clusters_empleado[ 
    (df_zonas_clusters_empleado['Cluster'] == '5')
]

    TipoEmpleado CodigoEmpleado  AreaCalculo    Zona Cluster
11            VE       14296748            4  Centro       5
59            VE        5002697            5  Centro       5
88            VE        5037259            3  Centro       5
107           VE        5043400            3  Centro       5
141           VE        1111120           10  Centro       5
168           VE     1030524723            8  Centro       5
195           VE        5041772           11  Centro       5
222           VE        1111126            7  Centro       5
230           VE        1111127            2  Centro       5
242           VE       53099837            9  Centro       5
270           VE        1111125           12  Centro       5

In [108]:
df_zonas_clusters_empleado1 = df_zonas_clusters_empleado[ (
    df_zonas_clusters_empleado['CodigoEmpleado'] == '1111126') &
    (df_zonas_clusters_empleado['Cluster'] == '5')
]
df_zonas_clusters_empleado1.rename(columns={'Zona': 'ZonaGeografica'}, inplace=True)
df_zonas_clusters_empleado1

C:\Users\Crisp\AppData\Local\Temp\ipykernel_7980\1122459790.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zonas_clusters_empleado1.rename(columns={'Zona': 'ZonaGeografica'}, inplace=True)

    TipoEmpleado CodigoEmpleado  AreaCalculo ZonaGeografica Cluster
222           VE        1111126            7         Centro       5

In [109]:
main1 = main[
    (main['AreaCalculo'] == 7) & (main['ZonaGeografica'] == 'Centro') & (main['Cluster'] == '5')
]
main1

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado
2043,7,Centro,2023-01-01,5,1,1.720850e+06,1690344.0,VE
2044,7,Centro,2023-01-01,5,2,2.673795e+07,3212258.0,VE
2059,7,Centro,2023-02-01,5,1,1.625247e+06,0.0,VE
2060,7,Centro,2023-02-01,5,2,2.525251e+07,29212235.0,VE
2075,7,Centro,2023-03-01,5,1,1.720850e+06,0.0,VE
2076,7,Centro,2023-03-01,5,2,2.673795e+07,18425235.0,VE
2091,7,Centro,2023-04-01,5,1,1.529644e+06,0.0,VE
2092,7,Centro,2023-04-01,5,2,2.376707e+07,71573732.0,VE
2107,7,Centro,2023-05-01,5,1,1.529644e+06,0.0,VE
2108,7,Centro,2023-05-01,5,2,2.376707e+07,27187870.5,VE
2123,7,Centro,2023-06-01,5,1,1.720850e+06,0.0,VE
2124,7,Centro,2023-06-01,5,2,2.673795e+07,14394500.5,VE

In [110]:
### Agrupación a nivel de empleado por zonas

main2 = pd.merge(
    main1,
    df_zonas_clusters_empleado1,
    on=['Cluster', 'TipoEmpleado', 'AreaCalculo'],
    how='left'
)
main2

,AreaCalculo,ZonaGeografica_x,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,ZonaGeografica_y
0,7,Centro,2023-01-01,5,1,1.720850e+06,1690344.0,VE,1111126,Centro
1,7,Centro,2023-01-01,5,2,2.673795e+07,3212258.0,VE,1111126,Centro
2,7,Centro,2023-02-01,5,1,1.625247e+06,0.0,VE,1111126,Centro
3,7,Centro,2023-02-01,5,2,2.525251e+07,29212235.0,VE,1111126,Centro
4,7,Centro,2023-03-01,5,1,1.720850e+06,0.0,VE,1111126,Centro
5,7,Centro,2023-03-01,5,2,2.673795e+07,18425235.0,VE,1111126,Centro
6,7,Centro,2023-04-01,5,1,1.529644e+06,0.0,VE,1111126,Centro
7,7,Centro,2023-04-01,5,2,2.376707e+07,71573732.0,VE,1111126,Centro
8,7,Centro,2023-05-01,5,1,1.529644e+06,0.0,VE,1111126,Centro
9,7,Centro,2023-05-01,5,2,2.376707e+07,27187870.5,VE,1111126,Centro
10,7,Centro,2023-06-01,5,1,1.720850e+06,0.0,VE,1111126,Centro
11,7,Centro,2023-06-01,5,2,2.673795e+07,14394500.5,VE,1111126,Centro

In [111]:
main2['ZonaGeografica_x'][0]

'Centro'

In [112]:
main2['ZonaGeografica_y'][0]

'Centro'

In [113]:
main3 = pd.merge(
    main2,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)

main3 = main3[main3['Fecha'] >= main3['FechaIngreso']]
main3

,AreaCalculo,ZonaGeografica_x,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,ZonaGeografica_y,FechaIngreso
6,7,Centro,2023-04-01,5,1,1.529644e+06,0.0,VE,1111126,Centro,2023-04-01
7,7,Centro,2023-04-01,5,2,2.376707e+07,71573732.0,VE,1111126,Centro,2023-04-01
8,7,Centro,2023-05-01,5,1,1.529644e+06,0.0,VE,1111126,Centro,2023-04-01
9,7,Centro,2023-05-01,5,2,2.376707e+07,27187870.5,VE,1111126,Centro,2023-04-01
10,7,Centro,2023-06-01,5,1,1.720850e+06,0.0,VE,1111126,Centro,2023-04-01
11,7,Centro,2023-06-01,5,2,2.673795e+07,14394500.5,VE,1111126,Centro,2023-04-01

In [114]:
### Agrupación a nivel de empleado por zonas

main = pd.merge(
    main,
    df_zonas_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona', 'Cluster']].rename(columns={'Zona': 'ZonaGeografica'}),
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica', 'Cluster'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)

main = main[main['Fecha'] >= main['FechaIngreso']]

# main = main.groupby(['CodigoEmpleado', 'Fecha', 'Consecutivo'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
# main.reset_index(inplace=True)

# # main[(main['CodigoEmpleado'] == '52902645') & (main['Fecha'] == '2023-03-01') & (main['Consecutivo'] == 4.0)
# # ]

In [115]:
main[
    (main['CodigoEmpleado'] == '1111126') & (main['ZonaGeografica'] == "Centro")
]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
2400,7,Centro,2023-04-01,0,2,1.476301e+06,577100.00,VE,1111126,2023-04-01
2406,7,Centro,2023-04-01,20,2,1.468224e+05,0.00,VE,1111126,2023-04-01
2408,7,Centro,2023-04-01,21,2,1.536000e+05,0.00,VE,1111126,2023-04-01
2409,7,Centro,2023-04-01,3,1,2.746859e+06,0.00,VE,1111126,2023-04-01
2410,7,Centro,2023-04-01,3,2,1.311840e+07,16329755.00,VE,1111126,2023-04-01
2411,7,Centro,2023-04-01,4,1,1.968164e+06,0.00,VE,1111126,2023-04-01
2412,7,Centro,2023-04-01,4,2,4.032900e+07,32146625.00,VE,1111126,2023-04-01
2413,7,Centro,2023-04-01,5,1,1.529644e+06,0.00,VE,1111126,2023-04-01
2414,7,Centro,2023-04-01,5,2,2.376707e+07,71573732.00,VE,1111126,2023-04-01
2415,7,Centro,2023-04-01,6,1,8.400015e+04,0.00,VE,1111126,2023-04-01
2416,7,Centro,2023-04-01,6,2,2.757684e+07,29486496.00,VE,1111126,2023-04-01
2419,7,Centro,2023-05-01,0,2,1.476301e+06,4084200.00,VE,1111126,2023-04-01
2425,7,Centro,2023-05-01,20,2,1.468224e+05,436810.00,VE,1111126,2023-04-01
2427,7,Centro,2023-05-01,21,2,1.536000e+05,0.00,VE,1111126,2023-04-01
2428,7,Centro,2023-05-01,3,1,2.746859e+06,0.00,VE,1111126,2023-04-01
2429,7,Centro,2023-05-01,3,2,1.311840e+07,9142875.00,VE,1111126,2023-04-01
2430,7,Centro,2023-05-01,4,1,1.968164e+06,0.00,VE,1111126,2023-04-01
2431,7,Centro,2023-05-01,4,2,4.032900e+07,20246530.00,VE,1111126,2023-04-01
2432,7,Centro,2023-05-01,5,1,1.529644e+06,0.00,VE,1111126,2023-04-01
2433,7,Centro,2023-05-01,5,2,2.376707e+07,27187870.50,VE,1111126,2023-04-01
2434,7,Centro,2023-05-01,6,1,8.400015e+04,0.00,VE,1111126,2023-04-01
2435,7,Centro,2023-05-01,6,2,2.757684e+07,2026921.50,VE,1111126,2023-04-01
2438,7,Centro,2023-06-01,0,2,1.660838e+06,6211800.00,VE,1111126,2023-04-01
2444,7,Centro,2023-06-01,20,2,1.651752e+05,0.00,VE,1111126,2023-04-01
2446,7,Centro,2023-06-01,21,2,1.728000e+05,0.00,VE,1111126,2023-04-01
2447,7,Centro,2023-06-01,3,1,3.090216e+06,0.00,VE,1111126,2023-04-01
2448,7,Centro,2023-06-01,3,2,1.475820e+07,24306605.00,VE,1111126,2023-04-01
2449,7,Centro,2023-06-01,4,1,2.214185e+06,0.00,VE,1111126,2023-04-01
2450,7,Centro,2023-06-01,4,2,4.537012e+07,66490420.76,VE,1111126,2023-04-01
2451,7,Centro,2023-06-01,5,1,1.720850e+06,0.00,VE,1111126,2023-04-01
2452,7,Centro,2023-06-01,5,2,2.673795e+07,14394500.50,VE,1111126,2023-04-01
2453,7,Centro,2023-06-01,6,1,9.450017e+04,0.00,VE,1111126,2023-04-01
2454,7,Centro,2023-06-01,6,2,3.102394e+07,23390981.50,VE,1111126,2023-04-01

In [116]:
recaudo_real_zona_ve = venta_recaudo_presupuesto_original_ve_real_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_real_zona_ve.rename(columns={'Recaudo': 'Real'}, inplace=True)

recaudo_presupuesto_zona_ve = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'], as_index=False).agg({'Recaudo': 'sum'})
recaudo_presupuesto_zona_ve.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)

main = pd.merge(
    left=recaudo_presupuesto_zona_ve,
    right=recaudo_real_zona_ve,
    on=['ZonaGeografica', 'AreaCalculo', 'Fecha','Cluster', 'Consecutivo'],
    how='left'
)

main['Real'].fillna(0.0, inplace=True)

main['Real'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Real'].transform(pd.Series.sum)
main['Presupuesto'] = main.groupby(['AreaCalculo', 'ZonaGeografica', 'Fecha','Cluster', 'Consecutivo'])['Presupuesto'].transform(pd.Series.sum)
main['TipoEmpleado'] = 'VE'

### Agrupación a nivel de empleado por zonas

main = pd.merge(
    main,
    df_zonas_clusters_empleado[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Zona', 'Cluster']].rename(columns={'Zona': 'ZonaGeografica'}),
    on=['TipoEmpleado', 'AreaCalculo', 'ZonaGeografica', 'Cluster'],
    how='left'
)

main = pd.merge(
    main,
    df_empleados[['CodigoEmpleado', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
main[
        (main['CodigoEmpleado'] == '1111126') &
        (main['Cluster'] == '5')
    ]

,AreaCalculo,ZonaGeografica,Fecha,Cluster,Consecutivo,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
2356,7,Centro,2023-01-01,5,1,1.720850e+06,1690344.0,VE,1111126,2023-04-01
2357,7,Centro,2023-01-01,5,2,2.673795e+07,3212258.0,VE,1111126,2023-04-01
2375,7,Centro,2023-02-01,5,1,1.625247e+06,0.0,VE,1111126,2023-04-01
2376,7,Centro,2023-02-01,5,2,2.525251e+07,29212235.0,VE,1111126,2023-04-01
2394,7,Centro,2023-03-01,5,1,1.720850e+06,0.0,VE,1111126,2023-04-01
2395,7,Centro,2023-03-01,5,2,2.673795e+07,18425235.0,VE,1111126,2023-04-01
2413,7,Centro,2023-04-01,5,1,1.529644e+06,0.0,VE,1111126,2023-04-01
2414,7,Centro,2023-04-01,5,2,2.376707e+07,71573732.0,VE,1111126,2023-04-01
2432,7,Centro,2023-05-01,5,1,1.529644e+06,0.0,VE,1111126,2023-04-01
2433,7,Centro,2023-05-01,5,2,2.376707e+07,27187870.5,VE,1111126,2023-04-01
2451,7,Centro,2023-06-01,5,1,1.720850e+06,0.0,VE,1111126,2023-04-01
2452,7,Centro,2023-06-01,5,2,2.673795e+07,14394500.5,VE,1111126,2023-04-01

In [117]:
main = main[main['Fecha'] >= main['FechaIngreso']]

main = main.groupby(['CodigoEmpleado', 'Fecha', 'Consecutivo'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

# Variable solo de VCs y VEs #
if len(codigos_ve_vc) > 0 and fecha_liquidacion >= '2022-03-01' and fecha_liquidacion <= '2022-12-01':
    main = main[main['Fecha'] >= '2022-03-01']
###

main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaPortafolioZonaClusterSub'
# main['Contexto'] = main['CodigoEmpleado']
main = main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
###

venta_cobrada_portafolio_zona_cluster_sub = main.copy()
main = None

venta_cobrada_portafolio_zona_cluster_sub.head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-01-01,1.992647e+08,2.377765e+08,0.84
1,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-02-01,3.943198e+08,5.072566e+08,0.78
2,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-03-01,8.162964e+08,8.242919e+08,0.99
3,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-04-01,1.068289e+09,1.046217e+09,1.02
4,1030524723_1,VentaCobradaPortafolioZonaClusterSub,2023-05-01,1.265571e+09,1.268141e+09,1.00

In [118]:
venta_cobrada_portafolio_zona_cluster_sub[venta_cobrada_portafolio_zona_cluster_sub['Contexto'].str.contains('1111126') ]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
34,1111126_1,VentaCobradaPortafolioZonaClusterSub,2023-04-01,0.000000e+00,6.328667e+06,0.00
35,1111126_2,VentaCobradaPortafolioZonaClusterSub,2023-04-01,1.501137e+08,1.065680e+08,1.41
36,1111126_1,VentaCobradaPortafolioZonaClusterSub,2023-05-01,0.000000e+00,1.265733e+07,0.00
37,1111126_2,VentaCobradaPortafolioZonaClusterSub,2023-05-01,2.132389e+08,2.131360e+08,1.00
38,1111126_1,VentaCobradaPortafolioZonaClusterSub,2023-06-01,0.000000e+00,1.977709e+07,0.00
39,1111126_2,VentaCobradaPortafolioZonaClusterSub,2023-06-01,3.480332e+08,3.330251e+08,1.05

## 35. VentaCobradaUnidadNegocioSub

In [119]:
# main = None

# venta_cobrada_portafolio_cluster_sub = main
# main = None
# venta_cobrada_portafolio_cluster_sub

# # Contexto:

## 36. VentaCobradaZonaPaisSub

In [120]:
area_calculo_sba_completo_gc = area_calculo_sba_completo[
    (area_calculo_sba_completo['TipoEmpleado'] == 'GC') |
    (area_calculo_sba_completo['TipoEmpleado'] == 'GD')
]

area_calculo_sba_completo_gc_without_dup = area_calculo_sba_completo_gc[['TipoEmpleado','Consecutivo', 'Division']].drop_duplicates()
area_calculo_sba_completo_gc_without_dup.head()

    TipoEmpleado  Consecutivo Division
95            GC            1       AE
96            GC            2       HC
97            GC            3       BA
104           GD            1       AE
106           GD            2       AE

### Se hace merge entre area de cálculo por GC y Venta Recaudo

In [121]:
drop_cols = ['Venta'] #'GrupoProducto', 'SBA'
recaudo_real_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_real,
    on=['Division'],
    how='left'
)
recaudo_real_zona_gc = recaudo_real_zona_gc.dropna(subset=['ZonaGeografica']).drop(columns=drop_cols)
recaudo_real_zona_gc.rename(columns={'Recaudo': 'Real'}, inplace=True)
recaudo_real_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,Canal,GrupoProducto,SBA,Fecha,Real
0,GC,1,AE,1111111,16,NORTE,ASEGURADOR,005,33,2023-07-01,246335.00
1,GC,1,AE,1111111,16,NORTE,ASEGURADOR,005,35,2023-07-01,104310.00
2,GC,1,AE,1111111,16,NORTE,ASEGURADOR,M07,33,2023-07-01,3623110.00
3,GC,1,AE,1111111,16,NORTE,Distribuidor,003,35,2023-07-01,3034579.68
4,GC,1,AE,1111111,16,NORTE,Distribuidor,M06,31,2023-07-01,2165568.00
...,...,...,...,...,...,...,...,...,...,...,...
37763,GD,4,BA,9990004,4,Centro,Distribuidor,A34,85,2023-05-01,1398210.00
37764,GD,4,BA,9990004,4,Centro,Hospital,A32,84,2023-05-01,13784060.00
37765,GD,4,BA,9990004,4,Centro,Hospital,A33,86,2023-05-01,97916.00
37766,GD,4,BA,9990004,4,Centro,Hospital,A34,85,2023-05-01,14938370.00
37767,GD,4,BA,9990011,11,Suroccidente,Hospital,A45,80,2023-04-01,0.00

In [122]:
recaudo_presupuesto_zona_gc = pd.merge(
    left=area_calculo_sba_completo_gc_without_dup,
    right=df_venta_recaudo_presupuesto,
    on=['Division'],
    how='left'
)

recaudo_presupuesto_zona_gc = recaudo_presupuesto_zona_gc.drop(columns=drop_cols).dropna(subset=['ZonaGeografica'])
recaudo_presupuesto_zona_gc.rename(columns={'Recaudo': 'Presupuesto'}, inplace=True)
recaudo_presupuesto_zona_gc

,TipoEmpleado,Consecutivo,Division,CodigoEmpleado,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto
0,GC,1,AE,1111111,16,NORTE,001,HOSPITAL,30,2023-07-01,3.122999e+06
1,GC,1,AE,1111111,16,NORTE,001,No creado,30,2023-07-01,2.668094e+05
2,GC,1,AE,1111111,16,NORTE,003,Distribuidor,35,2023-07-01,7.406005e+06
3,GC,1,AE,1111111,16,NORTE,003,HOSPITAL,35,2023-07-01,4.547728e+06
4,GC,1,AE,1111111,16,NORTE,005,ASEGURADOR,33,2023-07-01,3.441794e+05
...,...,...,...,...,...,...,...,...,...,...,...
54918,GD,4,BA,9990011,11,Suroccidente,A45,Hospital,80,2023-04-01,0.000000e+00
54919,GD,4,BA,9990011,11,Suroccidente,A45,No creado,81,2023-01-01,2.482887e+06
54920,GD,4,BA,9990011,11,Suroccidente,A45,No creado,81,2023-02-01,1.931135e+06
54921,GD,4,BA,9990011,11,Suroccidente,A45,No creado,81,2023-03-01,2.207011e+06
54922,GD,4,BA,9990011,11,Suroccidente,A45,No creado,81,2023-04-01,2.207011e+06

### Se hace merge entre recaudo presupuesto y recaudo real

In [123]:
main = pd.merge(
    left=recaudo_presupuesto_zona_gc,
    right=recaudo_real_zona_gc,
    on=['ZonaGeografica', 'Fecha', 'Consecutivo', 'Division', 'CodigoEmpleado', 'TipoEmpleado', 'Cluster', 'GrupoProducto', 'SBA', 'Canal'],
    how='left'
)
main = main.dropna(subset=['ZonaGeografica']).drop(columns=['CodigoEmpleado'])
main

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real
0,GC,1,AE,16,NORTE,001,HOSPITAL,30,2023-07-01,3.122999e+06,NaN
1,GC,1,AE,16,NORTE,001,No creado,30,2023-07-01,2.668094e+05,NaN
2,GC,1,AE,16,NORTE,003,Distribuidor,35,2023-07-01,7.406005e+06,3034579.68
3,GC,1,AE,16,NORTE,003,HOSPITAL,35,2023-07-01,4.547728e+06,5627435.00
4,GC,1,AE,16,NORTE,005,ASEGURADOR,33,2023-07-01,3.441794e+05,246335.00
...,...,...,...,...,...,...,...,...,...,...,...
54918,GD,4,BA,11,Suroccidente,A45,Hospital,80,2023-04-01,0.000000e+00,0.00
54919,GD,4,BA,11,Suroccidente,A45,No creado,81,2023-01-01,2.482887e+06,NaN
54920,GD,4,BA,11,Suroccidente,A45,No creado,81,2023-02-01,1.931135e+06,NaN
54921,GD,4,BA,11,Suroccidente,A45,No creado,81,2023-03-01,2.207011e+06,NaN
54922,GD,4,BA,11,Suroccidente,A45,No creado,81,2023-04-01,2.207011e+06,NaN

In [124]:
df_zonas_empleado_gc = df_zonas_empleado[
    (df_zonas_empleado['TipoEmpleado']== 'GC') |
    (df_zonas_empleado['TipoEmpleado']== 'GD')
]
df_zonas_empleado_gc

            Zona CodigoEmpleado TipoEmpleado  AreaCalculo
4         Centro        5016692           GD            2
6          Norte        5002711           GC            3
37         Norte        6474959           GD            1
40        Centro        5004298           GC            1
59  Suroccidente        5005980           GC            2
68  Suroccidente        5036358           GD            3

## Se hace merge entre el dataframe anterior y zonas empleados para obtener los código de los GC

In [125]:
main = main.merge(
    df_zonas_empleado_gc.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'TipoEmpleado'],
    how='left'
)
main['Real'].fillna(0.0, inplace=True)
main.dropna(subset=['CodigoEmpleado'])
main.head()

,TipoEmpleado,Consecutivo,Division,Cluster,ZonaGeografica,GrupoProducto,Canal,SBA,Fecha,Presupuesto,Real,CodigoEmpleado,AreaCalculo
0,GC,1,AE,16,NORTE,001,HOSPITAL,30,2023-07-01,3.122999e+06,0.00,NaN,NaN
1,GC,1,AE,16,NORTE,001,No creado,30,2023-07-01,2.668094e+05,0.00,NaN,NaN
2,GC,1,AE,16,NORTE,003,Distribuidor,35,2023-07-01,7.406005e+06,3034579.68,NaN,NaN
3,GC,1,AE,16,NORTE,003,HOSPITAL,35,2023-07-01,4.547728e+06,5627435.00,NaN,NaN
4,GC,1,AE,16,NORTE,005,ASEGURADOR,33,2023-07-01,3.441794e+05,246335.00,NaN,NaN

In [126]:
# Calcular
main['Contexto']= main['CodigoEmpleado'] + '_' +  main['Consecutivo'].astype(int).astype('str')

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main.reset_index(inplace=True)

main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaCobradaZonaPaisSub'

#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto','PorcentajeCumplimiento']]

venta_cobrada_zona_pais_sub = main
main = None
venta_cobrada_zona_pais_sub

# Contexto: Código de empleado, gerentes de canal.

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaPaisSub,2023-01-01,7.938456e+08,7.205700e+08,1.10
1,5002711_1,VentaCobradaZonaPaisSub,2023-02-01,1.504960e+09,1.680149e+09,0.90
2,5002711_1,VentaCobradaZonaPaisSub,2023-03-01,2.173992e+09,2.544833e+09,0.85
3,5002711_1,VentaCobradaZonaPaisSub,2023-04-01,2.811267e+09,3.409517e+09,0.82
4,5002711_1,VentaCobradaZonaPaisSub,2023-05-01,4.427344e+09,4.178125e+09,1.06
...,...,...,...,...,...,...
166,6474959_6,VentaCobradaZonaPaisSub,2023-02-01,7.649133e+09,8.581739e+09,0.89
167,6474959_6,VentaCobradaZonaPaisSub,2023-03-01,1.130089e+10,1.290855e+10,0.88
168,6474959_6,VentaCobradaZonaPaisSub,2023-04-01,1.476954e+10,1.684339e+10,0.88
169,6474959_6,VentaCobradaZonaPaisSub,2023-05-01,1.967384e+10,2.068759e+10,0.95
170,6474959_6,VentaCobradaZonaPaisSub,2023-06-01,2.399524e+10,2.481854e+10,0.97

In [127]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_1']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,5002711_1,VentaCobradaZonaPaisSub,2023-01-01,7.938456e+08,7.205700e+08,1.10
1,5002711_1,VentaCobradaZonaPaisSub,2023-02-01,1.504960e+09,1.680149e+09,0.90
2,5002711_1,VentaCobradaZonaPaisSub,2023-03-01,2.173992e+09,2.544833e+09,0.85
3,5002711_1,VentaCobradaZonaPaisSub,2023-04-01,2.811267e+09,3.409517e+09,0.82
4,5002711_1,VentaCobradaZonaPaisSub,2023-05-01,4.427344e+09,4.178125e+09,1.06
5,5002711_1,VentaCobradaZonaPaisSub,2023-06-01,5.470851e+09,4.850657e+09,1.13

In [128]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_2']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
6,5002711_2,VentaCobradaZonaPaisSub,2023-01-01,2.541327e+09,3.340635e+09,0.76
7,5002711_2,VentaCobradaZonaPaisSub,2023-02-01,5.989543e+09,6.669320e+09,0.90
8,5002711_2,VentaCobradaZonaPaisSub,2023-03-01,8.888016e+09,9.995049e+09,0.89
9,5002711_2,VentaCobradaZonaPaisSub,2023-04-01,1.162485e+10,1.296450e+10,0.90
10,5002711_2,VentaCobradaZonaPaisSub,2023-05-01,1.478177e+10,1.593396e+10,0.93
11,5002711_2,VentaCobradaZonaPaisSub,2023-06-01,1.798497e+10,1.927459e+10,0.93

In [129]:
venta_cobrada_zona_pais_sub[venta_cobrada_zona_pais_sub['Contexto'] == '5002711_3']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
12,5002711_3,VentaCobradaZonaPaisSub,2023-01-01,5.449611e+07,1.109456e+08,0.49
13,5002711_3,VentaCobradaZonaPaisSub,2023-02-01,1.546303e+08,2.322699e+08,0.67
14,5002711_3,VentaCobradaZonaPaisSub,2023-03-01,2.388851e+08,3.686680e+08,0.65
15,5002711_3,VentaCobradaZonaPaisSub,2023-04-01,3.334232e+08,4.693710e+08,0.71
16,5002711_3,VentaCobradaZonaPaisSub,2023-05-01,4.647333e+08,5.755077e+08,0.81
17,5002711_3,VentaCobradaZonaPaisSub,2023-06-01,5.394186e+08,6.932867e+08,0.78

## 36. VentaFacturadaPortafolioRenal

In [130]:
# Aplica VC5

In [131]:
area_calculo_sba_completo.head()

   AreaCalculo  Consecutivo Division GrupoProducto    SBA TipoEmpleado
0            1            1    BBMCO                                AD
1            1            1       HC                                AD
2            1            2       AE                                AD
3            1            2    BBSCO         BBSCO  BBSCO           AD
4            1            2       OK                                AD

In [132]:
df_renal_ambulatorio

,CodigoEmpleado,TipoEmpleado,Fecha,PlanVentaTotal,PlanVentaCobradaRenal,RealVentaTotal,RealVentaCobradaRenal
0,1111117,VC,2023-01-01,7.191181e+07,7.894555e+07,9.774017e+07,2.306324e+07
1,1111117,VC,2023-02-01,9.136204e+07,6.140210e+07,1.420168e+08,2.368940e+07
2,1111117,VC,2023-03-01,1.072508e+08,7.017382e+07,1.725576e+08,6.964348e+07
3,1111117,VC,2023-04-01,1.163816e+08,7.017382e+07,1.164830e+08,1.828028e+06
4,1111117,VC,2023-05-01,1.307853e+08,7.017382e+07,1.615074e+08,1.156539e+08
5,1111117,VC,2023-06-01,1.398775e+08,7.894555e+07,5.714237e+07,6.190095e+07
6,1111117,VC,2023-07-01,7.418271e+07,6.140210e+07,1.516458e+08,9.102226e+07
7,5032456,VC,2023-01-01,6.912047e+07,7.894555e+07,3.549600e+07,2.306324e+07
8,5032456,VC,2023-02-01,8.816529e+07,6.140210e+07,1.826837e+08,2.368940e+07
9,5032456,VC,2023-03-01,1.055530e+08,7.017382e+07,9.886337e+07,6.964348e+07
10,5032456,VC,2023-04-01,1.134067e+08,7.017382e+07,9.652721e+07,1.828028e+06
11,5032456,VC,2023-05-01,1.226657e+08,7.017382e+07,1.670741e+08,1.156539e+08
12,5032456,VC,2023-06-01,1.316491e+08,7.894555e+07,7.132659e+07,6.190095e+07
13,5032456,VC,2023-07-01,1.446807e+08,6.140210e+07,9.791641e+07,9.102226e+07
14,5036358,GD,2023-03-01,0.000000e+00,1.800674e+08,0.000000e+00,1.345561e+08
15,5036358,GD,2023-04-01,0.000000e+00,5.458295e+07,0.000000e+00,2.319767e+07
16,5036358,GD,2023-05-01,0.000000e+00,5.356671e+07,0.000000e+00,3.085904e+07
17,5036358,GD,2023-06-01,0.000000e+00,5.823006e+07,0.000000e+00,7.007240e+07
18,5036358,GD,2023-07-01,0.000000e+00,4.890336e+07,0.000000e+00,3.621181e+07

In [133]:
7.384809+1044514+8.649572

1044530.034381

In [134]:
# Calcular

main = df_renal_ambulatorio.rename(columns={'PlanVentaTotal': 'Presupuesto', 'RealVentaTotal': 'Real'})

main['Contexto'] = main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioRenal'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_renal = main.copy()
main = None
venta_facturada_portafolio_renal

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1111117,VentaFacturadaPortafolioRenal,2023-01-01,9.774017e+07,7.191181e+07,1.36
1,1111117,VentaFacturadaPortafolioRenal,2023-02-01,2.397570e+08,1.632738e+08,1.47
2,1111117,VentaFacturadaPortafolioRenal,2023-03-01,4.123146e+08,2.705246e+08,1.52
3,1111117,VentaFacturadaPortafolioRenal,2023-04-01,5.287976e+08,3.869063e+08,1.37
4,1111117,VentaFacturadaPortafolioRenal,2023-05-01,6.903051e+08,5.176915e+08,1.33
5,1111117,VentaFacturadaPortafolioRenal,2023-06-01,7.474474e+08,6.575690e+08,1.14
6,1111117,VentaFacturadaPortafolioRenal,2023-07-01,8.990932e+08,7.317517e+08,1.23
7,5032456,VentaFacturadaPortafolioRenal,2023-01-01,3.549600e+07,6.912047e+07,0.51
8,5032456,VentaFacturadaPortafolioRenal,2023-02-01,2.181797e+08,1.572858e+08,1.39
9,5032456,VentaFacturadaPortafolioRenal,2023-03-01,3.170431e+08,2.628387e+08,1.21
10,5032456,VentaFacturadaPortafolioRenal,2023-04-01,4.135703e+08,3.762455e+08,1.10
11,5032456,VentaFacturadaPortafolioRenal,2023-05-01,5.806444e+08,4.989112e+08,1.16
12,5032456,VentaFacturadaPortafolioRenal,2023-06-01,6.519709e+08,6.305603e+08,1.03
13,5032456,VentaFacturadaPortafolioRenal,2023-07-01,7.498874e+08,7.752410e+08,0.97
14,5036358,VentaFacturadaPortafolioRenal,2023-03-01,0.000000e+00,0.000000e+00,NaN
15,5036358,VentaFacturadaPortafolioRenal,2023-04-01,0.000000e+00,0.000000e+00,NaN
16,5036358,VentaFacturadaPortafolioRenal,2023-05-01,0.000000e+00,0.000000e+00,NaN
17,5036358,VentaFacturadaPortafolioRenal,2023-06-01,0.000000e+00,0.000000e+00,NaN
18,5036358,VentaFacturadaPortafolioRenal,2023-07-01,0.000000e+00,0.000000e+00,NaN

## 37. VentaFacturadaPortafolioZonaCluster

In [135]:
venta_recaudo_presupuesto_original_ve_real_zona_cluster.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,CENTRO,0,Distribuidor AMB,2023-07-01,1050000.0,0.0

In [136]:
venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.head()

,AreaCalculo,Consecutivo,Division,GrupoProducto,SBA,TipoEmpleado,ZonaGeografica,Cluster,Canal,Fecha,Venta,Recaudo
0,1,1,AE,005,,VE,NaN,NaN,NaN,NaT,NaN,NaN
1,1,1,AE,M07,,VE,NaN,NaN,NaN,NaT,NaN,NaN
2,1,2,AE,M08,,VE,NaN,NaN,NaN,NaT,NaN,NaN
3,2,1,AE,003,,VE,NaN,NaN,NaN,NaT,NaN,NaN
4,2,1,AE,CEK,35,VE,CENTRO,0,Distribuidor AMB,2023-07-01,0.0,0.0

In [137]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
# drop_cols = ['Recaudo', 'Division','CodigoEmpleado','GrupoProducto', 'Canal', 'SBA']
real = venta_recaudo_presupuesto_original_ve_real_zona_cluster.copy()
ppto = venta_recaudo_presupuesto_original_ve_presupuesto_zona_cluster.copy()

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['AreaCalculo','Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
real = real.groupby(['AreaCalculo', 'Fecha', 'ZonaGeografica', 'Cluster'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)
main = main.merge(
    df_zonas_clusters_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica', 'Cluster','AreaCalculo'],
    how='left'
)

# Traer áreas de cálculo y tipo de empleado de la maestra de empleados
empleados = df_empleados[['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo', 'FechaIngreso']].copy()
main = main.merge(empleados, on=['TipoEmpleado', 'CodigoEmpleado', 'AreaCalculo'], how='left')

main = main[main['Fecha'] >= main['FechaIngreso']]
main

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso
134,2,2023-01-01,Centro,0,1.648648e+07,8.892662e+06,VE,5003527,2012-02-20
138,2,2023-01-01,Centro,20,5.000000e+06,1.802592e+06,VE,5003527,2012-02-20
140,2,2023-01-01,Centro,21,1.267618e+05,NaN,VE,5003527,2012-02-20
146,2,2023-01-01,Centro,7,1.059270e+08,1.365165e+08,VE,5003527,2012-02-20
148,2,2023-01-01,Norte,13,3.637763e+07,7.231716e+07,VE,5003527,2012-02-20
...,...,...,...,...,...,...,...,...,...
2034,12,2023-07-01,Suroccidente,10,2.282410e+08,3.834016e+07,VE,1111125,2023-04-01
2035,12,2023-07-01,Suroccidente,11,1.484374e+07,3.068220e+06,VE,1111125,2023-04-01
2036,12,2023-07-01,Suroccidente,12,1.533814e+07,1.373380e+07,VE,1111125,2023-04-01
2037,12,2023-07-01,Suroccidente,8,4.208139e+07,1.244422e+07,VE,1111125,2023-04-01
2038,12,2023-07-01,Suroccidente,9,1.331762e+07,-4.208000e+04,VE,1111125,2023-04-01

In [138]:
main['Real'].fillna(0, inplace=True)

# Calcular

main['Contexto'] = main['CodigoEmpleado']
# + '_' +  main['ZonaGeografica'].astype('str')
main
# main['Contexto']= 'VFPZ'

,AreaCalculo,Fecha,ZonaGeografica,Cluster,Presupuesto,Real,TipoEmpleado,CodigoEmpleado,FechaIngreso,Contexto
134,2,2023-01-01,Centro,0,1.648648e+07,8.892662e+06,VE,5003527,2012-02-20,5003527
138,2,2023-01-01,Centro,20,5.000000e+06,1.802592e+06,VE,5003527,2012-02-20,5003527
140,2,2023-01-01,Centro,21,1.267618e+05,0.000000e+00,VE,5003527,2012-02-20,5003527
146,2,2023-01-01,Centro,7,1.059270e+08,1.365165e+08,VE,5003527,2012-02-20,5003527
148,2,2023-01-01,Norte,13,3.637763e+07,7.231716e+07,VE,5003527,2012-02-20,5003527
...,...,...,...,...,...,...,...,...,...,...
2034,12,2023-07-01,Suroccidente,10,2.282410e+08,3.834016e+07,VE,1111125,2023-04-01,1111125
2035,12,2023-07-01,Suroccidente,11,1.484374e+07,3.068220e+06,VE,1111125,2023-04-01,1111125
2036,12,2023-07-01,Suroccidente,12,1.533814e+07,1.373380e+07,VE,1111125,2023-04-01,1111125
2037,12,2023-07-01,Suroccidente,8,4.208139e+07,1.244422e+07,VE,1111125,2023-04-01,1111125
2038,12,2023-07-01,Suroccidente,9,1.331762e+07,-4.208000e+04,VE,1111125,2023-04-01,1111125

In [139]:
# Calcular

# main['Contexto'] = main['CodigoEmpleado'] + '_' +  main['ZonaGeografica'].astype(int).astype('str')
# main['Contexto']= 'VFPZ'
main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaPortafolioZonaCluster'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha', 'Real','Presupuesto', 'PorcentajeCumplimiento']]


venta_facturada_portafolio_zona_cluster = main.copy()
main = None
venta_facturada_portafolio_zona_cluster

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723,VentaFacturadaPortafolioZonaCluster,2023-01-01,2.161870e+08,1.717275e+08,1.26
1,1030524723,VentaFacturadaPortafolioZonaCluster,2023-02-01,3.797419e+08,3.863868e+08,0.98
2,1030524723,VentaFacturadaPortafolioZonaCluster,2023-03-01,7.135641e+08,6.340707e+08,1.13
3,1030524723,VentaFacturadaPortafolioZonaCluster,2023-04-01,9.521054e+08,8.982668e+08,1.06
4,1030524723,VentaFacturadaPortafolioZonaCluster,2023-05-01,1.246057e+09,1.178975e+09,1.06
...,...,...,...,...,...,...
147,94487610,VentaFacturadaPortafolioZonaCluster,2023-03-01,4.791154e+09,4.212564e+09,1.14
148,94487610,VentaFacturadaPortafolioZonaCluster,2023-04-01,6.054457e+09,5.361445e+09,1.13
149,94487610,VentaFacturadaPortafolioZonaCluster,2023-05-01,7.909990e+09,6.893286e+09,1.15
150,94487610,VentaFacturadaPortafolioZonaCluster,2023-06-01,9.870402e+09,8.616607e+09,1.15
151,94487610,VentaFacturadaPortafolioZonaCluster,2023-07-01,1.166720e+10,9.956968e+09,1.17

In [140]:
venta_facturada_portafolio_zona_cluster[venta_facturada_portafolio_zona_cluster['Contexto'].str.contains('1111120') ]

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
14,1111120,VentaFacturadaPortafolioZonaCluster,2023-03-01,2.178555e+08,2.111152e+08,1.03
15,1111120,VentaFacturadaPortafolioZonaCluster,2023-04-01,4.085996e+08,4.428155e+08,0.92
16,1111120,VentaFacturadaPortafolioZonaCluster,2023-05-01,6.236883e+08,5.937011e+08,1.05
17,1111120,VentaFacturadaPortafolioZonaCluster,2023-06-01,8.567818e+08,7.625715e+08,1.12
18,1111120,VentaFacturadaPortafolioZonaCluster,2023-07-01,9.869387e+08,8.381825e+08,1.18

## 38. VentaFacturadaZonaPais

In [141]:
# VentaRecaudoReal (venta)
# VentaRecaudoPresupuesto (venta)

# Preparar
drop_cols = ['Recaudo', 'Division', 'Cluster','GrupoProducto', 'Canal', 'SBA']
real = df_venta_recaudo_real.copy().drop(columns=drop_cols)
ppto = df_venta_recaudo_presupuesto.copy().drop(columns=drop_cols)

# Sumamos los registros que tienen el mismo conexto para que exista un solo registro
ppto = ppto.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
ppto.reset_index(inplace=True)
real = real.groupby(['Fecha', 'ZonaGeografica'], as_index=True)[['Venta']].apply(sum)
real.reset_index(inplace=True)

main = ppto.rename(columns={'Venta': 'Presupuesto'}).merge(
    real.rename(columns={'Venta': 'Real'}),
    on=['Fecha', 'ZonaGeografica'],
    how='left'
)    

main = main.merge(
    df_zonas_empleado.rename(columns={'Zona': 'ZonaGeografica'}),
    on=['ZonaGeografica'],
    how='left'
)
main['Real'].fillna(0, inplace=True)

# Calcular
main['Contexto']= main['CodigoEmpleado']

main = main.groupby(['Contexto', 'Fecha'], as_index=False)[['Real', 'Presupuesto']].apply(sum)
main['Real'] = main.groupby(['Contexto'])['Real'].transform(pd.Series.cumsum)
main['Presupuesto'] = main.groupby(['Contexto'])['Presupuesto'].transform(pd.Series.cumsum)
main['PorcentajeCumplimiento'] = (main['Real']/main['Presupuesto']).apply(lambda x: round(x, 2))
main['Variable'] = 'VentaFacturadaZonaPais'


#Formatear
main.reset_index(inplace=True)
main = main[['Contexto', 'Variable', 'Fecha','Real','Presupuesto','PorcentajeCumplimiento']]

venta_facturada_zona_pais = main.copy()
main = None
venta_facturada_zona_pais

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,1030524723,VentaFacturadaZonaPais,2023-01-01,9.662169e+09,9.707739e+09,1.00
1,1030524723,VentaFacturadaZonaPais,2023-02-01,2.295992e+10,2.188537e+10,1.05
2,1030524723,VentaFacturadaZonaPais,2023-03-01,4.047573e+10,3.697871e+10,1.09
3,1030524723,VentaFacturadaZonaPais,2023-04-01,5.482709e+10,5.020307e+10,1.09
4,1030524723,VentaFacturadaZonaPais,2023-05-01,7.156359e+10,6.508550e+10,1.10
...,...,...,...,...,...,...
389,9990011,VentaFacturadaZonaPais,2023-03-01,1.208464e+10,1.143013e+10,1.06
390,9990011,VentaFacturadaZonaPais,2023-04-01,1.786113e+10,1.548939e+10,1.15
391,9990011,VentaFacturadaZonaPais,2023-05-01,2.297701e+10,2.015130e+10,1.14
392,9990011,VentaFacturadaZonaPais,2023-06-01,2.825076e+10,2.472493e+10,1.14
393,9990011,VentaFacturadaZonaPais,2023-07-01,3.366523e+10,3.160911e+10,1.07

In [142]:
venta_facturada_zona_pais[venta_facturada_zona_pais['Contexto'] == '5032456']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
278,5032456,VentaFacturadaZonaPais,2023-01-01,6.998704e+09,6.701347e+09,1.04
279,5032456,VentaFacturadaZonaPais,2023-02-01,1.628549e+10,1.509009e+10,1.08
280,5032456,VentaFacturadaZonaPais,2023-03-01,2.839108e+10,2.554858e+10,1.11
281,5032456,VentaFacturadaZonaPais,2023-04-01,3.696596e+10,3.471368e+10,1.06
282,5032456,VentaFacturadaZonaPais,2023-05-01,4.858657e+10,4.493420e+10,1.08
283,5032456,VentaFacturadaZonaPais,2023-06-01,6.035746e+10,5.518325e+10,1.09

In [143]:
maestra_resultados = pd.concat([
    cumplimiento_objetivos_cualitativos, # cumplimiento_cualitativos,
    cumplimiento_recaudo_por_zona, # cumplimiento_cobro_por_zona,
    cumplimiento_venta_individual,
    cumplimiento_venta_individual_sub,
    cumplimiento_recaudo_individual,
    cumplimiento_recaudo_individual_sub, # cumplimiento_cobro_empleado_consecutivo,
    cumplimiento_venta_por_area_calculo, # cumplimiento_venta_por_area_calculo,
    cumplimiento_venta_por_area_calculo_sub,
    cumplimiento_recaudo_por_area_calculo, # cumplimiento_cobro_por_area_calculo,
    cumplimiento_recaudo_por_area_calculo_sub,
    cumplimiento_recaudo_nivel_pais, # cumplimiento_cobro_pais,
    cumplimiento_venta_por_unidad_negocio_gu,
    cumplimiento_venta_por_unidad_negocio_gu_sub,
    cumplimiento_recaudo_por_unidad_negocio_gu, # cumplimiento_cobro_area_calculo_gu,
    cumplimiento_recaudo_por_unidad_negocio_gu_sub,
    cumplimiento_venta_por_unidad_negocio_mk,
    cumplimiento_venta_por_unidad_negocio_mk_sub,
    cumplimiento_recaudo_por_unidad_negocio_mk, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_recaudo_por_unidad_negocio_mk_sub, # cumplimiento_cobro_area_calculo_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_gu_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm2_mk_sub,
    cumplimiento_rentabilidad_por_unidad_negocio_cm3_mk_sub,
    cumplimiento_recaudo_por_division, # cumplimiento_cobro_division,
    cumplimiento_recaudo_por_division_sub_mk, # cumplimiento_cobro_division_sub,
    cumplimiento_recaudo_otras_companias_mk, # cumplimiento_cobro_compañias_mk,
    cumplimiento_recaudo_por_division_sub_gd, cumplimiento_recaudo_otras_companias_gd, # cumplimiento_cobro_division_sub_gd,
    cumplimiento_recaudo_por_division_sub_ad, # cumplimiento_cobro_division_sub_ad,
    cumplimiento_recaudo_otras_companias_ad, # cumplimiento_cobro_compañias_ad,
    cumplimiento_recaudo_por_division_sub_ad1, # cumplimiento_cobro_division_sub_ad1,
    cumplimiento_recaudo_otras_companias_ad1, # cumplimiento_cobro_compañias_ad1,
    cumplimiento_recaudo_por_division_sub_ad3, # cumplimiento_cobro_division_sub_ad3,
    cumplimiento_recaudo_otras_companias_ad3, # cumplimiento_cobro_compañias_ad3,
    cumplimiento_recaudo_por_division_sub_ad4, cumplimiento_recaudo_otras_companias_ad4, # cumplimiento_cobro_compañias_ad4,
    cumplimiento_recaudo_por_division_sub_ad5, cumplimiento_recaudo_otras_companias_ad5, # cumplimiento_cobro_compañias_ad5,
    cumplimiento_rentabilidad_cm5_nivel_pais, # rentabilidad_antes_de_impuestos,
    cumplimiento_rentabilidad_cm3_grupo_clientes_sub,  # rentabilidad_division_consecutivo,
    cumplimiento_rentabilidad_cm3_grupo_clientes, # rentabilidad_division,
    cumplimiento_rentabilidad_cm2_grupo_clientes, # rentabilidad_kam,
    cumplimiento_rentabilidad_cm5_ad, # rentabilidad_antes_de_impuestos_ad,
    cumplimiento_rentabilidad_cm5_ad1, # rentabilidad_antes_de_impuestos_ad1,
    cumplimiento_rentabilidad_cm5_ad2, # rentabilidad_antes_de_impuestos_ad2,
    cumplimiento_rentabilidad_cm5_ad3, # rentabilidad_antes_de_impuestos_ad3,
    cumplimiento_rentabilidad_cm5_ad4, # rentabilidad_antes_de_impuestos_ad4,
    cumplimiento_rentabilidad_cm5_ad5, # rentabilidad_antes_de_impuestos_ad5,
    cumplimiento_venta_previo_notas_credito_tp, # venta_credito_tp,
    cumplimiento_venta_servicios_mtto,
    # 2022
    venta_cobrada_braun_cluster,
    venta_cobrada_portafolio_cluster,
    venta_cobrada_portafolio_cluster_sub,
    venta_facturada_portafolio_cluster,
    venta_facturada_portafolio_cluster_sub,
    venta_cobrada_portafolio_pais_ve,
    venta_facturada_portafolio_zona_sub_ve,
    venta_cobrada_portafolio_zona_ve,
    venta_cobrada_portafolio_cluster_ve,
    venta_facturada_portafolio_cluster_sub_ve,
    venta_cobrada_zona_hospitalario_sub_gc,
    venta_cobrada_zona_hospitalario_sub_gd,
    venta_facturada_pais_ch,
    venta_facturada_zona_ch,
    rentabilidad_zona_hospitalario_cm2,
    venta_facturada_braun_pais,
    rentabilidad_compania_cm3,
    venta_cobrada_grupo_clientes_kams_sub,
    venta_facturada_grupo_clientes_kams,
    kpis_surgical,
    #2023
    venta_cobrada_portafolio_zona_cluster_sub,
    venta_facturada_portafolio_zona_cluster,
    venta_facturada_zona_pais,
    venta_cobrada_zona_pais_sub,
    venta_facturada_portafolio_renal
])
maestra_resultados['Contexto'] = maestra_resultados['Contexto'].astype('str')
maestra_resultados.drop_duplicates(['Contexto', 'Fecha', 'Variable'], inplace=True)
maestra_resultados.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN

In [144]:
maestra_resultados[maestra_resultados['Variable'] == "VentaCobradaPortafolioClusterSub"]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,1111111_1,2023-01-01,0.49,VentaCobradaPortafolioClusterSub,7.876988e+06,1.597001e+07
1,1111111_1,2023-02-01,0.79,VentaCobradaPortafolioClusterSub,2.955258e+07,3.726336e+07
2,1111111_1,2023-03-01,0.88,VentaCobradaPortafolioClusterSub,4.983988e+07,5.642737e+07
3,1111111_1,2023-04-01,0.77,VentaCobradaPortafolioClusterSub,5.824450e+07,7.559138e+07
4,1111111_1,2023-05-01,0.83,VentaCobradaPortafolioClusterSub,7.708269e+07,9.262606e+07
...,...,...,...,...,...,...
1341,5032456_1,2023-03-01,0.55,VentaCobradaPortafolioClusterSub,1.163961e+08,2.105215e+08
1342,5032456_1,2023-04-01,0.42,VentaCobradaPortafolioClusterSub,1.182242e+08,2.806953e+08
1343,5032456_1,2023-05-01,0.67,VentaCobradaPortafolioClusterSub,2.338780e+08,3.508691e+08
1344,5032456_1,2023-06-01,0.69,VentaCobradaPortafolioClusterSub,2.957790e+08,4.298147e+08
1345,5032456_1,2023-07-01,0.79,VentaCobradaPortafolioClusterSub,3.868013e+08,4.912168e+08

In [145]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('1111117')]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
707,1111117,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN
708,1111117,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN
709,1111117,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN
710,1111117,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN
711,1111117,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN
...,...,...,...,...,...,...
2,1111117,2023-03-01,1.52,VentaFacturadaPortafolioRenal,4.123146e+08,2.705246e+08
3,1111117,2023-04-01,1.37,VentaFacturadaPortafolioRenal,5.287976e+08,3.869063e+08
4,1111117,2023-05-01,1.33,VentaFacturadaPortafolioRenal,6.903051e+08,5.176915e+08
5,1111117,2023-06-01,1.14,VentaFacturadaPortafolioRenal,7.474474e+08,6.575690e+08
6,1111117,2023-07-01,1.23,VentaFacturadaPortafolioRenal,8.990932e+08,7.317517e+08

In [146]:
maestra_resultados[ maestra_resultados['Contexto'].str.contains('gd_3_5')]

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
119,gd_3_5,2023-03-01,0.75,VentaCobradaDivisionSub,134556105.0,1.800674e+08
120,gd_3_5,2023-04-01,0.67,VentaCobradaDivisionSub,157753772.0,2.346503e+08
121,gd_3_5,2023-05-01,0.65,VentaCobradaDivisionSub,188612809.0,2.882170e+08
122,gd_3_5,2023-06-01,0.75,VentaCobradaDivisionSub,258685208.0,3.464471e+08
123,gd_3_5,2023-07-01,0.75,VentaCobradaDivisionSub,294897018.0,3.953505e+08

## Se recalculan los porcentajes de cumplimiento para darle manejo a negativos

In [147]:
def recalcular_porcentajes_cumplimiento(row):
    response = row['PorcentajeCumplimiento']
    if not pd.isnull(row['Real']) and not pd.isnull(row['Presupuesto']):
        if row['Presupuesto'] == 0:
            response = 0
        elif row['Real'] - row['Presupuesto'] < 0:
            response = 1 + ((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
        elif row['Real'] - row['Presupuesto'] > 0:
            response = 1 + abs((row['Real'] - row['Presupuesto']) / abs(row['Presupuesto']))
    return round(response, 2)

maestra_resultados['PorcentajeCumplimiento'] = maestra_resultados.apply(recalcular_porcentajes_cumplimiento, axis=1)

## Se une la maestra de resultados con la parrilla

In [148]:
maestra_resultados

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN
...,...,...,...,...,...,...
14,5036358,2023-03-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0
15,5036358,2023-04-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0
16,5036358,2023-05-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0
17,5036358,2023-06-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0
18,5036358,2023-07-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0

In [149]:
df_parrillas[df_parrillas['Variable'] == 'VentaFacturadaZonaPais']

,CodigoEmpleado,Variable,Contexto,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,VentaFacturadaZonaPais,5004523,0.10,0,VentaFacturadaZonaPais,NaN
9,1144160710,VentaFacturadaZonaPais,1144160710,0.10,0,VentaFacturadaZonaPais,NaN
17,1111128,VentaFacturadaZonaPais,1111128,0.10,0,VentaFacturadaZonaPais,NaN
42,5032450,VentaFacturadaZonaPais,5032450,0.10,0,VentaFacturadaZonaPais,NaN
86,5002790,VentaFacturadaZonaPais,5002790,0.10,0,VentaFacturadaZonaPais,NaN
110,5003490,VentaFacturadaZonaPais,5003490,0.10,0,VentaFacturadaZonaPais,NaN
118,5002711,VentaFacturadaZonaPais,5002711,0.15,0,VentaFacturadaZonaPais,NaN
123,1111131,VentaFacturadaZonaPais,1111131,0.10,0,VentaFacturadaZonaPais,NaN
141,5032456,VentaFacturadaZonaPais,5032456,0.10,0,VentaFacturadaZonaPais,NaN
172,1111119,VentaFacturadaZonaPais,1111119,0.10,0,VentaFacturadaZonaPais,NaN
180,40927502,VentaFacturadaZonaPais,40927502,0.10,0,VentaFacturadaZonaPais,NaN
200,1111111,VentaFacturadaZonaPais,1111111,0.10,0,VentaFacturadaZonaPais,NaN
210,5002726,VentaFacturadaZonaPais,5002726,0.10,0,VentaFacturadaZonaPais,NaN
265,1111114,VentaFacturadaZonaPais,1111114,0.10,0,VentaFacturadaZonaPais,NaN
272,67032190,VentaFacturadaZonaPais,67032190,0.10,0,VentaFacturadaZonaPais,NaN
300,9990010,VentaFacturadaZonaPais,9990010,0.10,0,VentaFacturadaZonaPais,NaN
308,9990011,VentaFacturadaZonaPais,9990011,0.10,0,VentaFacturadaZonaPais,NaN
321,5002708,VentaFacturadaZonaPais,5002708,0.10,0,VentaFacturadaZonaPais,NaN
385,5006048,VentaFacturadaZonaPais,5006048,0.10,0,VentaFacturadaZonaPais,NaN
417,5041308,VentaFacturadaZonaPais,5041308,0.10,0,VentaFacturadaZonaPais,NaN
432,5016689,VentaFacturadaZonaPais,5016689,0.10,0,VentaFacturadaZonaPais,NaN
441,5002710,VentaFacturadaZonaPais,5002710,0.10,0,VentaFacturadaZonaPais,NaN
485,1111121,VentaFacturadaZonaPais,1111121,0.10,0,VentaFacturadaZonaPais,NaN
494,1094935408,VentaFacturadaZonaPais,1094935408,0.10,0,VentaFacturadaZonaPais,NaN
512,1111124,VentaFacturadaZonaPais,1111124,0.10,0,VentaFacturadaZonaPais,NaN
525,5003979,VentaFacturadaZonaPais,5003979,0.10,0,VentaFacturadaZonaPais,NaN
604,5041384,VentaFacturadaZonaPais,5041384,0.10,0,VentaFacturadaZonaPais,NaN
612,5008360,VentaFacturadaZonaPais,5008360,0.10,0,VentaFacturadaZonaPais,NaN
664,5004298,VentaFacturadaZonaPais,5004298,0.15,0,VentaFacturadaZonaPais,NaN
696,5038324,VentaFacturadaZonaPais,5038324,0.10,0,VentaFacturadaZonaPais,NaN
707,1111112,VentaFacturadaZonaPais,1111112,0.10,0,VentaFacturadaZonaPais,NaN
734,5005370,VentaFacturadaZonaPais,5005370,0.10,0,VentaFacturadaZonaPais,NaN
758,1111115,VentaFacturadaZonaPais,1111115,0.10,0,VentaFacturadaZonaPais,NaN
766,1120741903,VentaFacturadaZonaPais,1120741903,0.10,0,VentaFacturadaZonaPais,NaN
772,5036651,VentaFacturadaZonaPais,5036651,0.10,0,VentaFacturadaZonaPais,NaN
814,5002792,VentaFacturadaZonaPais,5002792,0.10,0,VentaFacturadaZonaPais,NaN
823,5005771,VentaFacturadaZonaPais,5005771,0.10,0,VentaFacturadaZonaPais,NaN
831,5043868,VentaFacturadaZonaPais,5043868,0.10,0,VentaFacturadaZonaPais,NaN
839,1010180302,VentaFacturadaZonaPais,1010180302,0.10,0,VentaFacturadaZonaPais,NaN
855,5002713,VentaFacturadaZonaPais,5002713,0.10,0,VentaFacturadaZonaPais,NaN
894,5016655,VentaFacturadaZonaPais,5016655,0.10,0,VentaFacturadaZonaPais,NaN
903,1111117,VentaFacturadaZonaPais,1111117,0.10,0,VentaFacturadaZonaPais,NaN
910,5036652,VentaFacturadaZonaPais,5036652,0.10,0,VentaFacturadaZonaPais,NaN
1030,39760927,VentaFacturadaZonaPais,39760927,0.10,0,VentaFacturadaZonaPais,NaN
1038,5044110,VentaFacturadaZonaPais,5044110,0.10,0,VentaFacturadaZonaPais,NaN
1046,5043875,VentaFacturadaZonaPais,5043875,0.10,0,VentaFacturadaZonaPais,NaN
1100,39099258,VentaFacturadaZonaPais,39099258,0.10,0,VentaFacturadaZonaPais,NaN
1106,1111113,VentaFacturadaZonaPais,1111113,0.10,0,VentaFacturadaZonaPais,NaN
1126,1111130,VentaFacturadaZonaPais,1111130,0.10,0,VentaFacturadaZonaPais,NaN
1140,5005980,VentaFacturadaZonaPais,5005980,0.15,0,VentaFacturadaZonaPais,NaN
1157,5016583,VentaFacturadaZonaPais,5016583,0.10,0,VentaFacturadaZonaPais,NaN
1176,5002723,VentaFacturadaZonaPais,5002723,0.10,0,VentaFacturadaZonaPais,NaN
1188,5002899,VentaFacturadaZonaPais,5002899,0.10,0,VentaFacturadaZonaPais,NaN
1197,5002700,VentaFacturadaZonaPais,5002700,0.10,0,VentaFacturadaZonaPais,NaN
1213,5041387,VentaFacturadaZonaPais,5041387,0.10,0,VentaFacturadaZonaPais,NaN
1221,5018231,VentaFacturadaZonaPais,5018231,0.10,0,VentaFacturadaZonaPais,NaN
1298,1111118,VentaFacturadaZonaPais,1111118,0.10,0,VentaFacturadaZonaPais,NaN
1306,5036653,VentaFacturadaZonaPais,5036653,0.10,0,VentaFacturadaZonaPais,NaN

In [150]:
maestra_resultados_por_empleado = maestra_resultados.merge(
    df_parrillas,
    on=['Contexto', 'Variable'],
    how='left'
)
maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
    on='CodigoEmpleado',
    how='left'
)
maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [152]:
df_salarios_variables.head()

  CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
0        5004523 2023-01-01        2000000.0                2000000.0
1        5004523 2023-02-01        2000000.0                2000000.0
2        5004523 2023-03-01        2000000.0                2000000.0
3        5004523 2023-04-01        2000000.0                2000000.0
4        5004523 2023-05-01        2000000.0                2000000.0

In [153]:
# Se añaden líneas para filtrar registros vacíos ('Fecha' y 'CodigoEmpleado')
maestra_resultados_por_empleado.dropna(subset=[
        'Fecha'
    ], inplace=True)
maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)
maestra_resultados_por_empleado

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15804,5036358,2023-03-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
15805,5036358,2023-04-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
15806,5036358,2023-05-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
15807,5036358,2023-06-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
15808,5036358,2023-07-01,0.00,VentaFacturadaPortafolioRenal,0.0,0.0,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [154]:
# TODO Hacer el merge con la tabla de promedio variable
maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
        columns={'PromedioSalarioVariable': 'SalarioVariable'}
    ),
    on=['CodigoEmpleado', 'Fecha'],
    how='left'
)
maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,Nombre consecutivo,TipoEmpleado,AreaCalculo,Apellidos,Nombre,FechaIngreso,SalarioVariable
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [155]:
# maestra_resultados_por_empleado = maestra_resultados.merge(
#     df_parrillas,
#     on=['Contexto', 'Variable'],
#     how='left'
# )

# maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
#     df_empleados[['CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Apellidos', 'Nombre', 'FechaIngreso']],
#     on='CodigoEmpleado',
#     how='left'
# )

# maestra_resultados_por_empleado.dropna(subset=[
#     'Fecha'
# ], inplace=True)
# maestra_resultados_por_empleado['CodigoEmpleado'] = maestra_resultados_por_empleado['CodigoEmpleado'].astype(str)

# # TODO Hacer el merge con la tabla de promedio variable
# maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
#     df_salarios_variables[['CodigoEmpleado', 'Fecha', 'PromedioSalarioVariable']].rename(
#         columns={'PromedioSalarioVariable': 'SalarioVariable'}
#     ),
#     on=['CodigoEmpleado', 'Fecha'],
#     how='left'
# )

maestra_resultados_por_empleado = maestra_resultados_por_empleado.merge(
    df_factores_liquidacion,
    on=['TipoEmpleado', 'PorcentajeCumplimiento'],
    how='left'
)

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] == 0)),
    0.25,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    ((maestra_resultados_por_empleado['Fecha'] >= '2022-08-01') & 
     (maestra_resultados_por_empleado['PorcentajeCumplimiento'] == 0) & 
     (maestra_resultados_por_empleado['Presupuesto'] == 0) & 
     (maestra_resultados_por_empleado['Real'] > 0)),
    0.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)

##
_excepciones_porcentaje_cumplimiento = [
    # {
    #     'TipoEmpleado': 'VC',
    #     'AreaCalculo': 7,
    #     'Variable': 'VentaFacturadaZonaCargoIndividualSub',
    #     'Consecutivo': 4,
    #     'FechaInicial': '2021-02-01',
    #     'FechaFinal': '2021-06-01',
    #     'PorcentajeCumplimiento': 1,
    #     'FactorIncentivo': 1,
    #     'Codigos': ['5003527']
    # }
]

for excepcion in _excepciones_porcentaje_cumplimiento:
    maestra_resultados_por_empleado['PorcentajeCumplimiento'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['PorcentajeCumplimiento'],
        maestra_resultados_por_empleado['PorcentajeCumplimiento']
    )
    maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
        (
            (maestra_resultados_por_empleado['CodigoEmpleado'].isin(excepcion['Codigos'])) &
            (maestra_resultados_por_empleado['Consecutivo'] == excepcion['Consecutivo']) &
            (maestra_resultados_por_empleado['Variable'] == excepcion['Variable']) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        excepcion['FactorIncentivo'],
        maestra_resultados_por_empleado['FactorIncentivo']
    )
##

maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']<0.9) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    0,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado['FactorIncentivo'] = np.where(
    (maestra_resultados_por_empleado['PorcentajeCumplimiento']>1.06) & (maestra_resultados_por_empleado['FactorIncentivo'].isnull()),
    2.5,
    maestra_resultados_por_empleado['FactorIncentivo']
)
maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['Fecha'].notnull()]
maestra_resultados_por_empleado['FactorMes'] = pd.DatetimeIndex(maestra_resultados_por_empleado['Fecha']).month
maestra_resultados_por_empleado['FactorMes'] = maestra_resultados_por_empleado['FactorMes'].astype('int')
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['SalarioVariable']*maestra_resultados_por_empleado['Porcentaje']
maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['FactorIncentivo']

try:
    maestra_resultados_por_empleado['DifMonths'] = ((maestra_resultados_por_empleado.Fecha - maestra_resultados_por_empleado.FechaIngreso)/np.timedelta64(1, 'M'))
except:
    maestra_resultados_por_empleado['DifMonths'] = 0
maestra_resultados_por_empleado['DifMonths'].fillna(0, inplace=True)
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].apply(lambda x: round(x, 0))
maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado['DifMonths'].astype('int')

maestra_resultados_por_empleado['DifMonths'] = maestra_resultados_por_empleado.groupby(['CodigoEmpleado'])['DifMonths'].transform(min)
maestra_resultados_por_empleado['DifMonths'] = np.where(
    maestra_resultados_por_empleado['DifMonths']>0, 0, maestra_resultados_por_empleado['DifMonths']
)
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['FactorMes'] + maestra_resultados_por_empleado['DifMonths']
maestra_resultados_por_empleado['NuevoFactor'] = maestra_resultados_por_empleado['NuevoFactor'].apply(lambda x: 0 if x<0 else x)

###
_excepciones_factor_mes = [
    # Garantizados para VEs y VCs
    {
        'TipoEmpleado': ['VC', 'VE'],
        'FechaInicial': '2022-03-01',
        'FechaFinal': '2022-12-01',
        'SumFactorMes': -2
    }
]
for excepcion in _excepciones_factor_mes:
    maestra_resultados_por_empleado['NuevoFactor'] = np.where(
        (
            (maestra_resultados_por_empleado['TipoEmpleado'].isin(excepcion['TipoEmpleado'])) &
            (maestra_resultados_por_empleado['Fecha'] >= excepcion['FechaInicial']) &
            (maestra_resultados_por_empleado['Fecha'] <= excepcion['FechaFinal'])
        ),
        maestra_resultados_por_empleado['NuevoFactor'] + excepcion['SumFactorMes'],
        maestra_resultados_por_empleado['NuevoFactor']
    )

maestra_resultados_por_empleado['NuevoFactor'] = np.where(
    maestra_resultados_por_empleado['NuevoFactor'] < 1,
    1,
    maestra_resultados_por_empleado['NuevoFactor']
)
maestra_resultados_por_empleado['NuevoFactorBK'] = maestra_resultados_por_empleado['NuevoFactor']
###

maestra_resultados_por_empleado['Liquidado'] = maestra_resultados_por_empleado['Liquidado']*maestra_resultados_por_empleado['NuevoFactor']

maestra_resultados_por_empleado = maestra_resultados_por_empleado[maestra_resultados_por_empleado['CodigoEmpleado'].notnull()]

In [156]:
maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,7,NaN,0,7,7
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,1,NaN,0,1,1
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,2,NaN,0,2,2
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,3,NaN,0,3,3
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,NaN,NaN,nan,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,NaN,4,NaN,0,4,4

In [157]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,...,Apellidos,Nombre,FechaIngreso,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK
8694,gd_3_5,2023-03-01,0.75,VentaCobradaDivisionSub,134556105.0,1.800674e+08,5036358,0.032,5.0,Venta Cobrada Unidades de Negocio a cargo (Nac...,...,VELASQUEZ ARTURO,CLAUDIA XIMENA,2020-02-01,4000000.0,0.0,3,0.0,0,3,3
8695,gd_3_5,2023-04-01,0.67,VentaCobradaDivisionSub,157753772.0,2.346503e+08,5036358,0.032,5.0,Venta Cobrada Unidades de Negocio a cargo (Nac...,...,VELASQUEZ ARTURO,CLAUDIA XIMENA,2020-02-01,4000000.0,0.0,4,0.0,0,4,4
8696,gd_3_5,2023-05-01,0.65,VentaCobradaDivisionSub,188612809.0,2.882170e+08,5036358,0.032,5.0,Venta Cobrada Unidades de Negocio a cargo (Nac...,...,VELASQUEZ ARTURO,CLAUDIA XIMENA,2020-02-01,4000000.0,0.0,5,0.0,0,5,5
8697,gd_3_5,2023-06-01,0.75,VentaCobradaDivisionSub,258685208.0,3.464471e+08,5036358,0.032,5.0,Venta Cobrada Unidades de Negocio a cargo (Nac...,...,VELASQUEZ ARTURO,CLAUDIA XIMENA,2020-02-01,4000000.0,0.0,6,0.0,0,6,6
8698,gd_3_5,2023-07-01,0.75,VentaCobradaDivisionSub,294897018.0,3.953505e+08,5036358,0.032,5.0,Venta Cobrada Unidades de Negocio a cargo (Nac...,...,VELASQUEZ ARTURO,CLAUDIA XIMENA,2020-02-01,4000000.0,0.0,7,0.0,0,7,7

## Se calculan los resultados por mes

In [158]:
lista_variables_rentabilidad_acumuladas = [
    'RentabilidadBbraunPaisAntesDeImpuestos',
    'RentabilidadDivisionGrupoClientesCM3',
    'RentabilidadDivisionGrupoClientesCM3Sub',
    'RentabilidadUnidadNegocioCM2',
    'RentabilidadUnidadNegocioCM2Sub',
    'RentabilidadUnidadNegocioCM3',
    'RentabilidadUnidadNegocioCM3Sub',
    'TotalRentabilidadBraunAntesDeImpuestosCM5',
    'VentaFacturadaPrevioNotasCreditoTP',
    # 2022
    'RentabilidadCompaniaCM3',
    'RentabilidadZonaHospitalarioCM2'
]

def calcular_resultado_mes(group):
    valor_previo_real = 0
    valor_previo_presupuesto = 0
    for index, item in group.iterrows():
        if item['Variable'] in lista_variables_rentabilidad_acumuladas:
            resultado_real_mes = item['Real']
            resultado_presupuesto_mes = item['Presupuesto']
        else:
            resultado_real_mes = item['Real'] - valor_previo_real
            resultado_presupuesto_mes = item['Presupuesto'] - valor_previo_presupuesto
        
        group.at[index, 'ResultadoRealMes'] = resultado_real_mes
        group.at[index, 'ResultadoPresupuesto'] = resultado_presupuesto_mes

        porcentaje_cumplimiento_mes = 0
        if resultado_presupuesto_mes == 0:
            porcentaje_cumplimiento_mes = 0
        elif resultado_real_mes - resultado_presupuesto_mes < 0:
            porcentaje_cumplimiento_mes = 1 + ((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        elif resultado_real_mes - resultado_presupuesto_mes > 0:
            porcentaje_cumplimiento_mes = 1 + abs((resultado_real_mes - resultado_presupuesto_mes) / abs(resultado_presupuesto_mes))
        else:
            porcentaje_cumplimiento_mes = resultado_real_mes / resultado_presupuesto_mes

        group.at[index, 'PorcentajeCumplimientoMes'] = round(porcentaje_cumplimiento_mes, 2)
        
        valor_previo_real = item['Real']
        valor_previo_presupuesto = item['Presupuesto']
    return group

maestra_resultados_por_empleado['Real'].fillna(0,inplace=True)
maestra_resultados_por_empleado['Presupuesto'].fillna(0,inplace=True)
maestra_resultados_por_empleado['ResultadoPresupuesto'] = 0
maestra_resultados_por_empleado['ResultadoRealMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = 0
maestra_resultados_por_empleado['PorcentajeCumplimientoMes'] = maestra_resultados_por_empleado['PorcentajeCumplimientoMes'].astype('float')
maestra_resultados_por_empleado = maestra_resultados_por_empleado.groupby(['CodigoEmpleado', 'Variable', 'Contexto'], group_keys=False).apply(calcular_resultado_mes)

maestra_resultados_por_empleado.head()

,Contexto,Fecha,PorcentajeCumplimiento,Variable,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,Nombre variable,...,SalarioVariable,FactorIncentivo,FactorMes,Liquidado,DifMonths,NuevoFactor,NuevoFactorBK,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes
0,5004523,2023-07-01,0.94,ObjetivosCualitativos,0.0,0.0,nan,NaN,NaN,NaN,...,NaN,NaN,7,NaN,0,7,7,0.0,0.0,0.0
1,5004523,2023-01-01,0.94,ObjetivosCualitativos,0.0,0.0,nan,NaN,NaN,NaN,...,NaN,NaN,1,NaN,0,1,1,0.0,0.0,0.0
2,5004523,2023-02-01,0.94,ObjetivosCualitativos,0.0,0.0,nan,NaN,NaN,NaN,...,NaN,NaN,2,NaN,0,2,2,0.0,0.0,0.0
3,5004523,2023-03-01,0.94,ObjetivosCualitativos,0.0,0.0,nan,NaN,NaN,NaN,...,NaN,NaN,3,NaN,0,3,3,0.0,0.0,0.0
4,5004523,2023-04-01,0.94,ObjetivosCualitativos,0.0,0.0,nan,NaN,NaN,NaN,...,NaN,NaN,4,NaN,0,4,4,0.0,0.0,0.0

In [159]:
# Se une el resultadio histórico con el actual, de tal forma que al histórico se le agregan únicamenet 
# los resultados correspondientes al mes que se está liquidando
resultado_detallado_historico = df_resultado_detallado_previo.copy()
last_date_historico = resultado_detallado_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    maestra_resultados_por_empleado = maestra_resultados_por_empleado[
        (maestra_resultados_por_empleado['Fecha']<=fecha_liquidacion)
    ]
    if last_date_historico:
        maestra_resultados_por_empleado = maestra_resultados_por_empleado[
            maestra_resultados_por_empleado['Fecha']>last_date_historico
        ]
except:
    raise

maestra_resultados_por_empleado = pd.concat([resultado_detallado_historico, maestra_resultados_por_empleado])
maestra_resultados_por_empleado = maestra_resultados_por_empleado.sort_values(by=['CodigoEmpleado', 'Fecha'])
maestra_resultados_por_empleado

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes,Nombre variable,Nombre consecutivo,NuevoFactorBK
0,1013583607,2023-01-01,ObjetivosCualitativos,0.94,0.000000e+00,0.000000e+00,1013583607,0.15,0.0,GU,...,1,270000.0,0,1,0.000000e+00,0.000000e+00,0.00,NaN,NaN,NaN
1,gu_10,2023-01-01,VentaFacturadaUnidadNegocio,0.94,1.504939e+08,1.597478e+08,1013583607,0.15,0.0,GU,...,1,270000.0,0,1,1.597478e+08,1.504939e+08,0.94,NaN,NaN,NaN
2,gu_10_1,2023-01-01,VentaCobradaUnidadNegocioSub,1.19,2.494700e+08,2.089267e+08,1013583607,0.12,1.0,GU,...,1,900000.0,0,1,2.089267e+08,2.494700e+08,1.19,NaN,NaN,NaN
3,gu_10_2,2023-01-01,VentaCobradaUnidadNegocioSub,0.89,1.038770e+08,1.164731e+08,1013583607,0.28,2.0,GU,...,1,0.0,0,1,1.164731e+08,1.038770e+08,0.89,NaN,NaN,NaN
4,BBMCO,2023-01-01,VentaFacturadaBraunPais,1.00,9.662169e+09,9.707739e+09,1013583607,0.10,0.0,GU,...,1,300000.0,0,1,9.707739e+09,9.662169e+09,1.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2708,9990011,2023-04-01,VentaFacturadaZonaPais,1.15,1.786113e+10,1.548939e+10,9990011,0.10,0.0,VC,...,4,0.0,0,4,4.059261e+09,5.776486e+09,1.42,NaN,NaN,NaN
3448,11,2023-05-01,VentaCobradaBraunCluster,0.93,3.069729e+09,3.300361e+09,9990011,0.20,0.0,VC,...,5,0.0,0,5,6.136839e+08,8.357373e+08,1.36,NaN,NaN,NaN
3449,9990011,2023-05-01,VentaFacturadaZonaPais,1.14,2.297701e+10,2.015130e+10,9990011,0.10,0.0,VC,...,5,0.0,0,5,4.661912e+09,5.115884e+09,1.10,NaN,NaN,NaN
4193,11,2023-06-01,VentaCobradaBraunCluster,0.92,3.640168e+09,3.968006e+09,9990011,0.20,0.0,VC,...,6,0.0,0,6,6.676453e+08,5.704388e+08,0.85,NaN,NaN,NaN
4194,9990011,2023-06-01,VentaFacturadaZonaPais,1.14,2.825076e+10,2.472493e+10,9990011,0.10,0.0,VC,...,6,0.0,0,6,4.573631e+09,5.273744e+09,1.15,NaN,NaN,NaN

In [160]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']

,Contexto,Fecha,Variable,PorcentajeCumplimiento,Real,Presupuesto,CodigoEmpleado,Porcentaje,Consecutivo,TipoEmpleado,...,FactorMes,Liquidado,DifMonths,NuevoFactor,ResultadoPresupuesto,ResultadoRealMes,PorcentajeCumplimientoMes,Nombre variable,Nombre consecutivo,NuevoFactorBK
1689,gd_3_5,2023-03-01,VentaCobradaDivisionSub,0.75,134556105.0,1.800674e+08,5036358,0.032,5.0,GD,...,3,0.0,0,3,180067380.0,134556105.0,0.75,NaN,NaN,NaN
2459,gd_3_5,2023-04-01,VentaCobradaDivisionSub,0.67,157753772.0,2.346503e+08,5036358,0.032,5.0,GD,...,4,0.0,0,4,54582952.0,23197667.0,0.42,NaN,NaN,NaN
3211,gd_3_5,2023-05-01,VentaCobradaDivisionSub,0.65,188612809.0,2.882170e+08,5036358,0.032,5.0,GD,...,5,0.0,0,5,53566707.0,30859037.0,0.58,NaN,NaN,NaN
3952,gd_3_5,2023-06-01,VentaCobradaDivisionSub,0.75,258685208.0,3.464471e+08,5036358,0.032,5.0,GD,...,6,0.0,0,6,58230057.0,70072399.0,1.20,NaN,NaN,NaN

## Se obtienen las liquidaciones

In [161]:
excepciones_pagos_acumulados = {}

excepciones_diferencias = {}

In [162]:
resultado_liquidaciones = maestra_resultados_por_empleado.groupby(
    ['CodigoEmpleado', 'SalarioVariable', 'Fecha', 'NuevoFactorBK'],
    as_index=False
).Liquidado.agg({'Liquidado': 'sum'})
resultado_liquidaciones.rename(columns={'NuevoFactorBK': 'NuevoFactor'}, inplace=True)
resultado_liquidaciones.head()
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_incentivos_por_empleado.rename(columns={'Valor': 'PagoReal'}),
    on = ['CodigoEmpleado', 'Fecha'],
    how = 'right'
)
resultado_liquidaciones = pd.merge(
    left=resultado_liquidaciones,
    right=df_empleados[['CodigoEmpleado', 'FechaIngreso']].drop_duplicates(['CodigoEmpleado']),
    how='left',
    on=['CodigoEmpleado']
)

resultado_liquidaciones = resultado_liquidaciones[resultado_liquidaciones['Fecha'] >= resultado_liquidaciones['FechaIngreso']]
resultado_liquidaciones.drop(columns=['FechaIngreso'], inplace=True)
resultado_liquidaciones.head()

# Cálculo de garantizado (100%) para VEs y VCs, Anticipos (85%) para el resto de empleados
resultado_liquidaciones = resultado_liquidaciones.merge(
    df_empleados[['CodigoEmpleado', 'TipoEmpleado']],
    on='CodigoEmpleado',
    how='left'
)

def calcular_liquidacion_mes(g):
    pago_acumulado = 0
    for i, row in g.iterrows():
        if row['Fecha'].month in meses_incentivos:
            if g.at[i, 'PagoReal'] == 0:
                if i == 0:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado']
                else:
                    g.at[i, 'PagoReal'] = g.at[i, 'Liquidado'] - pago_acumulado
            
            if g.at[i, 'PagoReal'] < 0:
                g.at[i, 'PagoReal'] = 0.0
        pago_acumulado += g.at[i, 'PagoReal']
        
        excepcion = excepciones_pagos_acumulados.get(row['CodigoEmpleado'], None)
        if excepcion and row['Fecha'] == excepcion['Fecha']:
            pago_acumulado = excepcion['ValorPagoAcumulado']
        
        excepcion_diferencia = excepciones_diferencias.get(row['CodigoEmpleado'], None)
        if excepcion_diferencia and row['Fecha'] == excepcion_diferencia['Fecha']:
            pago_acumulado = pago_acumulado + excepcion_diferencia['ValorDiferencia']
        
    return g
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])
resultado_liquidaciones.reset_index(inplace=True, drop=True)
resultado_liquidaciones['PagoReal'].fillna(0.0, inplace=True)
resultado_liquidaciones['Liquidado'].fillna(0.0, inplace=True)
resultado_liquidaciones = resultado_liquidaciones.groupby(['CodigoEmpleado'], group_keys=False).apply(calcular_liquidacion_mes)
resultado_liquidaciones.rename(columns={'NuevoFactor': 'FactorMes'}, inplace=True)
resultado_liquidaciones['PagoGarantizado'] = 'NO'

resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['VE', 'VC']))
    ),
    resultado_liquidaciones['SalarioVariable'],
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones['PagoReal'] = np.where(
    (
        (resultado_liquidaciones['Fecha'] >= '2022-01-01') &
        (resultado_liquidaciones['Fecha'] <= '2022-02-01') &
        (resultado_liquidaciones['TipoEmpleado'].isin(['AD', 'AD1', 'AD2', 'AD3', 'AD4', 'AD5', 'GC', 'GD', 'GU', 'KAM', 'MK']))
    ),
    resultado_liquidaciones['SalarioVariable'] * 0.85,
    resultado_liquidaciones['PagoReal']
)
resultado_liquidaciones.drop(columns=['TipoEmpleado'], inplace=True)

resultado_liquidaciones.head(12)

,SalarioVariable,FactorMes,Liquidado,CodigoEmpleado,Fecha,PagoReal,PagoGarantizado
0,NaN,NaN,0.0,1000972927,2023-07-01,0.0,NO
1,NaN,NaN,0.0,1010227511,2023-07-01,0.0,NO
2,NaN,NaN,0.0,1013583607,2023-01-01,1545000.0,NO
3,NaN,NaN,0.0,1013583607,2023-02-01,3555000.0,NO
4,NaN,NaN,0.0,1013583607,2023-03-01,7797000.0,NO
5,NaN,NaN,0.0,1013583607,2023-04-01,8211000.0,NO
6,NaN,NaN,0.0,1013583607,2023-05-01,11517000.0,NO
7,NaN,NaN,0.0,1013583607,2023-06-01,3069000.0,NO
8,NaN,NaN,0.0,1013583607,2023-07-01,0.0,NO
9,NaN,NaN,0.0,1013587064,2023-01-01,270000.0,NO
10,NaN,NaN,0.0,1013587064,2023-02-01,580000.0,NO
11,NaN,NaN,0.0,1013587064,2023-03-01,1190005.7,NO

## Se obtienen los garantizados

In [163]:
empleados_garantizado = df_empleados[df_empleados['FechaIngreso'] > fecha_liquidacion][['CodigoEmpleado', 'SalarioVariable', 'FechaIngreso']]
fechas_resultado_liquidaciones = resultado_liquidaciones[['Fecha']].drop_duplicates()

empleados_garantizado['Key'] = 1
fechas_resultado_liquidaciones['Key'] = 1

liquidaciones_garantizados = pd.merge(
    left=fechas_resultado_liquidaciones.sort_values(['Fecha']),
    right=empleados_garantizado,
    how='outer',
    on=['Key']
).drop(columns=['Key'])

liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['CodigoEmpleado'].notnull()]

liquidaciones_garantizados['DifMonths'] = ((liquidaciones_garantizados.FechaIngreso - liquidaciones_garantizados.Fecha)/np.timedelta64(1, 'M'))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].apply(lambda x: round(x, 0))
liquidaciones_garantizados['DifMonths'] = liquidaciones_garantizados['DifMonths'].astype('int')
liquidaciones_garantizados = liquidaciones_garantizados[liquidaciones_garantizados['DifMonths'] <= 4]

liquidaciones_garantizados['FactorMes'] = 0
liquidaciones_garantizados['Liquidado'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoReal'] = liquidaciones_garantizados['SalarioVariable']
liquidaciones_garantizados['PagoGarantizado'] = 'SI'

liquidaciones_garantizados.drop(columns=['DifMonths', 'FechaIngreso'], inplace=True)

liquidaciones_garantizados.head()

,Fecha,CodigoEmpleado,SalarioVariable,FactorMes,Liquidado,PagoReal,PagoGarantizado
4,2023-01-01,1111125,2000000.0,0,2000000.0,2000000.0,SI
5,2023-01-01,1111126,2000000.0,0,2000000.0,2000000.0,SI
13,2023-01-01,79950432,600000.0,0,600000.0,600000.0,SI
18,2023-01-01,1111124,2500000.0,0,2500000.0,2500000.0,SI
32,2023-01-01,1111127,2500000.0,0,2500000.0,2500000.0,SI

## Se unen las liquidaciones de garantizados con las demás

In [164]:
resultado_liquidaciones = pd.concat([resultado_liquidaciones, liquidaciones_garantizados])
resultado_liquidaciones.reset_index(drop=True, inplace=True)
resultado_liquidaciones

,SalarioVariable,FactorMes,Liquidado,CodigoEmpleado,Fecha,PagoReal,PagoGarantizado
0,NaN,NaN,0.0,1000972927,2023-07-01,0.0,NO
1,NaN,NaN,0.0,1010227511,2023-07-01,0.0,NO
2,NaN,NaN,0.0,1013583607,2023-01-01,1545000.0,NO
3,NaN,NaN,0.0,1013583607,2023-02-01,3555000.0,NO
4,NaN,NaN,0.0,1013583607,2023-03-01,7797000.0,NO
...,...,...,...,...,...,...,...
989,2200000.0,0.0,2200000.0,1111130,2023-07-01,2200000.0,SI
990,1000000.0,0.0,1000000.0,1099210739,2023-07-01,1000000.0,SI
991,600000.0,0.0,600000.0,1098612757,2023-07-01,600000.0,SI
992,500000.0,0.0,500000.0,1032426388,2023-07-01,500000.0,SI
993,300000.0,0.0,300000.0,80857971,2023-07-01,300000.0,SI

## Se conserva la información del histórico y se le añade la nueva información hasta la fecha de liquidación

In [165]:
resultado_liquidaciones_historico = df_resultado_liquidaciones_previo.copy()
resultado_liquidaciones_historico['PagoGarantizado'] = resultado_liquidaciones_historico['PagoGarantizado'].fillna('NO')
last_date_historico = resultado_liquidaciones_historico['Fecha'].max()
last_date_historico = None if pd.isnull(last_date_historico) else last_date_historico

try:
    resultado_liquidaciones = resultado_liquidaciones[
        resultado_liquidaciones['Fecha']<=fecha_liquidacion
    ]
    if last_date_historico:
        resultado_liquidaciones = resultado_liquidaciones[
            resultado_liquidaciones['Fecha']>last_date_historico
        ]
except:
    pass

resultado_liquidaciones = pd.concat([resultado_liquidaciones_historico, resultado_liquidaciones])
resultado_liquidaciones = resultado_liquidaciones.sort_values(by=['CodigoEmpleado', 'Fecha'])

for codigo_empleado_excepcion in excepciones_pagos_acumulados:
    excepcion = excepciones_pagos_acumulados[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] <= excepcion['Fecha'])
        ),
        excepcion['ValorPagoAcumulado'],
        resultado_liquidaciones['PagoReal']
    )

for codigo_empleado_excepcion in excepciones_diferencias:
    excepcion = excepciones_diferencias[codigo_empleado_excepcion]
    resultado_liquidaciones['PagoReal'] = np.where(
        (
            (resultado_liquidaciones['CodigoEmpleado'] == codigo_empleado_excepcion) &
            (resultado_liquidaciones['Fecha'] == excepcion['Fecha'])
        ),
        resultado_liquidaciones['PagoReal'] + excepcion['ValorDiferencia'],
        resultado_liquidaciones['PagoReal']
    )

resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones.groupby(['CodigoEmpleado'])['PagoReal'].transform(pd.Series.cumsum)
resultado_liquidaciones['PagadoFecha'] = resultado_liquidaciones['PagadoFecha'] - resultado_liquidaciones['PagoReal']
resultado_liquidaciones

,CodigoEmpleado,SalarioVariable,Fecha,FactorMes,PagoGarantizado,Liquidado,PagoReal,PagadoFecha
45,1013583607,3000000.0,2023-01-01,1.0,NO,1740000.0,1545000.0,0.0
163,1013583607,3000000.0,2023-02-01,2.0,NO,5100000.0,3555000.0,1545000.0
284,1013583607,3000000.0,2023-03-01,3.0,NO,12897000.0,7797000.0,5100000.0
403,1013583607,3000000.0,2023-04-01,4.0,NO,21108000.0,8211000.0,12897000.0
520,1013583607,3000000.0,2023-05-01,5.0,NO,32625000.0,11517000.0,21108000.0
...,...,...,...,...,...,...,...,...
691,94487610,2000000.0,2023-06-01,6.0,NO,17314500.0,5025750.0,12288750.0
87,9990010,0.0,2023-01-01,1.0,NO,0.0,0.0,0.0
206,9990010,0.0,2023-02-01,2.0,NO,0.0,0.0,0.0
88,9990011,0.0,2023-01-01,1.0,NO,0.0,0.0,0.0
207,9990011,0.0,2023-02-01,2.0,NO,0.0,0.0,0.0

In [166]:
resultado_liquidaciones.drop_duplicates(['CodigoEmpleado', 'Fecha'], inplace=True)

resultado_final = pd.merge(
    left=resultado_liquidaciones[['CodigoEmpleado', 'Fecha', 'PagoGarantizado', 'Liquidado', 'PagoReal', 'PagadoFecha', 'FactorMes']],
    right=df_empleados,
    on=['CodigoEmpleado'],
    how='left'
)
resultado_final = resultado_final[['Identificacion', 'Nombre', 'Apellidos', 'CodigoEmpleado', 'TipoEmpleado', 'AreaCalculo', 'Fecha', 'SalarioVariable', 'PagoGarantizado', 'FactorMes', 'Liquidado', 'PagoReal', 'PagadoFecha']]
resultado_final = resultado_final.sort_values(by=['TipoEmpleado', 'AreaCalculo', 'CodigoEmpleado', 'Fecha'])

resultado_final.rename(columns={
    'Identificacion': 'Cédula',
    'CodigoEmpleado': 'Código',
    'TipoEmpleado': 'Tipo Empleado',
    'AreaCalculo': 'Área de cálculo',
    'Liquidado': 'Valor liquidado',
    'PagoReal': 'Valor neto a pagar',
    'PagadoFecha': 'Pagado a la fecha',
    'SalarioVariable': 'Salario variable',
    'FactorMes': 'Factor mes',
    'PagoGarantizado': '¿Pago garantizado?'
}, inplace=True)
resultado_final.head()

,Cédula,Nombre,Apellidos,Código,Tipo Empleado,Área de cálculo,Fecha,Salario variable,¿Pago garantizado?,Factor mes,Valor liquidado,Valor neto a pagar,Pagado a la fecha
547,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2023-01-01,3392000.0,NO,1.0,1272000.00,1797760.00,0.00
548,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2023-02-01,3392000.0,NO,2.0,5766400.00,3968640.00,1797760.00
549,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2023-03-01,3392000.0,NO,3.0,5683092.48,0.00,5766400.00
550,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2023-04-01,3392000.0,NO,4.0,7506631.68,1740231.68,5766400.00
551,51790647,SONIA AHIDE,MARTIN AVILA,51790647,AD,1.0,2023-05-01,3392000.0,NO,5.0,23388247.04,15881615.36,7506631.68

In [167]:
# return maestra_resultados_por_empleado, resultado_liquidaciones, resultado_final

In [168]:
maestra_resultados_por_empleado.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados_por_empleado.xlsx'))
resultado_liquidaciones.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_liquidaciones.xlsx'))
resultado_final.to_excel(os.path.join(OUTPUT_FOLDER, 'resultado_final.xlsx'))

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter\\output\\maestra_resultados_por_empleado.xlsx'

In [ ]:
maestra_resultados.to_excel(os.path.join(OUTPUT_FOLDER, 'maestra_resultados.xlsx'))

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Variable'] == 'RentabilidadDivisionGrupoClientesCM3']

In [ ]:
maestra_resultados_por_empleado[maestra_resultados_por_empleado['Contexto'] == 'gd_3_5']