# CalculoRubroBase

In [105]:
import os
import sys
import pandas as pd
import numpy as np
from datetime import datetime
import import_ipynb
from shared_functions1 import DataframeLoader, Shared
from calculosba_areacalculo import AreaCalculoSBA

# import import_ipynb
base_dir = 'C:\\Users\\Crisp\\Documents\\QualitySoftGroup\\Proyectos\\Liquidations-Incentives-Jupyter'
sub_direct = 'archivos-fuente-95(1)'
folder_bbraun_source = os.path.join(base_dir, 'source', sub_direct)
folder_bbraun_output = os.path.join(base_dir, 'output')
print(folder_bbraun_source)

C:\Users\Crisp\Documents\QualitySoftGroup\Proyectos\Liquidations-Incentives-Jupyter\source\archivos-fuente-95(1)

In [106]:
dataframe_loader = DataframeLoader(
    base_dir=base_dir,
    sub_direct=sub_direct
)
shared = Shared()
dataframe_loader.cargar_dataframes(base_dir, folder_bbraun_source)

(        Contexto      Fecha                             Variable  \
 0     1013583607 2023-01-01                ObjetivosCualitativos
 1          gu_10 2023-01-01          VentaFacturadaUnidadNegocio
 2        gu_10_1 2023-01-01         VentaCobradaUnidadNegocioSub
 3        gu_10_2 2023-01-01         VentaCobradaUnidadNegocioSub
 4          BBMCO 2023-01-01              VentaFacturadaBraunPais
 ...          ...        ...                                  ...
 8880    94487610 2023-11-01  VentaFacturadaPortafolioZonaCluster
 8881          10 2023-11-01             VentaCobradaBraunCluster
 8882     9990010 2023-11-01               VentaFacturadaZonaPais
 8883          11 2023-11-01             VentaCobradaBraunCluster
 8884     9990011 2023-11-01               VentaFacturadaZonaPais

       PorcentajeCumplimiento          Real   Presupuesto CodigoEmpleado  \
 0                       0.94  0.000000e+00  0.000000e+00     1013583607
 1                       0.94  1.504939e+08  1.597478e+08     1013583607
 2                       1.19  2.494700e+08  2.089267e+08     1013583607
 3                       0.89  1.038770e+08  1.164731e+08     1013583607
 4                       1.00  9.662169e+09  9.707739e+09     1013583607
 ...                      ...           ...           ...            ...
 8880                    1.14  1.913020e+10  1.685025e+10     94487610.0
 8881                    0.96  1.253194e+10  1.307892e+10      9990010.0
 8882                    1.02  5.363985e+10  5.243367e+10      9990010.0
 8883                    1.01  7.084725e+09  7.008460e+09      9990011.0
 8884                    1.02  5.363985e+10  5.243367e+10      9990011.0

       Porcentaje  Consecutivo TipoEmpleado  ...           Nombre  \
 0           0.15            0           GU  ...  JULIETTE SAMARA
 1           0.15            0           GU  ...  JULIETTE SAMARA
 2           0.12            1           GU  ...  JULIETTE SAMARA
 3           0.28            2           GU  ...  JULIETTE SAMARA
 4           0.10            0           GU  ...  JULIETTE SAMARA
 ...          ...          ...          ...  ...              ...
 8880        0.30            0           VE  ...    Jose Gregorio
 8881        0.20            0           VC  ...          Vacante
 8882        0.10            0           VC  ...          Vacante
 8883        0.20            0           VC  ...          Vacante
 8884        0.10            0           VC  ...          Vacante

       FechaIngreso FactorIncentivo FactorMes   Liquidado  DifMonths  \
 0       2021-08-01           0.600         1    270000.0          0
 1       2021-08-01           0.600         1    270000.0          0
 2       2021-08-01           2.500         1    900000.0          0
 3       2021-08-01           0.000         1         0.0          0
 4       2021-08-01           1.000         1    300000.0          0
 ...            ...             ...       ...         ...        ...
 8880    2022-06-01           2.360        11  15576000.0          0
 8881    2023-01-01           0.775        11         0.0          0
 8882    2023-01-01           1.120        11         0.0          0
 8883    2023-01-01           1.060        11         0.0          0
 8884    2023-01-01           1.120        11         0.0          0

       NuevoFactor  ResultadoPresupuesto  ResultadoRealMes  \
 0               1          0.000000e+00      0.000000e+00
 1               1          1.597478e+08      1.504939e+08
 2               1          2.089267e+08      2.494700e+08
 3               1          1.164731e+08      1.038770e+08
 4               1          9.707739e+09      9.662169e+09
 ...           ...                   ...               ...
 8880           11          1.914802e+09      2.464106e+09
 8881           11          8.598494e+08      1.348884e+09
 8882           11          5.764990e+09      5.163978e+09
 8883           11          5.794388e+08      7.897986e+08
 8884           11          5.764990e+09      5.163978e+09

       PorcentajeCumplimientoMes
 0                          0.00
 1                          0.94
 2                          1.19
 3                          0.89
 4                          1.00
 ...                         ...
 8880                       1.29
 8881                       1.57
 8882                       0.90
 8883                       1.36
 8884                       0.90

 [8885 rows x 23 columns],
      CodigoEmpleado  SalarioVariable      Fecha  FactorMes PagoGarantizado  \
 0        1098618755         600000.0 2023-01-01          1              NO
 1          51790647        3392000.0 2023-01-01          1              NO
 2          52057371        1083000.0 2023-01-01          1              NO
 3          52193204        1000000.0 2023-01-01          1              NO
 4          52875549        1000000.0 2023-01-01          1              NO
 ...             ...              ...        ...        ...             ...
 1407     1030524723        2200000.0 2023-11-01         11              NO
 1408        1111120        2000000.0 2023-11-01          9              NO
 1409     1010166177        2500000.0 2023-11-01          0              SI
 1410       79625102        2500000.0 2023-11-01          0              SI
 1411        1111125        2000000.0 2023-11-01          8              NO

        Liquidado   PagoReal
 0       288000.0   318000.0
 1      1272000.0  1797760.0
 2       406125.0   573990.0
 3       375000.0   530000.0
 4       375000.0   530000.0
 ...          ...        ...
 1407  14620750.0  1456250.0
 1408  41730000.0  7084000.0
 1409   2500000.0  2500000.0
 1410   2500000.0  2500000.0
 1411  29627500.0  7281250.0

 [1412 rows x 7 columns],
     TipoEmpleado CodigoEmpleado Identificacion  \
 0             VC        5004523       36952327
 1             VC        1111128     1144160710
 2             MK     1030591908     1030591908
 3             GU       53069050       53069050
 4             VE        5004589       43876232
 ..           ...            ...            ...
 139           GD        5036358       52081363
 140           VE        5041369     1130613731
 141           MK       80857971       80857971
 142           VE        5041312       40411853
 143           VC        1111118     1152685303

                   CorreoElectronico               Nombre         Apellidos  \
 0         sobeyda.acosta@bbraun.com  SOBEYDA DEL SOCORRO   ACOSTA PORTILLO
 1         lizeth.ahumada@bbraun.com           Ana Lizeth     Ahumada Eraso
 2                               NaN        CARLOS ANDRES     ALARCON LOPEZ
 3        sylvia.altahona@bbraun.com      SYLVIA CRISTINA  ALTAHONA BARRERA
 4       catalina.alvarez@bbraun.com       CATALINA MARIA   ALVAREZ CAICEDO
 ..                              ...                  ...               ...
 139    claudia.velasquez@bbraun.com       CLAUDIA XIMENA  VELASQUEZ ARTURO
 140      andres.victoria@bbraun.com      ANDRES MAURICIO    VICTORIA LOPEZ
 141                             NaN            JUAN JOSE   ZAMORA MORANTES
 142  lina_shirley.zapata@bbraun.com         LINA SHIRLEY  ZAPATA GUTIERREZ
 143     elizabeth.zapata@bbraun.com            Elizabeth      Zapata Serna

      SalarioVariable FechaIngreso FechaRetiro  AreaCalculo
 0          2500000.0   2023-10-01         NaT            3
 1          2200000.0   2023-06-01         NaT            4
 2           500000.0   2023-07-01         NaT           13
 3          3000000.0   2021-03-01         NaT            7
 4          2200000.0   2018-11-01         NaT            7
 ..               ...          ...         ...          ...
 139        4000000.0   2020-02-01         NaT            3
 140        2000000.0   2021-10-01         NaT            4
 141         300000.0   2023-07-01         NaT           12
 142        2500000.0   2021-09-01         NaT            5
 143        2000000.0   2022-11-01         NaT            4

 [144 rows x 10 columns],
    TipoEmpleado CodigoEmpleado Identificacion              CorreoElectronico  \
 0            VC     1144160710     1144160710                            NaN
 1            VC        5004323       49761785  patricia.almarales@bbraun.com
 2            VC        5032450       52954107      lizeth.alvarez@bbraun.com
 3            VE        5002705       63308123         fanny.amaya@bbraun.com
 4           AD4       53002714       53002714      helenj.arteaga@bbraun.com
 ..          ...            ...            ...                            ...
 86           VE        5004557        5004557                            NaN
 87           VE     1020784302     1020784302     daniela.velasco@bbraun.com
 88          AD1       13874027       13874027    ramon.villamizar@bbraun.com
 89           VE        5005917       16933275       andres.zapata@bbraun.com
 90           VC        5036653       80181317           juan.zipa@bbraun.com

                Nombre          Apellidos  SalarioVariable FechaIngreso  \
 0          Ana Lizeth            Ahumada        2200000.0   2023-06-01
 1   PATRICIA AGUSTINA  ALMARALES BARRERA        2080000.0   2014-06-01
 2              LIZETH   ALVAREZ CORREDOR        1500000.0   2021-12-01
 3               FANNY      AMAYA NAVARRO        2397000.0   1994-04-18
 4               HELEN            ARTEAGA        1200000.0   2019-11-01
 ..                ...                ...              ...          ...
 86            VACANTE         VACANTE AC              0.0   2013-12-01
 87      KAREN DANIELA        VELASCO ROA        2000000.0   2021-12-01
 88        RAMON ELIAS  VILLAMIZAR BLANCO        1048120.0   2020-05-01
 89      ANDRES FELIPE             ZAPATA        1800000.0   2017-04-01
 90        JUAN CARLOS      ZIPA BAUTISTA        2200000.0   2020-04-01

    FechaRetiro  AreaCalculo
 0          NaT            3
 1          NaT            6
 2          NaT            4
 3          NaT            5
 4          NaT            2
 ..         ...          ...
 86         NaT           10
 87         NaT            2
 88  2023-09-26           10
 89         NaT            8
 90         NaT            5

 [91 rows x 10 columns],
    CodigoTipoEmpleado CategoriaTipoEmpleado                         TextoPDF
 0                  AD        Administrativo                   Administración
 1                 AD1        Administrativo                      Operaciones
 2                 AD2        Administrativo                      Operaciones
 3                 AD3        Administrativo                      Operaciones
 4                 AD4        Administrativo                   Administración
 5                 AD5        Administrativo                   Administración
 6                CTLA             Comercial                   Market manager
 7                  GC        Administrativo                  Gerente de zona
 8                  GD             Comercial              Gerente de división
 9                  GU             Comercial     Gerente de unidad de negocio
 10                KAM             Comercial  Gerente de cuentas corporativas
 11                 MK             Comercial  Jefe de servicios hospitalarios
 12                 VC             Comercial                         Asesores
 13                 VE             Comercial                         Asesores
 14                VE1             Comercial                         Asesores
 15                VE2             Comercial                         Asesores,
    Cluster CodigoEmpleado TipoEmpleado  AreaCalculo
 0        6        5004523           VC            3
 1       11        1111128           VC            4
 2       15        5004589           VE            7
 3       16        5004589           VE            7
 4       17        5004589           VE            7
 5       18        5004589           VE            7
 6       21        5004589           VE            7
 7       22       79625102           VE           11
 8        7        5002790           VC            3
 9        4        1111131           VC            3
 10      20        5032456           VC            5
 11      10        1111133           VC            3
 12      17        1111119           VC            4
 13      16        1111111           VC            3
 14      17        1111111           VC            3
 15       9        5002726           VC            4
 16      22     1010166177           VE            9
 17      10        9990010           VC            4
 18      11        9990011           VC            4
 19       6        5002708           VC            4
 20      10       31308239           VE            7
 21      11       31308239           VE            7
 22      12       31308239           VE            7
 23      13       31308239           VE            7
 24      14       31308239           VE            7
 25      12       31655084           VC            4
 26       1        5002699           VE            7
 27       2        5002699           VE            7
 28       3        5002699           VE            7
 29       4        5002699           VE            7
 30       5        5002699           VE            7
 31       6        5002699           VE            7
 32       7        5002699           VE            7
 33       8        5002699           VE            7
 34       9        5002699           VE            7
 35       2        5041308           VC            4
 36      11        5016689           VC            3
 37       2       32893962           VC            3
 38       5     1094935408           VC            4
 39      14        1111124           VC            3
 40       4        5041384           VC            4
 41       8        5008360           VC            4
 42       9        1111112           VC            3
 43      10     1112463626           VC            4
 44      16        1111115           VC            4
 45      12        5002792           VC            3
 46       7        5005771           VC            4
 47       1        5043868           VC            4
 48      13        5002713           VC            4
 49       3        5016655           VC            3
 50      21        1111117           VC            5
 51       8        5043875           VC            3
 52      15        1111113           VC            3
 53       5        1111130           VC            3
 54       3        5002723           VC            4
 55       1        5002700           VC            3
 56      15        5041387           VC            4
 57      13        5018231           VC            3
 58      14        1111118           VC            4,
             Zona CodigoEmpleado TipoEmpleado  AreaCalculo
 0         Centro        5004523           VC            3
 1   Suroccidente        1111128           VC            4
 2          Norte        5004589           VE            7
 3         Centro        5004287           VE            4
 4         Centro       79625102           VE           11
 ..           ...            ...          ...          ...
 72         Norte     1140816814           VE            5
 73  Suroccidente        5036358           GD            3
 74  Suroccidente        5041369           VE            4
 75        Centro        5041312           VE            5
 76         Norte        1111118           VC            4

 [77 rows x 4 columns],
      CodigoEmpleado      Fecha  SalarioVariable  PromedioSalarioVariable
 0           5004523 2023-10-01        2500000.0             2.500000e+06
 1           5004523 2023-11-01        2500000.0             2.500000e+06
 2           5004523 2023-12-01        2500000.0             2.500000e+06
 3           1111128 2023-06-01        2200000.0             2.200000e+06
 4           1111128 2023-07-01        2200000.0             2.200000e+06
 ...             ...        ...              ...                      ...
 1406        1111118 2023-08-01        2000000.0             2.000000e+06
 1407        1111118 2023-09-01        2500000.0             2.055556e+06
 1408        1111118 2023-10-01        2500000.0             2.100000e+06
 1409        1111118 2023-11-01        2500000.0             2.136364e+06
 1410        1111118 2023-12-01        2500000.0             2.166667e+06

 [1411 rows x 4 columns],
      CodigoEmpleado                          Variable   Contexto  Porcentaje  \
 0           5004523            VentaFacturadaZonaPais    5004523        0.10
 1           5004523   VentaFacturadaPortafolioCluster    5004523        0.30
 2           5004523  VentaCobradaPortafolioClusterSub  5004523_1        0.08
 3           5004523  VentaCobradaPortafolioClusterSub  5004523_2        0.08
 4           5004523  VentaCobradaPortafolioClusterSub  5004523_3        0.08
 ...             ...                               ...        ...         ...
 1407        5036653  VentaCobradaPortafolioClusterSub  5036653_2        0.09
 1408        5036653  VentaCobradaPortafolioClusterSub  5036653_3        0.15
 1409        5036653  VentaCobradaPortafolioClusterSub  5036653_4        0.06
 1410        5036653          VentaCobradaBraunCluster          5        0.00
 1411        5036653     VentaFacturadaPortafolioRenal    5036653        0.30

       Consecutivo                                    Nombre variable  \
 0               0                             VentaFacturadaZonaPais
 1               0  Venta Facturada portafolio asignado en su cluster
 2               1  Venta cobrada total en el portafolio asignado ...
 3               2  Venta cobrada total en el portafolio asignado ...
 4               3  Venta cobrada total en el portafolio asignado ...
 ...           ...                                                ...
 1407            2  Venta cobrada total en el portafolio asignado ...
 1408            3  Venta cobrada total en el portafolio asignado ...
 1409            4  Venta cobrada total en el portafolio asignado ...
 1410            0  Venta Cobrada presupuesto asignado total B. Br...
 1411            0                      VentaFacturadaPortafolioRenal

                                      Nombre consecutivo
 0                                                   NaN
 1                                                   NaN
 2                       Surgery & Interventions (Neuro)
 3                       Surgery & Interventions (Ortho)
 4             Surgery & Interventions (Surgical Assets)
 ...                                                 ...
 1407               Heridas y desinfeccion (ambulatorio)
 1408  Hospital Ambulatorio: Nutricion (640-680), Sis...
 1409                             Aesculap (ambulatorio)
 1410                                                NaN
 1411                                                NaN

 [1412 rows x 7 columns],
       CodigoEmpleado Division Cluster ZonaGeografica GrupoProducto  \
 0         1094935408       HC       5         Centro           610
 1         1094935408       HC       5         Centro           610
 2         1094935408       HC       5         Centro           610
 3         1094935408       HC       5         Centro           610
 4         1094935408       HC       5         Centro           610
 ...              ...      ...     ...            ...           ...
 10701        9990022       BA      22   Suroccidente           A35
 10702        9990022       BA      22   Suroccidente           A35
 10703        9990022       BA      22   Suroccidente           A35
 10704        9990022       BA      22   Suroccidente           A35
 10705        9990022       BA      22   Suroccidente           A35

               Canal SBA      Fecha Moneda       Venta     Recaudo
 0      DISTRIBUIDOR  01 2023-09-01    COP    617868.0   2204812.0
 1      DISTRIBUIDOR  01 2023-11-01    COP   4491776.0    847779.2
 2      DISTRIBUIDOR  01 2023-12-01    COP    624096.0    231648.0
 3      DISTRIBUIDOR  02 2023-09-01    COP    166887.0    477283.0

In [130]:
class CalculoRubroBase:
    
    dataframe_loader = None
    grupo_empleados = None
    nombre_rubro = None
    df_real = None
    df_presupuesto = None
    tipo_venta = None
    columnas_extra = None # sobreescribir_resultados_cualitativos
    columnas_extra_merge = None  # sobreescribir_resultados_cualitativos
    columnas_source = None  # Columnas para merge entre SBA y Real o Presupuesto
    area_calculo_sba_completo = None
    main_real = None
    main_presupuesto = None
    
    def __init__(self, dataframe_loader):
        self.dataframe_loader = dataframe_loader

    def get_grupo_empleados_by_nombre_rubro(self, nombre_rubro=None):
        if nombre_rubro:
            self.nombre_rubro = nombre_rubro
        self.grupo_empleados = self.dataframe_loader.df_parrillas[self.dataframe_loader.df_parrillas['Variable'] == self.nombre_rubro]
        return self.grupo_empleados

#     def get_grupos_empleados(self):
#         grupo_empleados = list()
#         for nombre_rubro in self.nombres_rubros:
#             grupo_empleados.append(self.get_grupo_empleados_by_nombre_rubro(nombre_rubro))
#         self.grupo_empleados = pd.concat(grupo_empleados)
    
    def get_tipos_empleados(self):
        tipos_empleados = self.grupo_empleados.merge(
            self.dataframe_loader.df_empleados,
            how = 'left'
        )['TipoEmpleado'].dropna().drop_duplicates()
        
        print(tipos_empleados)
        
        return tipos_empleados
        
    def calcular_centro_costo_by_tipo_empleado(self, main, tipo_empleado = None, *args, **kwargs):
        return dataframe_loader.f_calculo_centro_costo_variable_division_sub(main, self.nombre_rubro, tipo_empleado)
    
    def calcular_centro_costo(self, main):
        main_list = list()
        for tipo_empleado in self.get_tipos_empleados():
             main_list.append(calcular_centro_costo_by_tipo_empleado(main, tipo_empleado))
        return pd.concat(main_list)
    
    def calcular(self, grupo_datos, *args, **kwargs):
        raise NotImplementedError("Debe implementarse un método de cálculo específico.")
        
    def generacion_columnas(self, main):
        return main[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]

    def calculo_variable(self, main):
        main['Real'] = main['Real'].transform(pd.Series.cumsum)
        main['Presupuesto'] = main['Presupuesto'].transform(pd.Series.cumsum)
        print("self.columnas_extra_merge:", self.columnas_extra_merge)
        if self.columnas_extra_merge:
            print("Entró")
            main['Real'] = main.groupby(self.columnas_extra_merge)['Real'].transform(pd.Series.cumsum)
            main['Presupuesto'] = main.groupby(self.columnas_extra_merge)['Presupuesto'].transform(pd.Series.cumsum)
        main['PorcentajeCumplimiento'] = main['Real'] / main['Presupuesto']
        main['PorcentajeCumplimiento'] = main['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
        main['Variable'] = self.nombre_rubro        
        return main    

    def get_main(self):
        main_real = self.df_real.groupby(self.group_by, as_index=False).agg({self.tipo_venta: 'sum'})
        main_real['Real'] = main_real[self.tipo_venta]
        main_real.drop(columns=[self.tipo_venta], inplace=True)
        self.main_real = main_real
        
        main_presupuesto = self.df_presupuesto.groupby(self.group_by, as_index=False).agg({self.tipo_venta: 'sum'})
        main_presupuesto['Presupuesto'] = main_presupuesto[self.tipo_venta]
        main_presupuesto.drop(columns=[self.tipo_venta], inplace=True)
        self.main_presupuesto = main_presupuesto

        main = pd.merge(
            left=main_presupuesto,
            right=main_real,
            on=self.group_by,
            how='left'
        )
        return main

    def get_area_calculo_sba_completo(self, grupo_empleados, c_area_calculo_sba):
        self.area_calculo_sba_completo = pd.DataFrame(columns=self.columnas_source_merge)
        if grupo_empleados is None:
#             grupo_empleados = self.get_grupos_empleados()
            grupo_empleados = self.get_grupo_empleados_by_nombre_rubro()
        
        tipos_empleados = self.get_tipos_empleados()
        
        area_calculo_sba_completo_list = list()
        
        for tipo_empleado in tipos_empleados:
            area_calculo_sba_completo_list.append(c_area_calculo_sba.get_area_calculo_sba_completo_by_tipo_empleado(tipo_empleado))
        if area_calculo_sba_completo_list:
            self.area_calculo_sba_completo = pd.concat(area_calculo_sba_completo_list)
    
class VentaFacturadaZonaPais(CalculoRubroBase):
    def calcular(self, grupo_datos, *args, **kwargs):
        # Implementa el cálculo específico aquí
        pass

class VentaFacturadaPortafolioCluster(CalculoRubroBase):
    def calcular(self, grupo_datos, *args, **kwargs):
        # Implementa el cálculo específico aquí
        pass

In [131]:
class ObjetivosCualitativos(CalculoRubroBase):
    
    nombre_rubro = 'ObjetivosCualitativos'
    df_objetivos_cualitativos = None
    df_empleados = None
    df_venta_recaudo_real = None

    def calcular(self, grupo_empleados = None, *args, **kwargs):
        if grupo_empleados is None:
             grupo_empleados = self.get_grupo_empleados_by_nombre_rubro()
        self.df_objetivos_cualitativos = self.dataframe_loader.df_objetivos_cualitativos
        self.df_empleados = grupo_empleados
        self.df_venta_recaudo_real = self.dataframe_loader.df_venta_recaudo_real

        cumplimiento_objetivos_cualitativos = pd.DataFrame()
        cumplimiento_objetivos_cualitativos['CodigoEmpleado'] = self.df_empleados['CodigoEmpleado']
        cumplimiento_objetivos_cualitativos['merge'] = 1
        ##
        fechas = pd.DataFrame(self.df_venta_recaudo_real['Fecha'].drop_duplicates())
        fechas['merge'] = 1
        ##
        cumplimiento_objetivos_cualitativos = cumplimiento_objetivos_cualitativos.merge(
            fechas,
            on='merge',
            how='left'
        )
        cumplimiento_objetivos_cualitativos.drop(columns='merge', inplace=True)

        cumplimiento_objetivos_cualitativos = pd.merge(
            left=cumplimiento_objetivos_cualitativos,
            right=self.df_objetivos_cualitativos,
            on=['CodigoEmpleado', 'Fecha'],
            how='left'
        )

        cumplimiento_objetivos_cualitativos['Variable'] = self.nombre_rubro
        cumplimiento_objetivos_cualitativos['PorcentajeCumplimiento'].fillna(0.94, inplace=True)
        cumplimiento_objetivos_cualitativos.rename(columns={'CodigoEmpleado': 'Contexto'}, inplace=True)
        return cumplimiento_objetivos_cualitativos

In [132]:
class VentaCobradaZonaBraunCrossDivisional(CalculoRubroBase):
    
    nombre_rubro = 'VentaCobradaZonaBraunCrossDivisional'
    columnas_extra_merge = 'Zona' 
    
    def calcular(self, grupo_empleados = None, *args, **kwargs):       
        cumplimiento_recaudo_por_zona = self.calculo_variable(self.dataframe_loader.df_recaudo_por_zona.copy())       
        cumplimiento_recaudo_por_zona.rename(columns={'Zona': 'Contexto'}, inplace=True)
        return self.generacion_columnas(cumplimiento_recaudo_por_zona)

In [133]:
class VentaCobradaBraunPais(CalculoRubroBase):
    
    nombre_rubro = 'VentaCobradaBraunPais'
    tipo_venta = 'Recaudo' #Cobrada
    group_by=['Fecha'] 
    
    def calcular(self, grupo_empleados = None, *args, **kwargs):
        # recaudo real pais
        self.df_real = self.dataframe_loader.df_venta_recaudo_real
        self.df_presupuesto = self.dataframe_loader.df_venta_recaudo_presupuesto
        cumplimiento_recaudo_nivel_pais = self.get_main()
        cumplimiento_recaudo_nivel_pais['Real'].fillna(0.0, inplace=True)
        cumplimiento_recaudo_nivel_pais = self.calculo_variable(cumplimiento_recaudo_nivel_pais)
        cumplimiento_recaudo_nivel_pais['Contexto'] = 'Pais'
        return self.generacion_columnas(cumplimiento_recaudo_nivel_pais)

In [134]:
venta_cobrada_braun_pais = VentaCobradaBraunPais(dataframe_loader)
venta_cobrada_braun_pais.calcular()

self.columnas_extra_merge: None

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2023-01-01,1.356524e+10,1.496945e+10,0.91
1,Pais,VentaCobradaBraunPais,2023-02-01,2.665112e+10,3.087311e+10,0.86
2,Pais,VentaCobradaBraunPais,2023-03-01,3.992673e+10,4.648396e+10,0.86
3,Pais,VentaCobradaBraunPais,2023-04-01,5.525573e+10,6.067049e+10,0.91
4,Pais,VentaCobradaBraunPais,2023-05-01,7.298270e+10,7.454188e+10,0.98
5,Pais,VentaCobradaBraunPais,2023-06-01,8.934016e+10,8.932282e+10,1.00
6,Pais,VentaCobradaBraunPais,2023-07-01,1.033452e+11,1.024664e+11,1.01
7,Pais,VentaCobradaBraunPais,2023-08-01,1.168169e+11,1.178687e+11,0.99
8,Pais,VentaCobradaBraunPais,2023-09-01,1.348872e+11,1.325749e+11,1.02
9,Pais,VentaCobradaBraunPais,2023-10-01,1.512564e+11,1.481929e+11,1.02
10,Pais,VentaCobradaBraunPais,2023-11-01,1.711794e+11,1.613982e+11,1.06
11,Pais,VentaCobradaBraunPais,2023-12-01,1.883115e+11,1.765807e+11,1.07

In [135]:
venta_cobrada_braun_pais = VentaCobradaBraunPais(dataframe_loader)
venta_cobrada_braun_pais.calcular()

self.columnas_extra_merge: None

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,Pais,VentaCobradaBraunPais,2023-01-01,1.356524e+10,1.496945e+10,0.91
1,Pais,VentaCobradaBraunPais,2023-02-01,2.665112e+10,3.087311e+10,0.86
2,Pais,VentaCobradaBraunPais,2023-03-01,3.992673e+10,4.648396e+10,0.86
3,Pais,VentaCobradaBraunPais,2023-04-01,5.525573e+10,6.067049e+10,0.91
4,Pais,VentaCobradaBraunPais,2023-05-01,7.298270e+10,7.454188e+10,0.98
5,Pais,VentaCobradaBraunPais,2023-06-01,8.934016e+10,8.932282e+10,1.00
6,Pais,VentaCobradaBraunPais,2023-07-01,1.033452e+11,1.024664e+11,1.01
7,Pais,VentaCobradaBraunPais,2023-08-01,1.168169e+11,1.178687e+11,0.99
8,Pais,VentaCobradaBraunPais,2023-09-01,1.348872e+11,1.325749e+11,1.02
9,Pais,VentaCobradaBraunPais,2023-10-01,1.512564e+11,1.481929e+11,1.02
10,Pais,VentaCobradaBraunPais,2023-11-01,1.711794e+11,1.613982e+11,1.06
11,Pais,VentaCobradaBraunPais,2023-12-01,1.883115e+11,1.765807e+11,1.07

In [136]:
class VentaUnidadNegocio(CalculoRubroBase):
    
#     venta_recaudo_presupuesto_original_gu_real = None
#     venta_recaudo_presupuesto_original_gu_presupuesto = None
#     columnas_extra = None
#     columnas_extra_merge = None
    columnas_source = ['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']
    columnas_source_merge = ['Division', 'GrupoProducto', 'SBA']
    
    nombres_rubros = ['VentaFacturadaUnidadNegocio', 'VentaFacturadaUnidadNegocioSub', 'VentaCobradaUnidadNegocio', 'VentaCobradaUnidadNegocioSub']
        
    def get_main(self):
        main = super().get_main()
        main['Real'].fillna(0.0, inplace=True)
        return main
    
    def sobreescribir_resultados_cualitativos(self, main, tipo_empleado = None):
        ### Cálculo de resultados cualitativos precargados
        return self.dataframe_loader.sobreescribir_resultados_cualitativos(
            main=main,
            variable=self.nombre_rubro,
            columnas_extra=self.columnas_extra, 
            columnas_extra_merge=self.columnas_extra_merge,
            pre_merge_lambda=lambda x: x[x['TipoEmpleado'] == 'GU']
        )
        
    def calculo_variable(self, main):        
        main = super().calculo_variable(main)
        return self.sobreescribir_resultados_cualitativos(main)
    
    def calcular(self, grupo_empleados = None, *args, **kwargs):
        self.get_area_calculo_sba_completo(grupo_empleados, args[0])
#         area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']==tipo_empleado]
        
        print(self.dataframe_loader.df_venta_recaudo_real.info())
        
        #Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
        self.df_real = self.area_calculo_sba_completo.merge(
            self.dataframe_loader.df_venta_recaudo_real[self.columnas_source],
            on=self.columnas_source_merge
        )

        #Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
        self.df_presupuesto = self.area_calculo_sba_completo.merge(
            self.dataframe_loader.df_venta_recaudo_presupuesto[self.columnas_source],
            on=self.columnas_source_merge
        )
        
        return self.df_real, self.df_presupuesto

In [137]:
venta_unidad_negocio = VentaUnidadNegocio(dataframe_loader)

df_area_calculo_sba = dataframe_loader.df_area_calculo_sba
c_area_calculo_sba = AreaCalculoSBA(dataframe_loader)
area_calculo_sba_completo = c_area_calculo_sba.get_area_calculo_sba_completo()

In [138]:
real, presupuesto = venta_unidad_negocio.calcular(None, c_area_calculo_sba)

Series([], Name: TipoEmpleado, dtype: object)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10706 entries, 0 to 10705
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodigoEmpleado  10706 non-null  object
 1   Division        10706 non-null  object
 2   Cluster         10706 non-null  object
 3   ZonaGeografica  10706 non-null  object
 4   GrupoProducto   10706 non-null  object
 5   Canal           10706 non-null  object
 6   SBA             10706 non-null  object
 7   Fecha           10706 non-null  datetime64[ns]
 8   Moneda          10706 non-null  object
 9   Venta           10706 non-null  float64
 10  Recaudo         10706 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 920.2+ KB
None

In [139]:
real

Empty DataFrame
Columns: [Division, GrupoProducto, SBA, Fecha, Venta, Recaudo]
Index: []

In [140]:
presupuesto

Empty DataFrame
Columns: [Division, GrupoProducto, SBA, Fecha, Venta, Recaudo]
Index: []

In [141]:
real

Empty DataFrame
Columns: [Division, GrupoProducto, SBA, Fecha, Venta, Recaudo]
Index: []

In [142]:
presupuesto

Empty DataFrame
Columns: [Division, GrupoProducto, SBA, Fecha, Venta, Recaudo]
Index: []

In [143]:
class VentaFacturadaUnidadNegocio(VentaUnidadNegocio):
    
    nombre_rubro = 'VentaFacturadaUnidadNegocio'
    tipo_venta = 'Venta'
    cumplimiento_venta_por_unidad_negocio_gu = None
    group_by = ['AreaCalculo', 'Fecha']
    columnas_extra = ['TipoEmpleado', 'AreaCalculo']
    columnas_extra_merge = ['AreaCalculo']
    
    def get_contexto(self, cumplimiento_venta_por_unidad_negocio_gu):
        return 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
        
    def calcular(self, grupo_empleados = None, *args, **kwargs):
        c_area_calculo_sba = args[0]
        super().calcular(None, c_area_calculo_sba)
        cumplimiento_venta_por_unidad_negocio_gu = self.calculo_variable(self.get_main())

        ### Cálculo de resultados cualitativos precargados
        cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo'].astype('str')
        
        cumplimiento_venta_por_unidad_negocio_gu['Contexto'] = self.get_contexto(cumplimiento_venta_por_unidad_negocio_gu)
        
        # Checkpoint Calculo
        return self.generacion_columnas(cumplimiento_venta_por_unidad_negocio_gu)

In [144]:
venta_facturada_unidad_negocio = VentaFacturadaUnidadNegocio(dataframe_loader)
venta_facturada_unidad_negocio.calcular(None, c_area_calculo_sba)

0    GU
Name: TipoEmpleado, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10706 entries, 0 to 10705
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodigoEmpleado  10706 non-null  object
 1   Division        10706 non-null  object
 2   Cluster         10706 non-null  object
 3   ZonaGeografica  10706 non-null  object
 4   GrupoProducto   10706 non-null  object
 5   Canal           10706 non-null  object
 6   SBA             10706 non-null  object
 7   Fecha           10706 non-null  datetime64[ns]
 8   Moneda          10706 non-null  object
 9   Venta           10706 non-null  float64
 10  Recaudo         10706 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 920.2+ KB
None
self.columnas_extra_merge: ['AreaCalculo']
Entró
['TipoEmpleado', 'AreaCalculo'] ['AreaCalculo']

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,gu_1,VentaFacturadaUnidadNegocio,2023-01-01,6.098946e+08,5.390604e+08,1.13
1,gu_1,VentaFacturadaUnidadNegocio,2023-02-01,2.265443e+09,1.641055e+09,1.38
2,gu_1,VentaFacturadaUnidadNegocio,2023-03-01,5.558293e+09,3.724501e+09,1.49
3,gu_1,VentaFacturadaUnidadNegocio,2023-04-01,1.012908e+10,6.503516e+09,1.56
4,gu_1,VentaFacturadaUnidadNegocio,2023-05-01,1.615783e+10,1.016343e+10,1.59
...,...,...,...,...,...,...
103,gu_10,VentaFacturadaUnidadNegocio,2023-08-01,1.511933e+12,1.438558e+12,1.05
104,gu_10,VentaFacturadaUnidadNegocio,2023-09-01,1.702786e+12,1.620288e+12,1.05
105,gu_10,VentaFacturadaUnidadNegocio,2023-10-01,1.894150e+12,1.802511e+12,1.05
106,gu_10,VentaFacturadaUnidadNegocio,2023-11-01,2.086289e+12,1.985220e+12,1.05
107,gu_10,VentaFacturadaUnidadNegocio,2023-12-01,2.278967e+12,2.168244e+12,1.05

In [145]:
# venta_facturada_unidad_negocio = VentaFacturadaUnidadNegocio(dataframe_loader)
# venta_facturada_unidad_negocio.calcular(None, c_area_calculo_sba)

In [146]:
class VentaFacturadaUnidadNegocioSub(VentaUnidadNegocio):
    
    nombre_rubro = 'VentaFacturadaUnidadNegocioSub'
    tipo_venta = 'Venta'
    cumplimiento_venta_por_unidad_negocio_gu_sub = None
    group_by = ['AreaCalculo', 'Consecutivo', 'Fecha', 'Division', 'GrupoProducto']  
    columnas_extra = ['TipoEmpleado', 'AreaCalculo', 'Consecutivo']
    columnas_extra_merge = ['AreaCalculo', 'Consecutivo']  
    
    #MK
        
    def get_contexto(self, cumplimiento_venta_por_unidad_negocio_gu_sub):
        return 'gu_' + cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].str.cat(cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'],sep="_")
        
    def calcular(self, grupo_empleados = None, *args, **kwargs):
        c_area_calculo_sba = args[0]
        super().calcular(None, c_area_calculo_sba)

        self.cumplimiento_venta_por_unidad_negocio_gu_sub = self.get_main()
        # Checkpoint Calculo
        
        cumplimiento_venta_por_unidad_negocio_gu_sub = self.calculo_variable(self.get_main())
        
        cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['Consecutivo'].astype('str')
        cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'] = cumplimiento_venta_por_unidad_negocio_gu_sub['AreaCalculo'].astype('str')
        
        cumplimiento_venta_por_unidad_negocio_gu_sub['Contexto'] = self.get_contexto(cumplimiento_venta_por_unidad_negocio_gu_sub)
        
        return self.generacion_columnas(cumplimiento_venta_por_unidad_negocio_gu_sub)

    def calcular_centro_costo(self, tipo_empleado = None, *args, **kwargs):
        return super().calcular_centro_costo(cumplimiento_venta_por_unidad_negocio_gu_sub)

In [159]:
class VentaDivision(CalculoRubroBase):
    
    nombres_rubros = ['VentaCobradaDivisionSub', 'VentaCobradaDivision', 'VentaFacturadaDivision', 'VentaFacturadaDivisionSub']
    columnas_source = ['Division', 'GrupoProducto', 'SBA', 'Fecha', 'Venta', 'Recaudo']
    columnas_source_merge = ['Division', 'GrupoProducto', 'SBA']
    
    def get_main(self):
        main = super().get_main()
        main['Real'].fillna(0.0, inplace=True)
        return main      

    def calcular(self, grupo_empleados = None, *args, **kwargs):
        self.get_area_calculo_sba_completo(grupo_empleados, args[0])
#         area_calculo_sba_completo_gu = area_calculo_sba_completo[area_calculo_sba_completo['TipoEmpleado']==tipo_empleado]
        
#         print(self.dataframe_loader.df_venta_recaudo_real.info())
        
        #Se halla la informacion de la venta y recaudo real de los representantes de ventas de los GU
        self.df_real = self.area_calculo_sba_completo.merge(
            self.dataframe_loader.df_venta_recaudo_real[self.columnas_source],
            on=self.columnas_source_merge
        )

        #Se halla la informacion de la venta y recaudo presupuesto de los representantes de ventas de los GU
        self.df_presupuesto = self.area_calculo_sba_completo.merge(
            self.dataframe_loader.df_venta_recaudo_presupuesto[self.columnas_source],
            on=self.columnas_source_merge
        )
        
        return self.df_real, self.df_presupuesto    
    
#     def calcular_centro_costo(self, tipo_empleado = None, *args, **kwargs):
#         return super().calcular_centro_costo(self.cumplimiento_recaudo_por_division_sub_mk)

In [169]:
class VentaCobradaDivision(VentaDivision):

    nombre_rubro = 'VentaCobradaDivision'
    tipo_venta = 'Recaudo'
    cumplimiento_recaudo_por_division = None
    group_by = ['Division', 'Fecha']
    columnas_extra = ['TipoEmpleado', 'AreaCalculo']
    columnas_extra_merge = ['Division']
    
    def get_contexto(self, cumplimiento_venta_por_unidad_negocio_gu):
        return 'gu_' + cumplimiento_venta_por_unidad_negocio_gu['AreaCalculo']
        
    def calcular(self, grupo_empleados = None, *args, **kwargs):
        c_area_calculo_sba = args[0]
        super().calcular(None, c_area_calculo_sba)
        
        self.df_real = self.dataframe_loader.df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
        self.df_presupuesto = self.dataframe_loader.df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
        
#         cumplimiento_recaudo_por_division = self.calculo_variable(self.get_main())

        cumplimiento_recaudo_por_division = self.get_main()
    
        cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
        cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
        cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
        cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))
        cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
        cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
        
        cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
        
        # Checkpoint Calculo
        return self.generacion_columnas(cumplimiento_recaudo_por_division)
    
    def calcular1(self, grupo_empleados = None, *args, **kwargs):
        
        df_venta_recaudo_real = self.dataframe_loader.df_venta_recaudo_real
        df_venta_recaudo_presupuesto = self.dataframe_loader.df_venta_recaudo_presupuesto
        
        recaudo_real_por_division = df_venta_recaudo_real[['Division', 'Fecha', 'Recaudo']]
        recaudo_presupuesto_por_division = df_venta_recaudo_presupuesto[['Division', 'Fecha', 'Recaudo']]
        
        
        recaudo_real_por_division = recaudo_real_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
        recaudo_real_por_division['Real'] = recaudo_real_por_division['Recaudo']
        recaudo_real_por_division.drop(columns=['Recaudo'], inplace=True)

        recaudo_presupuesto_por_division = recaudo_presupuesto_por_division.groupby(['Division', 'Fecha'], as_index=False).agg({'Recaudo': 'sum'})
        recaudo_presupuesto_por_division['Presupuesto'] = recaudo_presupuesto_por_division['Recaudo']
        recaudo_presupuesto_por_division.drop(columns=['Recaudo'], inplace=True)

        cumplimiento_recaudo_por_division = pd.merge(
            left=recaudo_presupuesto_por_division,
            right=recaudo_real_por_division,
            on=['Division', 'Fecha'],
            how='left'
        )
        cumplimiento_recaudo_por_division['Real'].fillna(0.0, inplace=True)
        cumplimiento_recaudo_por_division['Real'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Real'].transform(pd.Series.cumsum)
        cumplimiento_recaudo_por_division['Presupuesto'] = cumplimiento_recaudo_por_division.groupby(['Division'])['Presupuesto'].transform(pd.Series.cumsum)
        cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['Real'] / cumplimiento_recaudo_por_division['Presupuesto']
        cumplimiento_recaudo_por_division['PorcentajeCumplimiento'] = cumplimiento_recaudo_por_division['PorcentajeCumplimiento'].apply(lambda x: round(x, 2))

        cumplimiento_recaudo_por_division['Contexto'] = cumplimiento_recaudo_por_division['Division']
        cumplimiento_recaudo_por_division['Variable'] = 'VentaCobradaDivision'
        cumplimiento_recaudo_por_division = cumplimiento_recaudo_por_division[['Contexto', 'Variable', 'Fecha', 'Real', 'Presupuesto', 'PorcentajeCumplimiento']]
        return cumplimiento_recaudo_por_division

In [170]:
venta_cobrada_division = VentaCobradaDivision(dataframe_loader)
venta_cobrada_division.calcular(None, c_area_calculo_sba).head()

Series([], Name: TipoEmpleado, dtype: object)

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2023-01-01,3.372108e+09,2.772690e+09,1.22
1,AE,VentaCobradaDivision,2023-02-01,6.398180e+09,6.466029e+09,0.99
2,AE,VentaCobradaDivision,2023-03-01,8.915028e+09,9.793257e+09,0.91
3,AE,VentaCobradaDivision,2023-04-01,1.220146e+10,1.312049e+10,0.93
4,AE,VentaCobradaDivision,2023-05-01,1.767949e+10,1.607802e+10,1.10

In [171]:
venta_cobrada_division.calcular1(None, c_area_calculo_sba).head()

,Contexto,Variable,Fecha,Real,Presupuesto,PorcentajeCumplimiento
0,AE,VentaCobradaDivision,2023-01-01,3.372108e+09,2.772690e+09,1.22
1,AE,VentaCobradaDivision,2023-02-01,6.398180e+09,6.466029e+09,0.99
2,AE,VentaCobradaDivision,2023-03-01,8.915028e+09,9.793257e+09,0.91
3,AE,VentaCobradaDivision,2023-04-01,1.220146e+10,1.312049e+10,0.93
4,AE,VentaCobradaDivision,2023-05-01,1.767949e+10,1.607802e+10,1.10

In [ ]:
# venta_facturada_unidad_negocio_sub = VentaFacturadaUnidadNegocioSub(dataframe_loader)
# venta_facturada_unidad_negocio_sub.calcular(None, c_area_calculo_sba)

In [ ]:
# df_parrillas = dataframe_loader.df_parrillas

# # Ahora, crea un diccionario que mapea cada 'rubro' a la clase correspondiente.
# estrategias_calculo = {
#     'VentaFacturadaZonaPais': VentaFacturadaZonaPais(dataframe_loader),
#     'VentaFacturadaPortafolioCluster': VentaFacturadaPortafolioCluster(dataframe_loader),
#     # ... y así sucesivamente para cada 'rubro'
# }

# # Función para aplicar el cálculo utilizando las clases
# def aplicar_calculo(rubro, grupo_datos):
#     estrategia_calculo = estrategias_calculo.get(rubro, CalculoRubroBase())
#     return estrategia_calculo.calcular(grupo_datos)

# # Ciclo para aplicar el cálculo para cada rubro
# for rubro in df_parrillas['Variable'].drop_duplicates():
#     grupo_datos = df_parrillas[df_parrillas['Variable'] == rubro]
#     resultado_calculo = aplicar_calculo(rubro, grupo_datos)
#     print(f"{rubro}: {resultado_calculo}")